.sub-header
  .container
    = status_badge(dossier.state)

    .title-container
      %span.icon.folder
      %h1= dossier.procedure.libelle
      %h2
        = t('views.users.dossiers.show.header.dossier_number', dossier_id: dossier.id)
        - if dossier.depose_at.present?
          = t('views.users.dossiers.show.header.submit_date', date_du_dossier: I18n.l(dossier.depose_at))

      = render(partial: 'users/dossiers/expiration_banner', locals: {dossier: dossier})

    - if dossier.show_procedure_state_warning?
      = render(partial: 'users/dossiers/procedure_removed_banner', locals: { dossier: dossier })
    - elsif current_user.owns?(dossier)
      .header-actions
        = render partial: 'invites/dropdown', locals: { dossier: dossier }
        - if dossier.can_be_updated_by_user? && !current_page?(modifier_dossier_path(dossier))
          = link_to t('views.users.dossiers.show.header.edit_dossier'), modifier_dossier_path(dossier), class: 'button accepted edit-form',
            title: { label: t('views.users.dossiers.show.header.edit_dossier_title') }
        = render(partial: 'users/dossiers/show/print_dossier', locals: { dossier: dossier })

    %nav.tabs
      %ul
        = dynamic_tab_item(t('views.users.dossiers.show.header.summary'), dossier_path(dossier))
        = dynamic_tab_item(t('views.users.dossiers.show.header.request'), [demande_dossier_path(dossier), modifier_dossier_path(dossier)])
        = dynamic_tab_item(t('views.users.dossiers.show.header.mailbox'), messagerie_dossier_path(dossier))
