.sub-header
  .container
    = render partial: 'shared/dossiers/status_badge', locals: { dossier: dossier }

    .title-container
      %span.icon.folder
      %h1= dossier.procedure.libelle
      %h2
        Dossier nº #{dossier.id}
        - if dossier.en_construction_at.present?
          = "- Déposé le #{l(dossier.en_construction_at, format: '%d %B %Y')}"

    - if current_user.owns?(dossier)
      .header-actions
        = render partial: 'invites/dropdown', locals: { dossier: dossier }

    %ul.tabs
      = dynamic_tab_item('Résumé', dossier_path(dossier))
      = dynamic_tab_item('Demande', [demande_dossier_path(dossier), modifier_dossier_path(dossier)])
      = dynamic_tab_item('Messagerie', messagerie_dossier_path(dossier))
      - if Flipflop.operations_logs_ui?
        = dynamic_tab_item('Traces horodatées', operations_logs_dossier_path(dossier))
