.status-overview
  - if !dossier.termine?
    %ul.status-timeline
      - if dossier.brouillon?
        %li.brouillon{ class: dossier.brouillon? ? 'active' : nil }
          = t('views.users.dossiers.show.status_overview.status_draft')
      %li.en-construction{ class: dossier.en_construction? ? 'active' : nil }
        = t('views.users.dossiers.show.status_overview.status_in_progress')
      %li.en-instruction{ class: dossier.en_instruction? ? 'active' : nil }
        = t('views.users.dossiers.show.status_overview.status_review')
      %li.termine{ class: dossier.termine? ? 'active' : nil }
        = t('views.users.dossiers.show.status_overview.status_completed')


  .status-explanation
    -# brouillon does not occure
    - if dossier.en_construction?
      .en-construction
        %p{ role: 'status' }
          = t('views.users.dossiers.show.status_overview.en_construction_html')

        = render partial: 'users/dossiers/show/estimated_delay', locals: { procedure: dossier.procedure }

        %p
          = t('views.users.dossiers.show.status_overview.use_mailbox_for_questions_html', mailbox_url: messagerie_dossier_url(dossier))

    - elsif dossier.en_instruction?
      .en-instruction
        %p{ role: 'status' }
          = t('views.users.dossiers.show.status_overview.admin_review')

        = render partial: 'users/dossiers/show/estimated_delay', locals: { procedure: dossier.procedure }

        %p
          = t('views.users.dossiers.show.status_overview.use_mailbox_for_questions_html', mailbox_url: messagerie_dossier_url(dossier))

    - elsif dossier.accepte?
      .accepte
        %p.decision{ role: 'status' }
          %span.icon.accept
          = t('views.users.dossiers.show.status_overview.acceptee_html')

        - if dossier.motivation.present?
          %h3= t('views.users.dossiers.show.status_overview.accepte_motivation')
          %blockquote= dossier.motivation

        = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }

        - if dossier.attestation.present?
          .action
            = link_to attestation_dossier_path(dossier), target: '_blank', rel: 'noopener', class: 'button primary' do
              %span.icon.download-white
              = t('views.users.dossiers.show.status_overview.accepte_attestation')


    - elsif dossier.refuse?
      .refuse
        %p.decision{ role: 'status' }
          %span.icon.refuse
          = t('views.users.dossiers.show.status_overview.refuse_html')

        - if dossier.motivation.present?
          %h3= t('views.users.dossiers.show.status_overview.refuse_motivation')
          %blockquote= dossier.motivation

        = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }
        .action
          = link_to t('views.users.dossiers.show.status_overview.refuse_reply'), messagerie_dossier_url(dossier, anchor: 'new_commentaire'), class: 'button'

    - elsif dossier.sans_suite?
      .sans-suite
        %p.decision{ role: 'status' }
          %span.icon.without-continuation
          = t('views.users.dossiers.show.status_overview.sans_suite_html')

        = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }

        - if dossier.motivation.present?
          %h3= t('views.users.dossiers.show.status_overview.sans_suite_motivation')
          %blockquote= dossier.motivation
