.status-overview
  - if !dossier.termine?
    %ul.status-timeline
      - if dossier.brouillon?
        %li.brouillon{ class: dossier.brouillon? ? 'active' : nil }
          brouillon
      %li.en-construction{ class: dossier.en_construction? ? 'active' : nil }
        en construction
      %li.en-instruction{ class: dossier.en_instruction? ? 'active' : nil }
        en instruction
      %li.termine{ class: dossier.termine? ? 'active' : nil }
        terminé

  .status-explanation
    - if dossier.brouillon?
      .brouillon
        %p Votre dossier n’est pas encore visible par l’administration.
        %p Vous pouvez déposer votre dossier afin de le transmettre à l’administration. Une fois soumis, vous pourrez toujours modifier votre dossier.

    - elsif dossier.en_construction?
      .en-construction
        %p
          Votre dossier est en construction. Cela signifie que
          = succeed '.' do
            %strong vous pouvez encore le modifier
          Vous ne pourrez plus modifier votre dossier lorsque l’administration le passera « en instruction ».

        = render partial: 'users/dossiers/show/estimated_delay', locals: { procedure: dossier.procedure }

        %p
          %strong Vous avez une question ?
          Utilisez la messagerie pour
          = succeed '.' do
            = link_to 'contacter l’administration directement', messagerie_dossier_url(dossier)

    - elsif dossier.en_instruction?
      .en-instruction
        %p Votre dossier est en cours d’instruction par l’administration. Vous ne pouvez plus le modifier.

        = render partial: 'users/dossiers/show/estimated_delay', locals: { procedure: dossier.procedure }

        %p
          %strong Vous avez une question ?
          Utilisez la messagerie pour
          = succeed '.' do
            = link_to 'contacter l’administration directement', messagerie_dossier_url(dossier)

    - elsif dossier.accepte?
      .accepte
        %p.decision
          %span.icon.accept
          Votre dossier a été
          = succeed '.' do
            %strong accepté

        - if dossier.motivation.present?
          %h3 Motif de l’acceptation
          %blockquote= dossier.motivation

        = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }

        - if dossier.attestation.present?
          .action
            = link_to attestation_dossier_path(dossier), target: '_blank', rel: 'noopener', class: 'button primary' do
              %span.icon.download
              Télécharger l’attestation


    - elsif dossier.refuse?
      .refuse
        %p.decision
          %span.icon.refuse
          Nous sommes désolés, votre dossier a malheureusement été
          = succeed '.' do
            %strong refusé

        - if dossier.motivation.present?
          %h3 Motif du refus
          %blockquote= dossier.motivation

        = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }
        .action
          = link_to 'Envoyer un message à l’administration', messagerie_dossier_url(dossier, anchor: 'new_commentaire'), class: 'button'

    - elsif dossier.sans_suite?
      .sans-suite
        %p.decision
          %span.icon.without-continuation
          Votre dossier a été classé
          = succeed '.' do
            %strong sans suite

        = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }

        - if dossier.motivation.present?
          %h3 Motif du classement sans suite
          %blockquote= dossier.motivation
