.fr-mb-4w
  - if !dossier.termine?
    .fr-grid-row.fr-grid-row--center
      .fr-col-md-8.text-center
        %ol.status-timeline.fr-mb-4w
          - if dossier.brouillon?
            %li.brouillon{ 'aria-current': dossier.brouillon? ? 'true' : nil }
              = t('views.users.dossiers.show.status_overview.status_draft')
          %li.en-construction{ 'aria-current': dossier.en_construction? ? 'true' : nil }
            = t('views.users.dossiers.show.status_overview.status_in_progress')

            - if dossier.pending_correction.present?
              = "(#{Dossier.human_attribute_name("pending_correction.for_user")})"
          %li.en-instruction{ 'aria-current': dossier.en_instruction? ? 'true' : nil }
            = t('views.users.dossiers.show.status_overview.status_review')
          %li.termine{ 'aria-current': dossier.termine? ? 'true' : nil }
            = t('views.users.dossiers.show.status_overview.status_completed')

  - if dossier.en_construction?
    .fr-grid-row.fr-grid-row--center
      .fr-col-md-10.fr-col-lg-9
        = render Dossiers::EnConstructionNotSubmittedComponent.new(dossier: dossier, user: current_user)

  .fr-grid-row.fr-grid-row--center
    .fr-col-md-10.fr-col-lg-9.status-explanation
      -# brouillon does not occure
      - if dossier.en_construction?
        .en-construction
          - if dossier.pending_correction.present?
            .message.fr-background-alt--grey
              = render Dossiers::MessageComponent.new(commentaire: dossier.pending_correction.commentaire, connected_user: current_user)

          %p{ role: 'status' }
            = t('views.users.dossiers.show.status_overview.en_construction_html')

          = render Procedure::EstimatedDelayComponent.new(procedure: dossier.procedure)
          %p
            = t('views.users.dossiers.show.status_overview.use_mailbox_for_questions_html', mailbox_url: messagerie_dossier_url(dossier))

      - elsif dossier.en_instruction?
        .en-instruction
          %p{ role: 'status' }
            = t('views.users.dossiers.show.status_overview.admin_review')

          - if dossier.sva_svr_decision_on.present?
            -# i18n-tasks-use t('views.users.dossiers.show.status_overview.delay_title.sva'), t('views.users.dossiers.show.status_overview.delay_title.svr')
            = render Dsfr::CalloutComponent.new(title: t(dossier.procedure.sva_svr_configuration.decision, scope: "views.users.dossiers.show.status_overview.delay_title")) do |c|
              - c.with_body do
                %p
                  = t('views.users.dossiers.show.status_overview.delay_text_sva_svr', date: l(dossier.sva_svr_decision_on, format: :long))

          = render Procedure::EstimatedDelayComponent.new(procedure: dossier.procedure)

          %p
            = t('views.users.dossiers.show.status_overview.use_mailbox_for_questions_html', mailbox_url: messagerie_dossier_url(dossier))

      - elsif dossier.termine?
        - if dossier.hide_info_with_accuse_lecture?
          = render Dossiers::AccuseLectureComponent.new(dossier: dossier)

        - elsif dossier.accepte?
          .accepte
            %p.fr-my-6w.fr-text--lead{ role: 'status' }
              = dsfr_icon('fr-icon-checkbox-circle-fill fr-text-default--success')
              = t('views.users.dossiers.show.status_overview.acceptee_html')

            - if dossier.motivation.present?
              %h3= t('views.users.dossiers.show.status_overview.accepte_motivation')
              %blockquote= simple_format(dossier.motivation)

            = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }

            - if dossier.attestation.present?
              .action
                = link_to attestation_dossier_path(dossier), class: "fr-btn fr-icon-download-line fr-btn--icon-left", **external_link_attributes do
                  = t('views.users.dossiers.show.status_overview.accepte_attestation')


        - elsif dossier.refuse?
          .refuse
            %p.fr-my-6w.fr-text--lead{ role: 'status' }
              = dsfr_icon('fr-icon-close-circle-fill fr-text-default--error')
              = t('views.users.dossiers.show.status_overview.refuse_html')

            - if dossier.motivation.present?
              %h3= t('views.users.dossiers.show.status_overview.refuse_motivation')
              %blockquote= simple_format(dossier.motivation)

            = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }
            .action
              = link_to t('views.users.dossiers.show.status_overview.refuse_reply'), messagerie_dossier_url(dossier, anchor: 'new_commentaire'), class: 'fr-link'

        - elsif dossier.sans_suite?
          .sans-suite
            %p.fr-my-6w.fr-text--lead{ role: 'status' }
              = dsfr_icon('fr-icon-intermediate-circle-fill')
              = t('views.users.dossiers.show.status_overview.sans_suite_html')

            = render partial: 'users/dossiers/show/download_justificatif', locals: { dossier: dossier }

            - if dossier.motivation.present?
              %h3= t('views.users.dossiers.show.status_overview.sans_suite_motivation')
              %blockquote= simple_format(dossier.motivation)
