= render Dsfr::InputComponent.new(form: f, attribute: :title, input_type: :text_field, opts: {})

= render Dsfr::InputComponent.new(form: f, attribute: :body, input_type: :text_area, opts: { rows: '6', placeholder: 'Description de la démarche, destinataires, etc. '})

#tags-table
  %h2.add-tag-title
    Insérer une balise
  %p.notice
    Copiez-collez les balises ci-dessous pour afficher automatiquement l’information souhaitée.
  .head
    .tag Balise
    .description Description
  .items
    - @attestation_template.tags.each do |tag|
      .item
        %code.tag{ style: "white-space: pre-wrap;" }
          = "--#{tag[:libelle]}--"
        .description
          = tag[:description]

%h3.header-subsection Logo de l'attestation
= render Attachment::EditComponent.new(attached_file: @attestation_template.logo, direct_upload: false)

%p.notice
  Formats acceptés : JPG / JPEG / PNG.
  %br
  Dimensions conseillées : au minimum 500 px de largeur ou de hauteur, poids maximum : 0,5 Mo.

%h3.header-subsection Tampon de l'attestation
= render Attachment::EditComponent.new(attached_file: @attestation_template.signature, direct_upload: false)

%p.notice
  Formats acceptés : JPG / JPEG / PNG.
  %br
  Dimensions conseillées : au minimum 500 px de largeur ou de hauteur, poids maximum : 0,5 Mo.

= render Dsfr::InputComponent.new(form: f, attribute: :footer, input_type: :text_field, opts: { maxlength: 190, size: nil }, required: false)
