- content_for(:title, t('views.confirmation.new.title'))

- content_for :footer do
  = render partial: 'root/footer'

.container.devise-container.devise-confirmations
  .one-column-centered
    = devise_error_messages!
    %h1.center= t('views.confirmation.new.title')

    %img.confirmation-icon{ src: image_url("user/confirmation-email.svg"), alt: t('views.confirmation.new.image_alt') }

    %h2.confirmation-preamble
      = succeed '.' do
        = t('views.confirmation.new.email_cta')
        - if resource.email.present?
          %strong= resource.email

    %p.confirmation-instructions= t('views.confirmation.new.email_guidelines_html')

    %hr.confirmation-separator

    .confirmation-resend
      %p= t('views.confirmation.new.email_missing')

      = form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|
        = render Dsfr::InputComponent.new(form: f, attribute: :email, input_type: :email_field, opts: { autofocus: true })
        = f.submit t('views.confirmation.new.resent'), class: 'fr-btn'

      %p.fr-mt-3w
        = t('views.confirmation.new.faq')
        = link_to(t("links.common.faq.label"), t("links.common.faq.email_non_recu_url"), title: new_tab_suffix(t("links.common.faq.title")), **external_link_attributes)
        \.
