- content_for(:title, t('views.confirmation.new.title'))

- content_for :footer do
  = render partial: 'root/footer'


.fr-container
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    = devise_error_messages!
    %h1.fr-mt-6w.fr-h2.center
      = t('views.confirmation.new.title')

    %p.center{ aria: { hidden: true } }= image_tag("user/confirmation-email.svg", alt: t('views.confirmation.new.image_alt'))

    = render Dsfr::AlertComponent.new(title: '', state: :info, heading_level: 'h2', extra_class_names: 'fr-mt-6w fr-mb-3w') do |c|
      - c.with_body do
        %p= t('views.confirmation.new.email_cta_html', email: resource.email)
        %p= t('views.confirmation.new.email_guidelines_html')

    %p.fr-text--sm.fr-text-mention--grey.fr-mb-1w
      = t('views.confirmation.new.email_missing')

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'fr-mb-6w'}) do |f|
      = f.hidden_field :email
      = f.submit t('views.confirmation.new.resent'), class: 'fr-btn fr-btn--secondary'
