<div class="fr-container fr-mt-6w fr-mb-15w">
  <%= link_to " #{t('.exit_customization')}", instructeur_procedure_path(@procedure, statut: @statut), class: 'fr-link fr-icon-arrow-left-line fr-link--icon--left fr-icon--sm' %>
  <h3 class="fr-my-3w"><%= t('.title') %></h3>

  <%= render Instructeurs::CustomizeFiltersComponent.new(procedure_presentation: @procedure_presentation, statut: @statut, filters_columns: @filters_columns) %>
</div>

<div class="padded-fixed-footer">
  <div class="fixed-footer fr-py-1w">
    <div
      class="
        fr-btns-group fr-btns-group--center fr-btns-group--inline
        fr-btns-group--inline-lg
      "
    >
      <%= link_to t('.cancel'), instructeur_procedure_path(@procedure, statut: @statut), class: 'fr-btn fr-btn--secondary fr-my-1w' %>
      <button class="fr-btn fr-my-1w" type="submit" form="save-filters-form">
        <%= t('.validate') %>
      </button>
    </div>
  </div>
</div>
