.fr-background-alt--blue-france.fr-p-2w.fr-mb-n2w
  .batch-operation.flex.align-center
    %span.fr-mr-1w{ data: { batch_operation_target: 'checkboxCount' } }
      0 dossier sélectionné
    - if available_operations[:options].count.between?(1,3)
      = form_for(BatchOperation.new, url: instructeur_batch_operations_path(procedure_id: procedure.id), method: :post, html: { class: 'form', id: dom_id(BatchOperation.new) }, data: { turbo: true, turbo_confirm: t('.operations.confirm') }) do |form|
        - available_operations[:options].each do |opt|
          = render Dossiers::BatchOperationInlineButtonsComponent.new(opt:, icons:, form:)

    - else
      = form_for(BatchOperation.new, url: instructeur_batch_operations_path(procedure_id: procedure.id), method: :post, html: { class: 'form flex', id: dom_id(BatchOperation.new) }, data: { turbo: true, turbo_confirm: t('.operations.confirm') }) do |form|
        - available_operations[:options][0,2].each do |opt|
          = render Dossiers::BatchOperationInlineButtonsComponent.new(opt:, icons:, form:)

        .dropdown{ data: { controller: 'menu-button', popover: 'true' } }
          -# Dropdown button title
          %button#batch_operation_others.fr-btn.fr-btn--sm.fr-btn--secondary.fr-ml-1w.dropdown-button{ disabled: true, data: { menu_button_target: 'button', batch_operation_target: 'dropdown' } }
            = t('.operations.other')
            %span.fr-ml-2v{ 'aria-hidden': 'true' }

          #state-menu.dropdown-content.fade-in-down{ data: { menu_button_target: 'menu' }, "aria-labelledby" => "batch_operation_others" }
            %ul.dropdown-items
              - available_operations[:options][2, available_operations[:options].count].each do |opt|
                - unless expert_review_disallowed?(opt[:operation])
                  %li
                    = form.button opt[:label], class: 'dropdown-items-link', disabled: true, name: "#{form.object_name}[operation]", value: opt[:operation], data: { operation: opt[:operation]}.merge(opt[:modal_data].to_h), aria: { controls: opt[:aria].present? ? opt[:aria] : nil} do
                      %span{ class: icons[opt[:operation].to_sym] }
                      .dropdown-description
                        %h4= opt[:label]


      %dialog#modal-avis-batch.fr-modal{ "aria-labelledby" => "fr-modal-title-avis-batch", role: "dialog" }
        .fr-container.fr-container--fluid.fr-container-md
          .fr-grid-row.fr-grid-row--center
            .fr-col-12.fr-col-md-10.fr-col-lg-8
              .fr-modal__body
                .fr-modal__header
                  %button.fr-btn--close.fr-btn{ aria: { controls: 'modal-avis-batch' }, title: t('utils.modal_close_alt') }= t('utils.modal_close')
                .fr-modal__content
                  %h1#fr-modal-title-avis-batch.fr-modal__title
                    %span.fr-icon-arrow-right-line.fr-icon--lg>
                    Demander un avis externe

                  = render partial: "shared/avis/form_wrapper", locals: {url: create_batch_avis_instructeur_batch_operations_path(procedure_id: procedure.id), linked_dossiers: nil, must_be_confidentiel: false, avis: Avis.new, batch_action: true, procedure: procedure, dossier_ids: @ids }
