#complexity-label{ style: 'font-weight: bold' }
  - if @length > 0
    - if @length < @min_length
      = t('views.registrations.new.password_min', min_length: @min_length)
    - else
      - case @score
        - when 0..1
          = t('views.registrations.new.simple_password')
        - when 2...@min_complexity
          = t('views.registrations.new.easy_password')
        - when @min_complexity...4
          = t('views.registrations.new.acceptable_password')
        - else
          = t('views.registrations.new.great_password')
  - else
    = t('views.registrations.new.password_message')
