- if dossier.attestation.present?
  #attestation-recapitulatif.default-data-block
    .row.show-block.clearfix
      .header
        .title
          .carret-right
          .carret-down
          ATTESTATION
      .details
        .left
          = image_tag('pdf.svg', width: '20px')
          %p.title= dossier.attestation.title
          %p.delivery Délivrée le #{l(dossier.attestation.created_at, format: '%d %B %Y')}
        - if user_signed_in? && current_user == dossier.user
          = link_to 'Télécharger', attestation_dossier_path(dossier), target: '_blank', class: 'btn btn-primary'
        - else
          = link_to 'Télécharger', attestation_gestionnaire_dossier_path(dossier.procedure, dossier), target: '_blank', class: 'btn btn-primary'
