= render partial: 'dossiers/edit_avis', locals: { dossier_facade: @facade }

= render partial: 'dossiers/attestation', locals: { dossier: @facade.dossier }

= render partial: 'dossiers/messagerie', locals: { dossier_facade: @facade }

= render partial: 'dossiers/motivation', locals: { dossier_facade: @facade }

- if @facade.procedure.individual_with_siret
  .default-data-block
    .row.show-block.infos
      .header
        .col-xs-8.title-no-expanse
          .carret-right
          INFORMATIONS DU DEMANDEUR
        - if !@current_gestionnaire && ["draft", "en_construction"].include?(@facade.dossier.state)
          %a#add_siret.action{ href: users_dossier_add_siret_path(dossier_id: @facade.dossier.id) }
            .col-lg-4.col-md-4.col-sm-4.col-xs-4.action
              Renseigner un SIRET

- unless @facade.entreprise.nil?
  .default-data-block
    .row.show-block.infos#infos_entreprise
      .header
        .col-xs-12.title
          .carret-right
          .carret-down
          INFORMATIONS DU DEMANDEUR
      .body.display-block-on-print
        = render partial: '/dossiers/infos_entreprise'

.default-data-block.default_visible
  .row.show-block.infos#infos-dossiers
    .header
      .col-xs-10.title
        .carret-right
        .carret-down
        CONSTRUCTION DU DOSSIER
      = render partial: '/dossiers/edit_dossier'
    .body.display-block-on-print
      = render partial: '/dossiers/infos_dossier'

- if @facade.dossier.procedure.module_api_carto.use_api_carto
  .default-data-block.default_visible.no-page-break-inside
    .row.show-block#carto
      .header
        .col-xs-10.title
          .carret-right
          .carret-down
          CARTOGRAPHIE
        = render partial: '/dossiers/edit_carto'
      .body.display-block-on-print
        %input#json_latlngs{ type: 'hidden', value: "#{@facade.dossier.json_latlngs}", name: 'json_latlngs' }
        %input#quartier_prioritaires{ type: 'hidden', value: "#{@facade.dossier.quartier_prioritaires.to_json}" }
        %input#cadastres{ type: 'hidden', value: "#{@facade.dossier.cadastres.to_json}" }

        = render partial: '/users/carte/map', locals: { dossier: @facade.dossier }
        = render partial: 'users/carte/init_carto', locals: { dossier: @facade.dossier }

- if @current_gestionnaire && gestionnaire_signed_in? && current_gestionnaire.assigned_on_procedure?(@facade.dossier.procedure_id) && @champs_private.present?
  .default-data-block.default_visible
    .row.show-block#private-fields
      .header
        .col-xs-10.title
          .carret-right
          .carret-down
          = "formulaire privé".upcase
        .col-xs-2.count
          - private_fields_count = @champs_private.count
          = (private_fields_count == 1) ? "1 champ" : "#{private_fields_count} champs"
      .body
        = render partial: '/dossiers/infos_private_fields'

= render partial: 'dossiers/avis', locals: { dossier_facade: @facade }
