= javascript_include_tag "https://code.highcharts.com/highcharts.js", "chartkick"

#infos_dossier
  %div.row
    .col-lg-6.col-md-6
      %h3.text-info
        = @dossier.nom_projet

      %br
      %div.row
        .col-lg-6.col-md-6
          %h4 Montant total
          %p{style:'margin-left:5%'}
            =number_to_currency(@dossier.montant_projet.to_f, :unit => " ", :separator => ",", :delimiter => " ")
            !='&euro;'

        .col-lg-6.col-md-6
          %h4 Début du projet souhaité
          %p{style:'margin-left:5%'}
            = @dossier.date_fr
      %div.row
        .col-lg-6.col-md-6
          %h4 Montant souhaité
          %p{style:'margin-left:5%'}
            =number_to_currency(@dossier.montant_aide_demande.to_f, :unit => " ", :separator => ",", :delimiter => " ")
            !='&euro;'
      %br
      .description
        - begin
          - @dossier.description.split(/(?:\n\r?|\r\n?')/).each do |line|
            = line
            %br
        - rescue
          =''

    .col-lg-6.col-md-6
      =render partial: '/dossiers/pieces_justificatives'

  %div.row{style: 'text-align:right'}
    -unless gestionnaire_signed_in?
      -if !@dossier.validated? && !@dossier.submitted? && !@dossier.closed?
        %a#maj_infos.btn.btn-info{href: "/users/dossiers/#{@dossier.id}/description?back_url=recapitulatif"}
          = 'Editer mon dossier'

    -unless user_signed_in?
      -if !@dossier.validated? && !@dossier.submitted? && !@dossier.closed?
        = form_tag(url_for({controller: 'backoffice/dossiers', action: :valid, dossier_id: @dossier.id}), class: 'form-inline', method: 'POST') do
          %button#action_button.btn.btn-success
            = 'Valider le dossier'
      -elsif @dossier.submitted?
        = form_tag(url_for({controller: 'backoffice/dossiers', action: :close, dossier_id: @dossier.id}), class: 'form-inline', method: 'POST') do
          %button#action_button.btn.btn-success
            = 'Traiter le dossier'

