%div.row
  .col-lg-12.col-md-12
    - if @facade.procedure.for_individual?
      .row.title-row
        %div.col-md-4.col-lg-4.split-hr
        %div.col-md-4.col-lg-4.dossier-title= t('dynamics.dossiers.depositaite').upcase
        %div.col-md-4.col-lg-4.split-hr
      .row
        %div.col-md-6.col-lg-6.depositaire-label Civilité
        %div.col-md-6.col-lg-6.depositaire-info= @facade.individual.gender
      .row
        %div.col-md-6.col-lg-6.depositaire-label Nom
        %div.col-md-6.col-lg-6.depositaire-info= @facade.individual.nom
      .row
        %div.col-md-6.col-lg-6.depositaire-label Prénom
        %div.col-md-6.col-lg-6.despositaire-info= @facade.individual.prenom
      - unless Features.opensimplif
        .row
          %div.col-md-6.col-lg-6.depositaire-label Date de naissance
          %div.col-md-6.col-lg-6.depositaire-info= @facade.individual.birthdate

    - unless @facade.champs.nil?
      .row.title-row
        %div.col-md-4.col-lg-4.split-hr
        %div.col-md-4.col-lg-4.dossier-title= t('dynamics.dossiers.liste_champs').upcase
        %div.col-md-4.col-lg-4.split-hr
        -@facade.champs.each do |champ|
          .row
            %div.col-md-6.col-lg-6.depositaire-label= champ.libelle
            %div.col-md-1.col-lg-1.comments
              - if gestionnaire_signed_in?
                = link_to "", "data-href" => backoffice_dossier_commentaires_path(@facade.dossier, champs_id: champ.id), "data-toggle" => "modal", "data-target" => "#modalCommentairesDossierParChamp" do
                  %i.fa.fa-comment-o
              - else
                = link_to "", "data-href" => users_dossier_commentaires_path(@facade.dossier, champs_id: champ.id), "data-toggle" => "modal", "data-target" => "#modalCommentairesDossierParChamp" do
                  %i.fa.fa-commenting-o
            %div.col-md-5.col-lg-5.depositaire-info
              - unless champ.decorate.value.blank?
                = champ.decorate.value.html_safe
      .row
        .col-lg-12.col-md-12= render partial: '/dossiers/pieces_justificatives'

    - if @facade.dossier.mandataire_social && gestionnaire_signed_in?
      .mandataire_social.text-success.center
        %br
        ="Il est probable que le soumissionnaire du dossier soit un des mandataire social de l'entreprise ("
        %b
          ="#{@facade.dossier.user.given_name} #{@facade.dossier.user.family_name}"
        =")"

  - if @facade.dossier.procedure.module_api_carto.use_api_carto
    .col-lg-6.col-md-6

      #map.mini{class: @facade.dossier.procedure.module_api_carto.classes}

      %input{id: 'json_latlngs', type:'hidden', value: "#{@facade.dossier.json_latlngs}"}
      %input{id: 'quartier_prioritaires', type:'hidden', value: "#{@facade.dossier.quartier_prioritaires.to_json}"}
      %input{id: 'cadastres', type:'hidden', value: "#{@facade.dossier.cadastres.to_json}"}

      %script{type: 'text/javascript'}
        = "var dossier_id =#{@facade.dossier.id}"
        initCarto();

.row{style: 'text-align:right'}
  - unless @facade.dossier.read_only?
    - if user_signed_in? && (@facade.dossier.owner?(current_user.email) || @facade.dossier.invite_by_user?(current_user.email))
      - if @facade.procedure.cerfa_flag? || @facade.dossier.types_de_piece_justificative.size > 0
        %a#maj_pj.btn.btn-success{"data-target" => "#UploadPJmodal",
                           "data-toggle" => "modal",
                           :type => "button",
                           style: 'margin-bottom: 15px; margin-top: -30px'}
          Modifier les documents
        %br
        = render partial: 'users/recapitulatif/modal_upload_pj'

      -if @facade.procedure.individual_with_siret
        %a#add_siret.btn.btn-success{href: users_dossier_add_siret_path(dossier_id: @facade.dossier.id)}
          = "Renseigner un SIRET"
      -if @facade.dossier.procedure.module_api_carto.use_api_carto
        %a#maj_carte.btn.btn-primary{href: "/users/dossiers/#{@facade.dossier.id}/carte"}
          = 'Modifier la carte'
      %a#maj_infos.btn.btn-info{href: "/users/dossiers/#{@facade.dossier.id}/description"}
        = 'Modifier le dossier'

#modalCommentairesDossierParChamp.modal.fade{"tabindex" => -1, "role" => "dialog"}
  .modal-dialog{"role" => "document"}
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-label" => "Fermer"}
          %span{"aria-hidden" => true}
            &times;
        .modal-title
          Commentaires
      .modal-body
        %p
          Chargement des commentaires en cours...
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal"}
          Fermer
