.col-md-12.col-sm-12.col-xs-12.col-xs-12
  %h4
    = raison_sociale_or_name(@facade.etablissement)
  .row.split-row
    .col-xs-12.split-hr
.row
  .col-xs-12

    .row
      .col-xs-4.entreprise-label Siret :
      .col-xs-8.entreprise-info= @facade.etablissement.siret
    - if @facade.etablissement.siret != @facade.etablissement.entreprise.siret_siege_social
      .row
        .col-xs-4.entreprise-label SIRET siège social :
        .col-xs-8.entreprise-info= @facade.etablissement.entreprise.siret_siege_social
    .row
      .col-xs-4.entreprise-label Forme juridique :
      .col-xs-8.entreprise-info= @facade.etablissement.entreprise.forme_juridique
    .row
      .col-xs-4.entreprise-label Libellé naf :
      .col-xs-8.entreprise-info= @facade.etablissement.libelle_naf
    .row
      .col-xs-4.entreprise-label Code naf :
      .col-xs-8.entreprise-info= @facade.etablissement.naf
    .row
      .col-xs-4.entreprise-label Date de création :
      .col-xs-8.entreprise-info= @facade.etablissement.entreprise.date_creation&.strftime("%d-%m-%Y")
    .row
      .col-xs-4.entreprise-label Effectif organisation :
      .col-xs-8.entreprise-info= effectif(@facade.etablissement)
    .row
      .col-xs-4.entreprise-label Code effectif :
      .col-xs-8.entreprise-info= @facade.etablissement.entreprise.code_effectif_entreprise
    .row
      .col-xs-4.entreprise-label Numéro TVA intracommunautaire :
      .col-xs-8.entreprise-info= @facade.etablissement.entreprise.numero_tva_intracommunautaire

    .row
      .col-xs-4.entreprise-label Adresse :
      .col-xs-8.entreprise-info
        - @facade.etablissement.adresse.split("\n").each do |line|
          = line
    .row
      .col-xs-4.entreprise-label Capital social :
      .col-xs-8.entreprise-info= pretty_currency(@facade.etablissement.entreprise.capital_social)

    .row
      .col-xs-4.entreprise-label Exercices :
      .col-xs-8.entreprise-info
        les exercices comptables des trois dernières années sont joints à votre dossier.

    .row.split-row
      .col-xs-12.split-hr
- if @facade.etablissement.association?
  = render partial: '/dossiers/infos_rna'
