.col-md-12
  %h4
    = @entreprise.raison_sociale_or_name

.row#infos_entreprise
  .col-lg-6.col-md-6
    %dl.dl-horizontal

      %dt Siret :
      %dd.text-success= @etablissement.siret

      %dt Forme juridique :
      %dd= @entreprise.forme_juridique

      %dt libelle naf :
      %dd= @etablissement.libelle_naf

      %dt Date de création :
      %dd= Time.at(@entreprise.date_creation).strftime "%d-%m-%Y"

      %dt Effectife entreprise :
      %dd= @entreprise.effectif

      %dt Capital social :
      %dd= @entreprise.pretty_capital_social

  .col-lg-6.col-md-6
    %dl.dl-horizontal
      %dt Adresse :
      %dd
        %address
          - @etablissement.adresse.split("\n").each do |line|
            = line
            %br

