.row
  .col-xs-12
    #map.mini{ class: @facade.dossier.procedure.module_api_carto.classes }

    %input#json_latlngs{ type: 'hidden', value: "#{@facade.dossier.json_latlngs}" }
    %input#quartier_prioritaires{ type: 'hidden', value: "#{@facade.dossier.quartier_prioritaires.to_json}" }
    %input#cadastres{ type: 'hidden', value: "#{@facade.dossier.cadastres.to_json}" }

    %script{ type: 'text/javascript' }
      = "var dossier_id =#{@facade.dossier.id}"
      initCarto();
