.col-md-12
  %h4
    = @facade.entreprise.raison_sociale_or_name

.row#infos_entreprise
  .col-lg-6.col-md-6
    %dl.dl-horizontal
      %dt Siret :
      %dd.text-success= @facade.etablissement.siret

      - if @facade.etablissement.siret != @facade.entreprise.siret_siege_social
        %dt SIRET siège social :
        %dd= @facade.entreprise.siret_siege_social

      %dt Forme juridique :
      %dd= @facade.entreprise.forme_juridique

      %dt Libellé naf :
      %dd= @facade.etablissement.libelle_naf

      %dt Code naf :
      %dd= @facade.etablissement.naf

      %dt Date de création :
      %dd= Time.at(@facade.entreprise.date_creation).strftime "%d-%m-%Y"

      %dt Effectif organisation :
      %dd= @facade.entreprise.effectif

      %dt Code effectif :
      %dd= @facade.entreprise.code_effectif_entreprise

      %dt Numéro TVA intracommunautaire :
      %dd= @facade.entreprise.numero_tva_intracommunautaire


  .col-lg-6.col-md-6
    %dl.dl-horizontal
      %dt Adresse :
      %dd
        %address
          - @facade.etablissement.adresse.split("\n").each do |line|
            = line
            %br

      %dt Capital social :
      %dd= @facade.entreprise.pretty_capital_social

      %dt Exercices :
      %dd
        %address
          - @facade.etablissement.exercices.each_with_index do |exercice, index|
            %strong
              = "#{exercice.dateFinExercice.year} : "
            = number_to_currency(exercice.ca)
            %br

- unless @facade.entreprise.rna_information.nil?
  = render partial: '/dossiers/infos_rna'