%div.row
  .col-lg-12.col-md-12.margin-bot-40
    - if @facade.procedure.for_individual?
      .row.title-row
        %div.col-md-4.col-lg-4.split-hr
        %div.col-md-4.col-lg-4.dossier-title= t('dynamics.dossiers.depositaite').upcase
        %div.col-md-4.col-lg-4.split-hr
      .row
        %div.col-md-6.col-lg-6.depositaire-label Civilité
        %div.col-md-6.col-lg-6.depositaire-info= @facade.individual.gender
      .row
        %div.col-md-6.col-lg-6.depositaire-label Nom
        %div.col-md-6.col-lg-6.depositaire-info= @facade.individual.nom
      .row
        %div.col-md-6.col-lg-6.depositaire-label Prénom
        %div.col-md-6.col-lg-6.despositaire-info= @facade.individual.prenom
      - unless Features.opensimplif
        .row
          %div.col-md-6.col-lg-6.depositaire-label Date de naissance
          %div.col-md-6.col-lg-6.depositaire-info= @facade.individual.birthdate

    - unless @facade.champs.nil?
      - @facade.champs.each do |champ|
        - if champ.type_champ == 'header_section'
          .row.title-row.margin-top-40
            %div.col-md-3.col-lg-3.split-hr
            %div.col-md-6.col-lg-6.dossier-title= champ.libelle.upcase
            %div.col-md-3.col-lg-3.split-hr
        - else
          .row
            %div.col-md-6.col-lg-6.depositaire-label= champ.libelle
            - if Features.opensimplif
              %div.col-md-1.col-lg-1.comments
                - if gestionnaire_signed_in?
                  = link_to "", "data-href" => backoffice_dossier_commentaires_path(@facade.dossier, champs_id: champ.id), "data-toggle" => "modal", "data-target" => "#modalCommentairesDossierParChamp" do
                    %i.fa.fa-comment-o
                - else
                  = link_to "", "data-href" => users_dossier_commentaires_path(@facade.dossier, champs_id: champ.id), "data-toggle" => "modal", "data-target" => "#modalCommentairesDossierParChamp" do
                    %i.fa.fa-commenting-o
            - else
              %div.col-md-1.col-lg-1.comments-off
                = "-"
            %div.col-md-5.col-lg-5.depositaire-info
              - unless champ.decorate.value.blank?
                = champ.decorate.value.html_safe

    - if @facade.dossier.mandataire_social && gestionnaire_signed_in?
      .mandataire_social.text-success.center
        %br
        ="Il est probable que le soumissionnaire du dossier soit un des mandataire social de l'entreprise ("
        %b
          ="#{@facade.dossier.user.given_name} #{@facade.dossier.user.family_name}"
        =")"

#modalCommentairesDossierParChamp.modal.fade{"tabindex" => -1, "role" => "dialog"}
  .modal-dialog{"role" => "document"}
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-label" => "Fermer"}
          %span{"aria-hidden" => true}
            &times;
        .modal-title
          Commentaires
      .modal-body
        %p
          Chargement des commentaires en cours...
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal"}
          Fermer
