.row#infos_rna
  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    %dl.dl-horizontal
      %dt Association ID :
      %dd.text-success= @facade.etablissement.association_rna

      %dt Titre :
      %dd= @facade.etablissement.association_titre

      %dt Objet :
      %dd= @facade.etablissement.association_objet

  .col-lg-6.col-md-6.col-sm-6.col-xs-6
    %dl.dl-horizontal
      %dt Date création :
      %dd= @facade.etablissement.association_date_creation&.strftime("%d/%m/%Y")

      %dt Capital publication :
      %dd= @facade.etablissement.association_date_publication&.strftime("%d/%m/%Y")

      %dt Capital déclaration :
      %dd= @facade.etablissement.association_date_declaration&.strftime("%d/%m/%Y")
