.col-md-12.col-sm-12.col-xs-12.col-xs-12
  %h4
    = @facade.entreprise.raison_sociale_or_name
  .row.split-row
    .col-xs-12.split-hr
.row
  .col-xs-12

    .row
      .col-xs-4.entreprise-label Siret :
      .col-xs-8.entreprise-info= @facade.etablissement.siret
    - if @facade.etablissement.siret != @facade.entreprise.siret_siege_social
      .row
        .col-xs-4.entreprise-label SIRET siège social :
        .col-xs-8.entreprise-info= @facade.entreprise.siret_siege_social
    .row
      .col-xs-4.entreprise-label Forme juridique :
      .col-xs-8.entreprise-info= @facade.entreprise.forme_juridique
    .row
      .col-xs-4.entreprise-label Libellé naf :
      .col-xs-8.entreprise-info= @facade.etablissement.libelle_naf
    .row
      .col-xs-4.entreprise-label Code naf :
      .col-xs-8.entreprise-info= @facade.etablissement.naf
    .row
      .col-xs-4.entreprise-label Date de création :
      .col-xs-8.entreprise-info= Time.at(@facade.entreprise.date_creation).localtime.strftime "%d-%m-%Y"
    .row
      .col-xs-4.entreprise-label Effectif organisation :
      .col-xs-8.entreprise-info= @facade.entreprise.effectif
    .row
      .col-xs-4.entreprise-label Code effectif :
      .col-xs-8.entreprise-info= @facade.entreprise.code_effectif_entreprise
    .row
      .col-xs-4.entreprise-label Numéro TVA intracommunautaire :
      .col-xs-8.entreprise-info= @facade.entreprise.numero_tva_intracommunautaire

    .row
      .col-xs-4.entreprise-label Adresse :
      .col-xs-8.entreprise-info
        - @facade.etablissement.adresse.split("\n").each do |line|
          = line
    .row
      .col-xs-4.entreprise-label Capital social :
      .col-xs-8.entreprise-info= @facade.entreprise.pretty_capital_social

    .row
      .col-xs-4.entreprise-label Exercices :
      .col-xs-8.entreprise-info
        - @facade.etablissement.exercices.each_with_index do |exercice, index|
          %strong
            = "#{exercice.dateFinExercice.year} : "
            = number_to_currency(exercice.ca)
          %br

    .row.split-row
      .col-xs-12.split-hr
- unless @facade.entreprise.rna_information.nil?
  = render partial: '/dossiers/infos_rna'
