#PJmodal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          Historique des
          %span#PJmodal_title
      .modal-body
        %table.table
          %thead
            %th
              Utilisateur
            %th
              Date d'envoi
            %th
              Lien
          %thead.tr_content#cerfa
            -if @facade.procedure.cerfa_flag?
              - if @facade.dossier.cerfa_available?
                - @facade.cerfas_ordered.each do |cerfa|
                  %tr
                    %td.col-md-6.col-lg-4
                      = cerfa.dossier.user.email
                    %td.col-md-6.col-lg-4
                      = cerfa.created_at
                    %td.col-md-6.col-lg-4
                      =link_to 'Récupérer', cerfa.content_url, {target: :blank}
          - @facade.dossier.types_de_piece_justificative.each do |type_de_piece_justificative|
            %tbody.tr_content{id: "type_de_pj_#{type_de_piece_justificative.id}"}
              - @facade.dossier.retrieve_all_piece_justificative_by_type(type_de_piece_justificative.id).each do |piece_justificative|
                %tr
                  %td.col-md-6.col-lg-4
                    = piece_justificative.dossier.user.email
                  %td.col-md-6.col-lg-4
                    = piece_justificative.created_at
                  %td.col-md-6.col-lg-4
                    =link_to 'Récupérer', piece_justificative.content_url, {target: :blank}



      .modal-footer
