#pieces_justificatives
  %h3.text-info Liste des pièces justificatives
  %br
  %table.table
    -if @procedure.lien_demarche != nil
      %tr{id: "piece_justificative_0"}
        %th{class:'col-lg-6'}
          ='CERFA'
          -if @procedure.lien_demarche != nil
            %a{style:'font-size:0.9em; padding-left:3px', id: 'lien_cerfa' ,href: "#{@procedure.lien_demarche}", :target => '_blank'} Lien CERFA
        %td.col-lg-6.col-md-6
          - if !@dossier.cerfa.empty?
            - if user_signed_in?
              = 'Pièce fournie'
            - elsif gestionnaire_signed_in?
              %a{ href: "#{@dossier.cerfa.content}", target: '_blank' } Consulter
          - else
            = 'Pièce non fournie'

    - @dossier.pieces_justificatives.each do |piece_justificative|
      %tr{ id: "piece_justificative_#{piece_justificative.type}" }
        %th.col-lg-6
          = piece_justificative.libelle
        %td.col-lg-6.col-md-6
          - if piece_justificative.api_entreprise
            %span.text-success Nous l'avons récupéré pour vous.
          - elsif !piece_justificative.empty?
            %a{ href: "#{piece_justificative.content}", target: '_blank' } Consulter
          - else
            = 'Pièce non fournie'
    - if  gestionnaire_signed_in? || (user_signed_in? && current_user.loged_in_with_france_connect)
      %tr
        %th.col-lg-6
          Attestation fiscale
        %td.col-lg-6.col-md-6
          %a{ href: "/attestation_fiscale_octo.pdf", target: '_blank'} Consulter

