#pieces_justificatives

  %table.table
    -if @facade.procedure.cerfa_flag?
      %tr{id: "piece_justificative_0"}
        %th{class:'col-lg-6'}
          ='Formulaire'
        %td.col-lg-6.col-md-6
          - if @facade.dossier.cerfa_available?
            - if user_signed_in?
              = 'Pièce fournie'
            - elsif gestionnaire_signed_in?
              %a{ href: "#{@facade.dossier.cerfa.last.content_url}", target: '_blank' } Consulter
              %span{style:'margin-left:12px'}
                \-
              %a.btn.glyphicon.glyphicon-time{style:'color: black; padding-top: 0',
                                                  "data-target" => "#PJmodal",
                                                  "data-toggle" => "modal",
                                                  :type => "button",
                                                  "data-modal_title" => 'formulaires',
                                                  "data-modal_type" => 'cerfa'}
          - else
            = 'Pièce non fournie'

    - @facade.dossier.pieces_justificatives.each do |piece_justificative|
      %tr{ id: "piece_justificative_#{piece_justificative.type}" }
        %th.col-lg-6
          = piece_justificative.libelle
        %td.col-lg-6.col-md-6
          - if piece_justificative.api_entreprise
            %span.text-success Nous l'avons récupéré pour vous.
          - elsif !piece_justificative.empty?
            - if user_signed_in?
              = 'Pièce fournie'
            - elsif gestionnaire_signed_in?
              %a{ href: "#{piece_justificative.content_url}", target: '_blank' } Consulter
          - else
            = 'Pièce non fournie'

  - if gestionnaire_signed_in?
    =render partial: '/dossiers/modal_historique'