%tr
  %td.cell-data{ class: [row.child? ? "pl-8" : nil, row.visible? ? nil : "cell-disabled"] }
    = row.libelle
    - if row.mandatory?
      %span.mandatory{ style: 'color: #A10005;' } *
  %td.cell-data{ class: [row.visible? ? nil : "cell-disabled"] }
    = I18n.t("activerecord.attributes.type_de_champ.type_champs.#{row.type_champ}")

  %td.cell-data{ class: [row.visible? ? nil : "cell-disabled"] }
    - if row.visible?
      - if row.blank? && row.mandatory?
        🔴
      - else
        🟢

    - if !row.visible? && row.conditional?
      masqué, conditionnel
    - elsif row.blank?
      vide
    - else
      rempli

- if row.respond_to?(:rows)
  - row.rows.each_with_index do |group_rows, index|
    %thead
      %tr
        %td.cell-group-header{ colspan: 3}
          = "Bloc ##{index + 1} “#{row.libelle}”"
    = render partial: "fields/champ_collection_field/row", collection: group_rows, as: :row
