%li{ class: editing ? '' : 'flex column mb-2' }
  - if editing
    = link_to '#', data: { geo_area: geo_area.id } do
      = geo_area_label(geo_area)
    = text_field_tag :description, geo_area.description, data: { geo_area: geo_area.id }, placeholder: 'Description', class: 'no-margin'
  - else
    = link_to '#', data: { geo_area: geo_area.id } do
      = geo_area_label(geo_area)
    - if geo_area.description.present?
      %span
        = geo_area.description
