= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Eligibilité des dossiers']] }


.fr-container
  .fr-grid-row
    .fr-col-12.fr-col-offset-md-2.fr-col-md-8
      %h1.fr-h1 Eligibilité des dossiers

      %p.fr-icon-info-line.fr-hint-text{ aria: { hidden: true } }
        Plus d'informations sur l'eligibilité des dossiers dans la
        = link_to('doc', ELIGIBILITE_URL, title: "Document sur l'eligibilité des dossiers", **external_link_attributes)

      = render Dsfr::AlertComponent.new(title: nil, size: :sm, state: :info, heading_level: 'h2', extra_class_names: 'fr-my-2w') do |c| 
        - c.with_body do
          %p Seuls les dossiers répondant à vos critères d'eligibilité pourront être déposés

      - if @procedure.active_revision.conditionable_types_de_champ.present?
        = render Conditions::TransitionsRulesComponent.new(revision: @procedure.draft_revision)
      - else
        %p.fr-mt-2w
          Pour configurer l'eligibilité des dossiers, votre formulaire doit comporter au moins un champ supportant le conditinonel. Les champs supportant les conditinonel étant de types :
          = Logic::ChampValue::MANAGED_TYPE_DE_CHAMP.values.map { "« #{t(_1, scope: [:activerecord, :attributes, :type_de_champ, :type_champs])} »" }.join(", ")
        %p.fr-mt-2w
          = link_to 'Ajouter un champ supportant le conditionnel', champs_admin_procedure_path(@procedure), class: 'fr-btn fr-btn--primary'
