#invite-dialog-wrapper{ data: { controller: "lazy-modal" } }
  - invites = dossier.invites.count
  %button.fr-btn.fr-btn--secondary{
    type: "button",
    aria: { controls: "modal-invite" },
    data: { "fr-opened" => "false", "turbo-frame" => "dossier-invites-modal", action: "lazy-modal#load" },
    src: dossier_index_invites_path(dossier_id: dossier.id),
  }
    = dsfr_icon('fr-icon-user-add-fill', :sm, :mr)
    - if invites > 0
      = t('views.invites.dropdown.view_invited_people')
      %span.fr-badge.fr-ml-1v= invites
    - else
      - if dossier.read_only?
        = t('views.invites.dropdown.invite_to_view')
      - else
        = t('views.invites.dropdown.invite_to_edit')

  = turbo_frame_tag "dossier-invites-modal", data: { "lazy-modal-target": "frame" }
