.dropdown.invite-user-action{ data: { controller: 'menu-button', popover: 'true' } }
  %button.button.dropdown-button{ data: { menu_button_target: 'button' } }
    %span.icon.person
    - if dossier.invites.count > 0
      = t('views.invites.dropdown.view_invited_people')
      %span.badge= dossier.invites.count
    - else
      - if dossier.read_only?
        = t('views.invites.dropdown.invite_to_view')
      - else
        = t('views.invites.dropdown.invite_to_edit')

  #invite-content.dropdown-content.fade-in-down{ data: { menu_button_target: 'menu' } }
    = render partial: "invites/form", locals: { dossier: dossier }
