.dropdown.invite-user-action
  %button.button.dropdown-button{ 'aria-expanded' => 'false', 'aria-controls' => 'invite-content' }
    %span.icon.person
    - if dossier.invites.count > 0
      = t('views.invites.dropdown.view_invited_people')
      %span.badge= dossier.invites.count
    - else
      - if dossier.read_only?
        = t('views.invites.dropdown.invite_to_view')
      - else
        = t('views.invites.dropdown.invite_to_edit')

  #invite-content.dropdown-content.fade-in-down
    = render partial: "invites/form", locals: { dossier: dossier }
