= form_for invite, url: dossier_invites_path(dossier), html: { id: "invite-form" }, data: { turbo_force: :server } do |f|
  .fr-modal__header
    %button.fr-btn.fr-btn--close{
      type: "button",
      aria: { controls: "modal-invite" },
      title: t('utils.modal_close_alt')
    }
      = t('utils.modal_close')
  .fr-modal__content
    %h1.fr-modal__title.fr-mb-4v
      %span.fr-icon-arrow-right-line.fr-icon--lg>
        = t('views.invites.form.modal_title')
    .fr-notice.fr-notice--info
      .fr-notice__body.fr-ml-3v
        %p
          %span.fr-notice__title= t('views.invites.form.modal_highlight')

    = render partial: "invites/form", locals: { dossier:, invite:, invites: }

  .fr-modal__footer
    .fr-btns-group.fr-btns-group--left.fr-btns-group--inline-lg
      %button.fr-btn.fr-btn--secondary{
        type: "button",
        aria: { controls: "modal-invite" }
      }
        = t('views.invites.form.cancel')

      = f.submit t('views.invites.form.send_invitation'), class: "fr-btn"
