%dialog.fr-modal#modal-invite{
  aria: { labelledby: "modal-invite-title" }
}
  .fr-container
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8.fr-col-lg-6
        .fr-modal__body
          .fr-modal__header
            %button.fr-btn.fr-btn--close{
              type: "button",
              aria: { controls: "modal-invite" },
              title: "Fermer"
            }
              = t('views.invites.form.close_button')
          .fr-modal__content
            %h2.fr-modal__title#modal-invite-title= t('views.invites.form.modal_title')
            .fr-notice.fr-notice--info
              .fr-notice__body.fr-ml-3v
                %p
                  %span.fr-notice__title= t('views.invites.form.modal_highlight')

            = render partial: "invites/form", locals: { dossier: dossier, invites: invites, morphing: morphing }

          .fr-modal__footer
            .fr-btns-group.fr-btns-group--right.fr-btns-group--inline-reverse.fr-btns-group--inline-lg
              %button.fr-btn.fr-btn--secondary{
                type: "button",
                aria: { controls: "modal-invite" }
              }
                = t('views.invites.form.cancel')
              %button.fr-btn{
                type: "submit",
                form: "invite-form"
              }
                = t('views.invites.form.send_invitation')
