.backoffice-header
  .container
    %ul.breadcrumbs
      %li
        = link_to dossier.procedure.libelle, procedure_path(dossier.procedure)
      %li
        = "Dossier n° #{dossier.id}"
    %ul.tabs
      %li{ class: ("active" if current_page?(dossier_path(dossier.procedure, dossier))) }
        = link_to "Demande", dossier_path(dossier.procedure, dossier)
      %li{ class: current_page?(instruction_dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        = link_to "Instruction", instruction_dossier_path(dossier.procedure, dossier)
      %li{ class: current_page?(messagerie_dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        = link_to "Messagerie", messagerie_dossier_path(dossier.procedure, dossier)
      %li
        = link_to "Historique", "#"
