.accompagnateur-header
  .container
    .flex.justify-between
      %ul.breadcrumbs
        %li
          = link_to dossier.procedure.libelle.truncate_words(10), procedure_path(dossier.procedure), title: dossier.procedure.libelle
        %li
          = "Dossier nº #{dossier.id}"
      .mixed-buttons-bar
        .button.dropdown.icon-only.print-menu-opener{ onclick: "javascript:TPS.togglePrintMenu(event);" }
          .icon.printer
          %ul.print-menu
            %li
              = link_to "Tout le dossier", print_dossier_path(dossier.procedure, dossier), target: "_blank", class: "menu-item menu-link"
            %li
              = link_to "Uniquement cet onglet", "#", onclick: "TPS.togglePrintMenu; window.print()", class: "menu-item menu-link"

        = render partial: "new_gestionnaire/procedures/dossier_actions", locals: { procedure: dossier.procedure, dossier: dossier, dossier_is_followed: current_gestionnaire&.follow?(dossier) }
        = render partial: "state_button", locals: { dossier: dossier }
    %ul.tabs
      - notifications_summary = current_gestionnaire.notifications_for_dossier(dossier)
      %li{ class: current_page?(dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        - if notifications_summary[:demande]
          %span.notifications{ 'aria-label': 'notifications' }
        = link_to "Demande", dossier_path(dossier.procedure, dossier)
      %li{ class: current_page?(annotations_privees_dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        - if notifications_summary[:annotations_privees]
          %span.notifications{ 'aria-label': 'notifications' }
        = link_to "Annotations privées", annotations_privees_dossier_path(dossier.procedure, dossier)
      %li{ class: current_page?(avis_dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        - if notifications_summary[:avis]
          %span.notifications{ 'aria-label': 'notifications' }
        = link_to "Avis externes", avis_dossier_path(dossier.procedure, dossier)
      %li{ class: current_page?(messagerie_dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        - if notifications_summary[:messagerie]
          %span.notifications{ 'aria-label': 'notifications' }
        = link_to "Messagerie", messagerie_dossier_path(dossier.procedure, dossier)
      %li{ class: current_page?(personnes_impliquees_dossier_path(dossier.procedure, dossier)) ? 'active' : nil }
        = link_to "Personnes impliquées", personnes_impliquees_dossier_path(dossier.procedure, dossier)

.container
  .print-header
    = dossier.procedure.libelle.truncate_words(10)
    >
    = "Dossier nº #{dossier.id} (#{dossier.statut})"
