.backoffice-header
  .container
    %ul.breadcrumbs
      %li
        = link_to dossier.procedure.libelle, procedure_path(dossier.procedure)
      %li
        = "Dossier n° #{dossier.id}"
    %ul.tabs
      %li
        = link_to "Demande", "#", class: ("selected" if current_page?(dossier_path(dossier.procedure, dossier)))
      %li
        = link_to "Instruction", "#"
      %li
        = link_to "Messagerie", "#"
      %li
        = link_to "Historique", "#"
