- etablissement = entreprise.etablissement
%h4= raison_sociale_or_name(entreprise)

%table.table.vertical
  %tbody
    %tr
      %th SIRET :
      %td= entreprise.siret_siege_social
    %tr
      %th Forme juridique :
      %td= entreprise.forme_juridique
    - if etablissement.present?
      %tr
        %th Libellé NAF :
        %td= etablissement.libelle_naf
      %tr
        %th Code NAF :
        %td= etablissement.naf
    %tr
      %th Date de création :
      %td= Time.at(entreprise.date_creation).localtime.strftime("%d/%m/%Y")
    %tr
      %th Effectif de l'organisation :
      %td= effectif(entreprise)
    %tr
      %th Code effectif :
      %td= entreprise.code_effectif_entreprise
    %tr
      %th Numéro de TVA intracommunautaire :
      %td= entreprise.numero_tva_intracommunautaire
    - if etablissement.present?
      %tr
        %th Adresse :
        %td
          - etablissement.adresse.split("\n").each do |line|
            = line
            %br
    %tr
      %th Capital social :
      %td= pretty_capital_social(entreprise)
    - if etablissement.present?
      %tr
        %th Exercices :
        %td
          - etablissement.exercices.each_with_index do |exercice, index|
            = "#{exercice.dateFinExercice.year} : "
            = number_to_currency(exercice.ca)
            %br
    - if entreprise.rna_information.present?
      %tr
        %th Numéro RNA :
        %td= entreprise.rna_information.association_id
      %tr
        %th Titre :
        %td= entreprise.rna_information.titre
      %tr
        %th Objet :
        %td= entreprise.rna_information.objet
      %tr
        %th Date de création :
        %td= entreprise.rna_information.date_creation.strftime("%d/%m/%Y")
      %tr
        %th Date de publication :
        %td= entreprise.rna_information.date_publication.try(:strftime, "%d/%m/%Y")
      %tr
        %th Date de déclaration :
        %td= entreprise.rna_information.date_declaration.strftime("%d/%m/%Y")
