- entreprise = entreprise.decorate
- etablissement = entreprise.etablissement

%table.table.vertical.dossier-champs
  %tbody
    %tr
      %th.libelle Dénomination :
      %td= entreprise.raison_sociale_or_name
    %tr
      %th.libelle SIRET :
      %td= entreprise.siret_siege_social
    %tr
      %th.libelle Forme juridique :
      %td= sanitize(entreprise.forme_juridique)
    - if etablissement.present?
      %tr
        %th.libelle Libellé NAF :
        %td= etablissement.libelle_naf
      %tr
        %th.libelle Code NAF :
        %td= etablissement.naf
    %tr
      %th.libelle Date de création :
      %td= Time.at(entreprise.date_creation).localtime.strftime("%d/%m/%Y")
    %tr
      %th.libelle Effectif de l'organisation :
      %td= entreprise.effectif
    %tr
      %th.libelle Code effectif :
      %td= entreprise.code_effectif_entreprise
    %tr
      %th.libelle Numéro de TVA intracommunautaire :
      %td= entreprise.numero_tva_intracommunautaire
    - if etablissement.present?
      %tr
        %th.libelle Adresse :
        %td
          - etablissement.adresse.split("\n").each do |line|
            = line
            %br
    %tr
      %th.libelle Capital social :
      %td= entreprise.pretty_capital_social
    - if etablissement.present?
      %tr
        %th.libelle Exercices :
        %td
          - etablissement.exercices.each_with_index do |exercice, index|
            = "#{exercice.date_fin_exercice.year} : "
            = number_to_currency(exercice.ca)
            %br
    - if entreprise.rna_information.present?
      %tr
        %th.libelle Numéro RNA :
        %td= entreprise.rna_information.association_id
      %tr
        %th.libelle Titre :
        %td= entreprise.rna_information.titre
      %tr
        %th.libelle Objet :
        %td= entreprise.rna_information.objet
      %tr
        %th.libelle Date de création :
        %td= entreprise.rna_information.date_creation&.strftime("%d/%m/%Y")
      %tr
        %th.libelle Date de publication :
        %td= entreprise.rna_information.date_publication&.strftime("%d/%m/%Y")
      %tr
        %th.libelle Date de déclaration :
        %td= entreprise.rna_information.date_declaration&.strftime("%d/%m/%Y")
