.motivation{ class: popup_class }
  %h3
    .icon{ class: popup_class }
    #{popup_title} nº #{dossier.id}

  = form_tag(terminer_dossier_path(dossier.procedure, dossier), method: :post, class: 'form') do
    = text_area :dossier, :motivation, class: 'motivation-text-area', placeholder: 'Rédigez votre motivation ici (facultative)'
    - if title == 'Accepter'
      %p.help
        L'acceptation du dossier envoie automatiquement une attestation à l'usager.
    .text-right
      %span.button{ onclick: 'TPS.motivationCancel();' } Annuler
      = button_tag 'Valider la décision', name: :process_action, value: process_action, class: 'button primary', title: title, data: { confirm: confirm }
