- if dossier.en_construction? || dossier.en_instruction?
  %span.button.primary.dropdown
    = dossier.decorate.display_state
    .dropdown-content.fade-in-down
      %ul.dropdown-items
        - if dossier.en_construction?
          %li.selected
            %i.edit
            .description
              %h4 En construction
              Vous permettez à l'usager de modifier ses réponses au formulaire
          %li
            = link_to backoffice_dossier_receive_path(dossier, new_ui: true), method: :post, data: { confirm: "Confirmer vous le passage en instruction de ce dossier ?" } do
              %i.in-progress
              .description
                %h4 Passer en instruction
                L'usager ne pourra plus modifier le formulaire

        - if dossier.en_instruction?
          %li
            = link_to backoffice_dossier_reopen_path(dossier, new_ui: true), method: :post, data: { confirm: "Confirmer vous la réouverture de ce dossier ?" } do
              %i.edit
              .description
                %h4 Repasser en construction
                Vous permettrez à l'usager de modifier ses réponses au formulaire
          %li.selected
            %i.in-progress
            .description
              %h4 En instruction
              L'usager ne peut modifer son dossier pendant l'instruction
          %li{ onclick: "TPS.acceptDossier();" }
            %i.accept
            .description
              %h4 Accepter
              L'usager sera notifié que son dossier a été accepté
          %li
            = link_to backoffice_dossier_process_dossier_path(dossier, process_action: "without_continuation", new_ui: true), method: :post, data: { confirm: "Confirmer vous le classement sans suite de ce dossier ?" } do
              %i.without-continuation
              .description
                %h4 Classer sans suite
                L'usager ne recevra aucune notification
          %li
            = link_to backoffice_dossier_process_dossier_path(dossier, process_action: "refuse", new_ui: true), method: :post, data: { confirm: "Confirmer vous le refus de ce dossier ?" } do
              %i.close
              .description
                %h4 Refuser
                L'usager sera notifié que son dossier a été refusé
      .motivation
        %h3
          %i.accept
          Accepter le dossier
          = "nº #{dossier.id}"

        = form_tag(backoffice_dossier_process_dossier_url(dossier.id, new_ui: true), method: :post, class: "form") do
          = text_area :dossier, :motivation, class: "motivation-text-area", placeholder: "Rédigez votre motivation ici (facultative)"
          %p.help
            L'acceptation du dossier envoie automatiquement une attestation à l'usager.
          .text-right
            %span.button{ onclick: "TPS.motivationCancel();" } Annuler
            = button_tag "Valider la décision", name: :process_action, value: "close", class: 'button primary', title: 'Accepter', data: { confirm: "Accepter ce dossier ?" }

- else
  %span.button.dropdown{ class: dossier.closed? ? 'success' : nil }
    = t("activerecord.attributes.dossier.state.#{dossier.state}")
    .dropdown-content.fade-in-down.terminated
      %h4
        - if dossier.closed?
          %i.accept
          Dossier nº #{dossier.id} accepté
        - elsif dossier.without_continuation?
          %i.without-continuation
          Dossier nº #{dossier.id} classé sans suite
        - elsif dossier.refused?
          %i.close
          Dossier nº #{dossier.id} refusé

      - if dossier.motivation.present?
        %p.dossier-motivation= dossier.motivation

      - if dossier.attestation.present?
        %p.attestation L'acceptation du dossier a envoyé automatiquement une attestation au demandeur
        = link_to "Voir l'attestation", attestation_dossier_path(dossier.procedure, dossier), target: '_blank', class: 'button'
