- content_for(:title, "Messagerie · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier }

.messagerie.container
  %ul.messages-list
    - @dossier.commentaires.each do |commentaire|
      %li
        = render partial: "new_gestionnaire/shared/commentaires/commentaire", locals: { commentaire: commentaire }

  = render partial: "new_gestionnaire/shared/commentaires/form", locals: { commentaire: @commentaire, form_url: commentaire_dossier_path(@dossier.procedure, @dossier) }
