= render partial: "header", locals: { dossier: @dossier }

#dossier-messagerie.container
  %ul
    - @dossier.commentaires.ordered.each do |commentaire|
      %li
        = render partial: 'commentaire_icon', locals: { commentaire: commentaire, current_gestionnaire: current_gestionnaire }

        .width-100
          %h2
            %span.mail
              = render partial: 'commentaire_issuer', locals: { commentaire: commentaire, current_gestionnaire: current_gestionnaire }
            - if ![current_gestionnaire.email, @dossier.user.email, 'contact@tps.apientreprise.fr'].include?(commentaire.email)
              %span.guest Invité
            %span.date= I18n.l(commentaire.created_at.localtime, format: '%d/%m/%y')
          %p= sanitize(commentaire.body)

  = form_for(Commentaire.new, url: commentaire_dossier_path(@dossier.procedure, @dossier), html: { class: 'form' }) do |f|
    = f.text_area :body, class: 'new-commentaire', rows: 5, placeholder: 'Répondre ici', required: true
    = f.submit 'Envoyer', class: 'button send'
