%h1= "Dossier nº #{@dossier.id}"
%h1.subtitle= "Démarche : #{@dossier.procedure.libelle}"

%h2 Identité du demandeur

= render partial: "shared/dossiers/user_infos", locals: { user: @dossier.user }

- if @dossier.etablissement.present?
  = render partial: "shared/dossiers/identite_entreprise", locals: { etablissement: @dossier.etablissement, profile: 'instructeur' }

- if @dossier.individual.present?
  = render partial: "shared/dossiers/identite_individual", locals: { individual: @dossier.individual }

%h2 Formulaire

- champs = @dossier.champs
- if champs.any?
  = render partial: "shared/dossiers/champs", locals: { champs: champs, dossier: @dossier, demande_seen_at: nil, profile: 'instructeur' }

- if @dossier.types_de_piece_justificative.any?
  %h3 Pièces jointes

  %table
    - @dossier.procedure.types_de_piece_justificative.each do |type_de_piece_justificative|
      %tr
        %th= "#{type_de_piece_justificative.libelle} :"
        %td
          - pj = @dossier.retrieve_last_piece_justificative_by_type(type_de_piece_justificative.id)
          - if pj.present?
            #{pj.original_filename}
          - else
            Pièce non fournie

%h2 Annotations privées

- if @dossier.champs_private.present?
  %table
    - @dossier.champs_private.each do |champ|
      %tr
        %th
          = champ.libelle
        %td
          = champ.value
- else
  Aucune annotation privée

%h2 Avis

- if @dossier.avis.present?
  %table
    - @dossier.avis.each do |avis|
      %tr
        %th
          = "Avis de #{avis.email_to_display}"
          - if avis.confidentiel?
            (confidentiel)
        %td
          - if avis.answer.present?
            = avis.answer
          - else
            En attente de réponse
- else
  Aucun avis

%h2 Messagerie

.messagerie
  %ul.messages-list
    - @dossier.commentaires.each do |commentaire|
      %li
        = render partial: "shared/dossiers/messages/message", locals: { commentaire: commentaire, connected_user: current_gestionnaire, messagerie_seen_at: nil }

%script{ type: "text/javascript" }
  window.print();
