%h1= "Dossier nº #{@dossier.id}"
%h1.subtitle= "Procédure : #{@dossier.procedure.libelle}"

%h2 Identité du demandeur

- if @dossier.entreprise.present?
  = render partial: "identite_entreprise", locals: { entreprise: @dossier.entreprise }

- if @dossier.individual.present?
  = render partial: "identite_individual", locals: { individual: @dossier.individual }

%h2 Formulaire

- champs = @dossier.ordered_champs.decorate
- if champs.any?
  = render partial: "champs", locals: { champs: champs }

- if @dossier.procedure.use_api_carto
  %h3 Cartographie
  - if @dossier.quartier_prioritaires.any?
    %h4 Quartiers prioritaires
    %table
      - @dossier.quartier_prioritaires.each do |q|
        %tr
          %td= q.nom

  - if @dossier.cadastres.any?
    %h4 Parcelles cadastrales
    %table
      - @dossier.cadastres.each do |p|
        %tr
          %td= "Parcelle n° #{p.numero} - Feuille #{p.code_arr} #{p.section} #{p.feuille}"

- if @dossier.procedure.cerfa_flag? || @dossier.types_de_piece_justificative.any?
  %h3 Pièces jointes

  %table
    - if @dossier.procedure.cerfa_flag?
      %tr
        %th Formulaire :
        %td
          - if @dossier.cerfa_available?
            Pièce fournie
          - else
            Pièce non fournie

    - @dossier.procedure.types_de_piece_justificative.each do |type_de_piece_justificative|
      %tr
        %th= "#{type_de_piece_justificative.libelle} :"
        %td
          - pj = @dossier.retrieve_last_piece_justificative_by_type(type_de_piece_justificative.id)
          - if pj.present?
            Pièce fournie
          - else
            Pièce non fournie

%h2 Annotations privées

- if @dossier.ordered_champs_private.present?
  %table
    - @dossier.champs_private.each do |champ|
      %tr
        %th
          = champ.libelle
        %td
          = champ.value
- else
  Aucune annotation privée

%h2 Avis

- if @dossier.avis.present?
  %table
    - @dossier.avis.each do |avis|
      %tr
        %th
          = "Avis de #{avis.email_to_display}"
          - if avis.confidentiel?
            (confidentiel)
        %td
          - if avis.answer.present?
            = avis.answer
          - else
            En attente de réponse
- else
  Aucun avis

%h2 Messagerie

.messagerie
  %ul.messages-list
    - @dossier.commentaires.each do |commentaire|
      %li
        = render partial: "new_gestionnaire/shared/commentaires/commentaire", locals: { commentaire: commentaire }

%script{ type: "text/javascript" }
  window.print();
