- content_for(:title, "Demande · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier }

.container
  .tab-title Identité du demandeur
  .card
    - if @dossier.entreprise.present?
      = render partial: "identite_entreprise", locals: { entreprise: @dossier.entreprise }

    - if @dossier.individual.present?
      = render partial: "identite_individual", locals: { individual: @dossier.individual }

  .tab-title Formulaire
  - champs = @dossier.ordered_champs.includes(:type_de_champ).decorate
  - if champs.any?
    .card
      = render partial: "champs", locals: { champs: champs, demande_seen_at: @demande_seen_at }

  - if @dossier.procedure.use_api_carto
    .tab-title Cartographie
    .card
      = render partial: "map", locals: { dossier: @dossier }

  - if @dossier.procedure.cerfa_flag? || @dossier.types_de_piece_justificative.any?
    .tab-title Pièces jointes
    .card
      = render partial: "pieces_jointes", locals: { dossier: @dossier, demande_seen_at: @demande_seen_at }
