= render partial: "header", locals: { dossier: @dossier }

.container
  .backoffice-title Identité du demandeur
  .card
    - if @dossier.entreprise.present?
      = render partial: "identite_entreprise", locals: { entreprise: @dossier.entreprise }

    - if @dossier.individual.present?
      = render partial: "identite_individual", locals: { individual: @dossier.individual }

  .backoffice-title Formulaire
  - champs = @dossier.ordered_champs.decorate
  - if champs.any?
    .card
      = render partial: "champs", locals: { champs: champs }

  - if @dossier.procedure.use_api_carto
    .backoffice-title Cartographie
    = render partial: "map", locals: { dossier: @dossier }

  - if @dossier.procedure.cerfa_flag? || @dossier.types_de_piece_justificative.any?
    .backoffice-title Pièces jointes
    .card
      = render partial: "pieces_jointes", locals: { dossier: @dossier }
