- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.body', groupe_gestionnaire_name: @groupe_gestionnaire.name, sender_email: @sender_email)
%p= round_button(t('.see_message'), @commentaire_url, :primary)

= render partial: "layouts/mailers/signature"

- content_for :footer do
  = render 'layouts/mailers/commentaire_groupe_gestionnaire_footer'
