- content_for(:title, @dossier.procedure.libelle)

%h2.huge-title= t('views.prefills.show.title')
%p= t('views.prefills.show.introduction')
= render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }
= link_to new_user_registration_path, class: 'fr-btn fr-btn--lg fr-my-2w' do
  = t('views.shared.account.create')
  %span.optional-on-small-screens.fr-ml-1v
    #{APPLICATION_NAME}
= link_to t('views.shared.account.already_user'), new_user_session_path, class: 'fr-btn fr-btn--secondary fr-btn--lg fr-my-2w'
