= render partial: 'new_gestionnaire/shared/commentaires/commentaire_icon', locals: { commentaire: commentaire, current_gestionnaire: current_gestionnaire }

.width-100
  %h2
    %span.mail
      = render partial: 'new_gestionnaire/shared/commentaires/commentaire_issuer', locals: { commentaire: commentaire, current_gestionnaire: current_gestionnaire }
    - if ![current_gestionnaire.email, commentaire.dossier.user.email, 'contact@tps.apientreprise.fr'].include?(commentaire.email)
      %span.guest Invité
    %span.date{ class: highlight_if_unseen_class(messagerie_seen_at, commentaire.created_at) }
      = I18n.l(commentaire.created_at.localtime, format: '%d/%m/%Y à %H:%M ')
  .rich-text= sanitize(commentaire.body)

  - if commentaire.piece_justificative
    .attachment-link
      = link_to commentaire.piece_justificative.content_url, class: "button", target: "_blank", title: "Télécharger" do
        %span.icon.attachment
        = commentaire.piece_justificative.original_filename
  - elsif commentaire.file.present?
    .attachment-link
      = link_to commentaire.file_url, class: "button", target: "_blank", title: "Télécharger" do
        %span.icon.attachment
        = commentaire.file_identifier
