= render partial: 'new_gestionnaire/shared/commentaires/commentaire_icon', locals: { commentaire: commentaire, current_gestionnaire: current_gestionnaire }

.width-100
  %h2
    %span.mail
      = render partial: 'new_gestionnaire/shared/commentaires/commentaire_issuer', locals: { commentaire: commentaire, current_gestionnaire: current_gestionnaire }
    - if ![current_gestionnaire.email, @dossier.user.email, 'contact@tps.apientreprise.fr'].include?(commentaire.email)
      %span.guest Invité
    %span.date= I18n.l(commentaire.created_at.localtime, format: '%H:%M le %d/%m/%Y')
  .rich-text= sanitize(commentaire.body)

  - if commentaire.file.present?
    .attachment-link
      = link_to commentaire.file_url, class: "button", target: "_blank", title: "Télécharger" do
        .icon.attachment
        = commentaire.file_identifier
  - elsif commentaire.piece_justificative
    .attachment-link
      = link_to commentaire.piece_justificative.content_url, class: "button", target: "_blank", title: "Télécharger" do
        .icon.attachment
        = commentaire.piece_justificative.original_filename
