- if render_within_fieldset?
  = tag.fieldset(class: "reset-#{tag_for_depth}") do
    = tag.legend do
      = render EditableChamp::HeaderSectionComponent.new(champ: header_section, form: nil)
    - champs.each do |champ_or_section|
      - if !champ_or_section.is_a?(EditableChamp::ChampsSubtreeComponent)
        = render EditableChamp::FieldsForChampComponent.new(champ: champ_or_section, seen_at: nil)
      - else
        = render champ_or_section
- else
  - if header_section
    = render EditableChamp::HeaderSectionComponent.new(champ: header_section, form: nil)
  - champs.each do |champ_or_section|
    - if !champ_or_section.is_a?(EditableChamp::ChampsSubtreeComponent)
      = render EditableChamp::FieldsForChampComponent.new(champ: champ_or_section, seen_at: nil)
    - else
      = render champ_or_section
