%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  - number_of_groups = @group.procedure.groupe_instructeurs.many? ? 'many_groups' : 'one_group'
  = t(".email_body.#{number_of_groups}",
      groupe: @group.label,
      email: @current_instructeur_email,
      procedure: @group.procedure.libelle,
      procedure_url: instructeur_procedure_url(@group.procedure))

%p
  Votre compte a été créé pour l'adresse email
  %strong #{@instructeur.email}.

%p
  Pour l’activer, cliquez sur le lien suivant : 
  = link_to(users_activate_url(token: @reset_password_token), users_activate_url(token: @reset_password_token))

%p
  Lors de vos prochaines connexions sur #{Current.application_name} cliquez sur le bouton « Se connecter » positionné sur le haut de page ou bien sur ce lien : 
  = link_to new_user_session_url, new_user_session_url

%p
  Nous vous invitons aussi à consulter notre tutoriel à destination des nouveaux instructeurs :
  = link_to(INSTRUCTEUR_TUTORIAL_URL, INSTRUCTEUR_TUTORIAL_URL)


= render partial: "layouts/mailers/signature"
