%p
  Bonjour,

%p
  Vous avez demandé un export des dossiers de la procédure nº #{@procedure.id} « #{@procedure.libelle} » au format #{@export_format}.

%p
  Cliquez sur le lien ci-dessous pour le télécharger :
  = link_to('Télécharger l\'export des dossiers', download_export_instructeur_procedure_url(@procedure, :export_format => @export_format))

= render partial: "layouts/mailers/signature"
