- content_for(:title, 'Votre archive est disponible')

%p
  Bonjour,

%p
  Votre archive pour la démarche
  = link_to("#{@procedure.id} − #{@procedure.libelle}", instructeur_procedure_url(@procedure.id))
  est disponible.
  Vous pouvez la télécharger dans votre espace de gestion des archives.

%p
  = round_button('Consulter mes archives', instructeur_archives_url(@procedure), :primary)

%p
  Ce fichier est
  %b valide #{distance_of_time_in_words(Archive::RETENTION_DURATION)}
  et peut-être téléchargé
  %b plusieurs fois.

= render partial: "layouts/mailers/signature"
