- content_for(:title, 'Du nouveau sur vos démarches')

%p
  Bonjour,

%p
  Vous avez du nouveau sur #{Current.application_name} depuis
  = Date.today.monday? ? "vendredi dernier" : "hier"

%ul
  - @data.each do |datum|
    %li
      = link_to(datum[:procedure_libelle], instructeur_procedure_url(datum[:procedure_id]))
      - if datum[:nb_en_construction] > 0
        %br
        #{datum[:nb_en_construction]} #{'dossier'.pluralize(datum[:nb_en_construction])} en construction
      - if datum[:nb_notification] > 0
        %br
        #{datum[:nb_notification]} #{'dossier'.pluralize(datum[:nb_notification])} avec des notifications "nouveautés"
      - if datum[:nb_en_instruction] > 0
        %br
        #{datum[:nb_en_instruction]} #{'dossier'.pluralize(datum[:nb_en_instruction])} en instruction
      - if datum[:nb_accepted] > 0
        %br
        #{datum[:nb_accepted]} #{'dossier'.pluralize(datum[:nb_accepted])} #{'accepté'.pluralize(datum[:nb_accepted])}


= render partial: "layouts/mailers/signature"
