- content_for(:title, t('views.legal_notice.title'))
- content_for :footer do
  = render partial: "root/footer"

#legal-notice.fr-pt-2w
  .fr-container.fr-my-4w
    .fr-grid-row
      .fr-col-xl-2
      .fr-col-xl-8
        %h1.fr-mb-4w
          = t('views.legal_notice.title')

        .fr-mb-4w
          %h2
            = t('views.legal_notice.editing')
          %p
            = t('views.legal_notice.editing_content.line_one')
            %br
            = t('views.legal_notice.editing_content.line_two')
            %br
            = t('views.legal_notice.editing_content.line_three')

        .fr-mb-4w
          %h2
            = t('views.legal_notice.direction')
          %p.fr-mb-2w= t('views.legal_notice.direction_content')

        .fr-mb-4w
          %h2
            = t('views.legal_notice.hosting')
          %h3
            = t('views.legal_notice.hosting_content.firm')
          %dl.pl-0
            .flex
              %dt= t('views.legal_notice.hosting_content.RCS_term')
              %dd= t('views.legal_notice.hosting_content.RCS_value')
            .flex
              %dt= t('views.legal_notice.hosting_content.APE_term')
              %dd= t('views.legal_notice.hosting_content.APE_value')
            .flex
              %dt= t('views.legal_notice.hosting_content.TVA_term_html')
              %dd= t('views.legal_notice.hosting_content.TVA_value')
            .flex
              %dt= t('views.legal_notice.hosting_content.headquarters_term')
              %dd= t('views.legal_notice.hosting_content.headquarters_value')
