.champs-group{ id: "safe-row-selector-#{row_id}" }
  - if @types_de_champ.size > 1
    %fieldset.fr-mx-0.fr-px-0
      %legend.fr-px-0= "#{@type_de_champ.libelle} #{row_number}"
      = render section_component
  - else
    = render section_component

  .flex.row-reverse
    = render NestedForms::OwnedButtonComponent.new(formaction: champs_repetition_path(@dossier, @type_de_champ.stable_id, row_id:), http_method: :delete, opt: { class: "fr-btn fr-btn--sm fr-btn--tertiary fr-icon-delete-bin-line fr-btn--icon-left utils-repetition-required-destroy-button", title: t(".delete_title", row_number:), "aria-label": t(".delete_label", row_number:)}) do
      = t(".delete", libelle: @type_de_champ.libelle, row_number:)
