.champs-group{ id: "safe-row-selector-#{row_id}" }
  - if has_fieldset?
    %fieldset.fr-mx-0.fr-px-0
      %legend.fr-px-0{ id: fieldset_legend_id }= "#{@type_de_champ.libelle} #{row_number}"
      = render section_component
  - else
    = render section_component

  .flex.row-reverse
    = render NestedForms::OwnedButtonComponent.new(formaction: champs_repetition_path(@dossier, @type_de_champ.stable_id, row_id:), http_method: :delete, opt: { class: "fr-btn fr-btn--sm fr-btn--tertiary fr-text-action-high--red-marianne utils-repetition-required-destroy-button" }) do
      = t(".delete", libelle: @type_de_champ.libelle, row_number:)
