- row_id = "safe-row-selector-#{@row.first.row_id}"
.row{ id: row_id }
  - @row.each do |champ|
    = fields_for champ.input_name, champ do |form|
      = render EditableChamp::EditableChampComponent.new form: form, champ: champ, seen_at: @seen_at

  .flex.row-reverse{ 'data-turbo': 'true' }
    = button_tag(name: "action", formaction: champs_repetition_path(@champ.id, row_id: @row.first.row_id), class: "fr-btn fr-btn--sm fr-btn--tertiary fr-text-action-high--red-marianne", title: t(".delete_title", row_number: @champ.rows.find_index(@row)), form: EditableChamp::DeleteFormRepetitionRowComponent.form_id) do
      = t(".delete")
