<div id="safe-row-selector-<%= row_id %>" class="repetition-row">
  <% if has_fieldset? %>
    <div class="width-100 champs-group fr-p-0 fr-m-0">
      <%= render Dsfr::AccordionComponent.new(id: "#{@champ.html_id}-#{row_id}-accordion", expanded: @expanded, accordion_tag: :fieldset, title_tag: :legend, title_id: repetition_row_fieldset_legend_id(@champ, row_id)) do |accordion| %>
        <% accordion.with_title do %>
          <strong>
            [<%= row_number %>]
          </strong>
          &nbsp;
          <%= @type_de_champ.libelle %>
        <% end %>
        <%= render section_component %>

        <div class="flex row-reverse">
          <%= delete_button %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="champs-group fr-m-0">
      <%= render section_component %>

      <div class="flex row-reverse">
        <%= delete_button %>
      </div>
    </div>
  <% end %>
</div>
