<div id="safe-row-selector-<%= row_id %>" class="repetition-row">
  <% if has_fieldset? %>
    <div class="champs-group fr-p-0">
      <%= render Dsfr::AccordionComponent.new(id: "#{@champ.html_id}-#{row_id}-accordion", expanded: true, title_tag: :legend) do |accordion| %>
        <% accordion.with_title do %>
          <strong>
            [<%= row_number %>]
          </strong>
          &nbsp;
          <%= @type_de_champ.libelle %>
        <% end %>
        <%= render section_component %>

        <div class="flex row-reverse">
          <%= render NestedForms::OwnedButtonComponent.new(formaction: champs_repetition_path(@dossier, @type_de_champ.stable_id, row_id:), http_method: :delete, opt: { class: "fr-btn fr-btn--sm fr-btn--tertiary fr-icon-delete-bin-line fr-btn--icon-left utils-repetition-required-destroy-button" }) do %>
            <%= t(".delete", libelle: @type_de_champ.libelle, row_number:) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="champs-group">
      <%= render section_component %>

      <div class="flex row-reverse">
        <%= render NestedForms::OwnedButtonComponent.new(formaction: champs_repetition_path(@dossier, @type_de_champ.stable_id, row_id:), http_method: :delete, opt: { class: "fr-btn fr-btn--sm fr-btn--tertiary fr-icon-delete-bin-line fr-btn--icon-left utils-repetition-required-destroy-button" }) do %>
          <%= t(".delete", libelle: @type_de_champ.libelle, row_number:) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
