- if render_within_fieldset?
  = tag.fieldset(class: "reset-#{tag_for_depth}") do
    = tag.legend do
      = render EditableChamp::HeaderSectionComponent.new(champ: header_section)
    - splitted_tail.each do |section, champ|
      - if section.present?
        = render section
      - else
        = fields_for champ.input_name, champ do |form|
          = render EditableChamp::EditableChampComponent.new form: ,champ:
- else
  - if header_section
    = render EditableChamp::HeaderSectionComponent.new(champ: header_section)
  - splitted_tail.each do |section, champ|
    - if section.present?
      = render section
    - else
      = fields_for champ.input_name, champ do |form|
        = render EditableChamp::EditableChampComponent.new form: ,champ:
