- if render_within_fieldset?
  .fr-fieldset__element{ class: class_names("fr-my-0" => render_within_fieldset?) }
    %fieldset.fr-fieldset.fr-my-0{ class: "reset-#{tag_for_depth}" }
      %legend.fr-fieldset__legend
        = render EditableChamp::HeaderSectionComponent.new(champ: header_section)
      - splitted_tail.each do |section, champ|
        - if section.present?
          = render section
        - else
          = fields_for champ.input_name, champ do |form|
            = render EditableChamp::EditableChampComponent.new form:, champ:, aria_labelledby_prefix: @aria_labelledby_prefix
- else
  - if header_section
    .fr-fieldset__legend.fr-my-0{ class: "reset-#{tag_for_depth}" }
      = render EditableChamp::HeaderSectionComponent.new(champ: header_section)
  - splitted_tail.each do |section, champ|
    - if section.present?
      = render section
    - else
      = fields_for champ.input_name, champ do |form|
        = render EditableChamp::EditableChampComponent.new form:, champ:, row_number: @row_number, aria_labelledby_prefix: @aria_labelledby_prefix
