%span.dropdown{ data: { controller: 'menu-button', popover: 'true' } }
  %button.button.dropdown-button{ data: { menu_button_target: 'button' } }
    = t('views.instructeurs.dossiers.filters.title')
  #filter-menu.dropdown-content.left-aligned.fade-in-down{ data: { menu_button_target: 'menu' } }
    = render Dossiers::FilterComponent.new(procedure: procedure, procedure_presentation: @procedure_presentation, statut: statut)

- current_filters.group_by { |filter| filter['table'] }.each_with_index do |(table, filters), i|
  - if i > 0
    et
  - filters.each_with_index do |filter, i|
    - if i > 0
      ou
    %span.filter
      = link_to remove_filter_instructeur_procedure_path(procedure, { statut: statut, field: "#{filter['table']}/#{filter['column']}", value: filter['value'] }) do
        %img.close-icon{ src: image_url("close.svg") }
      = "#{filter['label'].truncate(50)} : #{procedure_presentation.human_value_for_filter(filter)}"
