- if procedure.dossiers.state_not_brouillon.any?
  %span.dropdown
    %button.button.dropdown-button
      Télécharger tous les dossiers
    .dropdown-content.fade-in-down{ style: 'width: 330px' }
      %ul.dropdown-items
        - [[xlsx_export, :xlsx], [csv_export, :csv], [ods_export, :ods]].each do |(export, format)|
          %li
            - if export.nil?
              = link_to "Demander un export au format .#{format}", download_export_instructeur_procedure_path(procedure, export_format: format), remote: true
            - elsif export.ready?
              = link_to "Télécharger l'export au format .#{format}", url_for(export.file), target: "_blank", rel: "noopener"
            - else
              L'export au format .#{format} est en cours de préparation
