- if procedure.dossiers.state_not_brouillon.any?
  %span.dropdown
    %button.button.dropdown-button
      Télécharger tous les dossiers
    - old_format_limit_date = Date.parse("Oct 31 2019")
    - export_v1_enabled = old_format_limit_date > Time.zone.today
    - export_v2_enabled = Flipper[:procedure_export_v2_enabled] || !export_v1_enabled
    .dropdown-content.fade-in-down{ style: !export_v1_enabled ? 'width: 330px' : '' }
      %ul.dropdown-items
        - if export_v2_enabled
          %li
            - if procedure.xlsx_export_stale?
              - if procedure.xlsx_export_queued?
                L'export au format .xlsx est en cours de préparation, vous recevrez un email lorsqu'il sera disponible.
              - else
                = link_to "Exporter au format .xlsx", download_export_instructeur_procedure_path(procedure, export_format: :xlsx), remote: true
            - else
              = link_to "Au format .xlsx", url_for(procedure.xlsx_export_file), target: "_blank", rel: "noopener"
          %li
            - if procedure.ods_export_stale?
              - if procedure.ods_export_queued?
                L'export au format .ods est en cours de préparation, vous recevrez un email lorsqu'il sera disponible.
              - else
                = link_to "Exporter au format .ods", download_export_instructeur_procedure_path(procedure, export_format: :ods), remote: true
            - else
              = link_to "Au format .ods", url_for(procedure.ods_export_file), target: "_blank", rel: "noopener"
          %li
            - if procedure.csv_export_stale?
              - if procedure.csv_export_queued?
                L'export au format .csv est en cours de préparation, vous recevrez un email lorsqu'il sera disponible.
              - else
                = link_to "Exporter au format .csv", download_export_instructeur_procedure_path(procedure, export_format: :csv), remote: true
            - else
              = link_to "Au format .csv", url_for(procedure.csv_export_file), target: "_blank", rel: "noopener"
        - if export_v1_enabled
          - old_format_message = "(ancien format, jusqu’au #{old_format_limit_date.strftime('%d/%m/%Y')})"
          %li
            = link_to "Au format .xlsx #{old_format_message}", procedure_dossiers_download_path(procedure, format: :xlsx, version: 'v1'), target: "_blank", rel: "noopener"
          %li
            = link_to "Au format .ods #{old_format_message}", procedure_dossiers_download_path(procedure, format: :ods, version: 'v1'), target: "_blank", rel: "noopener"
          %li
            = link_to "Au format .csv #{old_format_message}", procedure_dossiers_download_path(procedure, format: :csv, version: 'v1'), target: "_blank", rel: "noopener"
