- if display == 'true'
  .fr-container{ id: "notifications-container-#{procedure_id}", class: 'fr-my-1w fr-px-0' }
    .fr-container.fr-background-alt--grey.fr-p-1w{ data: { controller: 'truncate-notifications' } }
      - notifications.each.with_index do |(statut, notifications_statut), index|
        - if index != 0
          .fr-hr.fr-pb-1w.fr-mt-1w
        %p.font-weight-bold.fr-mr-2w.fr-mb-1w
          = t("instructeurs.procedures.index.statuts.#{statut}")

        - notifications_statut.each do |type, notifications_type|
          .flex.align-center.fr-mt-1w.notification-container-type
            .fr-col-3.notification-badge
              = tag_notification(notifications_type.first, generic: true)

            .fr-col-9.flex.align-center.notification-dossiers
              - notifications_type.each.with_index do |notification, index|
                .flex.align-center.notification-dossier
                  .fr-link.fr-link--sm.fr-mr-1w
                    = link_to notification.dossier_id, instructeur_dossier_path(procedure_id, notification.dossier_id)
                  .fr-mb-0
                    %span.no-wrap.fr-text--sm
                      = notification.dossier.owner_name
                  - if index != (notifications_type.size - 1)
                    .fr-mx-2w
                      |
              %span.no-wrap.fr-text--sm.fr-text--bold.fr-mb-0.notification-indicator
- else
  .fr-container{ id: "notifications-container-#{procedure_id}" }
