%nav.fr-tabs.mt-3{ role: 'navigation', 'aria-label': t('views.instructeurs.procedure_menu', id: procedure.id) }
  %ul.fr-tabs__list.fr-pl-0
    = tab_item(i18n_tab_from_status('a-suivre'),
      instructeur_procedure_path(procedure, statut: 'a-suivre'),
      active: statut == 'a-suivre',
      badge: number_with_html_delimiter(a_suivre_count),
      notification: statut_with_notifications[:a_suivre])

    = tab_item(i18n_tab_from_status('suivis'),
      instructeur_procedure_path(procedure, statut: 'suivis'),
      active: statut == 'suivis',
      badge: number_with_html_delimiter(suivis_count),
      notification: statut_with_notifications[:suivis])

    = tab_item(i18n_tab_from_status('traites'),
      instructeur_procedure_path(procedure, statut: 'traites'),
      active: statut == 'traites',
      badge: number_with_html_delimiter(traites_count),
      notification: statut_with_notifications[:traites])

    = tab_item(i18n_tab_from_status('tous'),
      instructeur_procedure_path(procedure, statut: 'tous'),
      active: statut == 'tous',
      badge: number_with_html_delimiter(tous_count))

    - if procedure.procedure_expires_when_termine_enabled
      = tab_item(i18n_tab_from_status('expirant'),
        instructeur_procedure_path(procedure, statut: 'expirant'),
        active: statut == 'expirant',
        badge: number_with_html_delimiter(expirant_count))

    = tab_item(i18n_tab_from_status('archives'),
      instructeur_procedure_path(procedure, statut: 'archives'),
      active: statut == 'archives',
      html_class: 'fr-icon-folder-2-line fr-tabs__tab--icon-left')

    = tab_item(i18n_tab_from_status('supprimes'),
      instructeur_procedure_path(procedure, statut: 'supprimes'),
      active: statut == 'supprimes',
      html_class: 'fr-icon-delete-line fr-tabs__tab--icon-left')
