- content_for(:title, "#{@procedure.libelle}")

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                    ['Historique des dossiers supprimés']] }

.fr-container
  .fr-mb-3w
    = link_to "Retour à la démarche", instructeur_procedure_path(@procedure), class: "fr-link fr-icon-arrow-left-line fr-link--icon-left"
  %h1.titre-dossiers Historique des dossiers supprimés

  - if @deleted_dossiers.any?
    = render Dsfr::CalloutComponent.new(title: nil) do |c|
      - c.with_body do
        %p Les dossiers ont été supprimés. Vous ne pouvez plus les récupérer depuis Démarches Simplifiées.
        Ceci s'explique pour les raisons suivantes :
        %ul
          %li L’utilisateur a intentionnellement supprimé son dossier.
          %li Le délai de conservation maximal de #{@procedure.duree_conservation_dossiers_dans_ds} mois a expiré. Conformément au règlement RGPD, DS ne peut continuer à les héberger.
      = paginate @deleted_dossiers, views_prefix: 'shared'
    .fr-table.fr-table--layout-fixed.fr-mt-3w
      %table
        %thead
          %tr
            %th.number-col N° dossier
            %th Raison de suppression
            %th Date de suppression
        %tbody
          - @deleted_dossiers.each do |deleted_dossier|
            %tr
              %td.number-col
                = deleted_dossier.dossier_id
              %td
                = deletion_reason_badge(deleted_dossier.reason)
              %td.deleted-cell
                = l(deleted_dossier.deleted_at, format: '%d/%m/%y')
    = paginate @deleted_dossiers, views_prefix: 'shared'
  - else
    Aucun dossier supprimé
