- content_for(:title, "#{@procedure.libelle}")

#procedure-show
  .sub-header
    .container.flex

      .procedure-logo{ style: "background-image: url(#{@procedure.logo_url})",
        role: 'img', 'aria-label': "logo de la démarche #{@procedure.libelle}" }

      = render partial: 'header', locals: { procedure: @procedure, statut: @statut }

      .procedure-actions
        - if @can_download_dossiers
          = render Dossiers::ExportComponent.new(procedure: @procedure, exports: @exports, export_url: method(:download_export_instructeur_procedure_path))

    .container.flex= render partial: "tabs", locals: { procedure: @procedure,
        statut: @statut,
        a_suivre_count: @a_suivre_count,
        suivis_count: @suivis_count,
        traites_count: @traites_count,
        tous_count: @tous_count,
        supprimes_recemment_count: @supprimes_recemment_count,
        archives_count: @archives_count,
        expirant_count: @expirant_count,
        has_en_cours_notifications: @has_en_cours_notifications,
        has_termine_notifications: @has_termine_notifications }

  .container
    %h1.titre-dossiers Dossiers supprimés
    %details.explication-onglet
      %summary Les dossiers ont été supprimés. Vous ne pouvez plus les récupérer depuis Démarches Simplifiées.
      Ceci s'explique pour les raisons suivantes :
      %ul
        %li L’utilisateur a intentionnellement supprimé son dossier.
        %li Le délai de conservation maximal de #{@procedure.duree_conservation_dossiers_dans_ds} mois a expiré. Conformément au règlement RGPD, DS ne peut continuer à les héberger.
    - if @deleted_dossiers.any?
      = paginate @deleted_dossiers
      %table.table.dossiers-table.hoverable
        %thead
          %tr
            %th.notification-col
            %th.number-col N° dossier
            %th Raison de suppression
            %th Date de suppression
        %tbody
          - @deleted_dossiers.each do |deleted_dossier|
            %tr
              %td.text-center
                %span.icon.folder
              %td.number-col
                = deleted_dossier.dossier_id
              %td
                = deletion_reason_badge(deleted_dossier.reason)
              %td.deleted-cell
                = l(deleted_dossier.deleted_at, format: '%d/%m/%y')
      = paginate @deleted_dossiers
    - else
      Aucun dossier supprimé
