- content_for(:title, "Notifications pour #{@procedure.libelle}")

.sub-header
  .fr-container.flex.column
    = render partial: 'instructeurs/breadcrumbs',
      locals: { steps: [[t('show_procedure', scope: [:layouts, :breadcrumb], libelle: @procedure.libelle.truncate(22)), instructeur_procedure_path(@procedure)],
                        [t('instructeurs.dossiers.header.banner.notification_management')]] }
    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }


.fr-container
  %h1.fr-h4
    = t('.title')

  = form_for @assign_to, url: update_email_notifications_instructeur_procedure_path(@procedure), html: { class: 'form' } do |form|
    = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          = t('.subtitle')

    %fieldset.fr-fieldset
      %legend.fr-fieldset__legend
        = t(".for_each_file_submitted.title")
        %span.fr-hint-text= t('.for_each_file_submitted.notice_1')
        %span.fr-hint-text= t('.for_each_file_submitted.notice_2')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :instant_email_dossier_notifications_enabled, true, id: 'instant_email_dossier_notifications_true'
          %label.fr-label{ for: 'instant_email_dossier_notifications_true' }
            = t('.utils.positive')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :instant_email_dossier_notifications_enabled, false, id: 'instant_email_dossier_notifications_false'
          %label.fr-label{ for: 'instant_email_dossier_notifications_false' }
            = t('.utils.negative')


    %fieldset.fr-fieldset
      %legend.fr-fieldset__legend
        = t(".for_each_message_submitted.title")
        %span.fr-hint-text= t('.for_each_message_submitted.notice_1')
        %span.fr-hint-text= t('.for_each_message_submitted.notice_2')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :instant_email_message_notifications_enabled, true, id: 'instant_email_message_notifications_true'
          %label.fr-label{ for: 'instant_email_message_notifications_true' }
            = t('.utils.positive')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :instant_email_message_notifications_enabled, false, id: 'instant_email_message_notifications_false'
          %label.fr-label{ for: 'instant_email_message_notifications_false' }
            = t('.utils.negative')


    %fieldset.fr-fieldset
      %legend.fr-fieldset__legend
        = t(".daily_notifications.title")
        %span.fr-hint-text= t('.daily_notifications.notice_1')
        %span.fr-hint-text= t('.daily_notifications.notice_2')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :daily_email_notifications_enabled, true, id: 'daily_email_notifications_true'
          %label.fr-label{ for: 'daily_email_notifications_true' }
            = t('.utils.positive')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :daily_email_notifications_enabled, false, id: 'daily_email_notifications_false'
          %label.fr-label{ for: 'daily_email_notifications_false' }
            = t('.utils.negative')

    %fieldset.fr-fieldset
      %legend.fr-fieldset__legend
        = t(".hebdo_recap.title")
        %span.fr-hint-text= t('.hebdo_recap.notice_1')
        %span.fr-hint-text= t('.hebdo_recap.notice_2')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :weekly_email_notifications_enabled, true, id: 'weekly_email_notifications_true'
          %label.fr-label{ for: 'weekly_email_notifications_true' }
            = t('.utils.positive')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :weekly_email_notifications_enabled, false, id: 'weekly_email_notifications_false'
          %label.fr-label{ for: 'weekly_email_notifications_false' }
            = t('.utils.negative')


    %fieldset.fr-fieldset
      %legend.fr-fieldset__legend
        = t(".avis_notifications.title")
        %span.fr-hint-text= t('.avis_notifications.notice_1')
        %span.fr-hint-text= t('.avis_notifications.notice_2')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :instant_expert_avis_email_notifications_enabled, true, id: 'instant_expert_avis_email_notifications_true'
          %label.fr-label{ for: 'instant_expert_avis_email_notifications_true' }
            = t('.utils.positive')
      .fr-fieldset__element.fr-fieldset__element--inline
        .fr-radio-group
          = form.radio_button :instant_expert_avis_email_notifications_enabled, false, id: 'instant_expert_avis_email_notifications_false'
          %label.fr-label{ for: 'instant_expert_avis_email_notifications_false' }
            = t('.utils.negative')


    %ul.fr-btns-group.fr-btns-group--inline
      %li= form.submit t('.buttons.save'), class: "fr-btn"
      %li= link_to t('.buttons.back_to_procedure'), instructeur_procedure_path(@procedure), class: 'fr-btn fr-btn--secondary fr-mr-2w'
