- content_for(:title, "Notifications pour #{@procedure.libelle}")

= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to(@procedure.libelle, instructeur_procedure_path(@procedure)),
                    'Notifications'] }

.container
  %h1 Notifications par email

  = form_for @assign_to, url: update_email_notifications_instructeur_procedure_path(@procedure), html: { class: 'form' } do |form|
    .explication
      Configurez sur cette page les notifications que vous souhaitez recevoir par email pour cette démarche.

    = form.label :email_notification, "Recevoir une notification à chaque dossier déposé"

    %p.notice
      Cet email vous signale le dépôt d'un nouveau dossier.
    %p.notice
      Il est envoyé à chaque fois qu'un usager dépose un dossier.

    .radios
      %label
        = form.radio_button :instant_email_dossier_notifications_enabled, true
        Oui

      %label
        = form.radio_button :instant_email_dossier_notifications_enabled, false
        Non

    = form.label :email_notification, "Recevoir une notification à chaque message déposé"

    %p.notice
      Cet email vous signale le dépôt d'un nouveau message sur vos dossiers suivis.
    %p.notice
      Il est envoyé à chaque fois qu'un usager dépose un message.

    .radios
      %label
        = form.radio_button :instant_email_message_notifications_enabled, true
        Oui

      %label
        = form.radio_button :instant_email_message_notifications_enabled, false
        Non

    = form.label :email_notification, "Recevoir une notification quotidienne"

    %p.notice
      Cet email vous signale le dépôt de nouveaux dossiers sur cette démarche, ou des changements sur vos dossiers suivis.
    %p.notice
      Il est envoyé une fois par jour, du lundi au samedi, vers 8 h du matin.

    .radios
      %label
        = form.radio_button :daily_email_notifications_enabled, true
        Oui

      %label
        = form.radio_button :daily_email_notifications_enabled, false
        Non

    = form.label :email_notification, "Recevoir un récapitulatif hebdomadaire"
    %p.notice
      Cet email récapitule l’activité de la semaine sur l’ensemble de vos démarches.
    %p.notice
      Il est envoyé chaque semaine le lundi matin.

    .radios
      %label
        = form.radio_button :weekly_email_notifications_enabled, true
        Oui
      %label
        = form.radio_button :weekly_email_notifications_enabled, false
        Non

    .send-wrapper
      = link_to "Revenir à la procédure", instructeur_procedure_path(@procedure), class: 'button mr-1'
      = form.submit "Enregistrer", class: "button primary"
