- content_for(:title, "Contacter les usagers pour #{@procedure.libelle}")

.sub-header
  .fr-container.flex.column
    = render partial: 'instructeurs/breadcrumbs',
      locals: { steps: [[t('show_procedure', scope: [:layouts, :breadcrumb], libelle: @procedure.libelle.truncate(22)), instructeur_procedure_path(@procedure)],
                        [t('instructeurs.dossiers.header.banner.contact_users')]] }
    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }

.messagerie.fr-container
  %h1.fr-h4= t('instructeurs.dossiers.header.banner.contact_users')

  - if @dossiers_count_per_groupe_instructeur.values.sum.positive?
    = render Instructeurs::BulkMessageFormComponent.new(current_instructeur:, procedure: @procedure, dossiers_count_per_groupe_instructeur: @dossiers_count_per_groupe_instructeur)
  - else
    .page-title.center
      %h2 Il n’y a aucun dossier en brouillon

  - if @bulk_messages.present?
    %section.list-avis.mt-8
      %h2.tab-title
        Messages envoyés précédemment
        %span.fr-badge= @bulk_messages.count

      %ul
        - @bulk_messages.each do |message|
          %li
            %b
              = message.instructeur.email
              a envoyé ce message à #{message.dossier_count} usagers le #{message.sent_at.strftime('%d/%m/%y à %H:%M')}
            %p= message.body
