- content_for(:title, "Notifications pour #{@procedure.libelle}")

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle, instructeur_procedure_path(@procedure)],
                    ['Notifications']] }

.container
  %h1
    = t('.title')

  = form_for @assign_to, url: update_email_notifications_instructeur_procedure_path(@procedure), html: { class: 'form' } do |form|
    .explication
      = t('.subtitle')

    = form.label :email_notification, t('.for_each_file_submitted.title')

    %p.notice
      = t('.for_each_file_submitted.notice_1')
    %p.notice
      = t('.for_each_file_submitted.notice_2')

    .radios
      %label
        = form.radio_button :instant_email_dossier_notifications_enabled, true
        = t('.utils.positive')

      %label
        = form.radio_button :instant_email_dossier_notifications_enabled, false
        = t('.utils.negative')

    = form.label :email_notification, t('.for_each_message_submitted.title')

    %p.notice
      = t('.for_each_message_submitted.notice_1')
    %p.notice
      = t('.for_each_message_submitted.notice_2')

    .radios
      %label
        = form.radio_button :instant_email_message_notifications_enabled, true
        = t('.utils.positive')

      %label
        = form.radio_button :instant_email_message_notifications_enabled, false
        = t('.utils.negative')

    = form.label :email_notification, t('.daily_notifications.title')

    %p.notice
      = t('.daily_notifications.notice_1')
    %p.notice
      = t('.daily_notifications.notice_2')

    .radios
      %label
        = form.radio_button :daily_email_notifications_enabled, true
        = t('.utils.positive')

      %label
        = form.radio_button :daily_email_notifications_enabled, false
        = t('.utils.negative')

    = form.label :email_notification, t('.hebdo_recap.title')
    %p.notice
      = t('.hebdo_recap.notice_1')
    %p.notice
      = t('.hebdo_recap.notice_2')

    .radios
      %label
        = form.radio_button :weekly_email_notifications_enabled, true
        = t('.utils.positive')
      %label
        = form.radio_button :weekly_email_notifications_enabled, false
        = t('.utils.negative')

    .send-wrapper
      = link_to t('.buttons.back_to_procedure'), instructeur_procedure_path(@procedure), class: 'button mr-1'
      = form.submit t('.buttons.save'), class: "button primary"
