- title = "Exports · #{@procedure.libelle}"
- content_for(:title, title)

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                    [t('.title')]] }

.fr-container
  .fr-tabs.mb-3
    %ul.fr-tabs__list{ role: 'tablist' }
      %li{ role: 'presentation' }
        %button.fr-tabs__tab.fr-tabs__tab--icon-left{ id: "tabpanel-exports", tabindex: "0", role: "tab", "aria-selected": "true", "aria-controls": "tabpanel-exports-panel" } Liste des exports

      - if @procedure.feature_enabled?(:export_template)
        %li{ role: 'presentation' }
          %button.fr-tabs__tab.fr-tabs__tab--icon-left{ id: "tabpanel-export-templates", tabindex: "-1", role: "tab", "aria-selected": "false", "aria-controls": "tabpanel-export-templates-panel" } Modèles d'export

    .fr-tabs__panel.fr-tabs__panel--selected{ id: "tabpanel-exports-panel", role: "tabpanel", "aria-labelledby": "tabpanel-exports", tabindex: "0" }
      = render Dsfr::CalloutComponent.new(title: nil) do |c|
        - c.with_body do
          %p= t('.export_description', expiration_time: Export::MAX_DUREE_CONSERVATION_EXPORT.in_hours.to_i)

      - if @exports.present?
        %div{ data: @exports.any?(&:pending?) ? { controller: "turbo-poll", turbo_poll_url_value: "", turbo_poll_interval_value: 10_000, turbo_poll_max_checks_value: 6 } : {} }
          = render Dossiers::ExportLinkComponent.new(procedure: @procedure, exports: @exports, statut: @statut, count: @dossiers_count, class_btn: 'fr-btn--tertiary', export_url: method(:download_export_instructeur_procedure_path))

        - if @exports.any?{_1.format == Export.formats.fetch(:zip)}
          = render Dsfr::AlertComponent.new(title: t('.title_zip'), state: :info, extra_class_names: 'fr-mb-3w') do |c|
            - c.with_body do
              %p= t('.export_description_zip_html')

      - else
        = t('.no_export_html', expiration_time: Export::MAX_DUREE_CONSERVATION_EXPORT.in_hours.to_i )

    - if @procedure.feature_enabled?(:export_template)
      .fr-tabs__panel.fr-tabs__panel--selected{ id: "tabpanel-export-templates-panel", role: "tabpanel", "aria-labelledby": "tabpanel-export-templates", tabindex: "0" }
        = render Dsfr::AlertComponent.new(state: :info) do |c|
          - c.with_body do
            %p= t('.export_template_list_description_html')


        .fr-mt-5w
          = link_to t('.new_zip_export_template'), new_instructeur_procedure_export_template_path(@procedure), class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line fr-mr-1w"
          = link_to t('.new_tabular_export_template'), new_instructeur_procedure_export_template_path(@procedure, kind: 'tabular'), class: "fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"

        .fr-table.fr-table--no-caption.fr-table--layout-fixed.fr-mt-5w
          %table
            %thead
              %tr
                %th{ scope: 'col' } Nom du modèle
                %th{ scope: 'col' }= "Groupe instructeur" if @procedure.groupe_instructeurs.many?
                %th{ scope: "col" }
            %tbody
              - @export_templates.each do |export_template|
                %tr
                  %td= link_to export_template.name, [:edit, :instructeur, @procedure, export_template]
                  %td= export_template.groupe_instructeur.label if @procedure.groupe_instructeurs.many?
                  %td
