- content_for(:title, "Démarches")

.container
  %h1.page-title Démarches

  %ul.procedure-list
    - @procedures.each do |p|
      %li.procedure-item.flex.align-start
        = link_to(gestionnaire_procedure_path(p)) do
          .flex

            .procedure-logo{ style: p.logo.present? ? "background-image: url(#{p.logo.url})" : nil }

            .procedure-details
              %p.procedure-title
                = procedure_libelle p

              %ul.procedure-stats.flex
                %li
                  %object
                    = link_to(gestionnaire_procedure_path(p, statut: 'a-suivre')) do
                      - a_suivre_count = @dossiers_a_suivre_count_per_procedure[p.id] || 0
                      .stats-number
                        = a_suivre_count
                      .stats-legend
                        à suivre
                %li
                  %object
                    = link_to(gestionnaire_procedure_path(p, statut: 'suivis')) do
                      - if current_gestionnaire.notifications_per_procedure[p.id].present?
                        %span.notifications{ 'aria-label': "notifications" }
                      - followed_count = @followed_dossiers_count_per_procedure[p.id] || 0
                      .stats-number
                        = followed_count
                      .stats-legend
                        = t('pluralize.followed', count: followed_count)
                %li
                  %object
                    = link_to(gestionnaire_procedure_path(p, statut: 'traites')) do
                      - if current_gestionnaire.notifications_per_procedure(:termine)[p.id].present?
                        %span.notifications{ 'aria-label': "notifications" }
                      - termines_count = @dossiers_termines_count_per_procedure[p.id] || 0
                      .stats-number
                        = termines_count
                      .stats-legend
                        = t('pluralize.processed', count: termines_count)
                %li
                  %object
                    = link_to(gestionnaire_procedure_path(p, statut: 'tous')) do
                      - dossier_count = @dossiers_count_per_procedure[p.id] || 0
                      .stats-number
                        = dossier_count
                      .stats-legend
                        = t('pluralize.case', count: dossier_count)
                %li
                  %object
                    = link_to(gestionnaire_procedure_path(p, statut: 'archives')) do
                      - archived_count = @dossiers_archived_count_per_procedure[p.id] || 0
                      .stats-number
                        = archived_count
                      .stats-legend
                        = t('pluralize.archived', count: archived_count)

            - if p.archivee?
              .procedure-status
                %span.label Archivée
