- if current_instructeur.feature_enabled?(:notification)
  = render Dsfr::NoticeComponent.new(closable: true, data_attributes: { "data-notice-name" => "instr-recapitulatif-notifications" }) do |c|
    - c.with_title do
      Un récapitulatif des badges de notifications est maintenant affiché dès la liste de vos démarches : qu'en pensez-vous ?
    - c.with_desc do
      %br
    - c.with_link do
      = link_to "Donnez votre avis sur cette nouvelle fonctionnalité", "https://grist.numerique.gouv.fr/o/docs/forms/mcbcbSbS8eybwCmPmmkRKb/4", class: "fr-notice__link", **external_link_attributes

- content_for(:title, "Démarches")

.sub-header
  .fr-container
    .flex.fr-mb-2v
      %h1.fr-h3.fr-mb-0
        Démarches

        %span#synthese-button-wrapper{ data: { controller: "lazy-modal" } }
          %button.fr-btn.fr-btn--secondary{
            type: "button",
            aria: { controls: "synthese-modal-dialog" },
            data: { "fr-opened" => "false", "turbo-frame" => "synthese-modal", action: "lazy-modal#load" },
            src: synthese_instructeur_procedures_path,
          }
            = dsfr_icon('fr-icon-information-line', :sm, :mr)
            = "Synthèse des démarches"

          = turbo_frame_tag "synthese-modal", data: { "lazy-modal-target": "frame" } do
            %dialog.fr-modal#synthese-modal-dialog


      = render Instructeurs::TabsExplanationsComponent.new

    = render SelectProcedureDropDownListComponent.new(procedures: @procedures, action_path: url_for([:select_procedure, :instructeur, :procedures]), form_class: 'width-66 fr-mb-3w')

    %nav.fr-tabs{ role: 'navigation', 'aria-label': t('views.instructeurs.procedures_menu') }
      %ul.fr-tabs__list
        = tab_item(t('pluralize.en_cours', count: @procedures_en_cours_count), instructeur_procedures_path(statut: 'en-cours'), active: @statut == 'en-cours', badge: number_with_html_delimiter(@procedures_en_cours_count))
        = tab_item(t('pluralize.en_test', count: @procedures_draft_count), instructeur_procedures_path(statut: 'brouillons'), active: @statut == 'brouillons', badge: number_with_html_delimiter(@procedures_draft_count))
        = tab_item(t('pluralize.closed', count: @procedures_closes_count), instructeur_procedures_path(statut: 'archivees'), active: @statut == 'archivees', badge: number_with_html_delimiter(@procedures_closes_count))

.fr-container
  - if @statut == "en-cours"
    - collection = @procedures_en_cours

  - if @statut == "brouillons"
    - collection = @procedures_draft

  - if @statut == "archivees"
    - collection = @procedures_closes

  - if collection.present?
    = render Instructeurs::WarningBannerComponent.new(draft: @statut == "brouillons", single_procedure: false)
    .flex.justify-between.fr-mb-3w
      %h2.fr-h6.fr-m-0
        = page_entries_info collection
      - if (@statut == "en-cours" && @all_procedures_en_cours.size > 1)
        = link_to "Personnaliser l'ordre", order_positions_instructeur_procedures_path(collection_ids: @all_procedures_en_cours.map(&:id)), class: 'fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left fr-icon-settings-5-line'
    %ul.procedure-list.fr-pl-0
      = render partial: 'instructeurs/procedures/list',
        collection: collection,
        as: :p,
        locals: { dossiers_count_per_procedure: @dossiers_count_per_procedure,
          dossiers_a_suivre_count_per_procedure: @dossiers_a_suivre_count_per_procedure,
          dossiers_termines_count_per_procedure: @dossiers_termines_count_per_procedure,
          dossiers_expirant_count_per_procedure: @dossiers_expirant_count_per_procedure,
          followed_dossiers_count_per_procedure: @followed_dossiers_count_per_procedure,
          procedure_ids_with_notifications: @procedure_ids_with_notifications,
          notifications_counts_per_procedure: @notifications_counts_per_procedure }

    = paginate collection, views_prefix: 'shared'
