- content_for :title, "jeton « #{@name} » créé"

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Tableau de bord', tableau_de_bord_helper_path],
    [t('users.profil.show.profile'), profil_path],
    [t('administrateurs.api_tokens.nom.new_token')]] }

.fr-container.fr-mt-2w{ 'data-turbo': 'true' }
  %h1 Votre jeton est prêt

  %p
    Vous pouvez maintenant utiliser votre jeton pour accéder à vos données.<br>
    %b Attention, vous ne pourrez plus le consulter après avoir quitté cette page.

  %p{ data: { controller: 'clipboard', clipboard_text_value: @packed_token } }
    %code= @packed_token
    %button.fr-btn.fr-btn-primary.fr-btn-small.fr-ml-2w{ data: { action: 'clipboard#copy', clipboard_target: 'toHide' }, title: 'Copier dans le presse-papier' } Copier
    %button.fr-btn.fr-btn-primary.fr-btn-small.fr-ml-2w.hidden{ data: { clipboard_target: 'success' } } Copié !

  %p.fr-mt-4w Voici un premier exemple d'utilisation de votre jeton d'API. Il vous permet de récupérer le titre de l'une de vos démarches :

  .code-example{ data: { controller: 'clipboard', clipboard_text_value: @curl_command } }
    .example-header
      %span.lang bash
      %button.fr-btn.fr-btn--icon-left.fr-icon-clipboard-line.fr-btn--sm.fr-btn--tertiary-no-outline{ data: { action: 'clipboard#copy', clipboard_target: 'toHide' }, title: 'Copier dans le presse-papier' } Copier
      %button.fr-btn.fr-btn--icon-left.fr-icon-checkbox-line.fr-btn--sm.fr-btn--tertiary-no-outline.hidden{ data: { clipboard_target: 'success' } } Copié !
    %pre
      %code= @curl_command

  %p.fr-text--sm.fr-text-mention--grey
    Pour continuer, vous pouvez consulter
    = link_to("notre documentation sur l'API", API_DOC_URL, **external_link_attributes)

  %p.fr-mt-4w Résumé des informations du jeton :
  %ul
    %li
      %strong Nom du jeton :
      #{@api_token.name}
    %li
      %strong Accès :
      #{@api_token.write_access? ? 'lecture et écriture' : 'lecture'}
    %li
      %strong Démarches :
      = @api_token.full_access? ? 'toutes' : @api_token.procedures.map(&:libelle).join(', ')
    %li
      %strong Réseaux autorisés :
      = @api_token.authorized_networks.empty? ? 'tout internet' : @api_token.authorized_networks_for_ui
    %li
      %strong Date de fin de validité :
      - if @api_token.expires_at.present?
        %span= l(@api_token.expires_at, format: :long)
      - else
        %span aucune

    = link_to 'Retour au profil', profil_path, class: 'fr-btn fr-btn--secondary fr-mt-2w'
