- if @champ.options?
  = @form.select :primary_value,
    @champ.primary_options,
    {},
    { data: { secondary_options: @champ.secondary_options }, required: @champ.mandatory?, id: @champ.input_id, aria: { describedby: @champ.describedby_id } }

  .secondary{ class: @champ.has_secondary_options_for_primary? ? '' : 'hidden' }
    = @form.label :secondary_value, for: "#{@champ.input_id}-secondary" do
      = @champ.drop_down_secondary_libelle.presence || (@champ.libelle + ' : précisez')
      - if @champ.type_de_champ.mandatory?
        %span.mandatory *
    - if @champ.drop_down_secondary_description.present?
      .notice{ id: "#{@champ.describedby_id}-secondary" }= helpers.string_to_html(@champ.drop_down_secondary_description)
    = @form.select :secondary_value,
      @champ.secondary_options[@champ.primary_value],
      {},
      { data: { secondary: true }, disabled: !@champ.has_secondary_options_for_primary?, required: @champ.mandatory?, id: "#{@champ.input_id}-secondary", aria: { describedby: "#{@champ.describedby_id}-secondary" } }
  = @form.hidden_field :secondary_value, value: '', disabled: @champ.has_secondary_options_for_primary?
