.fr-fieldset__element.fr-mb-0
  .fr-select-group
    = render EditableChamp::ChampLabelComponent.new form: @form, champ: @champ, seen_at: @seen_at

    = @form.select :primary_value, @champ.primary_options, select_options, required: @champ.required?, class: 'fr-select fr-mb-3v', id: @champ.input_id, aria: { labelledby: labelledby_id, describedby: "#{@champ.describedby_id} #{@champ.error_id}" }, translate: 'no'

- if @champ.has_secondary_options_for_primary?
  .fr-fieldset__element
    .fr-select-group
      = @form.label :secondary_value, for: "#{@champ.input_id}-secondary", class: 'fr-label' do
        = @champ.drop_down_secondary_libelle.presence || "Valeur secondaire dépendant de la première"
        - if @champ.public?
          - if @champ.mandatory?
            = render EditableChamp::AsteriskMandatoryComponent.new
      - if @champ.drop_down_secondary_description.present?
        .fr-hint-text.fr-mb-1w{ id: "#{@champ.describedby_id}-secondary" }
          = render SimpleFormatComponent.new(@champ.drop_down_secondary_description, allow_a: true)
      = @form.select :secondary_value, @champ.secondary_options[@champ.primary_value], select_options, required: @champ.required?, class: 'fr-select', id: "#{@champ.input_id}-secondary", aria: { labelledby: labelledby_id, describedby: "#{@champ.describedby_id}-secondary" }, translate: 'no'
- else
  = @form.hidden_field :secondary_value, value: ''
