- content_for(:title, 'Activation de votre compte instructeur')

%p
  Bonjour,

%p
  Vous venez d'être nommé instructeur sur #{SITE_NAME}.

%p
  Votre compte a été créé pour l'adresse email #{@gestionnaire.email}. Pour l’activer, je vous invite à cliquer sur le lien suivant : 
  = link_to(gestionnaire_activate_url(token: @reset_password_token), gestionnaire_activate_url(token: @reset_password_token))

%p
  Par ailleurs, nous vous invitons à prendre quelques minutes pour consulter notre tutoriel à destination des nouveaux instructeurs :
  = link_to(INSTRUCTEUR_TUTORIAL_URL, INSTRUCTEUR_TUTORIAL_URL)

= render partial: "layouts/mailers/signature"
