- content_for(:title, @subject)

- @overview[:procedure_overviews].each_with_index do |procedure_overview, index|

  %h2{ style: 'font-size: 16px; font-weight: 300; margin: 25px 0 5px;' }
    #{procedure_overview.procedure.libelle}
    = link_to 'voir', gestionnaire_procedure_url(procedure_overview.procedure), style: 'color: #0069CC; font-size: 14px;'
  %table{ cellpadding: '0', cellspacing: '0', style: 'width: 100%; padding-bottom: 20px;' }
    %tbody

      - if procedure_overview.created_dossiers_count > 0
        %tr
          %td{ style: 'padding: 2px 0;' }
            %span{ style: 'font-weight: bold;' }= procedure_overview.created_dossiers_count
            = procedure_overview.created_dossier_description

      - if procedure_overview.dossiers_en_construction_count > 0
        %tr
          %td{ style: 'padding: 2px 0;' }
            %span{ style: 'font-weight: bold;' }= procedure_overview.dossiers_en_construction_count
            = procedure_overview.dossiers_en_construction_description
            - if procedure_overview.old_dossiers_en_construction.count > 0
              dont <span style='font-weight: bold; color: #FF5D60; padding: 2px 0;' >#{procedure_overview.old_dossiers_en_construction.count}</span> depuis plus de 7 jours
              - if procedure_overview.old_dossiers_en_construction.count < 6
                \:
                - old_dossiers_en_construction = procedure_overview.old_dossiers_en_construction.map do |old_dossier|
                  - link_to "nº #{old_dossier.id}", gestionnaire_dossier_url(procedure_overview.procedure, old_dossier), style: 'color: #0069CC;'
                - end.join(', ')
                = sanitize(old_dossiers_en_construction, attributes: %w(href style))

      - if procedure_overview.dossiers_en_instruction_count > 0
        %tr
          %td{ style: 'padding: 2px 0;' }
            %span{ style: 'font-weight: bold;' }= procedure_overview.dossiers_en_instruction_count
            = procedure_overview.dossiers_en_instruction_description
            - if procedure_overview.old_dossiers_en_instruction.count > 0
              dont <span style='font-weight: bold; color: #FF5D60; padding: 2px 0;' >#{procedure_overview.old_dossiers_en_instruction.count}</span> depuis plus de 7 jours
              - if procedure_overview.old_dossiers_en_instruction.count < 6
                \:
                - old_dossiers_en_instruction = procedure_overview.old_dossiers_en_instruction.map do |old_dossier|
                  - link_to "nº #{old_dossier.id}", gestionnaire_dossier_url(procedure_overview.procedure, old_dossier), style: 'color: #0069CC;'
                - end.join(', ')
                = sanitize(old_dossiers_en_instruction, attributes: %w(href style))

  - if index != (@overview[:procedure_overviews].count - 1)
    .spacer{ style: 'border-bottom: 1px solid #CCC; margin: 25px 0 30px;' }

= render partial: "layouts/mailers/signature"
