- content_for(:root_class, 'scroll-margins-for-sticky-footer')
= render 'main_navigation'

= render partial: 'gestionnaires/breadcrumbs',
  locals: { steps: [['Groupes gestionnaires', gestionnaire_groupe_gestionnaires_path],
                    ["#{@groupe_gestionnaire.name.truncate_words(10)}", gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire)],
                    ['Edit']] }

= render  NestedForms::FormOwnerComponent.new
= form_for @groupe_gestionnaire,
  url: url_for({ controller: 'gestionnaires/groupe_gestionnaires', action: :update, id: @groupe_gestionnaire.id }),
  html: { class: 'form', multipart: true } do |f|
  .fr-container
    .fr-grid-row
      .fr-col-12.fr-col-offset-md-2.fr-col-md-8
        %h1.fr-h2 Description

        = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field, opts: {})

  .sticky-action-footer
    .fr-container
      .fr-grid-row
        .fr-col-12.fr-col-offset-md-2.fr-col-md-8
          = f.button 'Enregistrer', class: 'fr-btn fr-mr-2w'
          = link_to 'Annuler', gestionnaire_groupe_gestionnaire_path(id: @groupe_gestionnaire), class: 'fr-btn fr-btn--secondary', data: { confirm: 'Êtes-vous sûr de vouloir annuler les modifications effectuées ?'}
