= render 'main_navigation'

= render partial: 'gestionnaires/breadcrumbs',
  locals: { steps: [['Groupes gestionnaires', gestionnaire_groupe_gestionnaires_path]] }

.fr-container.procedure-admin-container

.fr-container#groupe_gestionnaire
  %table.fr-table.width-100.mt-3
    %thead
      %tr
        %th{ scope: "col" }
          Nom
        %th{ scope: "col" }
          Nombre de gestionnaires
        %th{ scope: "col" }
          Nombre d'administrateurs
        %th{ scope: "col" }
          Arborescence

    %tbody
      - @groupe_gestionnaires.order(:name).each do |groupe_gestionnaire|
        %tr
          %td
            = link_to groupe_gestionnaire.name, gestionnaire_groupe_gestionnaire_path(groupe_gestionnaire)
          %td
            = groupe_gestionnaire.gestionnaire_ids.size
          %td
            = groupe_gestionnaire.administrateur_ids.size
          %td
            = link_to 'Voir', tree_structure_gestionnaire_groupe_gestionnaire_path(groupe_gestionnaire), class: 'fr-btn'
