= render 'main_navigation'

= render partial: 'gestionnaires/breadcrumbs',
    locals: { steps: [['Groupes gestionnaires', gestionnaire_groupe_gestionnaires_path],
                      ["#{@groupe_gestionnaire.name.truncate_words(10)}"]],
              metadatas: true }

.fr-container.procedure-admin-container
  %ul.fr-btns-group.fr-btns-group--inline-sm.fr-btns-group--icon-left
    = link_to 'Modifier', edit_gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire), class: 'fr-btn fr-btn--primary fr-btn--icon-left fr-icon-success-line'
    - if @groupe_gestionnaire.can_be_deleted?(current_gestionnaire)
      = link_to gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire), class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-delete-line", method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ce groupe !" } do
        = t('views.gestionnaires.groupe_gestionnaires.delete')

.fr-container
  %h2= "Gestion du groupe \"#{@groupe_gestionnaire.name}\""
  - if @groupe_gestionnaire.groupe_gestionnaire_id.present?
    %p
      groupe parent :
      %a{ href: gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire.groupe_gestionnaire) }= @groupe_gestionnaire.groupe_gestionnaire.name
  .fr-grid-row.fr-grid-row--gutters.fr-mb-5w.fr-groupe_gestionnaire_cards
    = render GroupeGestionnaire::Card::GestionnairesComponent.new(groupe_gestionnaire: @groupe_gestionnaire, path: gestionnaire_groupe_gestionnaire_gestionnaires_path(@groupe_gestionnaire))
    = render GroupeGestionnaire::Card::AdministrateursComponent.new(groupe_gestionnaire: @groupe_gestionnaire, path: gestionnaire_groupe_gestionnaire_administrateurs_path(@groupe_gestionnaire))
    = render GroupeGestionnaire::Card::ChildrenComponent.new(groupe_gestionnaire: @groupe_gestionnaire, path: gestionnaire_groupe_gestionnaire_children_path(@groupe_gestionnaire))
    = render GroupeGestionnaire::Card::CommentairesComponent.new(groupe_gestionnaire: @groupe_gestionnaire, administrateur: nil, path: gestionnaire_groupe_gestionnaire_commentaires_path(@groupe_gestionnaire), unread_commentaires: @unread_commentaires)
