= render partial: 'gestionnaires/breadcrumbs',
    locals: { steps: [['Groupes gestionnaire', gestionnaire_groupe_gestionnaires_path],
                      ["#{@groupe_gestionnaire.name.truncate_words(10)}"]],
              metadatas: true }

.fr-container.procedure-admin-container
  %ul.fr-btns-group.fr-btns-group--inline-sm.fr-btns-group--icon-left
    = link_to 'Modifier', edit_gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire), class: 'fr-btn fr-btn--primary fr-btn--icon-left fr-icon-success-line'

.fr-container
  %h2= "Gestion du groupe gestionnaire № #{@groupe_gestionnaire.id}"
  .fr-grid-row.fr-grid-row--gutters.fr-mb-5w
    = render GroupeGestionnaire::Card::GestionnairesComponent.new(groupe_gestionnaire: @groupe_gestionnaire)
