- splitted_errors do |head, tail|
  %ul#head-errors.fr-mb-0
    - head.each do |error_descriptor|
      %li
        = link_to error_descriptor.label, error_descriptor.anchor, class: 'error-anchor'
        = error_descriptor.error_message

  - if tail.size > 0
    %button.fr-mt-0.fr-btn.fr-btn--sm.fr-btn--tertiary-no-outline{ type: "button", "aria-controls": 'tail-errors', "aria-expanded": "false", class: "" }= t('.see_more')
    %ul#tail-errors.fr-collapse.fr-mt-0
      - tail.each do |error_descriptor|
        %li
          = link_to error_descriptor.label, error_descriptor.anchor, class: 'error-anchor'
          = error_descriptor.error_message
