.fr-container.fr-mt-6w.fr-mb-15w
  = link_to " Champs du formulaire", champs_admin_procedure_path(@procedure), class: 'fr-link fr-icon-arrow-left-line fr-link--icon--left fr-icon--sm'
  %h3.fr-my-3w
    Configuration du champ « #{@type_de_champ.libelle} »

  .fr-stepper
    %h2.fr-stepper__title
      Pré remplissage des champs et/ou affichage des données récupérées
      %span.fr-stepper__state Étape 3 sur 3

    .fr-stepper__steps{ data: { "fr-current-step" => "2", "fr-steps" => "3" } }

    = form_with(model: @type_de_champ, url: update_prefill_and_display_type_de_champ_admin_procedure_referentiel_path(@procedure, @type_de_champ.stable_id, @referentiel), method: :patch, html: { class: 'fr-mt-5w' }) do |f|
      .border-background-contrast-grey.fr-p-4w
        = render Referentiels::ReferentielPrefillComponent.new(procedure: @procedure, type_de_champ: @type_de_champ, referentiel: @referentiel)
        = render Referentiels::ReferentielDisplayComponent.new(procedure: @procedure, type_de_champ: @type_de_champ, referentiel: @referentiel)

      %ul.fr-btns-group.fr-btns-group--inline-sm.flex.justify-center.fr-mt-5w
        %li= link_to "Annuler", champs_admin_procedure_path(@procedure), class: 'fr-btn fr-btn--secondary fr-mr-3w'
        %li= link_to "Étape précédente", mapping_type_de_champ_admin_procedure_referentiel_path(@procedure, @type_de_champ.stable_id, @referentiel), class: 'fr-btn fr-btn--secondary'
        %li= f.submit "Valider", class: "fr-btn"
