%div#first-block
  %div.dossiers-en-cours
    = @facade_data_view.total_dossier
    DOSSIERS EN COURS
  %div.nouveaux-dossiers
    = @facade_data_view.total_new_dossier
    NOUVEAUX DOSSIERS

%div#action-block

%div#menu-block
  %div.split-hr-left
  #switch-buttons
    #switch-procedures.active Procédures
    #switch-notifications Notifications

%div#infos-block
  %div.split-hr-left
  #procedure_list
    - @facade_data_view.gestionnaire_procedures_name_and_id_list.each do |procedure|
      = link_to backoffice_dossiers_procedure_path(procedure[:id]), {title: procedure[:libelle]} do
        %div.procedure_list_element{ class: ('active' if procedure[:id] == @facade_data_view.procedure.id rescue '') }
          = truncate(procedure[:libelle], length: 50)
          - total_new = @facade_data_view.new_dossier_number procedure[:id]
          - if total_new > 0
            .badge.progress-bar-success{title:'Nouveaux dossiers'}
              = total_new
          -if procedure[:unread_notifications] > 0
            .badge.progress-bar-warning{title: 'Notifications'}
              = procedure[:unread_notifications]
  #notifications_list.hidden
    - @facade_data_view.unread_notifications.each do |notification|
      = link_to backoffice_dossier_path(notification.dossier.id) do
        .notification
          .dossier= notification.decorate.index_display[:dossier]
          .updated-at= notification.decorate.index_display[:date]
          .type= notification.decorate.index_display[:type]
