#first-block
  .dossiers-en-cours
    .count= current_gestionnaire.followed_dossiers.count
    .text SUIVIS
  .nouveaux-dossiers
    .count= current_gestionnaire.dossiers.en_construction.count
    .text NOUVEAUX
  .nouvelles-notifications
    .count= current_gestionnaire.dossiers_with_notifications_count
    .text MODIFIÉS

#action-block

#menu-block
  .split-hr-left
  #switch-buttons
    #switch-procedures.active Procédures
    #switch-notifications Notifications

#infos-block
  .split-hr-left
  #procedure-list
    - if current_gestionnaire.avis.any?
      = link_to backoffice_invitations_path do
        .procedure-list-element{ class: ('active' if request.path == backoffice_invitations_path) }
          Invitations
    - current_gestionnaire.procedures.by_libelle.each do |procedure|
      = link_to backoffice_dossiers_procedure_path(procedure.id), { title: procedure.libelle } do
        .procedure-list-element{ class: ('active' if procedure.id.to_s == params[:id]) }
          = procedure.libelle.truncate(50)
          - total_new = procedure.dossiers.en_construction.count
          - if total_new > 0
            .badge.progress-bar-success{ title: 'Nouveaux dossiers' }
              = total_new
          - unread_notif_count = current_gestionnaire.dossiers_with_notifications_count_for_procedure(procedure)
          - if unread_notif_count > 0
            .badge.progress-bar-warning{ title: 'Notifications' }
              = unread_notif_count
  #notifications-list.hidden
    - if current_gestionnaire.notifications.empty?
      .no-notification Aucune notification pour le moment.
    - else
      - current_gestionnaire.notifications.includes(:dossier).map(&:dossier).uniq.each do |dossier|
        = link_to backoffice_dossier_path(dossier.id) do
          .notification
            .dossier-index= "Dossier nº #{dossier.id}"
            .updated-at-index= dossier.first_unread_notification.created_at.localtime.strftime('%d/%m %H:%M')
            .count= dossier.unreaded_notifications.count
