%div#first-block
  %div.en-cours
    %b
      = dossier_count = current_administrateur.procedures.count
    = ("Procedures".pluralize(dossier_count)).upcase

%div#action-block

%div#menu-block
  %div.split-hr-left
  #procedure_list
    %a{:href => "#{url_for :admin_procedures_draft}"}
      %div.procedure_list_element{class: @draft_class}
        = "Brouillons"
        .badge.progress-bar-default
          = current_administrateur.procedures.where(published: false, archived: false).count

    %a{:href => "#{url_for :admin_procedures}"}
      %div.procedure_list_element{class: @active_class}
        = "Actives"
        .badge.progress-bar-success
          = current_administrateur.procedures.where(published: true, archived: false).count

    %a{:href => "#{url_for :admin_procedures_archived}"}
      %div.procedure_list_element{class: @archived_class}
        ="Archivées"
        .badge.progress-bar-purple
          = current_administrateur.procedures.where(archived: true).count

  %div.split-hr-left


%div#infos-block
