%div#first-block
  %div.dossiers-en-cours
    = @facade_data_view.total_dossier
    DOSSIERS EN COURS
  %div.nouveaux-dossiers
    = @facade_data_view.total_new_dossier
    NOUVEAUX DOSSIERS

%div#action-block

%div#menu-block

%div#infos-block
  %div.split-hr-left
  #procedure_list
    - @facade_data_view.gestionnaire_procedures_name_and_id_list.each do |procedure|
      = link_to backoffice_dossiers_procedure_path(procedure[:id]), {title: procedure[:libelle]} do
        %div.procedure_list_element{ class: ('active' if procedure[:id] == @facade_data_view.procedure.id rescue '') }
          = truncate(procedure[:libelle], length: 50)
          -if procedure[:unread_notifications] > 0
            .badge.progress-bar-warning
              = procedure[:unread_notifications]
