#first-block
  .en-cours
    - unless @procedure.logo.blank?
      = image_tag @procedure.decorate.logo_img, style: 'width: 30px;'
    %b
      = @procedure.libelle

#action-block

#menu-block
  .split-hr-left
  #procedure-list
    %a#onglet-infos{ :href => "#{url_for admin_procedure_path(@procedure)}" }
      .procedure-list-element{ class: ('active' if active == 'Informations') }
        Informations

    %a#onglet-accompagnateurs{ :href => "#{url_for admin_procedure_accompagnateurs_path(@procedure)}" }
      .procedure-list-element{ class: ('active' if active == 'Accompagnateurs') }
        = t('dynamics.admin.procedure.onglets.accompagnateurs')

    %a#onglet-description{ :href => "#{url_for edit_admin_procedure_path(@procedure)}" }
      .procedure-list-element{ class: ('active' if active == 'Description') }
        Description

    - unless @procedure.locked?
      %a#onglet-champs{ :href => "#{url_for admin_procedure_types_de_champ_path(@procedure)}" }
        .procedure-list-element{ class: ('active' if active == 'Champs') }
          Champs

    - unless @procedure.locked?
      %a#onglet-pieces{ :href => "#{url_for admin_procedure_pieces_justificatives_path(@procedure)}" }
        .procedure-list-element{ class: ('active' if active == 'Pieces') }
          Pièces jointes

    - unless @procedure.locked?
      %a#onglet-private-champs{ :href => "#{url_for admin_procedure_types_de_champ_private_path(@procedure)}" }
        .procedure-list-element{ class: ('active' if active == 'Annotations privées') }
          Annotations privées

    %a#onglet-inemailsfos{ :href => "#{url_for admin_procedure_mail_templates_path(@procedure)}" }
      .procedure-list-element{ class: ('active' if active == 'E-mails') }
        E-mails

    %a#onglet-preview{ :href => "#{url_for admin_procedure_previsualisation_path(@procedure)}" }
      .procedure-list-element{ class: ('active' if active == 'Prévisualisation') }
        Prévisualisation

    - if @procedure.locked?
      %a#onglet-attestation{ href: url_for(admin_procedure_attestation_template_path(@procedure, format: :pdf)), target: '_blank' }
        .procedure-list-element{ class: ('active' if active == 'Attestation') } Attestation
    - else
      %a#onglet-attestation{ href: url_for(edit_admin_procedure_attestation_template_path(@procedure)) }
        .procedure-list-element{ class: ('active' if active == 'Attestation') } Attestation

  .split-hr-left


#infos-block
