#first-block
  .en-cours
    %b
      = dossier_count = current_administrateur.procedures.count
    = "Démarche".pluralize(dossier_count)

#action-block

#menu-block
  .split-hr-left
  #procedure-list
    %a#draft-procedures{ :href => "#{url_for :admin_procedures_draft}" }
      .procedure-list-element{ class: @draft_class }
        .badge.counter-draft
          = current_administrateur.procedures.brouillons.count
        - if Flipflop.publish_draft?
          En test
        - else
          Brouillons
        .badge.progress-bar-default

    %a#active-procedures{ :href => "#{url_for :admin_procedures}" }
      .procedure-list-element{ class: @active_class }
        .badge.counter-active
          = current_administrateur.procedures.publiees.count
        Publiées

    %a#archived-procedures{ :href => "#{url_for :admin_procedures_archived}" }
      .procedure-list-element{ class: @archived_class }
        .badge.counter-archived
          = current_administrateur.procedures.archivees.count
        Archivées


  .split-hr-left


#infos-block
