#first-block
  .infos
    #dossier_id= t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

- if current_gestionnaire && current_gestionnaire.assigned_on_procedure?(@facade.dossier.procedure_id)
  #action-block
    - if !@facade.dossier.read_only? || @facade.dossier.en_construction?
      = link_to 'Passer en instruction', backoffice_dossier_receive_path(@facade.dossier), method: :post, class: 'btn btn-danger btn-block', data: { confirm: "Confirmer vous le passage en instruction de ce dossier ?" }

    - elsif @facade.dossier.en_instruction?
      = form_tag(backoffice_dossier_process_dossier_url(@facade.dossier.id), method: :post) do
        = text_area :dossier, :motivation, class: "motivation-text-area", placeholder: "Motivation (facultative)"

        %ul.list-inline
          %li
            = button_tag name: :process_action, value: "close", class: 'btn btn-success', title: 'Accepter', data: { toggle: :tooltip, confirm: "Accepter ce dossier ?" } do
              %i.fa.fa-check

          %li
            = button_tag name: :process_action, value: "without_continuation", class: 'btn btn-warning', title: 'Classer sans suite', data: { toggle: :tooltip, confirm: "Classer sans suite ce dossier ?" } do
              %i.fa.fa-circle-o

          %li
            = button_tag name: :process_action, value: "refuse", class: 'btn btn-danger', title: 'Refuser', data: { toggle: :tooltip, confirm: "Refuser ce dossier ?" } do
              %i.fa.fa-times

      %hr
      = link_to 'Reouvrir', backoffice_dossier_reopen_path(@facade.dossier), method: :post, class: 'btn btn-default btn-block', data: { confirm: "Confirmer vous la réouverture de ce dossier ?" }

    %hr
    - if @facade.dossier.archived?
      %p
        Archivé
      = link_to 'Désarchiver', unarchive_backoffice_dossier_path(@facade.dossier), method: :post, class: 'btn btn-default btn-block'

    - else
      = link_to 'Archiver', archive_backoffice_dossier_path(@facade.dossier), method: :post, class: 'btn btn-default btn-block', data: { confirm: "Confirmer vous l'archivage de ce dossier ?" }



#menu-block

#infos-block
  .split-hr-left
  .dossier-state= @facade.dossier.display_state
  .split-hr-left
  .notifications
    - if @facade.dossier.notifications.empty?
      Aucune notification pour le moment.
    - else
      %i.fa.fa-bell-o
      - @facade.last_notifications.each do |notification|
        .notification
          .updated-at= notification.updated_at.localtime.strftime('%d/%m/%Y %H:%M')
          = render partial: "layouts/left_panels/type_notif_fa", locals: { notification: notification }
          - if ['champs'].include?(notification.type_notif)
            - if notification.liste.size > 1
              .type= "Plusieurs attributs ont été changés, dont: #{notification.liste.join(" ")}"
            - else
              .type= "Un attribut a été changé: #{notification.liste.last}"
          - elsif ['piece_justificative'].include?(notification.type_notif)
            - if notification.liste.size > 1
              .type= "Plusieurs pièces jointes ont été changées, dont: #{notification.liste.join(" ")}"
            - else
              .type= "Une pièce jointe a été changée: #{notification.liste.last}"
          - else
            .type= notification.liste.last
          .split-hr
