%div#first-block
  %div.infos
    #dossier_id= t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

%div#action-block
  - if gestionnaire_signed_in?
    - if !@facade.dossier.read_only? || @facade.dossier.initiated?
      = link_to 'Accuser réception', backoffice_dossier_receive_path(@facade.dossier), method: :post, class: 'btn btn-danger btn-block'

    - elsif @facade.dossier.received?
      = form_tag(url_for({controller: 'backoffice/dossiers', action: :close, dossier_id: @facade.dossier.id}), class: 'form-inline action_button', method: 'POST', style: 'display:inline', 'data-toggle' => :tooltip, title: 'Accepter') do
        %button.action.close-dossier
          %i.fa.fa-check
      = form_tag(url_for({controller: 'backoffice/dossiers', action: :without_continuation, dossier_id: @facade.dossier.id}), class: 'form-inline action_button', method: 'POST', style: 'display:inline', 'data-toggle' => :tooltip, title: 'Classer sans suite') do
        %button.action.forget-dossier
          %i.fa.fa-circle-o
      = form_tag(url_for({controller: 'backoffice/dossiers', action: :refuse, dossier_id: @facade.dossier.id}), class: 'form-inline action_button', method: 'POST', style: 'display:inline', 'data-toggle' => :tooltip, title: 'Refuser') do
        %button.action.refuse-dossier
          %i.fa.fa-times
      = link_to 'Reouvrir', backoffice_dossier_reopen_path(@facade.dossier), method: :post, class: 'btn btn-default btn-block'

    - unless @facade.dossier.archived?
      = link_to 'Archiver', backoffice_dossier_archive_path(@facade.dossier), method: :post, class: 'btn btn-default btn-block'



%div#menu-block

%div#infos-block
  %div.split-hr-left
  %div.dossier-state= @facade.dossier.display_state
  %div.split-hr-left
  %div.notifications
    - if @facade.dossier.notifications.empty?
      Aucune notification pour le moment.
    - else
      %i.fa.fa-bell-o
      - @facade.last_notifications.each do |notification|
        .notification
          .updated-at= notification.updated_at.strftime('%d/%m/%Y %H:%M')
          = render partial: "layouts/left_panels/type_notif_fa", locals: {notification: notification}
          - if ['champs'].include?(notification.type_notif)
            - if notification.liste.size > 1
              .type= "Plusieurs attributs ont été changés, dont: #{notification.liste.join(" ")}"
            - else
              .type= "Un attribut à été changé: #{notification.liste.last}"
          - elsif ['piece_justificative'].include?(notification.type_notif)
            - if notification.liste.size > 1
              .type= "Plusieurs pièces justificatives ont été changés, dont: #{notification.liste.join(" ")}"
            - else
              .type= "Une pièce justificative à été changée: #{notification.liste.last}"
          - else
            .type= notification.liste.last
          .split-hr
