#first-block
  .en-cours
    = dossier_count = current_user.dossiers.count
    = "Dossier".pluralize(dossier_count)
    %br
    EN COURS

#action-block

#menu-block
  .split-hr-left
  #procedure-list
    - if current_user.dossiers.count != 0
      %a{ :href => "#{url_for users_dossiers_path(liste: 'brouillon')}", 'data-toggle' => :tooltip, title: 'Les dossiers jamais proposés à la relecture.' }
        .procedure-list-element#brouillon{ class: ('active' if @liste == 'brouillon') }
          Brouillons
          .badge.progress-bar-default
            = @user_dossiers.state_brouillon.count

      %a{ :href => "#{url_for users_dossiers_path(liste: 'a_traiter')}", 'data-toggle' => :tooltip, title: 'Les dossiers qui requièrent une action de votre part.' }
        .procedure-list-element#a_traiter{ class: ('active' if @liste == 'a_traiter') }
          En construction
          .badge.progress-bar-danger
            = @user_dossiers.state_en_construction.count

      %a{ :href => "#{url_for users_dossiers_path(liste: 'en_instruction')}", 'data-toggle' => :tooltip, title: 'Les dossiers en cours d\'examen par l\'administration compétante.' }
        .procedure-list-element#en_instruction{ class: ('active' if @liste == 'en_instruction') }
          En instruction
          .badge.progress-bar-default
            = @user_dossiers.state_en_instruction.count

      %a{ :href => "#{url_for users_dossiers_path(liste: 'termine')}", 'data-toggle' => :tooltip, title: 'Les dossiers cloturés qui peuvent être "Accepté", "Refusé" ou "Sans suite".' }
        .procedure-list-element#termine{ class: ('active' if @liste == 'termine') }
          Terminé
          .badge.progress-bar-success
            = @user_dossiers.state_termine.count

    %a{ :href => "#{url_for users_dossiers_path(liste: 'invite')}" }
      .procedure-list-element#invite{ class: ('active' if @liste == 'invite') }
        Invitation
        .badge.progress-bar-warning
          = current_user.invites.count
  .split-hr-left


#infos-block
