%div#cgu_menu_block
  #procedure-list{ style: 'margin-top: 0;' }
    = link_to cgu_path(:anchor => "editeur") do
      .procedure-list-element
        Editeur

    = link_to cgu_path(:anchor => "ingenieurie_hebergement") do
      .procedure-list-element
        Ingénierie et hébergement informatique

    = link_to cgu_path(:anchor => "object_website") do
      .procedure-list-element
        Object du site internet

    = link_to cgu_path(:anchor => "acteurs") do
      .procedure-list-element
        Acteurs de TPS

    = link_to cgu_path(:anchor => "CNIL") do
      .procedure-list-element
        Déclaration CNIL

    = link_to cgu_path(:anchor => "data_collects") do
      .procedure-list-element
        Données collectées et responsabilité des organismes utilisateurs

    = link_to cgu_path(:anchor => "individual_data") do
      .procedure-list-element
        Traitement des données à caractère personnel

    = link_to cgu_path(:anchor => "entreprise_information") do
      .procedure-list-element
        Règles relatives aux informations sur les entreprises mises à disposibition

    = link_to cgu_path(:anchor => "reproduction") do
      .procedure-list-element
        Droit de reproduction

    = link_to cgu_path(:anchor => "propriete_intellectuelle") do
      .procedure-list-element
        Propriété intellectuelle

    = link_to cgu_path(:anchor => "navigateurs") do
      .procedure-list-element
        Logiciels nécessaires à la consultation

    = link_to cgu_path(:anchor => "conception") do
      .procedure-list-element
        Conception et Réalisation

    .procedure-list-element

    .procedure-list-element
