#first-block
  .en-cours
    %b
      = dossier_count = current_administrateur.procedures.count
    = ("Procedures".pluralize(dossier_count)).upcase

#action-block

#menu-block
  .split-hr-left
  #procedure-list
    %a#draft-procedures{ :href => "#{url_for :admin_procedures_draft}" }
      .procedure-list-element{ class: @draft_class }
        Brouillons
        .badge.progress-bar-default
          = current_administrateur.procedures.not_published.not_archived.count

    %a#active-procedures{ :href => "#{url_for :admin_procedures}" }
      .procedure-list-element{ class: @active_class }
        Actives
        .badge.progress-bar-success
          = current_administrateur.procedures.publiees.count

    %a#archived-procedures{ :href => "#{url_for :admin_procedures_archived}" }
      .procedure-list-element{ class: @archived_class }
        Archivées
        .badge.progress-bar-purple
          = current_administrateur.procedures.archived.count

  .split-hr-left


#infos-block
