.formatted_mode_advanced.flex.column.justify-start.flex-grow.width-66.border-left-dark.fr-mb-4w
  .cell
    .fr-input-group
      = form.label :expression_reguliere, for: dom_id(type_de_champ, :expression_reguliere), class: "fr-md-1w" do
        = t('.labels.regex')

      .type-de-champ-expression-reguliere
        = form.text_field :expression_reguliere, class: "fr-input small-margin small fr-text--monospace", id: dom_id(type_de_champ, :expression_reguliere)
      %p.fr-hint-text.fr-mt-1w= t('.labels.hint_html')
  .cell.fr-mt-2w
    .fr-input-group
      = form.label :expression_reguliere_indications, for: dom_id(type_de_champ, :expression_reguliere_indications), class: "fr-mb-0" do
        = t('.labels.indications')
      %p.fr-hint-text.fr-mb-0= t('.labels.indications_hint')
      = form.text_field :expression_reguliere_indications, class: "fr-input small-margin small", id: dom_id(type_de_champ, :expression_reguliere_indications)

  .cell.fr-mt-2w
    .fr-input-group
      = form.label :expression_reguliere_exemple_text, for: dom_id(type_de_champ, :expression_reguliere_exemple_text) do
        = t('.labels.valid_exemple')
      = form.text_field :expression_reguliere_exemple_text, class: "fr-input small-margin small", id: dom_id(type_de_champ, :expression_reguliere_exemple_text)
    .fr-messages-group
      - if type_de_champ.invalid_regexp?
        %p.fr-message.fr-message--error
          = type_de_champ.errors[:expression_reguliere_exemple_text].join(", ")
  .cell.fr-mt-2w
    = form.label :expression_reguliere_error_message, for: dom_id(type_de_champ, :expression_reguliere_error_message) do
      = t('.labels.error_message')
    = form.text_field :expression_reguliere_error_message, class: "fr-input small-margin small", id: dom_id(type_de_champ, :expression_reguliere_error_message)
