- content_for(:title) { "Identification du propriétaire" }

.fr-container.fr-my-6w
  %h1 Récupération de dossiers

  %h2 Identification du propriétaire des dossiers

  %p Votre organisation est « #{@structure_name} » identifiée par le SIRET #{current_instructeur.last_pro_connect_information.siret}
  = form_with do |f|
    .fr-input-group
      %label.fr-label{ for: "email" }
        Email du propriétaire des dossiers
        %span.fr-hint-text= t('email', scope: [:activerecord, :attributes, :default_attributes, :hints])

      = f.email_field :previous_email,
        required: true,
        autocomplete: 'off',
        class: 'fr-input width-66',
        id: 'email'

    %button.fr-btn Continuer
