- content_for(:title) { "Contactez le support" }

.fr-container.fr-my-6w
  %h1.fr-h1 Récupération de dossiers

  - case params[:error]
  - when 'other_nature', 'not_collectivite_territoriale'
    %p Votre situation nécessite un traitement particulier.

    = mail_to(Current.contact_email,
      'Contactez le support',
      subject: 'Récupération de dossiers',
      class: 'fr-btn')

  - when 'must_use_pro_connect'
    %p Vous devez utiliser le portail ProConnect pour récupérer vos dossiers.

    = link_to pro_connect_login_path, class: "fr-btn fr-connect" do
      %span.fr-connect__login
        = t('pro_connect.agent.index.signin_with')
      %span.fr-connect__brand ProConnect

    %p Vous n'avez pas encore de compte ProConnect ? Vous pouvez en créer un en utilisant MonComptePro.
    = link_to 'MonComptePro', 'https://moncomptepro.beta.gouv.fr', class: 'fr-btn'

  - when 'no_dossier'
    %p Lʼadresse email « #{cookies[:retrieve_email]} » que vous avez renseignée nʼa pas de dossier concernant votre organisation.

    %ul.fr-btns-group.fr-btns-group--inline
      %li
        = link_to 'Essayer avec une autre adresse email', identification_recovery_path, class: 'fr-btn'
      %li
        = mail_to(Current.contact_email,
          'Contactez le support',
          subject: 'Récupération de dossiers',
          class: 'fr-btn fr-btn--secondary')
