= turbo_stream.update dom_id(@champ, :geo_areas) do
  = render Dossiers::GeoAreasComponent.new(champ: @champ, editing: true)

- if @focus
  = turbo_stream.dispatch 'map:feature:focus', bbox: @champ.bounding_box

- if @champ.dossier.en_construction?
  = turbo_stream.replace_all '.dossier-edit-sticky-footer' do
    = render Dossiers::EditFooterComponent.new(dossier: @champ.dossier, annotation: @champ.private?)
