.flex.justify-start.section{ id: dom_id(@tdc.stable_self, :condition), data: {turbo_force: :server} }
  = form_tag admin_procedure_condition_path(@procedure_id, @tdc.stable_id), method: :patch, class: 'form' do
    .conditionnel.mt-2
      .flex
        %p
          Logique conditionnelle
          = logic_conditionnel_button

      = render Conditions::ConditionsErrorsComponent.new(conditions: condition_per_row, source_tdcs: @source_tdcs)

      - if @condition.present?
        %table.condition-table.mt-2
          %thead
            %tr
              %th.far-left
              %th.target Champ Cible
              %th.operator Opérateur
              %th.value Valeur
              %th.delete-column
          %tbody
            - rows.each.with_index do |(targeted_champ, operator_name, value), row_index|
              %tr
                %td.far-left= far_left_tag(row_index)
                %td.target= left_operand_tag(targeted_champ, row_index)
                %td.operator= operator_tag(operator_name, targeted_champ, row_index)
                %td.value= right_operand_tag(targeted_champ, value, row_index, operator_name)
                %td.delete-column= delete_condition_tag(row_index)

        .flex.justify-end.mt-2= add_condition_tag
