%div{ id: block_id, data: { 'select-champ-position-template-target': 'template', turbo_force: :server } }
  %select
    - @coordinates.each do |coordinate|
      - if coordinate.type_de_champ.header_section?
        %option{ value: coordinate.stable_id }= "----- #{coordinate.libelle} -----"
      - else
        %option{ value: coordinate.stable_id }= "#{coordinate.position + 1} - #{coordinate.libelle}"
