- content_for(:footer) do
  &nbsp;

- if form
  .padded-fixed-footer
    .fixed-footer
      .fr-container
        .fr-grid-row
          %div{ class: "fr-col-12 #{extra_class_names}" }
            %ul.fr-btns-group.fr-btns-group--inline-md
              %li
                = link_to t('.cancel'), admin_procedure_path(id: @procedure), class: 'fr-btn fr-btn--secondary', data: { confirm: 'Si vous avez fait des modifications elles ne seront pas sauvegardées.'}
              %li
                = form.submit t(".submit"), class: "fr-btn", disabled: is_form_disabled

- else
  .padded-fixed-footer
    .fixed-footer
      .fr-container
        .fr-grid-row
          %div{ class: "fr-col-12 fr-pb-2w #{extra_class_names}" }
            = link_to admin_procedure_path(id: @procedure), class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left fr-mb-2w' do
              = t('.back')
