= render partial: 'gestionnaires/breadcrumbs',
  locals: { steps: [['Groupes gestionnaire', gestionnaire_groupe_gestionnaires_path],
                    ["#{@groupe_gestionnaire.name.truncate_words(10)}", gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire)],
                    ["Messagerie"]], preview: false }

.container
  %h1 Messagerie de « #{@groupe_gestionnaire.name} »

  %table.fr-table.width-100.mt-3
    %thead
      %tr
        %th= 'Groupe gestionnaire'
        %th= 'Adresse email'
        %th= 'Dernier message'
        %th
    %tbody#commentaires
      = render(GroupeGestionnaire::GroupeGestionnaireListCommentaires::CommentaireComponent.with_collection(@commentaires, groupe_gestionnaire: @groupe_gestionnaire))
      - if @groupe_gestionnaire.parent_id && !current_gestionnaire.groupe_gestionnaires.where(id: @groupe_gestionnaire.parent_id).exists? && @last_commentaire.nil?
        %tr
          %td= @groupe_gestionnaire.parent.name
          %td= "Messages avec le groupe gestionnaire parent (#{@groupe_gestionnaire.parent.name})"
          %td
          %td
            = link_to 'Voir', parent_groupe_gestionnaire_gestionnaire_groupe_gestionnaire_commentaires_path(@groupe_gestionnaire), class: 'fr-btn'
