- content_for(:title, "Choix du mot de passe")

- content_for :footer do
  = render partial: "root/footer"

.container.devise-container
  .one-column-centered
    - controller_action = defined?(action) ? action : :create
    = form_for @user, url: { controller: 'users/activate', action: controller_action }, html: { class: "form" } do |f|
      %br
      %h1
        Choix du mot de passe

      = f.label :email, "Email"
      = f.text_field :email, disabled: true

      = f.hidden_field :reset_password_token, value: params[:token]

      = f.label :password do
        Mot de passe
      = render 'password_complexity/field', { form: f, min_complexity: @min_complexity }

      = f.submit 'Définir le mot de passe', class: 'button large primary expand', id: "submit-password", disabled: true, data: { disable_with: "Envoi..." }
