= form_with model: [ :admin, service], local: true, html: { class: 'form' } do |f|

  = f.label :nom do
    Nom du service
    %span.mandatory *

  %p.notice Indiquez le nom et la direction rattachée séparé par une virgule

  = f.text_field :nom, placeholder: 'service jeunesse et prévention, direction des affaires maritimes', required: true

  = f.label :organisme do
    Organisme/s
    %span.mandatory *
  %p.notice Indiquez les organismes depuis l’échelon territoriale jusqu’au ministère séparés par une virgule
  = f.text_field :organisme, placeholder: "mairie de Mours, préfecture de l'Oise, ministère de la Culture", required: true

  = f.label :type_organisme do
    Type d’organisme
    %span.mandatory *

  = f.select :type_organisme, Service.type_organismes.keys.map { |key| [ I18n.t("type_organisme.#{key}"), key] }, class: 'width-33-desktop width-100-mobile'


  = render Dsfr::CalloutComponent.new(title: "Informations de contact") do |c|
    - c.body do
      Votre démarche sera hébergée par #{APPLICATION_NAME} – mais nous ne pouvons pas assurer le support des démarches. Et malgré la dématérialisation, les usagers se poseront parfois des questions légitimes sur le processus administratif.
      %br
      %br
      %strong Il est donc indispensable que les usagers puissent vous contacter
      par le moyen de leur choix s’ils ont des questions sur votre démarche.
      %br
      %br
      Ces informations de contact seront visibles par les utilisateurs de la démarche, affichées dans le menu « Aide », ainsi qu’en pied de page lors du dépôt d’un dossier. En cas d’informations invalides, #{APPLICATION_NAME} se réserve le droit de suspendre la publication de la démarche.

  = f.label :email do
    Adresse email
    %span.mandatory *

  %p.notice
    Indiquez une adresse Email valide qui permettra de recevoir et de répondre aux questions des usagers.

  = f.email_field :email, placeholder: 'contact@mon-service.fr', required: true, class: 'width-33-desktop width-100-mobile'

  = f.label :telephone do
    Numéro de téléphone
    %span.mandatory *
  %p.notice Indiquez le numéro de téléphone du service valide le plus à même de fournir des réponses pertinentes à vos usagers
  = f.telephone_field :telephone, placeholder: '04 12 24 42 37', required: true, class: 'width-33-desktop width-100-mobile'

  = f.label :horaires do
    Horaires
    %span.mandatory *
  %p.notice   Indiquez les jours ouvrables et les horaires où les usagers peuvent vous joindre
  = f.text_area :horaires, placeholder: "Du lundi au vendredi de 9 h 30 à 17 h 30. Le samedi de 9 h 30 à 12 h.", required: true, class: 'width-66-desktop width-100-mobile'

  = f.label :adresse do
    Adresse postale
    %span.mandatory *
  = f.text_area :adresse, placeholder: "20 avenue de Ségur, 75007 Paris", required: true, class: 'width-66-desktop width-100-mobile'

  - if procedure_id.present?
    = hidden_field_tag :procedure_id, procedure_id

  .send-wrapper.justify-content--space-between
    = render Dsfr::ButtonComponent.new(label: "Annuler et revenir à la page de suivi", url: admin_procedure_path(id: @procedure.id), class_names: ['fr-btn--secondary'])
    = render Dsfr::ButtonComponent.new(form: f, label: "Enregistrer", class_names: [''])

