= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    link_to(@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)),
                    link_to('Choix du service', admin_services_path(procedure_id: @procedure.id)),
                    'Modifier le service'] }


.container

  - if @procedure.service.procedures.count.positive?
    = render Dsfr::AlertComponent.new(state: :warning, title: "Modifier ce service impactera la ou les démarches qui sont rattachée/s") do |c|
      - c.body do
        %ul
          - @service.procedures.each do |proc|
            %li= "#{proc.libelle} (N° #{proc.id})"
        %p.mt-3 Si vous souhaitez modifier uniquement les informations pour ce service, créez un nouveau service puis associez-le à la démarche

  %p.mt-3
    = link_to "+ Nouveau service", new_admin_service_path(procedure_id: @procedure.id), class: "fr-btn"


  %h1.mt-2 Modifier le service

  = render partial: 'form',
    locals: { service: @service, procedure_id: @procedure.id }
