.sub-header
  .container
    = render partial: 'shared/dossiers/status', locals: { dossier: dossier }

    .title-container
      %span.icon.folder
      %h1= dossier.procedure.libelle
      %h2 Dossier nº #{dossier.id}

    %ul.tabs
      %li{ class: current_page?(dossier_path(dossier)) ? 'active' : nil }
        = link_to "Résumé", dossier_path(dossier)
      %li{ class: current_page?(formulaire_dossier_path(dossier)) ? 'active' : nil }
        = link_to "Formulaire", formulaire_dossier_path(dossier)
