.sub-header
  .container
    = render partial: 'shared/dossiers/status', locals: { dossier: dossier }

    .title-container
      %span.icon.folder
      %h1= dossier.procedure.libelle
      %h2 Dossier nº #{dossier.id}

    %ul.tabs
      = active_tab_item('Résumé', dossier_path(dossier))
      = active_tab_item('Demande', demande_dossier_path(dossier))
      = active_tab_item('Messagerie', messagerie_dossier_path(dossier))
