.sub-header
  .container
    = render partial: 'shared/dossiers/status_badge', locals: { dossier: dossier }

    .title-container
      %span.icon.folder
      %h1= dossier.procedure.libelle
      %h2 Dossier nº #{dossier.id}

    /# FIXME factorize into template
    - if current_user.owns?(dossier)
      %span.button.dropdown.invite-user-action
        %span.icon.person
        - if dossier.invites.count > 0
          Voir les personnes invitées
          %span.badge= dossier.invites.count
        - else
          Inviter une personne à modifier ce dossier

        .dropdown-content.fade-in-down
          = render partial: "invites/form", locals: { dossier: dossier }


    %ul.tabs
      = dynamic_tab_item('Résumé', dossier_path(dossier))
      = dynamic_tab_item('Demande', [demande_dossier_path(dossier), modifier_dossier_path(dossier)])
      = dynamic_tab_item('Messagerie', messagerie_dossier_path(dossier))
