- procedure_id_for_which_we_hide_the_time_means = 6547
- procedure_path_for_which_we_hide_the_time_means = 'deposer-une-offre-de-stage'
- show_time_means = dossier.procedure.id != procedure_id_for_which_we_hide_the_time_means && dossier.procedure.path != procedure_path_for_which_we_hide_the_time_means

.status-overview
  - if !dossier.termine?
    %ul.status-timeline
      - if dossier.brouillon?
        %li.brouillon{ class: dossier.brouillon? ? 'active' : nil }
          brouillon
      %li.en-construction{ class: dossier.en_construction? ? 'active' : nil }
        en construction
      %li.en-instruction{ class: dossier.en_instruction? ? 'active' : nil }
        en instruction
      %li.termine{ class: dossier.termine? ? 'active' : nil }
        terminé

  .status-explanation
    - if dossier.brouillon?
      .brouillon
        %p Vous pouvez remplir votre dossier tranquillement : il n’est pas encore visible par l’administration.
        %p Quand vous aurez terminé, soumettez votre dossier pour qu’il soit examiné.

    - elsif dossier.en_construction?
      .en-construction
        %p Un instructeur de l’administration est en train de vérifier que votre dossier est bien complet. Si des modifications sont nécessaires, vous recevrez un message avec les modifications à effectuer.

        %p
          Sinon,
          = succeed '.' do
            %strong votre dossier passera directement en instruction

        / FIXME: remove the custom procedure switch at some point
        - if dossier.procedure.usual_verification_time && show_time_means
          - cache(dossier.procedure, expires_in: 1.week) do
            %p
              Le temps moyen de vérification pour cette démarche est de #{distance_of_time_in_words(dossier.procedure.usual_verification_time)}.

    - elsif dossier.en_instruction?
      .en-instruction
        %p Votre dossier est complet. Il est en cours d’examen par les instructeur de l’administration.
        %p
          Dès que l’administration aura statué sur votre dossier,
          %strong
            vous recevrez un email
          avec le résultat.

        / FIXME: remove the custom procedure switch at some point
        - if dossier.procedure.usual_instruction_time && show_time_means
          - cache(dossier.procedure, expires_in: 1.week) do
            %p
              Le temps moyen d’instruction pour cette démarche est de #{distance_of_time_in_words(dossier.procedure.usual_instruction_time)}.

    - elsif dossier.accepte?
      .accepte
        %p.decision
          %span.icon.accept
          Votre dossier a été
          = succeed '.' do
            %strong accepté

        - if dossier.motivation.present?
          %h3 Motif de l’acceptation
          %blockquote= dossier.motivation

        - if dossier.attestation.present?
          .action
            = link_to attestation_dossier_path(dossier), target: '_blank', class: 'button primary' do
              %span.icon.download
              Télécharger l’attestation

    - elsif dossier.refuse?
      .refuse
        %p.decision
          %span.icon.refuse
          Nous sommes désolés, votre dossier a malheureusement été
          = succeed '.' do
            %strong refusé

        - if dossier.motivation.present?
          %h3 Motif du refus
          %blockquote= dossier.motivation

        .action
          = link_to 'Envoyer un message à l’administration', messagerie_dossier_url(dossier, anchor: 'new_commentaire'), class: 'button'

    - elsif dossier.sans_suite?
      .sans-suite
        %p.decision
          %span.icon.without-continuation
          Votre dossier a été classé
          = succeed '.' do
            %strong sans suite

        - if dossier.motivation.present?
          %h3 Motif du classement sans suite
          %blockquote= dossier.motivation
