%td.fr-cell--numeric
  %p= p.dossier_id

%td
  %p= procedure_libelle

%td
  %p
    = user_email
    = "- #{t('views.instructeurs.dossiers.deleted_by_administration')}" if p.hidden_by_administration_at.present?

%td
  %p.flex.column= status_badge(p.state)
