%td.text-center
  %p.cell-link
    %span.icon.folder

%td.number-col
  %p.cell-link= p.dossier_id

%td
  %p.cell-link= procedure_libelle

%td
  %p.cell-link
    = user_email
    = "- #{t('views.instructeurs.dossiers.deleted_by_administration')}" if p.hidden_by_administration_at.present?

%td.status-col
  %p.cell-link= status_badge(p.state)
