- content_for(:title, @subject)

%p
  Bonjour,

%p
  L’utilisateur <b>« #{@user.email} »</b> a demandé la fusion de son compte avec le vôtre <b>« #{@requested_email} »</b>.

%p
  Si vous désirez confirmer la fusion de ces comptes :

%ol
  %li connectez-vous avec le compte #{@requested_email}
  %li allez sur votre page profil
  %li acceptez la fusion

%p
  Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer ce message. Et si vous avez besoin d’assistance, n’hésitez pas à nous contacter à
  = succeed '.' do
    = mail_to CONTACT_EMAIL

= render partial: "layouts/mailers/signature"
