- content_for(:title, @subject)
- merge_link = france_connect_particulier_merge_using_email_link_url(email_merge_token: @email_merge_token)

%p
  Bonjour,

%p
  Pour confirmer la fusion de votre compte, veuillez cliquer sur le lien suivant :
= round_button 'Je confirme', merge_link, :primary

%p
  Vous pouvez aussi visiter ce lien : #{link_to merge_link, merge_link}

%p Ce lien est valide #{distance_of_time_in_words(FranceConnectInformation::MERGE_VALIDITY)}, jusqu'à #{@email_merge_token_created_at.strftime("%d-%m-%Y à %H:%M (%Z)")}

%p
  Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer ce message. Et si vous avez besoin d’assistance, n’hésitez pas à nous contacter à
  = succeed '.' do
    = mail_to CONTACT_EMAIL

= render partial: "layouts/mailers/signature"
