- content_for(:title, "Vérification de votre mail sur #{Current.application_name}")

%p
  Bonjour,

  %p
    - if @dossier.present?
      Un dossier sur la démarche : #{@dossier.procedure.libelle} a été démarré en votre nom par #{@dossier.user.email}.
    - else
      Un dossier a été démarré en votre nom sur #{Current.application_name}"

  %p
    Pour continuer à recevoir les mails concernant votre dossier, vous devez confirmer votre adresse email en cliquant sur ce bouton :
    = round_button 'Je confirme', users_confirm_email_url(token: @token), :primary

  %p
    Vous pouvez aussi utiliser ce lien :
    = link_to(users_confirm_email_url(token: @token), users_confirm_email_url(token: @token))

  %p
    - if @dossier.present?
      Pour en savoir plus, veuillez vous rapprocher de #{@dossier.user.email}.
    - else
      Nous restons à votre disposition si vous avez besoin d’accompagnement à l'adresse #{link_to CONTACT_EMAIL, "mailto:#{CONTACT_EMAIL}"}.


= render partial: "layouts/mailers/signature"
