- content_for(:title, 'Activation de votre compte gestionnaire')

%p
  Bonjour,

%p
  Vous venez d’être nommé gestionnaire du groupe gestionnaire #{@groupe_gestionnaire.name} sur #{Current.application_name}.

%p
  Votre compte a été créé pour l'adresse email #{@user.email}. Pour l’activer, nous vous invitons à cliquer sur le lien suivant : 
  = link_to(gestionnaires_activate_url(token: @reset_password_token), gestionnaires_activate_url(token: @reset_password_token))

= render partial: "layouts/mailers/signature"
