- content_for(:title, @subject)

%p
  Bonjour,

%p
  Cela fait plus de deux ans que vous ne vous êtes pas connecté à #{Current.application_name}
  avec le compte <strong>#{@user.email}</strong> .
  - if @user.dossiers.not_brouillon.count == 0
    Aussi vous n'avez plus de dossier sur la plateforme.

%p
  Dans le respect du règlement général sur la protection des données, nous allons
  %strong supprimer votre compte d'ici #{distance_of_time_in_words(Expired::REMAINING_WEEKS_BEFORE_EXPIRATION.weeks)}.

- if @user.dossiers.not_brouillon.count > 0
  %p
    %strong Ne vous en faites pas,
    vos dossiers traités sont conservés par l'administration. Aussi, à tout moment vous pourrez re-créer un compte sur notre plateforme.
    Au besoin, vous pouvez télécharger vos dossiers en suivant ce lien :
    = link_to dossiers_url, dossiers_url

%p Vous souhaitez conserver votre compte et vos dossiers ? Connectez-vous avec vos identifiants et nous conserverons vos données.

= render partial: "layouts/mailers/signature"
