- content_for(:title, "Vérification de votre mail sur #{Current.application_name}")

%p
  Bonjour,

%p
  Votre précédente confirmation de mail n'a pas fonctionné, vous pouvez essayer de nouveau en cliquant sur ce bouton :
  = round_button 'Je confirme', users_confirm_email_url(token: @token), :primary

%p
  Vous pouvez aussi utiliser ce lien :
  = link_to(users_confirm_email_url(token: @token), users_confirm_email_url(token: @token))

%p
  Nous restons à votre disposition si vous avez besoin d’accompagnement à l'adresse #{link_to CONTACT_EMAIL, "mailto:#{CONTACT_EMAIL}"}.


= render partial: "layouts/mailers/signature"
