.container
  .backoffice-title
    Résultat de la recherche :
    = pluralize(@dossiers.count, "dossier trouvé", "dossiers trouvés")

  - if @dossiers.present?
    %table.table.dossiers-table.hoverable
      %thead
        %tr
          %th Nº
          %th Procédure
          %th Demandeur
          %th Statut
      %tbody
      - @dossiers.each do |dossier|
        %tr
          %td.number-col
            = link_to(dossier_path(dossier.procedure, dossier), class: 'cell-link') do
              %i.icon.folder>
              = dossier.id
          %td= link_to(dossier.procedure.libelle, dossier_path(dossier.procedure, dossier), class: 'cell-link')
          %td= link_to(dossier.user.email, dossier_path(dossier.procedure, dossier), class: 'cell-link')
          %td.status-col
            = link_to(dossier_path(dossier.procedure, dossier), class: 'cell-link') do
              = render partial: 'new_gestionnaire/procedures/status', locals: { dossier: dossier }
  - else
    %h2 Aucun dossier correspondant à votre recherche n'a été trouvé
