= turbo_frame_tag dom_id(prefill_description, :query) do
  - if prefill_description.prefilled_champs.any? || prefill_description.identity_items_selected.any?
    = render Dsfr::CalloutComponent.new(title: t("views.prefill_descriptions.edit.prefill_query_title"), theme: :success, icon: "fr-icon-code-box-fill") do |c|
      - c.with_html_body do
        %p= t("views.prefill_descriptions.edit.prefill_query_info")
        %pre
          %code.code-block
            = prefill_description.prefill_query
            %br
            = t("views.prefill_descriptions.edit.prefill_query_response_html", url: commencer_url(prefill_description.path, prefill_token: "faketoken"))
      - c.with_bottom do
        = render Dsfr::CopyButtonComponent.new(title: t("views.prefill_descriptions.edit.prefill_query_copy"), text: prefill_description.prefill_query)
