= turbo_frame_tag dom_id(prefill_description, :prefillable_entities) do

  .fr-grid-row.fr-grid-row--gutters.fr-pt-1w.fr-pb-5w
    - if prefill_description.for_individual?
      - ["prenom", "nom", "genre"].each do |identity_item|
        = render "prefillable_entity_card",
          prefill_description: prefill_description, type_de_champ: nil,
          prefillable: true, already_included: prefill_description.include?(identity_item),
          all_entities: prefill_description.identity_items_selected, new_entity: identity_item,
          title: t("views.prefill_descriptions.edit.title.#{identity_item}"), description: t("views.prefill_descriptions.edit.description.#{identity_item}"), possible_values: t("views.prefill_descriptions.edit.possible_values.#{identity_item}"), example_value: t("views.prefill_descriptions.edit.examples.#{identity_item}")

  .fr-grid-row.fr-grid-row--gutters.fr-pt-1w.fr-pb-5w
    - prefill_description.types_de_champ.each do |type_de_champ|
      = render "prefillable_entity_card",
        prefill_description: prefill_description, type_de_champ: type_de_champ,
        prefillable: type_de_champ.prefillable?, already_included: prefill_description.include?(type_de_champ.id.to_s),
        all_entities: prefill_description.selected_type_de_champ_ids, new_entity: type_de_champ.id.to_s,
        title: type_de_champ.libelle, description: type_de_champ.description, possible_values: type_de_champ.possible_values, example_value: type_de_champ.example_value
