= turbo_frame_tag "#{dom_id(@prefill_description)}_types_de_champs" do
  .card
    .card-title
      %span.icon.edit
      = t("views.prefill_descriptions.edit.champs_title")

    %table.table.hoverable
      %thead
        %tr
          %th
            = t("views.prefill_descriptions.edit.champ_id")
          %th
            = t("views.prefill_descriptions.edit.champ_type")
          %th
            = t("views.prefill_descriptions.edit.champ_libelle")
          %th
            = t("views.prefill_descriptions.edit.champ_description")
          %th
            = t("views.prefill_descriptions.edit.champ_prefill")

      %tbody
        - prefill_description.types_de_champ.each do |type_de_champ|
          %tr
            %td
              = type_de_champ.to_typed_id
            %td
              = t("activerecord.attributes.type_de_champ.type_champs.#{type_de_champ.type_champ}")
            %td
              = type_de_champ.libelle
            %td
              = type_de_champ.description
            %td.text-center
              = form_for prefill_description, url: prefill_description_path(prefill_description.path), data: { turbo: true } do |f|
                - if prefill_description.include?(type_de_champ.id)
                  - (prefill_description.selected_type_de_champ_ids - [type_de_champ.id.to_s]).each do |id|
                    = f.hidden_field :selected_type_de_champ_ids, value: id, multiple: true
                  = f.submit t("views.prefill_descriptions.edit.champ_remove"), class: 'fr-btn fr-btn--secondary fr-btn--md'
                - elsif type_de_champ.prefillable?
                  - (prefill_description.selected_type_de_champ_ids + [type_de_champ.id.to_s]).each do |id|
                    = f.hidden_field :selected_type_de_champ_ids, value: id, multiple: true
                  = f.submit t("views.prefill_descriptions.edit.champ_add"), class: 'fr-btn fr-btn--md'
                - else
                  %button.fr-btn.fr-btn--secondary{ disabled: true }
                    = t("views.prefill_descriptions.edit.champ_unavailable")
