= turbo_stream.replace dom_id(@prefill_description, :prefillable_entities) do
  = render "prefillable_entities", prefill_description: @prefill_description

= turbo_stream.replace dom_id(@prefill_description, :url) do
  = render "prefill_link", prefill_description: @prefill_description

= turbo_stream.replace dom_id(@prefill_description, :query) do
  = render "prefill_query", prefill_description: @prefill_description
