= turbo_stream.replace "#{dom_id(@prefill_description)}_types_de_champs" do
  = render "types_de_champs", prefill_description: @prefill_description

= turbo_stream.replace "#{dom_id(@prefill_description)}_url" do
  = render "prefill_link", prefill_description: @prefill_description

= turbo_stream.replace "#{dom_id(@prefill_description)}_query" do
  = render "prefill_query", prefill_description: @prefill_description
