%footer.dossier-footer
  .container
    - service = dossier.procedure.service
    - if service.present?
      %ul.footer-row.footer-columns
        %li.footer-column
          %h3.footer-header Cette démarche est gérée par :
          %p
            = service.nom
            %br
            = service.organisme
            %br
            = string_to_html(service.adresse)

        %li.footer-column
          %h3.footer-header Poser une question sur votre dossier :
          %p
            - if dossier.brouillon?
              Par email :
              = link_to service.email, "mailto:#{service.email}"
            - else
              Directement
              = link_to "par la messagerie", users_dossier_recapitulatif_path(dossier)
          %p
            Par téléphone :
            %a{ href: "tel:#{service.telephone}" }= service.telephone

          %p
            Horaires : #{ service.horaires.sub(/\S/, &:downcase) }

        - politiques = politiques_conservation_de_donnees(dossier.procedure)
        - if politiques.present?
          %li.footer-column
            %h3.footer-header Conservation des données :
            - politiques.each do |politique|
              %p= politique

    .footer-row.footer-bottom-line
      = link_to "Accessibilité", accessibilite_index_path, :class => "footer-link"
      –
      = link_to "CGU", CGU_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
      –
      = link_to "Mentions légales", MENTIONS_LEGALES_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
      –
      = contact_link "Contact technique", class: "footer-link", dossier_id: dossier.id
