- content_for(:title, "Demande · Dossier nº #{@dossier.id} (#{@dossier.procedure.libelle})")

- content_for :footer do
  = render partial: "new_user/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

#dossier-show
  = render partial: 'new_user/dossiers/show/header', locals: { dossier: @dossier }

  = render partial: 'shared/dossiers/demande', locals: { dossier: @dossier, demande_seen_at: nil, profile: 'usager' }

  .container
    - if !@dossier.read_only?
      = link_to "Modifier le dossier", modifier_dossier_path(@dossier), class: 'button primary edit-form'
      .clearfix
