- content_for(:title, "Informations sur l’établissement")

- content_for :footer do
  = render partial: "new_user/dossiers/dossier_footer", locals: { dossier: @dossier }

.etablissement
  .container
    %h1 Informations sur l’établissement

    %p
      Nous avons récupéré auprès de l’INSEE et d’Infogreffe les informations suivantes concernant votre établissement.

    %p
      Ces informations seront jointes à votre dossier.

    .etablissement-infos.card.featured
      - etablissement = @dossier.etablissement
      %h2.card-title= raison_sociale_or_name(etablissement)

      = render partial: 'new_user/dossiers/etablissement/infos_entreprise', locals: { etablissement: etablissement }

      - if etablissement.association?
        = render partial: 'new_user/dossiers/etablissement/infos_association', locals: { etablissement: etablissement }

    .actions
      = link_to 'Utiliser un autre numéro SIRET', siret_dossier_path(@dossier), class: 'button'

      - if @dossier.use_legacy_carto?
        / Until the old layout is gone, we need to disable turbolinks
        / to avoid the map loading twice (once for the turbolinks preview,
        / once when turbolinks notices the layout are differents and reloads
        / the page.)
        = link_to 'Continuer avec ces informations', users_dossier_carte_path(@dossier), class: 'button primary', data: { turbolinks: false }
      - else
        = link_to 'Continuer avec ces informations', brouillon_dossier_path(@dossier), class: 'button primary'
