.dossiers-headers.accompagnateur-header
  .container
    %h1.page-title Les dossiers

    %ul.tabs
      - if @user_dossiers.count > 0
        %li{ class: (@current_tab == 'mes-dossiers') ? 'active' : nil }>
          = link_to(dossiers_path(current_tab: 'mes-dossiers')) do
            mes dossiers
      - if @dossiers_invites.count > 0
        %li{ class: (@current_tab == 'dossiers-invites') ? 'active' : nil }>
          = link_to(dossiers_path(current_tab: 'dossiers-invites')) do
            dossiers invités

.container
  %table.table.dossiers-table.hoverable
    %thead
      %tr
        %th.notification-col
        %th.number-col Nº dossier
        %th Procédure
        %th.status-col Statut
        %th.updated-at-col Mis à jour
      %tbody
        - @dossiers.each do |dossier|
          %tr
            %td.folder-col
              = link_to(modifier_dossier_path(dossier), class: 'cell-link') do
                %span.icon.folder
            %td.number-col
              = link_to(modifier_dossier_path(dossier), class: 'cell-link') do
                = dossier.id
            %td
              = link_to(modifier_dossier_path(dossier), class: 'cell-link') do
                = dossier.procedure.libelle
            %td.status-col
              = link_to(modifier_dossier_path(dossier), class: 'cell-link') do
                = render partial: 'shared/dossiers/status', locals: { dossier: dossier }
            %td.updated-at-col
              = link_to(modifier_dossier_path(dossier), class: 'cell-link') do
                = dossier.updated_at.localtime.strftime("%d/%m/%Y")

  = paginate(@dossiers)
