.dossiers-headers.sub-header
  .container
    = link_to "Commencer une nouvelle démarche", new_demarche_url, class: "button secondary new-demarche"

    - if @dossiers_invites.count == 0
      %h1.page-title Mes dossiers

    - else
      %h1.page-title Dossiers
      %ul.tabs
        = tab_item('mes dossiers',
          dossiers_path(current_tab: 'mes-dossiers'),
          active: @current_tab == 'mes-dossiers')

        = tab_item('dossiers invités',
          dossiers_path(current_tab: 'dossiers-invites'),
          active: @current_tab == 'dossiers-invites')

.container
  - if @dossiers.present?
    - if @dossiers.total_pages >= 2
      .card.feedback
        .card-title Nous avons redesigné la liste des dossiers.
        %p
          Une suggestion pour améliorer cette page&nbsp;? Votre avis nous intéresse&nbsp;! Écrivez-nous à
          = mail_to CONTACT_EMAIL, CONTACT_EMAIL, subject: "Amélioration de la liste des dossiers"
          \.

    %table.table.dossiers-table.hoverable
      %thead
        %tr
          %th.notification-col
          %th.number-col Nº dossier
          %th Procédure
          %th.status-col Statut
          %th.updated-at-col Mis à jour
        %tbody
          - @dossiers.each do |dossier|
            %tr
              %td.folder-col
                = link_to(url_for_dossier(dossier), class: 'cell-link') do
                  %span.icon.folder
              %td.number-col
                = link_to(url_for_dossier(dossier), class: 'cell-link') do
                  = dossier.id
              %td
                = link_to(url_for_dossier(dossier), class: 'cell-link') do
                  = dossier.procedure.libelle
              %td.status-col
                = link_to(url_for_dossier(dossier), class: 'cell-link') do
                  = render partial: 'shared/dossiers/status', locals: { dossier: dossier }
              %td.updated-at-col
                = link_to(url_for_dossier(dossier), class: 'cell-link') do
                  = dossier.updated_at.localtime.strftime("%d/%m/%Y")
    = paginate(@dossiers)

    - if current_user.feedbacks.empty? || current_user.feedbacks.last.created_at < 1.month.ago
      #user-satisfaction
        %h3 Que pensez-vous de ce service ?
        .icons
          = link_to feedback_path(mark: 0), data: { remote: true, method: :post } do
            %span.icon.frown
          = link_to feedback_path(mark: 1), data: { remote: true, method: :post } do
            %span.icon.meh
          = link_to feedback_path(mark: 2), data: { remote: true, method: :post } do
            %span.icon.smile

  - else
    .dossiers-table-empty
      %h2.empty-text Aucun dossier.
      %p.empty-text-details Vous n’avez pas encore commencé de démarche.
      = link_to "Commencer une nouvelle démarche", new_demarche_url, class: "button primary"
