%p
  = t('.already_exists', email: email, application_name: Current.application_name)
  %br
  = t('.fill_in_password')

= form_tag france_connect_particulier_merge_with_existing_account_path, data: { turbo: true, turbo_force: :server }, class: 'mt-2 form fconnect-form' do
  = hidden_field_tag :merge_token, merge_token
  = hidden_field_tag :email, email
  = label_tag :password, t('views.registrations.new.password_label', min_length: 8)
  = password_field_tag :password, nil, autocomplete: 'current-password', id: 'password-for-another-account'
  .mb-2
    = t('views.users.sessions.new.reset_password')
    = link_to france_connect_particulier_resend_and_renew_merge_confirmation_path(merge_token: merge_token), method: :post do
      = t('france_connect.particulier.merge.link_confirm_by_email')
  = button_tag t('.back'), type: 'button', class: 'button secondary', onclick: 'DS.showNewAccount(event);'
  = submit_tag t('france_connect.particulier.merge.button_merge'), class: 'button primary'
