%p
  Le compte #{email} existe déjà sur #{APPLICATION_NAME}
  %br
  entrez votre mot de passe pour fusionner les comptes

= form_tag france_connect_particulier_merge_with_existing_account_path, remote: true, class: 'mt-2 form' do
  = hidden_field_tag :merge_token, merge_token
  = hidden_field_tag :email, email
  = label_tag :password, 'Mot de passe (8 caractères minimum)'
  = password_field_tag :password, nil, autocomplete: 'current-password', id: 'password-for-another-account'
  = button_tag 'revenir en arrière', type: 'button', class: 'button secondary', onclick: 'DS.showNewAccount(event);'
  = submit_tag 'Fusionner les comptes', class: 'button primary'
