%h2.text-info
  = image_tag('logo_FC_02_small.png', style: 'height: 55px')
  &nbsp;France Connect - Particulier

%h3 Nouvelle connexion
%h4.text-warning{style:'margin-left: 20px'} Email déjà utilisé

%br
%p
  %h4.center Nous avons trouvé un compte qui utilise déjà cette adresse email.
  %p.center
    Afin d'associer ce compte à votre identifiant France Connect, merci de saisir votre mot de passe TPS.
  %br
.center
  #france_connect_particulier_email
    = form_for @user, url: {controller: 'france_connect/particulier', action: :check_email}, method: :post do |f|
      .form-group.form-group-lg
        = f.text_field :email_france_connect, class: "form-control", readonly: 'readonly'
        %br
        = f.password_field :password, class: "form-control", placeholder: "Entrez votre mot de passe"
        = hidden_field_tag :fci_id, params[:fci_id]
        = hidden_field_tag :salt, params[:salt]
        = f.submit 'Terminer', class: %w(btn btn-lg btn-success), style: 'margin-top:20px;', id: 'valid_new_fcp'