.fr-container
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    %h1.fr-mt-6w.fr-h2.center= t('.confirmation_sent_by_email')

    %p.center{ aria: { hidden: true } }= image_tag("user/confirmation-email.svg", alt: t('views.confirmation.new.image_alt'))

    = render Dsfr::AlertComponent.new(title: '', state: :info, heading_level: 'h2', extra_class_names: 'fr-mt-6w fr-mb-3w') do |c|
      - c.with_body do
        %p= t('.intro_html', email: h(email)).html_safe
        %p= t('.click_the_link_in_the_email')

    %p.center= link_to t('.continue'), destination_path, class: 'fr-btn'
