= content_for :title, "Fusion des comptes FC et #{Current.application_name}"

.container
  %h1.page-title= t('.title', application_name: Current.application_name)

  %p= t('.subtitle_html', email: @fci.email_france_connect, application_name: Current.application_name)

  .form.mt-2
    %label= t('.label_select_merge_flow', email: @fci.email_france_connect)
    %fieldset.radios
      %label{ onclick: "DS.showFusion(event);" }
        = radio_button_tag :value, true, false, autocomplete: "off", id: 'it-is-mine'
        = t('utils.yes')

      %label{ onclick: "DS.showNewAccount(event);" }
        = radio_button_tag :value, false, false, autocomplete: "off", id: 'it-is-not-mine'
        = t('utils.no')

  .fusion.hidden
    %p= t('.title_fill_in_password')

    = form_tag france_connect_particulier_merge_with_existing_account_path, data: { turbo: true }, class: 'mt-2 form fconnect-form' do
      = hidden_field_tag :merge_token, @fci.merge_token, id: dom_id(@fci, :fusion_merge_token)
      = hidden_field_tag :email, @fci.email_france_connect, id: dom_id(@fci, :fusion_email)
      .fr-input-group
        = label_tag :password, t('views.registrations.new.password_label', min_length: 8), class: 'fr-label'
        = password_field_tag :password, nil, autocomplete: 'current-password', class: 'mb-1 fr-input'
      .mb-2
        = t('views.users.sessions.new.reset_password')
        = link_to france_connect_particulier_resend_and_renew_merge_confirmation_path(merge_token: @fci.merge_token), method: :post do
          = t('.link_confirm_by_email')

      = submit_tag t('.button_merge'), class: 'fr-btn'


  .new-account.hidden
    %p= t('.title_fill_in_email', application_name: Current.application_name)

    = form_tag france_connect_particulier_merge_with_new_account_path, data: { turbo: true }, class: 'mt-2 form' do
      = hidden_field_tag :merge_token, @fci.merge_token, id: dom_id(@fci, :new_account_merge_token)
      = label_tag :email, t('views.registrations.new.email_label'), for: dom_id(@fci, :new_account_email)
      = email_field_tag :email, "", required: true, id: dom_id(@fci, :new_account_email)
      = submit_tag t('.button_use_this_email'), class: 'button primary'


  #new-account-password-confirmation.hidden
