= render NestedForms::FormOwnerComponent.new
= form_for(commentaire, url: form_url) do |f|
  - if @last_commentaire
    = f.hidden_field :last_commentaire, value: @last_commentaire.id, name: :id
  %p.mandatory-explanation= t('asterisk_html', scope: [:utils])

  = render Dsfr::InputComponent.new(form: f, attribute: :body, input_type: :text_area, opts: { rows: 5, placeholder: t('views.gestionnaires.groupe_gestionnaires.messages.form.write_message_placeholder'), title: t('views.gestionnaires.groupe_gestionnaires.messages.form.write_message_placeholder'), class: 'fr-input message-textarea'})

  .fr-mt-3w
    = f.submit t('views.gestionnaires.groupe_gestionnaires.messages.form.send_message'), class: 'fr-btn', data: { disable: true }
