= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    [Procedure.human_attribute_name(:jeton_api_particulier)]] }

.fr-container
  %h1.fr-h2= Procedure.human_attribute_name(:jeton_api_particulier)

  .fr-grid-row.fr-grid-row--gutters.fr-pb-6w
    .fr-col-12.fr-col-md-6
      .fr-card.fr-card--shadow.fr-my-3w
        .fr-card__body
          .fr-card__content
            %h2.fr-card__title= Procedure.human_attribute_name(:jeton_api_particulier)
            %p.fr-badge.fr-badge--sm.fr-mb-2w{ class: @procedure.api_particulier_token.blank? ? 'fr-badge--info' : 'fr-badge--success' }
              = @procedure.api_particulier_token.blank? ? t('.needs_configuration') : t('.already_configured')
          .fr-card__footer
            = link_to t('views.shared.actions.edit'), admin_procedure_api_particulier_jeton_path, class: 'fr-btn', id: 'edit-jeton'

    - if @procedure.api_particulier_scopes.present?
      .fr-col-12.fr-col-md-6
        .fr-card.fr-card--shadow.fr-my-3w
          .fr-card__body
            .fr-card__content
              %h2.fr-card__title= t('administrateurs.sources_particulier.show.data_sources')
              %p.fr-badge.fr-badge--sm.fr-mb-2w{ class: @procedure.api_particulier_token.blank? ? 'fr-badge--info' : 'fr-badge--success' }
                = @procedure.api_particulier_token.blank? ? t('.needs_configuration') : t('.already_configured')
            .fr-card__footer
              = link_to t('views.shared.actions.edit'), admin_procedure_api_particulier_sources_path, class: 'fr-btn'
