= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    [Procedure.human_attribute_name(:jeton_api_particulier), admin_procedure_api_particulier_path(@procedure)],
                    ['Jeton Particulier']] }

.fr-container
  %h1.fr-h2
    Jeton Particulier

.fr-container
  = form_with model: @procedure, url: admin_procedure_api_particulier_jeton_path, local: true do |f|
    = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          = t('.api_particulier_description_html', app_name: Current.application_name)

    %fieldset.fr-fieldset
      .fr-fieldset__element
        = f.label :api_particulier_token, class: "fr-label"
        %span.fr-hint-text= t('.token_description')
        = f.password_field :api_particulier_token, class: 'fr-input', required: :required

      .fr-fieldset__element
        = f.button t('views.shared.actions.save'), class: 'fr-btn'
