.drop-down-mode-advanced
  - if type_de_champ.referentiel.present?
    .cell
      %label.fr-label.font-weight-bold
        Fichier de référentiel à importer (CSV)
      %p.fr-mt-2w
        %span.fr-badge.fr-badge--success
          = type_de_champ.referentiel.items.count
          options importées
        à partir de
        = type_de_champ.referentiel.name
      = render NestedForms::OwnedButtonComponent.new(formaction: nullify_referentiel_admin_procedure_type_de_champ_path(procedure_id: procedure.id, stable_id: type_de_champ.stable_id), http_method: :delete, opt: { class: "fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-delete-line fr-mb-2w"}) do
        Supprimer ce référentiel

  - else
    .cell
      %label.fr-label.font-weight-bold
        Fichier de référentiel à importer (CSV)
      .fr-hint-text.fr-mb-2w
        = t('.hint_html')
      .fr-download
        = link_to "/#{template_file}", {class: "fr-download__link", download: ''} do
          Modèle à télécharger
          %span.fr-download__detail
            = template_detail
      .fr-hint-text.fr-mb-1w
        Votre fichier doit peser maximum #{number_to_human_size(referentiel_max_size)} et ne doit pas contenir plus de #{number_with_delimiter(referentiel_max_lines)} lignes.
      .flex.column
        = file_field_tag :referentiel_file, required: true, accept: 'text/csv', size: "1", class: 'fr-mb-2w', id: dom_id(type_de_champ, :import_referentiel)
