#errors-summary
  - if invalid?
    = render Dsfr::AlertComponent.new(state: :warning, title: "Le formulaire contient des erreurs", extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        - if condition_errors?
          %p= t('.fix_conditional', count: errors_for(:condition).size)
          = error_message_for(:condition)

        - if header_section_errors?
          %p= t('.fix_header_section', count: errors_for(:header_section).size)
          = error_message_for(:header_section)

        - if expression_reguliere_errors?
          %p= t('.fix_expressions_regulieres', count: errors_for(:expression_reguliere).size)
          = error_message_for(:expression_reguliere)
