= form_with(url: admin_procedure_groupe_instructeurs_path(@procedure),
  method: :get) do
  .header-search-container.fr-background-alt--grey.fr-mb-3w.fr-p-2w
    #header-search.fr-search-bar.fr-mb-2w{ role: "search" }
      = label_tag :q, 'Rechercher un groupe (par nom)', class: 'sr-only'
      = text_field_tag :q, @query, class: 'fr-input', type: 'search', autocomplete: 'off', placeholder: 'Rechercher un groupe (par nom)'
      %button.fr-btn{ title: "Rechercher" } Rechercher
    - if show_to_configure?
      .fr-toggle
        = check_box_tag :filter, '1', @to_configure_filter, class: 'fr-toggle__input', data: { controller: 'autosubmit' }
        = label_tag :filter, t('.to_configure_filter_html', count: @to_configure_count), class: 'fr-toggle__label'
  - if @query.present?
    = link_to "Réinitialiser la recherche",
      admin_procedure_groupe_instructeurs_path(@procedure),
      class: 'fr-link'
