- if @dossier
  .panel.panel-default
    .panel-body
      = link_to 'X', users_no_procedure_url, class: 'btn btn-xs', style: 'float: right;'

      - if @dossier.procedure.euro_flag
        #euro_flag.flag
          = image_tag('drapeau_europe.png')

      #logo_procedure.flag
        = image_tag( @dossier.procedure.decorate.logo_img )

      %h2#titre-procedure.text-info
        = @dossier.procedure.libelle
      %p.procedure-description
        = h string_to_html(@dossier.procedure.description)
