- content_for(:title, 'Lien de connexion par email')

- content_for :footer do
  = render partial: 'root/footer'

.fr-container
  .fr-col-12.fr-col-md-6.fr-col-offset-md-3
    %h1.fr-mt-6w.fr-h2.center
      = t('views.confirmation.new.title')

    %p.center= image_tag("user/confirmation-email.svg", alt: '')

    = render Dsfr::AlertComponent.new(title: '', state: :info, heading_level: 'h2', extra_class_names: 'fr-mt-6w fr-mb-3w') do |c|
      - c.with_body do
        %p= t('views.users.sessions.link_sent.email_cta_html', email: @email)
        %p= t('views.confirmation.new.email_guidelines_html')

    %p.fr-text--sm.fr-text-mention--grey.fr-mb-1w
      = t('views.confirmation.new.email_missing')

    = button_to instructeurs_reset_link_sent_path(email: @signed_email), class: 'fr-btn fr-btn--secondary', method: 'POST' do
      = t('views.confirmation.new.resent')

    %p.fr-text--sm.fr-text-mention--grey.fr-mt-3w
      = t('views.users.sessions.link_sent.consult_help_page_html', href: t("links.common.faq.confirmer_compte_chaque_connexion_url"))

    %p.fr-text--sm.fr-text-mention--grey.fr-mt-3w.fr-mb-6w
      = t('views.users.shared.contact_us_if_any_trouble_html', href: contact_admin_url)
