- content_for(:title, 'Lien de connexion par email')

- content_for :footer do
  = render partial: 'root/footer'

#link-sent.container
  = image_tag('user/confirmation-email.svg')
  %h1 Encore une petite étape :)

  %p.mail
    Ouvrez votre boite email <b>#{@email}</b> puis cliquez sur le lien d'activation du message <b>Connexion sécurisée à ${SITE_NAME}</b>.
    %br
    %br
    <b>Attention</b>, ce message peut mettre jusqu'à <b>15 minutes</b> pour arriver.

  %p.help
    En cas de difficultés, nous restons joignables sur #{link_to '#{SITE_NAME}', 'mailto:#{CONTACT_MAIL}'}.
