- content_for(:title, 'Lien de connexion par email')

- content_for :footer do
  = render partial: 'root/footer'

#link-sent.container
  = image_tag('user/confirmation-email.svg')
  %h1 Encore une petite étape :)

  %section.link-sent-info
    %p
      Ouvrez votre boite email <strong>#{@email}</strong> puis cliquez sur le lien d’activation du message <strong>Connexion sécurisée à #{APPLICATION_NAME}</strong>.
    %p
      = t('views.users.shared.email_can_take_a_while')

  %section.link-sent-help
    %p
      Si vous voyez cette page trop souvent, consultez notre aide : #{link_to FAQ_CONFIRMER_COMPTE_CHAQUE_CONNEXION_URL, FAQ_CONFIRMER_COMPTE_CHAQUE_CONNEXION_URL, target: '_blank', rel: 'noopener' }
    %p
      = t('views.users.shared.contact_us_if_any_trouble_html', href: contact_admin_url)
