#form_login
  %br
  = render partial: 'users/sessions/resume_procedure'

  %h2#login_user
    =t('dynamics.users.connexion_title')

  %a.btn_fc#btn_fcp{href: '/france_connect/particulier'}
    = image_tag 'franceconnect_logo.png'

  %br
  %a.text-info{href: 'https://fcp.integ01.dev-franceconnect.fr/a-propos', target: '_blank'}
    Qu’est-ce que FranceConnect ?

  %hr
  = form_for @user, url: user_session_path, method: :post do |f|
    %h4
      = f.label :email
    .input-group
      .input-group-addon
        %span.fa.fa-user
      = f.email_field :email, class: 'form-control'
    %br
    %h4
      = f.label 'Mot de passe'
    .input-group
      .input-group-addon
        %span.fa.fa-asterisk
      = f.password_field :password, class: 'form-control', value: "#{@user.password}"
    %br
    %br
    .actions
      = f.submit "Se connecter", class:'btn btn-primary'
    %br
  = render "users/shared/links"
  %div{style: "margin-top: 5px; margin-bottom: 5px;"}
    \-
  Vous êtes un administrateur de procédure ?
  %br
  = link_to "Cliquez ici.", '/administrateurs/sign_in'



