#form_login
  = image_tag('logo-tps.png')
  %br
  %h2#login_user Connexion

  -#%a.btn_fc#btn_fcp{href: '/france_connect/particulier'}
  -#  = image_tag 'franceconnect_logo.png'
  -#
  -#%br
  -#%a.text-info{href: 'https://fcp.integ01.dev-franceconnect.fr/a-propos', target: '_blank'}
  -#  Qu’est-ce que FranceConnect ?
  -#
  -#%hr

  %br
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h4
      = f.label :email
    .input-group
      .input-group-addon
        %span.fa.fa-user
      = f.email_field :email, class: 'form-control'
    %br
    %h4
      = f.label :password
    .input-group
      .input-group-addon
        %span.fa.fa-asterisk
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    %br
    %br
    .actions
      = f.submit "Se connecter", class:'btn btn-primary'
    %br

  = render "users/shared/links"

  %div{style:'text-align:center'}
    \-
    %br
    %a{href: '/gestionnaires/sign_in'}
      = 'Accompagnateur'
    %br
    %a{href: '/administrateurs/sign_in'}
      = 'Administrateur'

    %br
    \-
    %br
    %a{href: 'https://github.com/sgmap/tps/releases', target: '_blank'}
      = 'Nouveautés'


