.auth-form.sign-in-form
  - if resource_name == :user
    %p.register
      %span
        Nouveau sur demarches-simplifiees.fr ?
      = link_to "Créer un compte", new_registration_path(resource_name), class: "button primary auth-signup-button"

    %hr

  = form_for @user, url: user_session_path, html: { class: "form" } do |f|
    %h1 Connectez-vous

    = f.label :email, "Email"
    = f.text_field :email, autofocus: true

    = f.label :password, "Mot de passe"
    = f.password_field :password, value: @user.password, placeholder: "8 caractères minimum"

    .auth-options
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me, as: :boolean
          = f.label :remember_me, "Se souvenir de moi", class: 'remember-me'

      - if [:user, :gestionnaire].include?(resource_name)
        .text-right
          = link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "link"

    = f.submit "Se connecter", class: "button large primary expand"

  .separation.center
    ou

  .center
    = image_tag "login-with-fc-hover.svg", style: "display: none"
    = link_to "", france_connect_particulier_path, class: "login-with-fc"

  .center
    = link_to "Qu’est-ce que FranceConnect ?", "https://franceconnect.gouv.fr/", target: "_blank", rel: "noopener", class: "link"
