#form_login
  = image_tag('logo-tps.png')
  %br
  %h2#login_user Connexion

  %br
  %h3.text-info
    S'identifier grâce à
    %strong
      France Connect

  .row
    .col-md-6.col-lg-6
      %a.btn.btn-default.btn-lg.btn-primary.btn_fc#btn_fcp{href: '/france_connect/particulier'}
        %div{style:'margin-left:35px'}
          Particulier

    .col-md-6.col-lg-6
      %a.btn.btn-default.btn-lg.btn-danger.btn_fc#btn_fce{href: '/france_connect/entreprise'}
        %div{style:'margin-left:35px'}
          Entreprise
  %hr
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h4
      = f.label :email
    .input-group
      .input-group-addon
        %span.fa.fa-user
      = f.email_field :email, class: 'form-control'
    %br
    %h4
      = f.label :password
    .input-group
      .input-group-addon
        %span.fa.fa-asterisk
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    %br
    %br
    .actions
      = f.submit "Se connecter", class:'btn btn-primary'
    %br

  = render "users/shared/links"

  %div{style:'text-align:center'}
    \-
    %br
    %a{href: '/gestionnaires/sign_in'}
      = 'Accompagnateur'
    %br
    %a{href: '/administrateurs/sign_in'}
      = 'Administrateur'




