= content_for(:page_id, 'auth')

.auth-form.sign-in-form

  = form_for User.new, url: user_session_path, html: { class: "form" } do |f|
    %h2.huge-title Connectez-vous

    = f.label :email, "Email"
    = f.text_field :email, type: :email, autocomplete: 'username', autofocus: true

    = f.label :password, "Mot de passe"
    = f.password_field :password, autocomplete: 'current-password'

    .auth-options
      %div
        = f.check_box :remember_me
        = f.label :remember_me, "Se souvenir de moi", class: 'remember-me'

      .text-right
        = link_to "Mot de passe oublié ?", new_user_password_path, class: "link"

    = f.submit "Se connecter", class: "button large primary expand"

  = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }

  %hr
  %p.center
    %span Vous êtes nouveau sur demarches&#8209;simplifiees.fr ?
    %br
    %br
    = link_to "Trouvez votre démarche", "https://faq.demarches-simplifiees.fr/article/59-comment-trouver-ma-demarche", target: "_blank", class: "button expend secondary"
