#form_login
  %br
  - if @dossier
    = link_to 'X', users_no_procedure_url, class: 'btn btn-xs', style:'float: right'

    - if @dossier.procedure.euro_flag
      #euro_flag.flag
        =image_tag('drapeau_europe.png')

    #logo_procedure.flag
      =image_tag( @dossier.procedure.decorate.logo_img )

    %h2#titre_procedure.text-info
      = @dossier.procedure.libelle
    %p
      = h @dossier.procedure.description.html_safe


  - else
    = image_tag('logo-tps.png', {id: 'logo_tps'})
  %br

  %h2#login_user Connexion

  %a.btn_fc#btn_fcp{href: '/france_connect/particulier'}
    = image_tag 'franceconnect_logo.png'

  %br
  %a.text-info{href: 'https://fcp.integ01.dev-franceconnect.fr/a-propos', target: '_blank'}
    Qu’est-ce que FranceConnect ?

  %hr
  = form_for @user, url: user_session_path, method: :post do |f|
    %h4
      = f.label :email
    .input-group
      .input-group-addon
        %span.fa.fa-user
      = f.email_field :email, class: 'form-control'
    %br
    %h4
      = f.label :password
    .input-group
      .input-group-addon
        %span.fa.fa-asterisk
      = f.password_field :password, class: 'form-control', value: "#{@user.password}"
    %br
    %br
    .actions
      = f.submit "Se connecter", class:'btn btn-primary'
    %br
  = render "users/shared/links"


