
%h2.fr-h3#affectation-instructeurs= t('views.shared.groupe_instructeurs.instructeur_assignation')

.card
  .card-title= t('views.shared.groupe_instructeurs.title')
  - if procedure.routing_enabled?
    .fr-icon-mail-line.fr-alert.fr-mb-3w
      - if @procedure.publiee?
        = t("views.shared.groupe_instructeurs.notification_alert_publiee_html")
      - else
        = t("views.shared.groupe_instructeurs.notification_alert_html")

  = render Procedure::InvitationWithTypoComponent.new(maybe_typos: @maybe_typos, url: add_instructeur_admin_procedure_groupe_instructeur_path(@procedure, groupe_instructeur.id), title: "Avant d'ajouter l'email, veuillez confirmer" )
  = form_for :instructeur, url: { action: :add_instructeur, id: groupe_instructeur.id }, html: { class: 'form', data: { controller: 'enable-submit-if-filled' } } do |f|
    .instructeur-wrapper{ data: { 'action': "change->enable-submit-if-filled#fillCombobox" } }
      %p= t('views.shared.groupe_instructeurs.instructeur_emails')
      %p.fr-hint-text= t('views.shared.groupe_instructeurs.copy_paste_hint')

      - if disabled_as_super_admin
        = f.select :emails, available_instructeur_emails, {}, disabled: disabled_as_super_admin, id: 'instructeur_emails'
      - else
        %react-fragment
          = render ReactComponent.new 'ComboBox/MultiComboBox', items: available_instructeur_emails, id: 'instructeur_emails', name: 'emails[]', allows_custom_value: true, 'aria-label': 'Emails', data: { 'enable-submit-if-filled-target': 'input' }

      = f.submit t('views.shared.groupe_instructeurs.assign'), class: 'fr-btn fr-btn--tertiary', disabled: true, data: { 'enable-submit-if-filled-target': 'submit' }

  %hr.fr-mt-4w
  .flex.justify-between.align-baseline
    .card-title= t('views.shared.groupe_instructeurs.assigned_instructeur', count: instructeurs.total_count)
    - if !@procedure.routing_enabled? & current_user.administrateur.in?(@procedure.administrateurs) && controller.try(:nav_bar_profile) == :administrateur
      = button_to export_groupe_instructeurs_admin_procedure_groupe_instructeurs_path(procedure, format: :csv), method: :get, class: 'fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-download-line' do
        Exporter la liste (.csv)

  .fr-table.fr-table--bordered.fr-table--no-caption
    .fr-table__wrapper
      .fr-table__container
        .fr-table__content
          %table
            %thead
              %tr
                %th.fr-col-11{ scope: 'col' }= t('views.shared.groupe_instructeurs.table_title')
                %th.fr-col-1.fr-cell--center{ scope: 'col' }= t('views.shared.groupe_instructeurs.actions')
            %tbody
              - instructeurs.each do |instructeur|
                %tr
                  %td.fr-col-11{ scope: 'col' }
                    = dsfr_icon('fr-icon-user-line')
                    #{instructeur.email}

                  - confirmation_message = procedure.routing_enabled? ? "Êtes-vous sûr de vouloir retirer l’instructeur « #{instructeur.email} » du groupe « #{groupe_instructeur.label} » ?" : "Êtes-vous sûr de vouloir retirer l’instructeur « #{instructeur.email} » de la démarche ?"
                  %td.fr-col-1.fr-cell--center.actions{ scope: 'col' }= button_to t('views.shared.groupe_instructeurs.remove'),
                    { action: :remove_instructeur, id: groupe_instructeur.id },
                    { method: :delete,
                      data: { confirm: confirmation_message },
                      params: { instructeur: { id: instructeur.id }},
                      class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-subtract-line fr-cell---right' }

    .fr-table__footer
      .fr-table__footer--start
        %p.fr-table__detail
          = number_with_delimiter instructeurs.total_count
          = t('activerecord.models.instructeur', count: instructeurs.total_count).downcase
      .fr-table__footer--middle
        = paginate instructeurs, views_prefix: 'shared'
