%h2.fr-h3#tampon-attestation Tampon de l’attestation d’acceptation
.card.mt-2
  = render NestedForms::FormOwnerComponent.new
  = form_with url: { action: :add_signature }, method: :post, html: { multipart: true , 'data-controller': 'enable-submit-if-uploaded' } do |f|
    %p
      Vous pouvez apposer sur l’attestation  d’acceptation du dossier un tampon (ou signature) dédié à ce groupe d’instructeurs.
      Si vous n’en fournissez pas, celui de la démarche sera utilisé, le cas échéant.

    .fr-upload-group.fr-mb-2w{ data: { 'action': "input->enable-submit-if-uploaded#upload" } }
      .card-title
        Tampon
      .fr-hint-text
        Dimensions conseillées : au minimum 500px de largeur ou de hauteur.
      = render Attachment::EditComponent.new(attached_file: groupe_instructeur.signature, direct_upload: false)

    .fr-btns-group.fr-btns-group--inline
      = f.submit 'Ajouter le tampon', class: 'fr-btn', disabled: true, data: { 'enable-submit-if-uploaded-target': 'submit' }

      - if @groupe_instructeur.signature.persisted?
        = link_to("Prévisualiser", preview_path, class: "fr-btn fr-btn--secondary", **external_link_attributes)
