.autosave.autosave-state-idle{ data: { controller: 'autosave-status' } }
  %p.autosave-explanation.fr-text--sm.fr-mb-0
    %span.autosave-explanation-text
      - if annotation?
        = t('.annotations.explanation')
      - elsif dossier.en_construction?
        = t('.en_construction.explanation')
        - if dossier.can_passer_en_construction?
          = t('.en_construction.submit_them')
      - else
        = t('.brouillon.explanation')
    - if !annotation?
      = link_to t('.more_information'), t("links.common.faq.autosave_url"), class: 'fr-link fr-link--sm fr-ml-1w', **external_link_attributes

  %p.autosave-status.succeeded.fr-text--sm.fr-mb-0
    %span.fr-icon-success-fill.fr-mr-1v{ 'aria-hidden': 'true' }
    - if annotation?
      = t('.annotations.confirmation_html')
    - elsif dossier.en_construction?
      = t('.en_construction.confirmation_html')
    - else
      = t('.brouillon.confirmation_html')
    - if !annotation?
      = link_to t('.more_information'), t("links.common.faq.autosave_url"), class: 'fr-link fr-link--sm fr-ml-1w', **external_link_attributes

  %p.autosave-status.failed.fr-text--sm.fr-mb-0
    %span.fr-icon-warning-fill.fr-mr-1v{ 'aria-hidden': 'true' }
    - if annotation?
      = t('.annotations.error_html')
    - elsif dossier.en_construction?
      = t('.en_construction.error_html')
    - else
      = t('.brouillon.error_html')
