.center
  %h2 Outil de changement d'état d'un dossier

  = form_for @dossier, url: 'change_dossier_state', action: :put do |f|
    Dossier ID :
    = @dossier.id
    = f.hidden_field :id
    %br
    État :
    = @dossier.decorate.display_state
    %br
    État souhaité :
    %select{ id: :next_state, name: :next_state }
      - Dossier.states.each do |state|
        %option{ value: state[0] }
          = DossierDecorator.case_state_fr state[1]
    = f.submit 'Valider'
