%span.fr-icon-question-fill.fr-text-action-high--blue-france{ "aria-hidden": "true" }
.fr-pl-1w
  %h6.fr-text--sm.fr-mb-1w= t('layouts.mailers.service_footer.question_about_procedure')

  - if service.link.present?
    .fr-mb-1w
      = link_to service.link, target: "_blank", rel: "noopener", class: "fr-link fr-link--sm fr-icon-arrow-right-line fr-link--icon-right" do
        = t('layouts.mailers.service_footer.consult_contact_page')

  - if service.email.present?
    .fr-mb-1w
      %span.fr-icon-mail-line.fr-icon--sm.fr-mr-1w{ "aria-hidden": "true" }
      = link_to service.email, "mailto:#{service.email}", class: "fr-link fr-link--sm"

  - if service.telephone.present?
    .fr-mb-1w
      %span.fr-icon-phone-line.fr-icon--sm.fr-mr-1w{ "aria-hidden": "true" }
      = link_to service.telephone, service.telephone_url, class: "fr-link fr-link--sm"

  - if service.horaires.present?
    .fr-mb-1w
      %span.fr-icon-time-line.fr-icon--sm.fr-mr-1w{ "aria-hidden": "true" }
      %span.fr-text--sm= t('layouts.mailers.service_footer.hours', hours: service.horaires)
