.fr-grid-row
  .fr-col-12
    .fr-translate.fr-nav
      .fr-nav__item.custom-fr-translate-flex-end
        %button.fr-translate__btn.translate-no-icon.fr-btn.fr-btn--tertiary.custom-fr-translate-no-icon{ "aria-controls" => "filters", "aria-expanded" => "false", title: t('.button.select_filters') }
          = t('.button.select_filters')
        #filters.fr-collapse.fr-menu
          = form_with(url: dossiers_path, method: :get, class: 'fr-menu__list fr-p-3w') do |f|
            = f.hidden_field :statut, value: @statut
            = f.hidden_field :procedure_id, value: @procedure_id, id: nil

            .fr-input-group
              = f.label :state, t('.legend.state'), class: 'fr-label'
              = f.select :state, options_for_select(states_collection(@statut), params[:state]), {prompt: t('.states.prompt')}, {class: 'fr-select'}

            .fr-input-group
              = f.label 'from_created_at_date', t('.legend.created_at'), class: 'fr-label'
              = f.date_field 'from_created_at_date', value: @filter.from_created_at_date, class: 'fr-input'


            .fr-input-group
              = f.label 'from_depose_at_date', t('.legend.depose_at'), class: 'fr-label'
              = f.date_field 'from_depose_at_date', value: @filter.from_depose_at_date, class: 'fr-input'

            .fr-my-2w
              = f.submit t('.button.apply_filters'), class: 'fr-btn fr-btn--sm'
              = link_to t('.button.cancel_filters_html'), dossiers_path(statut: @statut), class: 'fr-btn fr-btn--sm fr-btn--tertiary-no-outline'

  - if @filter.filter_params.present?
    .fr-col-12.text-right
      = link_to t('.tag.active_filters', count: @filter.filter_params_count), dossiers_path(statut: @statut),"aria-label": t('.tag.active_filters_link_title', count: @filter.filter_params_count), title: t('.tag.active_filters_link_title', count: @filter.filter_params_count), class: 'fr-tag fr-tag--sm fr-tag--dismiss'
