= form_with(url: dossiers_path(), method: :get ) do |f|
  = f.hidden_field :statut, value: @statut
  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-6
      %fieldset#checkboxes-inline.fr-fieldset{ "aria-labelledby" => "checkboxes-inline-legend checkboxes-inline-messages" }
        %legend.fr-fieldset__legend--regular.fr-fieldset__legend
          = t('.legend.states')
        = f.collection_check_boxes :states, states_collection(@statut), :to_s, :to_s, include_hidden: false do |b|
          .fr-fieldset__element.fr-fieldset__element--inline
            .fr-checkbox-group.fr-ml-2w.fr-py-1w
              = b.check_box(checked: filter.states_filtered?(b.value))
              = b.label(class: 'fr-label') { dossier_display_state(b.text) }

    .fr-col-12.fr-col-md-3
      .fr-input-group
        = f.label 'from_created_at_date', t('.legend.created_at'), class: 'fr-label'
        = f.date_field 'from_created_at_date', value: @filter.from_created_at_date, class: 'fr-input'

    .fr-col-12.fr-col-md-3
      .fr-input-group
        = f.label 'from_depose_at_date', t('.legend.depose_at'), class: 'fr-label'
        = f.date_field 'from_depose_at_date', value: @filter.from_depose_at_date, class: 'fr-input'

  .fr-mb-2w
    = f.submit t('.button.apply_filters'), class: 'fr-btn fr-btn--sm'
    = link_to t('.button.reset_filters'), dossiers_path(statut: @statut), class: 'fr-btn fr-btn--sm fr-btn--tertiary-no-outline'

  %hr
