- unless smart_listing.empty?
  %table.table
    %thead.row
      %th.col-md-4.col-lg-4= smart_listing.sortable 'Procédure', 'procedure.libelle'
      %th.col-md-4.col-lg-4= smart_listing.sortable 'Dossier', 'nom_projet'
      %th.col-md-2.col-lg-2= smart_listing.sortable 'État', 'state'
      %th.col-md-2.col-lg-2= smart_listing.sortable 'Date de mise à jour', 'updated_at'

    - @dossiers.each do |dossier|
      - dossier = dossier.decorate
      %tr
        %td= dossier.procedure.libelle
        %td
          = link_to(dossier.nom_projet, "/backoffice/dossiers/#{dossier.id}")
        %td= dossier.display_state
        %td= dossier.last_update

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %h4.center
    Aucun dossier
