%button#pref_list_dossier_close_action.btn.btn-danger.btn-xs.fixed-right
  %i.fa.fa-close
%h3
  =t('dynamics.backoffice.pref_list.title')

%p{style:'margin-top: 15px; margin-bottom: 20px'}
  =t('dynamics.backoffice.pref_list.description')

%h4.text-primary
  Actuelles

%ul
  - @facade_data_view.preference_list_dossiers_filter.each_with_index do |preference, index|
    %li
      = form_tag backoffice_preference_list_dossier_delete_path, method: :delete, remote: true  do
        = hidden_field_tag :pref_id, preference.id
        = hidden_field_tag :procedure_id, preference.procedure_id
        = preference.libelle
        %button.btn.btn-default.btn-xs{type: :submit, id: "delete_pref_list_#{preference[:table]}_#{preference[:attr]}"}
          %i.fa.fa-minus

%h4.text-success{style:'margin-top: 15px'}
  Disponibles

%table
  - PreferenceListDossier.available_columns_for(@facade_data_view.procedure_id).each_with_index do |tables, index|
    - if index%2 == 0 || tables.first.to_s.include?('champs')
      %tr

    %td.col-xs-5{style: 'vertical-align: top', colspan: (tables.first == :champs ? 2 : 1)}
      %h5= tables.first.to_s.gsub('_', ' ').capitalize
      %ul
        - if tables.second
          - tables.second.each do |columns|
            %li
              = form_tag backoffice_preference_list_dossier_add_path, method: :post, remote: true do
                = hidden_field_tag :libelle, columns.second[:libelle]
                = hidden_field_tag :table, columns.second[:table]
                = hidden_field_tag :attr, columns.second[:attr]
                = hidden_field_tag :attr_decorate, columns.second[:attr_decorate]
                = hidden_field_tag :bootstrap_lg, columns.second[:bootstrap_lg]
                = hidden_field_tag :procedure_id, @facade_data_view.procedure_id

                = columns.second[:libelle]
                %button.btn.btn-default.btn-xs{type: :submit, id: "add_pref_list_#{columns.second[:table]}_#{columns.second[:attr]}"}
                  %i.fa.fa-plus

