#backoffice_a_traiter
  = render partial: 'onglets'

  -#%h3.text-danger À traiter
  %table.table
    %thead.row
      %th.col-md-4.col-lg-4 Procédure
      %th.col-md-4.col-lg-4 Dossier
      %th.col-md-2.col-lg-2 État
      %th.col-md-2.col-lg-2 Date de mise à jour
    - @dossiers_a_traiter.each do |dossier|
      %tr
        %td= dossier.procedure.libelle
        %td
          = link_to(dossier.nom_projet, "/backoffice/dossiers/#{dossier.id}")
        %td= dossier.state_fr
        %td= dossier.last_update

.pagination
  = will_paginate @dossiers_a_traiter, renderer: BootstrapPagination::Rails