#backoffice_en_attente
  = render partial: 'onglets'

  -#%h3.text-info En attente
  %table.table
    %thead
      %th.col-md-4.col-lg-4 Procédure
      %th.col-md-4.col-lg-4 Dossier
      %th.col-md-2.col-lg-2 État
      %th.col-md-2.col-lg-2 Date de mise à jour
    - @dossiers_en_attente.each do |dossier|
      %tr
        %td= dossier.procedure.libelle
        %td
          = link_to(dossier.nom_projet, "/backoffice/dossiers/#{dossier.id}")
        %td= dossier.state_fr
        %td= dossier.last_update
