#backoffice_index
  #pref_list_menu
    = render partial: 'backoffice/dossiers/pref_list'

  %h1
    =t('dynamics.backoffice.title')

  %div.dropdown.pull-right#download_menu
    %button.btn.btn-default.dropdown-toggle#dropdownDownloadMenu{ type: :button, 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false}
      %i.fa.fa-download
      = t('dynamics.backoffice.download_all_dossiers')
      %span.caret
    %ul.dropdown-menu.dropdown-menu-right
      %li
        = link_to backoffice_download_dossiers_tps_path(format: :csv, procedure_id: params[:id]),  { class: 'btn btn-sm' } do
          = t('dynamics.backoffice.format_csv')
      %li
        = link_to backoffice_download_dossiers_tps_path(format: :xlsx, procedure_id: params[:id]), { class: 'btn btn-sm' } do
          = t('dynamics.backoffice.format_xlsx')
      %li
        = link_to backoffice_download_dossiers_tps_path(format: :ods, procedure_id: params[:id]),  { class: 'btn btn-sm' } do
          = t('dynamics.backoffice.format_ods')

  = render partial: 'backoffice/dossiers/onglets'

  = smart_listing_render :dossiers

  %br
  %br
  - unless Features.opensimplif
    = render partial: 'backoffice/dossiers/state_description', locals: {dossiers_list_facade: @dossiers_list_facade}
