#backoffice_index
  #pref_list_menu
    = render partial: 'backoffice/dossiers/pref_list'

  .default_data_block
    .row.show-block#new_dossiers
      .header
        .col-xs-10.title
          .carret-right
          .carret-down
          Nouveaux dossiers
        .col-xs-2.count
          = pluralize(@facade_data_view.nouveaux_total, "dossier")
      .body
        = smart_listing_render :new_dossiers

  .row.center
    .col-xs-3
      = link_to 'Tous les états', '?liste=all_state', class: 'text-info', style:"text-decoration: #{@facade_data_view.liste == 'all_state'? 'underline' : ''}"
    .col-xs-3
      = link_to 'En construction', '?liste=a_traiter', class: 'text-danger', style:"text-decoration: #{@facade_data_view.liste == 'a_traiter'? 'underline' : ''}"
    .col-xs-3
      = link_to  'En instruction', '?liste=a_instruire', class: 'text-warning', style:"text-decoration: #{@facade_data_view.liste == 'a_instruire'? 'underline' : ''}"
    .col-xs-3
      = link_to  'Terminés', '?liste=termine', class: 'text-success', style:"text-decoration: #{@facade_data_view.liste == 'termine'? 'underline' : ''}"

  .default_data_block.default_visible
    .row.show-block#follow_dossiers
      .header
        .col-xs-10.title
          .carret-right
          .carret-down
          Dossiers suivis
        .col-xs-2.count
          = pluralize(@facade_data_view.suivi_total, "dossier")
      .body
        = smart_listing_render :follow_dossiers

  .default_data_block
    .row.show-block#all_dossiers
      .header
        .col-xs-10.title
          .carret-right
          .carret-down
          Tous les dossiers
        .col-xs-2.count
          = pluralize(@facade_data_view.all_state_total, "dossier")
      .body
        = smart_listing_render :all_state_dossiers


  - if @archived_dossiers
    .default_data_block
      .row.show-block#archived_dossiers
        .header
          .col-xs-10.title
            .carret-right
            .carret-down
            Dossiers archivés
          .col-xs-2.count
            = pluralize(@archived_dossiers.count, "dossier")

        .body
          = smart_listing_render :archived_dossiers
