%div.col-lg-12.col-md-12#backoffice_dossier_show

  .default_data_block
    .row.show-block#messages
      %div.header
        %div.col-lg-10.col-md-10.title
          %div.carret-right
          %div.carret-down
          MESSAGES
        %div.col-lg-2.col-md-2.count
          - message_count = @facade.commentaires.count
          = (message_count == 1) ? "1 message" : "#{message_count} messages"
      %div.body

  .default_data_block
    %div.row.show-block#infos
      %div.header
        %div.col-lg-12.col-md-12.title
          %div.carret-right
          %div.carret-down
          INFORMATIONS ENTREPRISE / ASSOCIATION / INDIVIDU
      %div.body

  .default_data_block
    %div.row.show-block#dossier
      %div.header
        %div.col-lg-10.col-md-10.title
          %div.carret-right
          %div.carret-down
          CONSTRUCTION DU DOSSIER
        %div.col-lg-2.col-md-2.action
          EDITER
      %div.body

  %h1#dossier_id.text-info{ :style => 'text-align:right'}
    = t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

  %div{:style => 'text-align:right'}
    %h3{:class => 'text-success'}
      = @facade.dossier.display_state

    = render partial: 'follow_action'
  - unless @facade.entreprise.nil?
    = render partial: '/dossiers/infos_entreprise'

  = render partial: '/dossiers/infos_dossier'

  %div
    = render partial: 'dossiers/tab_objects_dossier'
