%div.col-lg-12.col-md-12#backoffice_dossier_show

  %div.row#messages
    %div.col-lg-8.col-md-8.header.centered
      %div.row
        %div.col-lg-10.col-md-10.title
          Message
        %div.col-lg-2.col-md-2.action
          Editer
    %div.col-lg-8.col-md-8.body.centered

  %div.row#infos

  %div.row#dossier

  %h1#dossier_id.text-info{ :style => 'text-align:right'}
    = t('dynamics.dossiers.numéro') + @facade.dossier.id.to_s

  %div{:style => 'text-align:right'}
    %h3{:class => 'text-success'}
      = @facade.dossier.display_state

    = render partial: 'follow_action'
  - unless @facade.entreprise.nil?
    = render partial: '/dossiers/infos_entreprise'

  = render partial: '/dossiers/infos_dossier'

  %div
    = render partial: 'dossiers/tab_objects_dossier'
