#backoffice_dossier_show
  %h1#dossier_id.text-info{ :style => 'text-align:right'}
    = "Dossier n°#{@facade.dossier.id}"

  %h3{:class => 'text-success', :style => 'text-align:right'}
    = @facade.dossier.display_state


  = render partial: '/dossiers/infos_entreprise'
  %br
  = render partial: '/dossiers/infos_dossier'
  %br
  %br

  = render partial: '/users/recapitulatif/commentaires_flux'
  %br
  %br

-#%script{type: 'text/javascript'}
-#  ="url_carte = '#{@facade.dossier.id}/'"
-#  ="ref_dossier = '#{@facade.dossier.ref_dossier_carto}'"
