#backoffice_dossier_show
  %h1#dossier_id.text-info{ :style => 'text-align:right'}
    = "Dossier n°#{@facade.dossier.id}"

  %div{:style => 'text-align:right'}
    %h3{:class => 'text-success'}
      = @facade.dossier.display_state

    = render partial: 'follow_action'
  - unless @facade.procedure.for_individual?
    = render partial: '/dossiers/infos_entreprise'

  = render partial: '/dossiers/infos_dossier'
  %br

  %div
    = render partial: 'dossiers/tab_objects_dossier'
  %br