#backoffice_dossier_show
  %h1#dossier_id.text-info{ :style => 'text-align:right'}
    = "Dossier n°#{@facade.dossier.id}"

  %div{:style => 'text-align:right'}
    %h3{:class => 'text-success'}
      = @facade.dossier.display_state

    - if current_gestionnaire.follow?(@facade.dossier.id)
      = link_to('Quitter'.html_safe, backoffice_dossier_follow_path(dossier_id: @facade.dossier.id), 'data-method' => :put, class: 'btn btn-md btn-danger', id: "suivre_dossier_#{@facade.dossier.id}")
    -else
      = link_to('Suivre', backoffice_dossier_follow_path(dossier_id: @facade.dossier.id), 'data-method' => :put, class: 'btn btn-md btn-primary', id: "suivre_dossier_#{@facade.dossier.id}")

  = render partial: '/dossiers/infos_entreprise'

  = render partial: '/dossiers/infos_dossier'
  %br

  %div
    %ul{class: "nav nav-tabs", role: "tablist"}
      %li{role: "presentation", class: "active"}
        %a{href: "#commentaires", 'aria-controls' => "commentaires", role: "tab", 'data-toggle' => "tab"}
          Commentaires
      %li{role: "presentation"}
        %a{href: "#invites", 'aria-controls' => "invites", role: "tab", 'data-toggle' => "tab"}
          Invités

    %div{class: "tab-content"}
      %div{role: "tabpanel", class: "tab-pane fade in active", id:"commentaires"}
        %h3 Flux de commentaires
        %br
        = render partial: '/users/recapitulatif/commentaires_flux'
      %div{role: "tabpanel", class: "tab-pane fade", id:"invites"}
        = render partial: '/dossiers/invites'

  %br
  %br