= devise_error_messages!

#form-login
  %h2#gestionnaire_login Changement de mot de passe

  %br
  %br
  #new-user
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      %h4
        = f.label 'Nouveau mot de passe'

      .input-group
        .input-group-addon
          %span.fa.fa-asterisk
        = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
      %br
      %h4
        = f.label 'Confirmez le nouveau mot de passe'
      .input-group
        .input-group-addon
          %span.fa.fa-asterisk
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      %br
      %br
      .actions
        = f.submit 'Changer le mot de passe', class: 'btn btn-primary'
      %br
