%section#editable-filters-component.flex.column.fr-my-2w{ data: { controller: 'expand' } }
  .fr-grid-row.fr-grid-row--gutters.fr-grid-row--middle
    .fr-col
      %h6.fr-mb-0.fr-p-2w= t('.search_filter_dossiers')
    .fr-col-auto
      %button.fr-btn.fr-btn--sm.fr-btn--tertiary-no-outline{
        type: 'button',
        data: { action: 'click->expand#toggle' },
        aria: { expanded: 'true' }
      }
        %span.fr-icon-arrow-down-s-line{ data: { 'expand-target': 'icon' } }
        %span.fr-sr-only= t('.toggle_filters')

  .fr-grid-row{ data: { 'expand-target': 'content' } }
    - filters.each do |filter|
      .fr-col-auto.fr-p-2w.flex.column
        = form_with url: update_filter_instructeur_procedure_presentation_path(@procedure_presentation),
          method: :post,
          class: 'editable-filter-form flex flex-1',
          data: { turbo: true, controller: 'autosubmit' } do |form|

          = form.hidden_field "filter_key", value: filter.id
          = form.hidden_field "filter[id]", value: filter.column.id
          = form.hidden_field :statut, value: statut

          = render Instructeurs::ColumnFilterValueComponent.new(filtered_column: filter, form:,instructeur_procedure:, edit_mode: true)
