.fr-col-6.fr-col-md-4.fr-col-lg-3
  = link_to admin_procedure_jetons_path(@procedure), class: 'fr-tile fr-enlarge-link', id: "api_token" do
    .fr-tile__body.flex.column.align-center.justify-between
      - if @procedure.specific_api_entreprise_token? || @procedure.api_particulier_token.present?
        - if @procedure.api_entreprise_token&.expired_or_expires_soon?
          %p.fr-badge.fr-badge--error À renouveler
        - else
          %p.fr-badge.fr-badge--success Configuré
      - else
        %p.fr-badge.fr-badge--info À configurer
      %div
        .line-count.fr-my-1w
          %p.fr-tag= api_tokens_count_for_badge

        %h3.fr-h6= t('.title')
        %p.fr-tile-subtitle= t('.subtitle')
      %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
