= link_to admin_procedure_api_particulier_path(@procedure), class: 'card-admin', id: 'api-particulier' do
  - if @procedure.api_particulier_token.present?
    %div
      %span.icon.accept
      %p.card-admin-status-accept= t('.ready')
  - else
    %div
      %span.icon.clock
      %p.card-admin-status-todo= t('.needs_configuration')
  %div
    %p.card-admin-title= Procedure.human_attribute_name(:api_particulier_token)
    %p.card-admin-subtitle= t('.configure_api_particulier_token')
  %p.button= t('views.shared.actions.edit')
