- content_for(:title, "Expiration de votre jeton « #{@api_token.name} »")

%p
  Bonjour,

%p Vous recevez ce courriel car vous êtes le propriétaire du jeton « #{@api_token.name} ».

%p
  %strong Ce jeton expirera le #{l(@api_token.expires_at, format: :long)}.
  %br
  L'accès à l'API de #{Current.application_name} sera alors bloqué pour ce jeton.

%p
  Pour le renouveler, rendez-vous sur votre page de profil, dans la section « Jetons d’identification de l’API » :
  = link_to profil_url, profil_url

= render partial: "layouts/mailers/signature"
