- content_for(:title, 'Vous avez été invité à donner votre avis')

- avis_link = @avis.gestionnaire.present? ? gestionnaire_avis_url(@avis) : sign_up_gestionnaire_avis_url(@avis.id, @avis.email)

%p
  Bonjour,

%p
  Vous avez été invité par
  %strong= @avis.claimant.email
  = "à donner votre avis sur le dossier nº #{@avis.dossier.id} de la démarche :"
  %strong= @avis.dossier.procedure.libelle

%p
  = "#{@avis.claimant.email} vous a écrit :"
  %br
%p{ style: "padding: 8px; color: #333333; background-color: #EEEEEE; font-size: 16px;" }
  = @avis.introduction

- if @avis.gestionnaire.present?
  %p
    = link_to "Connectez-vous pour donner votre avis", avis_link
- else
  %p
    = link_to "Inscrivez-vous pour donner votre avis", avis_link

= render partial: "layouts/mailers/signature"

%hr

%p
  Merci de ne pas répondre à cet email. Donnez votre avis
  = link_to "sur notre site", avis_link
  ou
  = succeed '.' do
    = mail_to @avis.claimant.email, "contactez la personne qui vous a invité"
