- content_for(:title, 'Invitation à donner votre avis')

- content_for(:footer) do
  Merci de ne pas répondre à cet email. Donnez votre avis
  = link_to("sur #{Current.application_name}", @url)
  ou
  = succeed '.' do
    = mail_to(@avis.claimant.email, "contactez la personne qui vous a invité")

%p
  Bonjour,

%p
  Vous avez été invité par
  %strong= @avis.claimant.email
  = "à donner votre avis sur le dossier n° #{@avis.dossier.id} de la démarche :"
  %strong= @avis.procedure.libelle

%p
  = "#{@avis.claimant.email} vous a écrit :"
  %br
%div{ style: "padding: 8px; color: #333333; background-color: #EEEEEE; font-size: 14px;" }
  = render SimpleFormatComponent.new(@avis.introduction, allow_a: false)

  %p
    = round_button(@call_to_action, @url, :primary)


= render partial: "layouts/mailers/signature"
