- content_for(:title, 'Invitation à donner votre avis')
- avis_link = @avis.expert.user.active?.present? ? expert_avis_url(@avis.procedure, @avis) : sign_up_expert_avis_url(@avis.procedure, @avis.id, @avis.expert.email)

- content_for(:footer) do
  Merci de ne pas répondre à cet email. Donnez votre avis
  = link_to("sur #{APPLICATION_NAME}", avis_link)
  ou
  = succeed '.' do
    = mail_to(@avis.claimant.email, "contactez la personne qui vous a invité")

%p
  Bonjour,

%p
  Vous avez été invité par
  %strong= @avis.claimant.email
  = "à donner votre avis sur le dossier nº #{@avis.dossier.id} de la démarche :"
  %strong= @avis.procedure.libelle

%p
  = "#{@avis.claimant.email} vous a écrit :"
  %br
%p{ style: "padding: 8px; color: #333333; background-color: #EEEEEE; font-size: 14px;" }
  = @avis.introduction

- if @avis.expert.user.active?.present?
  %p
    = round_button("Donner votre avis", avis_link, :primary)
- else
  %p
    = round_button("Inscrivez-vous pour donner votre avis", avis_link, :primary)

= render partial: "layouts/mailers/signature"
