= fields_for @champ.input_name, @champ do |form|
  - champ = @champ
  - component = champ_component(form:, champ:)
  .fr-fieldset__element{ **fieldset_element_attributes(champ:) }
    = content_tag(component.dsfr_champ_container, html_options(component:, champ:)) do
      - if has_label?(champ:)
        = render EditableChamp::ChampLabelComponent.new(form:, champ:, seen_at: @seen_at)

      = render component

      = render Dsfr::InputStatusMessageComponent.new(errors_on_attribute: component.errors_on_attribute?, error_full_messages: component.error_full_messages, champ:)
      = render EditableChamp::ReferentielDisplayComponent.new(champ:)
