.editable-champ{ html_options }
  - if @champ.block?
    %h3.header-subsection= @champ.libelle
    - if @champ.description.present?
      %p.notice= string_to_html(@champ.description, false)

  - elsif has_label?(@champ)
    = render EditableChamp::ChampLabelComponent.new form: @form, champ: @champ, seen_at: @seen_at
  - if @champ.type_champ == "titre_identite"
    %p.notice  Carte nationale d’identité (uniquement le recto), passeport, titre de séjour ou autre justificatif d’identité.

  = @form.hidden_field :id, value: @champ.id, data: @champ.block? ? { id: true } : {}
  = render component_class.new(form: @form, champ: @champ, seen_at: @seen_at)
