.fr-fieldset__element{ **fieldset_element_attributes, "data-type": champ_component.class.name }
  = content_tag((champ_component.dsfr_champ_container), html_options) do
    - if has_label?(@champ)
      = render EditableChamp::ChampLabelComponent.new form: @form, champ: @champ, seen_at: @seen_at, row_number: row_number_if_in_repetition

    = render champ_component

    = render Dsfr::InputStatusMessageComponent.new(errors_on_attribute: champ_component.errors_on_attribute?, error_full_messages: champ_component.error_full_messages, champ: @champ)
    = render EditableChamp::ReferentielDisplayComponent.new(champ: @champ)
