= fields_for @champ.input_name, @champ do |form|
  - component = champ_component(form:)
  .fr-fieldset__element{ **fieldset_element_attributes }
    = content_tag(component.dsfr_champ_container, html_options(component)) do
      - if has_label?(@champ)
        = render EditableChamp::ChampLabelComponent.new(form:, champ: @champ, seen_at: @seen_at)

      = render component

      = render Dsfr::InputStatusMessageComponent.new(errors_on_attribute: component.errors_on_attribute?, error_full_messages: component.error_full_messages, champ: @champ)
      = render EditableChamp::ReferentielDisplayComponent.new(champ: @champ)
