= content_tag((@champ.legend_label? ? :fieldset : :div), html_options) do
  - if has_label?(@champ)
    = render EditableChamp::ChampLabelComponent.new form: @form, champ: @champ, seen_at: @seen_at
  = render component_class.new(form: @form, champ: @champ, seen_at: @seen_at)

  = render Dsfr::InputStatusMessageComponent.new(errors_on_attribute: errors_on_attribute?, error_full_messages: error_full_messages, described_by: describedby_id)

  = @form.hidden_field :id, value: @champ.id
