- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  - if @state == Dossier.states.fetch(:en_construction)
    = t('.header_en_construction', count: @dossiers.size, expiration_date: human_date(@expiration_date.to_date))
  - else
    = t('.header_termine', count: @dossiers.size, expiration_date: human_date(@expiration_date.to_date))
  %ul
    - @dossiers.each do |d|
      %li
        #{link_to("N° #{d.id} (#{d.procedure.libelle})", dossier_url(d))}

%p
  - if @state == Dossier.states.fetch(:en_construction)
    = sanitize(t('.footer_en_construction', count: @dossiers.size))
  - else
    = sanitize(t('.footer_termine', count: @dossiers.size))

  = link_to("mes dossiers", dossiers_url)
  \.
%p
  = t('.account_active', count: @dossiers.size)

= render partial: "layouts/mailers/signature"
