- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.header', count: @hidden_dossiers.size)
  %ul
    - @hidden_dossiers.each do |d|
      %li n° #{d.id} (#{d.procedure.libelle})

%p
  = t('.footer_html', count: @hidden_dossiers.size,
                      trash_url: instructeur_procedure_url(procedure_id: @hidden_dossiers.first.procedure.id, statut: "supprimes"),
                      procedures_url: instructeur_procedures_url,
                      deletion_date: human_date(@deletion_date.to_date))

= render partial: "layouts/mailers/signature"
