- content_for(:title, "#{@subject}")

%p
  Bonjour,

%p
  Votre dossier n°#{@dossier.id} pour la démarche  «&nbsp;
  %strong
    #{@dossier.procedure.libelle}
  &nbsp;» est en brouillon.
%p
  Si vous souhaitez que votre dossier soit pris en compte, il vous faut le déposer avant la date de cloture le
  #{l(@dossier.procedure.auto_archive_on - 1.day, format: '%-d %B %Y')} à 23h59.
%p
  Pour cela, affichez votre dossier avec le bouton ci-dessous, vérifiez votre dossier puis
  cliquez sur le bouton
  %strong
    'Déposer votre dossier'
%p
  Si vous ne souhaitez plus déposer votre dossier, vous n'avez rien à faire.

= round_button('Afficher votre dossier', dossier_url(@dossier), :primary)

= render partial: "layouts/mailers/signature"
