- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p
  Bonjour,

%p
  Vous avez commencé à remplir un dossier pour la démarche
  = succeed '.' do
    %strong « #{@dossier.procedure.libelle} »
%p
  A cette étape, le dossier est
  %strong uniquement visible par vous
  et n'est pas transmis à l'administration.
%p
  %strong
    Pour que le dossier soit traité,
  affichez le dossier et cliquez sur le bouton
  %strong « Déposer le dossier »
%p
  Vous pouvez afficher et compléter ce dossier
  en cliquant sur le bouton ci-dessous:

= round_button('Afficher le dossier', dossier_url(@dossier), :primary)

- if @dossier.procedure.auto_archive_on
  %p
    Vous pouvez déposer votre dossier jusqu'au #{procedure_auto_archive_datetime(@dossier.procedure)}.

= render 'layouts/mailers/signature'

- content_for :footer do
  = render 'layouts/mailers/service_footer', service: @service, dossier: @dossier
