- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.header', count: @dossier_hashes.size)
  %ul
    - @dossier_hashes.each do |d|
      %li n° #{d[:id]} (#{link_to d[:procedure_libelle], commencer_url(d[:procedure_path])})
= render partial: "layouts/mailers/signature"
