- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  - if @state == Dossier.states.fetch(:en_construction)
    = t('.header_en_construction', count: @dossiers.size, expiration_date: human_date(@expiration_date.to_date))
  - else
    = t('.header_termine_html', count: @dossiers.size, expiration_date: human_date(@expiration_date.to_date))

  %ul
    - @dossiers.each do |d|
      %li
        #{link_to("N° #{d.id} (#{d.procedure.libelle})", dossier_url(d))}. Retrouvez le dossier au format #{link_to("PDF", instructeur_dossier_url(d.procedure, d, format: :pdf))}

- if @state == Dossier.states.fetch(:en_construction)
  %p
    = sanitize(t('.footer_en_construction'))

= render partial: "layouts/mailers/signature"
