- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  Le dossier n°#{@dossier.id} pour la démarche  «&nbsp;
  %strong
    #{@dossier.procedure.libelle}
  &nbsp;» est commencé mais n’est pas encore déposé.
%p
  Si vous souhaitez que ce dossier soit pris en compte, il vous faut le déposer avant le
  #{procedure_auto_archive_datetime(@dossier.procedure)}, date limite de dépôt des dossiers.
%p
  Pour cela, affichez le dossier avec le bouton ci-dessous, vérifiez votre dossier puis
  cliquez sur le bouton
  %strong
    'Déposer le dossier'
%p
  Si vous ne souhaitez plus déposer le dossier, vous n’avez rien à faire.

= round_button('Afficher votre dossier', dossier_url(@dossier), :primary)

= render partial: "layouts/mailers/signature"
