- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.header', count: @dossiers.size)
  %ul
    - @dossiers.each do |d|
      %li= link_to("n° #{d.id} (#{d.procedure.libelle})", dossier_url(d))

%p
  = t('.account_active', count: @dossiers.size)


= render partial: "layouts/mailers/signature"
