- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p= t(:hello, scope: [:views, :shared, :greetings])

%p= t(".#{@correction.reason}.explanation_html", dossier_id: @dossier.id, libelle_demarche: @dossier.procedure.libelle)
%p= t('.link')
= round_button(t('.access_message'), messagerie_dossier_url(@dossier), :primary)

- if @dossier.sva_svr_decision_on.present?
  %p= t(".#{@correction.reason}.sva_svr", rule_name: t(@dossier.procedure.sva? ? :sva : :svr, scope: 'shared.procedures.sva_svr_rule_name'))

= render 'layouts/mailers/signature', service: @service

- content_for :footer do
  = render 'layouts/mailers/service_footer', dossier: @dossier
