- content_for(:title, "#{@subject}")

%p
  Bonjour,

%p
  - if @for_user == false
    Afin de limiter la conservation de vos données personnelles,

  = t('.automatic_dossier_deletion', count: @dossiers.count)

  %ul
    - @dossiers.each do |d|
      - if @for_user == false
        %li
          #{link_to("n° #{d.id} (#{d.procedure.libelle})", dossier_url(d))}. Retrouvez le dossier au format #{link_to("PDF", instructeur_dossier_url(d.procedure, d, format: :pdf))}
      - else
        %li
          #{link_to("n° #{d.id} (#{d.procedure.libelle})", dossier_url(d))}. Retrouvez le dossier au format #{link_to("PDF", dossier_url(d, format: :pdf))}

%p
  - if @for_user == true
    #{sanitize(t('.send_user_draft', count: @dossiers.count))}. Vous n'avez rien à faire.
  - else
    #{sanitize(t('.send_other_draft', count: @dossiers.count))}.

= render partial: "layouts/mailers/signature"
