- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.header', count: @deleted_dossiers.size)
  %ul
    - @deleted_dossiers.each do |d|
      %li n° #{d.dossier_id} (#{d.procedure.libelle})

= render partial: "layouts/mailers/signature"
