- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.header', count: @hidden_dossiers.size)
  %ul
    - @hidden_dossiers.each do |d|
      %li N° #{d.id} (#{d.procedure.libelle})

%p
  = t('.footer', count: @hidden_dossiers.size)
  = link_to("mes dossiers", dossiers_url)
  \.

= render partial: "layouts/mailers/signature"
