- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p= t(:greeting, scope: [:layouts, :signature])

%p
  You started filling a File on the procedure:
  = succeed '.' do
    %strong « #{@dossier.procedure.libelle} »

%p
  You can access your File, to review or complete, by clicking on the following button:

= round_button('Access your File', dossier_url(@dossier), :primary)

- if @dossier.procedure.auto_archive_on
  %p
    Your File needs to be submitted before #{procedure_auto_archive_datetime(@dossier.procedure)}.

= render 'layouts/mailers/signature'

- content_for :footer do
  = render 'layouts/mailers/service_footer', service: @service, dossier: @dossier
