- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p= t('.body_html', dossier_id: @dossier.id, libelle_demarche: @dossier.procedure.libelle)
%p= t('.footer')

= render partial: "layouts/mailers/signature"
