- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  = t('.header', count: @hidden_dossiers.size)
  %ul
    - @hidden_dossiers.each do |d|
      %li n° #{d.id} (#{d.procedure.libelle})

= render partial: "layouts/mailers/signature"
