- content_for(:title, "#{@subject}")

%p
  Bonjour,

%p
  - if @state == Dossier.states.fetch(:en_construction)
    = t('.header_en_construction', count: @dossiers.count)
  - elsif @state == Dossier.states.fetch(:en_instruction)
    = t('.header_en_instruction', count: @dossiers.count)
  %ul
    - @dossiers.each do |d|
      %li
        #{link_to("n° #{d.id} (#{d.procedure.libelle})", dossier_url(d))}. Retrouvez le dossier au format #{link_to("PDF", instructeur_dossier_url(d.procedure, d, format: :pdf))}

%p
  - if @state == Dossier.states.fetch(:en_construction)
    = sanitize(t('.footer_en_construction', count: @dossiers.count))
  - elsif @state == Dossier.states.fetch(:en_instruction)
    = sanitize(t('.footer_en_instruction', count: @dossiers.count))

= render partial: "layouts/mailers/signature"
