- if @logo_url.present?
  - content_for :procedure_logo do
    %table{ width: "100%", border: "0", cellspacing: "0", cellpadding: "0" }
      %tr
        %td{ align: "center" }
          = image_tag @logo_url, style: "height: 150px;"

- content_for :footer do
  - if @dossier.present?
    - messagerie_url = messagerie_dossier_url(@dossier)
  - else
    - messagerie_url = "#"
  %strong
    Merci de ne pas répondre à cet email. Pour vous adresser à votre administration, passez directement par votre
    = succeed '.' do
      = link_to 'messagerie', messagerie_url, target: '_blank', rel: 'noopener'

  - if @service.present?
    %table{ width: "100%", border: "0", cellspacing: "0", cellpadding: "0", style: "cursor:auto;color:#55575d;font-family:Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;" }
      %tr
        %td{ width: "50%", valign: "top" }
          %p
            %strong Cette démarche est gérée par :
            %br
            = @service.nom
            %br
            = @service.organisme
            %br
            = @service.adresse
        %td{ width: "50%", valign: "top" }
          %p
            %strong Poser une question sur votre dossier :
            %br
            = link_to 'Par la messagerie', messagerie_url, target: '_blank', rel: 'noopener'
            %br
            Par téléphone :
            = link_to @service.telephone, "tel:#{@service.telephone}"
            %br
            Horaires : #{ formatted_horaires(@service.horaires) }


= render template: 'layouts/mailers/notifications_layout'
