- if champ.data.blank?
  %span.copy-zone= champ.to_s
- else
  %table.table.vertical.dossier-champs
    %tbody
      %tr
        %th.libelle Nom de l’établissement :
        %td.copy-zone= champ.data['nom_etablissement']
      %tr
        %th.libelle L’identifiant de l’etablissement :
        %td.copy-zone= champ.data['identifiant_de_l_etablissement']
      - if champ.data['siren_siret'].present?
        %tr
          %th.libelle SIREN/SIRET :
          %td.copy-zone= champ.data['siren_siret']
      %tr
        %th.libelle Commune :
        %td.copy-zone
          - if champ.data['nom_commune'].present?
            = champ.data['nom_commune']
          - else
            %span.font-weight-normal= "(#{I18n.t('activerecord.attributes.type_de_champ.not_filled')})"

          = " (#{champ.data['code_commune']})" if champ.data['code_commune'].present?
      %tr
        %th.libelle Academie :
        %td.copy-zone= "#{champ.data['libelle_academie']} (#{champ.data['code_academie']})"
      %tr
        %th.libelle Nature de l’établissement :
        %td.copy-zone= "#{champ.data['libelle_nature']} (#{champ.data['code_nature']})"
      - if champ.data['type_contrat_prive'] != 'SANS OBJET'
        %tr
          %th.libelle Type de contrat privé :
          %td.copy-zone= champ.data['type_contrat_prive']

      - if champ.data['nombre_d_eleves'].present?
        %tr
          %th.libelle Nombre d’élèves :
          %td.copy-zone= champ.data['nombre_d_eleves']

      %tr
        %th.libelle Adresse :
        %td.copy-zone
          - if champ.data['adresse_1'].present?
            = champ.data['adresse_1']
          %br
          = "#{champ.data['code_postal']} #{champ.data['nom_commune']}"
          %br
          = "#{champ.data['libelle_region']} (#{champ.data['code_region']})"

      - if champ.data['telephone'].present?
        %tr
          %th.libelle Téléphone :
          %td.copy-zone= champ.data['telephone']

      - if champ.data['mail'].present?
        %tr
          %th.libelle Email :
          %td.copy-zone= champ.data['mail']

      - if champ.data['web'].present?
        %tr
          %th.libelle Site internet :
          %td.copy-zone= champ.data['web']
