= form_for groupe_gestionnaire.administrateurs.new(user: User.new),
  url: { controller: 'groupe_gestionnaire_administrateurs' },
  html: { id: "new_administrateur" },
  data: { turbo: true, turbo_force: :server } do |f|
  .fr-input-group
    = f.label :email, class: "fr-label" do
      Ajouter un administrateur
      %span.fr-hint-text
        = "Renseignez l’email d’un administrateur pour lui permettre de gérer le groupe « #{groupe_gestionnaire.name} ». Exemple : marie.dupont@exemple.fr"

    = f.email_field :email, required: true, class: "fr-input", autofocus: true

  = f.submit 'Ajouter comme administrateur', class: 'fr-btn'
