.gallery-item
  - if !gallery_demande?
    %p.fr-tag.fr-tag--sm.fr-mb-3v= origin
  - if displayable_pdf?(blob) || displayable_image?(blob)
    = gallery_link(blob) do
      .thumbnail
        = image_tag(representation_url_for(attachment))
        .fr-btn.fr-btn--tertiary.fr-btn--icon-left.fr-icon-eye{ role: :button }
          Visualiser
    - if !gallery_demande?
      .fr-text--sm.fr-mt-2v.fr-mb-1v
        = libelle.truncate(30)
    = render Attachment::ShowComponent.new(attachment:, truncate: true, new_tab: gallery_demande?)
    - if !gallery_demande?
      .fr-mt-2v.fr-mb-2v{ class: badge_updated_class }
        = t(updated? ? '.updated_at' : '.created_at', datetime: helpers.try_format_datetime(updated_at, format: :veryshort))
  - else
    .thumbnail
      = image_tag('apercu-indisponible.png')
    - if !gallery_demande?
      .fr-text--sm.fr-mt-2v.fr-mb-1v
        = libelle.truncate(30)
    = render Attachment::ShowComponent.new(attachment:, truncate: true, new_tab: gallery_demande?)
    - if !gallery_demande?
      .fr-mt-2v.fr-mb-2v{ class: badge_updated_class }
        = t(updated? ? '.updated_at' : '.created_at', datetime: helpers.try_format_datetime(updated_at, format: :veryshort))
