- content_for :title, @title
- content_for :authors do
  - @authors&.map do |author|
    %meta{ name: 'author', content: author }
- content_for :description do
  - if @description.present?
    %meta{ name: 'description', content: @description }
- content_for :keywords do
  - @keywords&.map do |keyword|
    %meta{ name: 'keywords', content: keyword }

.a4-container{ class: class_names("official-layout": @attestation_template.official_layout?) }
  .content
    %header.first-header
      .left
        - if @attestation_template.official_layout?
          = image_tag('centered_marianne.svg', alt: '', class: 'marianne')
          .bloc-marque
            = simple_format @attestation_template.label_logo.presence || "INTITULE de\nVOTRE INSTITUTION", class: "intitule"
            = image_tag('liberte2.svg', alt: '', class: 'devise')
        - elsif @attestation_template.logo.present?
          .bloc-marque.logo-free-layout
            = image_tag(@attestation_template.logo_url)

      .right
        - if @attestation_template.official_layout? && @attestation_template.logo.present?
          .logo-co-emetteur
            = image_tag(@attestation_template.logo_url)

        - if @attestation_template.label_direction.present?
          = simple_format @attestation_template.label_direction, class: "direction"

    .main
      = sanitize(@body, attributes: %w[class style], tags: Rails.configuration.action_view.sanitized_allowed_tags + %w[header])

      - if @attestation_template.signature.present?
        .signature
          = image_tag(@attestation_template.signature_url)

  - if @attestation_template.footer.present?
    = simple_format @attestation_template.footer, class: "footer"
