= image_tag('centered_marianne.svg', alt: '', class: 'marianne')
.header
  .left
    - if @attestation_template.label_logo.present?
      .bloc-marque
        = simple_format @attestation_template.label_logo, class: "intitule"
        = image_tag('liberte2.svg', alt: '', class: 'devise')

    %p.issuer
      Service Hébergement et Accès au Logement<br />
      Bureau de l'Accès au Logement

  .right
    - if @attestation_template.label_direction.present?
      = simple_format @attestation_template.label_direction, class: "direction"

    %p.date Créteil, le 20 mars 2023

.main
  = sanitize(@body)

- if @attestation_template.footer.present?
  = simple_format @attestation_template.footer, class: "footer"
