.fr-container.fr-my-5w
  %h2.fr-mb-5w= t('.title', app_name: Current.application_name)

  .fr-grid-row.fr-grid-row--gutters{ data: { turbo: 'true' } }
    .fr-col-md-3
      = form_with(url: release_notes_path, method: :get, data: { turbo_frame: 'announces', controller: 'autosubmit' }, html: { role: 'search' }) do |f|
        %fieldset.sidebar-filter
          %legend
          %ul
            %li.fr-py-2w.fr-pl-2w
              %fieldset.fr-fieldset{ "aria-labelledby": "sidebar_category_legend" }
                %legend.fr-fieldset__legend{ id: "sidebar_category_legend" }
                  = ReleaseNote.human_attribute_name(:categories)

                - ReleaseNote::CATEGORIES.each do |category|
                  .fr-fieldset__element
                    .fr-checkbox-group
                      = f.check_box :categories, { multiple: true, include_hidden: false, id: "filter_category_#{category}", checked: @categories.include?(category) }, category, nil
                      %label.fr-label{ for: "filter_category_#{category}" }
                        = ReleaseNote.human_attribute_name("categories.#{category}")

    .fr-col-md-9
      = turbo_frame_tag "announces", data: { turbo_action: :advance } do
        - if @announces.any?
          = render "page", announces: @announces, paginated_groups: @paginated_groups
        - else
          %p.fr-my-4w.text-center= t('.no_content')
