= # we do this trick because some html elements should use 'label' and some should be plain paragraphs
- if has_html_label?(champ)
  %h4.form-label
    = render partial: 'shared/dossiers/editable_champs/champ_label_content', locals: { champ: champ, seen_at: seen_at }
- else
  = form.label champ.main_value_name do
    = render partial: 'shared/dossiers/editable_champs/champ_label_content', locals: { champ: champ, seen_at: seen_at }

- if champ.description.present?
  .notice{ id: describedby_id(champ) }= string_to_html(champ.description)
