= form.label champ.main_value_name, { class: champ.repetition? ? 'header-section' : '' } do
  #{champ.libelle}
  - if champ.mandatory?
    %span.mandatory *

  - if champ.updated_at.present? && seen_at.present?
    %span.updated-at{ class: highlight_if_unseen_class(seen_at, champ.updated_at) }
      = "modifié le #{try_format_datetime(champ.updated_at)}"

  - if champ.description.present?
    %span.notice= string_to_html(champ.description)
