.dgfip-inputs
  %div
    = form.label :numero_fiscal, t('.numero_fiscal_label')
    %p.notice= t('.numero_fiscal_notice')
    = form.text_field :numero_fiscal,
      aria: { describedby: champ.describedby_id },
      class: "width-33-desktop"

  %div
    = form.label :reference_avis, t('.reference_avis_label')
    %p.notice= t('.reference_avis_notice')
    = form.text_field :reference_avis,
      aria: { describedby: champ.describedby_id },
      class: "width-33-desktop"
