- if champ.options?
  - if champ.allows_other_value?
    = form.select :value,
        champ.options,
        { disabled: champ.disabled_options },
        multiple: false,
        class: 'select2',
        'data-tags': true
  - elsif champ.render_as_radios?
    %fieldset.radios
      - champ.enabled_non_empty_options.each do |option|
        %label
          = form.radio_button :value, option
          = option
      - if !champ.mandatory?
        %label.blank-radio
          = form.radio_button :value, ''
          Non renseigné

  - else
    = form.select :value,
      champ.options,
      disabled: champ.disabled_options,
      required: champ.mandatory?
