- if champ.options?
  - if champ.render_as_radios?
    %fieldset.radios
      - champ.enabled_non_empty_options.each do |option|
        %label
          = form.radio_button :value, option
          = option

      - if !champ.mandatory?
        %label.blank-radio
          = form.radio_button :value, ''
          Non renseigné

      - if champ.drop_down_other?
        %label
          = form.radio_button :value, Champs::DropDownListChamp::OTHER, checked: champ.other_value_present?
          Autre
  - else
    = form.select :value, champ.options_without_empty_value_when_mandatory(champ.options), { selected: champ.selected }, required: champ.mandatory?, id: champ.input_id, aria: { describedby: champ.describedby_id }

  - if champ.drop_down_other?
    = render partial: "shared/dossiers/editable_champs/drop_down_other_input", locals: { form: form, champ: champ }
