.editable-champ{ class: "editable-champ-#{champ.type_champ}", data: { 'champ-id': champ.id } }
  - if champ.repetition?
    %h3.header-subsection= champ.libelle
    - if champ.description.present?
      %p.notice= string_to_html(champ.description, false)

  - elsif has_label?(champ)
    = render partial: 'shared/dossiers/editable_champs/champ_label', locals: { form: form, champ: champ, seen_at: defined?(seen_at) ? seen_at : nil }

  = render partial: "shared/dossiers/editable_champs/#{champ.type_champ}",
    locals: { champ: champ, form: form }
