- if champ.options?
  - if champ.render_as_checkboxes?
    = form.collection_check_boxes(:value, champ.enabled_non_empty_options, :to_s, :to_s) do |b|
      .editable-champ.editable-champ-checkbox
        = b.label do
          = b.check_box({ multiple: true, checked: champ&.value&.include?(b.value) })
          = b.text

  - else
    = form.select :value,
        champ.options,
        { selected: champ.selected_options,
          disabled: champ.disabled_options },
        multiple: true,
        class: 'select2'

