- pj = champ.piece_justificative_file

- if champ.type_de_champ.piece_justificative_template.attached?
  %p.edit-pj-template.mb-1
    Veuillez télécharger, remplir et joindre
    = link_to('le modèle suivant', url_for(champ.type_de_champ.piece_justificative_template), target: '_blank')

- if !pj.attached?
  = form.file_field :piece_justificative_file,
    id: "champs_#{champ.id}",
    direct_upload: true
- else
  = render partial: "shared/champs/piece_justificative/pj_link", locals: { champ: champ, user_can_upload: true }
  %br
  Modifier :
  = form.file_field :piece_justificative_file,
    id: "champs_#{champ.id}",
    direct_upload: true
