- pj = champ.piece_justificative_file

.piece-justificative
  - if champ.type_de_champ.piece_justificative_template.attached?
    %p.edit-pj-template.mb-1
      Veuillez télécharger, remplir et joindre
      = link_to('le modèle suivant', url_for(champ.type_de_champ.piece_justificative_template), target: '_blank')

  - if pj.attached?
    .piece-justificative-actions{ id: "piece_justificative_#{champ.id}" }
      .piece-justificative-action
        = render partial: "shared/champs/piece_justificative/pj_link", locals: { champ: champ, user_can_upload: true }
      .piece-justificative-action
        - if champ.private?
          = link_to 'Supprimer', gestionnaire_champ_purge_champ_piece_justificative_path(procedure_id: champ.dossier.procedure_id, dossier_id: champ.dossier_id, champ_id: champ.id), remote: true, method: :delete, class: 'button small danger'
        - else
          = link_to 'Supprimer', champ_purge_champ_piece_justificative_path(id: champ.dossier_id, champ_id: champ.id), remote: true, method: :delete, class: 'button small danger'
      .piece-justificative-action
        = button_tag 'Remplacer', type: 'button', class: 'button small', data: { 'toggle-target': "#champs_#{champ.id}" }

  = form.file_field :piece_justificative_file,
    id: "champs_#{champ.id}",
    class: "piece-justificative-input #{'hidden' if pj.attached?}",
    direct_upload: true
