- pj = champ.piece_justificative_file

- if champ.type_de_champ.piece_justificative_template.attached?
  %p.edit-pj-template.mb-1
    Veuillez télécharger, remplir et joindre le
    = link_to('le modèle suivant', url_for(champ.type_de_champ.piece_justificative_template), target: '_blank')

- if !pj.attached?
  = form.file_field :piece_justificative_file,
    id: "champs_#{champ.id}",
    direct_upload: true
- else
  %a{ href: url_for(pj), target: '_blank' }
    = pj.filename.to_s
  %br
  Modifier :
  = form.file_field :piece_justificative_file,
    id: "champs_#{champ.id}",
    direct_upload: true
