%div{ class: "repetition-#{form.index}" }
  - champ.rows.each do |champs|
    = render 'shared/dossiers/editable_champs/repetition_row', form: form, champs: champs

- if champ.persisted?
  = link_to champs_repetition_path(form.index), class: 'button add-row', data: { remote: true, method: 'POST', params: { champ_id: champ&.id }.to_query } do
    %span.icon.add
    Ajouter un élément pour « #{champ.libelle} »
- else
  %a.button.add-row
    %span.icon.add
    Ajouter un élément pour « #{champ.libelle} »
