.te-fenua.edit{ class: "te-fenua-#{form.index}", data: { entry: champ.entry, marker: image_url('marker-icon.png') } }
  .place
    %input{ data: { te_fenua_place: true, autocomplete: 'te_fenua' }, placeholder: 'Hopital Raiatea, Eglise Faaone, K210 Pirae', 'aria-label': 'Adresse' }
  .te-fenua-help.add
    %p
      Pour ajouter une zone.
  .te-fenua-help.add-zone
    %p.te-fenua-header Aide
    = image_tag('te_fenua/add_zone.webp')
  .te-fenua-help.batiment{ style: 'display: none;' }
    %p.te-fenua-header Aide
    = image_tag('te_fenua/add_batiment.webp')
  .te-fenua-help.parcelle
    %p.te-fenua-header Aide
    = image_tag('te_fenua/add_parcelle.webp')

.geo-areas

= form.hidden_field :value, class: 'features', value: champ.value
