#procedure-results
  - if !@grouped_procedures.nil?
    - if @grouped_procedures.any?
      %table.table.vertical.procedure-library-list
        - @grouped_procedures.each do |_, procedures|
          %tr
            %th
              = procedures.first.organisation_name
          - procedures.sort_by(&:id).each do |procedure|
            %tr
              %td
                = procedure.libelle
              %td.flex
                = link_to('Consulter', apercu_admin_procedure_path(id: procedure.id), target: "_blank", rel: "noopener", class: 'button small')
                = link_to('Cloner', admin_procedure_clone_settings_path(procedure.id, from_new_from_existing: true), 'data-method' => :get, class: 'button small primary')
                = link_to('Contacter', "mailto:#{procedure.administrateurs.map(&:email) * ","}", class: 'button small')
    - else
      %p.mt-2 aucun résultat
