- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p
  Bonjour,

%p= "#{ t("instructeurs.dossiers.decisions_rendues_block.without_email.#{@dossier.state}", processed_at: l(@dossier.updated_at.to_date))}."

%p= "Le dossier nº #{@dossier.id} est rempli en votre nom par #{@dossier.mandataire_first_name} #{@dossier.mandataire_last_name} sur la procédure #{@dossier.procedure.libelle}."

%p= "Pour en savoir plus, veuillez vous rapprocher #{mail_to(@dossier.user.email)}."

%p
  = t(:best_regards, scope: [:views, :shared, :greetings])
  %br
    = t('layouts.mailers.signature.team')
    #{APPLICATION_NAME.gsub(".","&#8288;.").html_safe}
