- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p
  Bonjour,

%p
  Nous vous informons que le dossier nº
  = number_with_delimiter(@dossier.id)
  rempli en votre nom par #{@dossier.mandataire_first_name}
  #{@dossier.mandataire_last_name} sur la démarche
  %span{ :style => "font-weight: bold;" }
    = @dossier.procedure.libelle
  est passé en phase #{t("instructeurs.dossiers.decisions_rendues_block.without_email.#{@dossier.state}")} le #{l(@dossier.updated_at.to_date)}.
%p= "Pour en savoir plus, veuillez vous rapprocher de #{mail_to(@dossier.user.email)}."

%p
  = t(:best_regards, scope: [:views, :shared, :greetings])
  %br
    = t('layouts.mailers.signature.team')
    #{APPLICATION_NAME.gsub(".","&#8288;.").html_safe}
