- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

= @rendered_template

- if @actions.present?
  = render 'notification_mailer/actions', actions: @actions, dossier: @dossier

- if @services_publics_plus_url.present?
  = render 'layouts/mailers/services_publics_plus'

- if @jdma_html.present?
  = render 'layouts/mailers/jdma'

- content_for :footer do
  = render 'layouts/mailers/service_footer', dossier: @dossier
