- procedure = @export_template.procedure

#export_template-edit.fr-my-4w
  .fr-mb-6w
    = render Dsfr::AlertComponent.new(state: :info, title: "Nouvel éditeur de modèle d'export", heading_level: 'h3') do |c|
      - c.with_body do
        Cette page permet d'éditer un modèle d'export et ainsi personnaliser le contenu des exports (pour l'instant,
        uniquement au format zip). Ainsi, vous pouvez notamment normaliser le nom des pièces jointes.
        Essayez-le et donnez-nous votre avis
        en nous envoyant un email à #{mail_to(CONTACT_EMAIL, subject: "Editeur de modèle d'export")}.

  .fr-grid-row.fr-grid-row--gutters
    .fr-col-12.fr-col-md-8.fr-pr-4w
      = form_with model: [:instructeur, procedure, export_template], data: { turbo: 'true', controller: 'autosubmit' } do |f|
        %input.hidden{ type: 'submit', formaction: preview_instructeur_procedure_export_templates_path, data: { autosubmit_target: 'submitter' }, formnovalidate: 'true', formmethod: 'put' }

        = f.hidden_field :kind, value: 'zip'

        = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field)

        .fr-input-group{ class: class_names('fr-hidden': groupe_instructeurs.one?) }
          = f.label :groupe_instructeur_id, class: 'fr-label' do
            = "#{ExportTemplate.human_attribute_name('groupe_instructeur_id')} #{asterisk}"
            %span.fr-hint-text Avec quel groupe instructeur souhaitez-vous partager ce modèle d'export ?
          = f.collection_select :groupe_instructeur_id, groupe_instructeurs, :id, :label, {}, class: 'fr-select'

        .fr-input-group{ data: { controller: 'tiptap', 'tiptap-attributes-value': { spellcheck: false }.to_json } }
          = f.label '[dossier_folder][template]', class: "fr-label" do
            = "#{ExportTemplate.human_attribute_name('dossier_folder')} #{asterisk}"
            %span.fr-hint-text Nom du répertoire contenant les différents fichiers à exporter
          .tiptap-editor.fr-mt-1w{ data: { tiptap_target: 'editor' } }
            = f.hidden_field "[dossier_folder][template]", data: { tiptap_target: 'input' }, value: export_template.dossier_folder.template_json
            = f.hidden_field "[dossier_folder][enabled]", value: 'true'
          .fr-mt-2w
            %span.fr-text--sm Cliquez sur les étiquettes que vous souhaitez intégrer au nom du fichier
          .fr-mt-2w= render TagsButtonListComponent.new(tags: { nil => export_template.tags })

        = render Dsfr::NoticeComponent.new(data_attributes: { class: 'fr-my-4w' }) do |c|
          - c.with_title do
            Sélectionnez les fichiers que vous souhaitez exporter

        %h3 Dossier au format PDF
        = render partial: 'export_item',
          locals: { item: export_template.export_pdf,
            libelle: ExportTemplate.human_attribute_name(:export_pdf),
            prefix: 'export_template[export_pdf]' }

        - if procedure.attestation_template&.activated?
          %h3 Attestation d'acceptation au format PDF

          = render partial: 'export_item',
            locals: { item: export_template.attestation || ExportItem.default(prefix: 'attestation'),
              libelle: ExportTemplate.human_attribute_name(:attestation),
              prefix: 'export_template[attestation]' }

        - if procedure.exportables_pieces_jointes_for_all_versions.any?
          %h3 Pièces justificatives

          - procedure.exportables_pieces_jointes.each do |tdc|
            - item = export_template.pj(tdc)
            = render partial: 'export_item',
              locals: { item:,
                libelle: tdc.libelle,
                prefix: 'export_template[pjs][]'}

          - outdated_tdcs = procedure.outdated_exportables_pieces_jointes
          - outdated_stable_ids = outdated_tdcs.map(&:stable_id)
          - expanded = export_template.pjs.filter(&:enabled?).any? { _1.stable_id.in?(outdated_stable_ids) }

          - if outdated_tdcs.any?
            %section.fr-accordion.fr-mb-3w
              %h3.fr-accordion__title
                %button.fr-accordion__btn{ "aria-controls" => "accordion-106", "aria-expanded" => expanded.to_s, "type" => "button" }
                  pièces justificatives uniquement présentes dans les versions précédentes
              .fr-collapse#accordion-106

                - outdated_tdcs.each do |tdc|
                  - item = export_template.pj(tdc)
                  = render partial: 'export_item',
                    locals: { item:,
                      libelle: tdc.libelle,
                      prefix: 'export_template[pjs][]'}

        .fixed-footer
          .fr-container
            %ul.fr-btns-group.fr-btns-group--inline-md
              %li= f.button "Enregistrer", class: "fr-btn", data: { turbo: 'false' }
              %li= link_to "Annuler", [:exports, :instructeur, procedure], class: "fr-btn fr-btn--secondary"
              - if export_template.persisted?
                %li
                  = link_to "Supprimer",
                    [:instructeur, procedure, export_template],
                    method: :delete,
                    data: { confirm: "Voulez-vous vraiment supprimer ce modèle ? Il sera supprimé pour tous les instructeurs du groupe"},
                    class: "fr-btn fr-btn--secondary"

    .fr-col-12.fr-col-md-4.fr-background-alt--blue-france
      = render partial: 'preview', locals: { export_template: }
