#export_template-edit.fr-my-4w
  .fr-mb-6w
    = render Dsfr::AlertComponent.new(state: :info, title: "Nouvel éditeur de modèle d'export", heading_level: 'h3') do |c|
      - c.with_body do
        Cette page permet d'éditer un modèle d'export et ainsi personnaliser le contenu des exports (pour l'instant,
        uniquement au format zip). Ainsi, vous pouvez notamment normaliser le nom des pièces jointes.
        Essayez-le et donnez-nous votre avis
        en nous envoyant un email à #{mail_to(CONTACT_EMAIL, subject: "Editeur de modèle d'export")}.

.fr-grid-row.fr-grid-row--gutters
  .fr-col-12.fr-col-md-8
    = form_with url: form_url, model: @export_template, local: true, data: { turbo: 'true', controller: 'autosubmit' } do |f|

      = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field)

      - if groupe_instructeurs.many?
        .fr-input-group
          = f.label :groupe_instructeur_id, class: 'fr-label' do
            = f.object.class.human_attribute_name(:groupe_instructeur_id)
            = render EditableChamp::AsteriskMandatoryComponent.new
            %span.fr-hint-text
              Avec quel groupe instructeur souhaitez-vous partager ce modèle d'export ?
          = f.collection_select :groupe_instructeur_id, groupe_instructeurs, :id, :label, {}, class: 'fr-select'
      - else
        = f.hidden_field :groupe_instructeur_id

      = f.hidden_field :kind

      .fr-input-group{ data: { controller: 'tiptap' } }
        = f.label :tiptap_default_dossier_directory, class: "fr-label" do
          = f.object.class.human_attribute_name(:tiptap_default_dossier_directory)
          = render EditableChamp::AsteriskMandatoryComponent.new
          %span.fr-hint-text
            = t('activerecord.attributes.export_template.hints.tiptap_default_dossier_directory')

        .tiptap-editor.fr-mt-1w{ data: { tiptap_target: 'editor' } }
        = f.hidden_field :tiptap_default_dossier_directory, data: { tiptap_target: 'input' }
        .fr-mt-2w= render TagsButtonListComponent.new(tags: { nil => @export_template.specific_tags })

      .fr-input-group{ data: { controller: 'tiptap' } }
        = f.label :tiptap_pdf_name, class: "fr-label" do
          = f.object.class.human_attribute_name(:tiptap_pdf_name)
          = render EditableChamp::AsteriskMandatoryComponent.new
          %span.fr-hint-text
            = t('activerecord.attributes.export_template.hints.tiptap_pdf_name')
        .tiptap-editor.fr-mt-1w{ data: { tiptap_target: 'editor' } }
        = f.hidden_field :tiptap_pdf_name, data: { tiptap_target: 'input' }
        .fr-mt-2w= render TagsButtonListComponent.new(tags: { nil => @export_template.specific_tags })

      - if @all_pj.any?
        %h3 Pieces justificatives

        .fr-highlight
          %p.fr-text--sm
            N'incluez pas les extensions de fichier (.pdf, .jpg, …) dans les noms de pièces jointes.

        - @all_pj.each do |pj|
          .fr-input-group{ data: { controller: 'tiptap' } }
            = label_tag pj.libelle, nil, name: field_name(:export_template, "tiptap_pj_#{pj.stable_id}"), class: "fr-label"
            .tiptap-editor.fr-mt-1w{ data: { tiptap_target: 'editor' } }
              = hidden_field_tag field_name(:export_template, "tiptap_pj_#{pj.stable_id}"), "#{@export_template.content_for_pj(pj)}" , data: { tiptap_target: 'input' }
            .fr-mt-2w= render TagsButtonListComponent.new(tags: { nil => @export_template.tags_for_pj })

      .fixed-footer
        .fr-container
          %ul.fr-btns-group.fr-btns-group--inline-md
            %li
              %input.hidden{ type: 'submit', formaction: preview_instructeur_export_templates_path, data: { autosubmit_target: 'submitter' }, formnovalidate: 'true', formmethod: 'get' }
              = f.button "Enregistrer", class: "fr-btn", data: { turbo: 'false' }
            %li
              = link_to "Annuler", instructeur_procedure_path(@procedure), class: "fr-btn fr-btn--secondary"
            - if @export_template.persisted?
              %li
                = link_to "Supprimer", instructeur_export_template_path(@export_template, procedure_id: @procedure.id), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ce modèle ? Il sera supprimé pour tous les instructeurs du groupe"}, class: "fr-btn fr-btn--secondary"
  - sample_dossier = @procedure.dossier_for_preview(current_instructeur)
  - if sample_dossier
    .fr-col-12.fr-col-md-4.fr-background-alt--blue-france
      = render partial: 'preview', locals: { dossier: sample_dossier, export_template: @export_template, procedure: @procedure }
