#export_template-edit.fr-my-4w
  .fr-mb-6w
    = render Dsfr::AlertComponent.new(state: :info, title: "Nouvel éditeur de modèle d’export", heading_level: 'h3') do |c|
      - c.with_body do
        = t('.info_html', mailto: mail_to(CONTACT_EMAIL, subject: 'Editeur de modèle d’export'))

.fr-grid-row.fr-grid-row--gutters
  .fr-col-12.fr-col-md-8
    = form_with model: [:instructeur, procedure, export_template], local: true do |f|

      %h2 Paramètres de l’export
      = f.hidden_field "[dossier_folder][template]", value: export_template.dossier_folder.template_json
      = f.hidden_field "[export_pdf][template]", value: export_template.export_pdf.template_json

      = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field)

      - if groupe_instructeurs.many?
        .fr-input-group
          = f.label :groupe_instructeur_id, class: 'fr-label' do
            Groupe instructeur éditeur du modèle
            = render EditableChamp::AsteriskMandatoryComponent.new
            %span.fr-hint-text
              Le groupe propriétaire qui pourra modifier le modèle le cas échéant
          = f.collection_select :groupe_instructeur_id, groupe_instructeurs, :id, :label, {}, class: 'fr-select'

        .fr-checkbox-group.fr-input-group
          = f.check_box :shared
          = f.label :shared, "Partager avec tous les autres groupes instructeurs", class: 'fr-label'
      - else
        = f.hidden_field :groupe_instructeur_id

      %fieldset.fr-fieldset.fr-fieldset--inline
        %legend#radio-inline-legend.fr-fieldset__legend.fr-text--regular
          Format export
          = asterisk
        .fr-fieldset__element.fr-fieldset__element--inline
          .fr-radio-group
            = f.radio_button :kind, "xlsx", id: "xlsx"
            %label.fr-label{ for: "xlsx" } xlsx
          .fr-radio-group
            = f.radio_button :kind, "ods", id: "ods"
            %label.fr-label{ for: "ods" } ods
          .fr-radio-group
            = f.radio_button :kind, "csv", id: "csv"
            %label.fr-label{ for: "csv" } csv

      %h2 Contenu de l’export
      %p Sélectionnez les colonnes que vous souhaitez voir affichées dans le tableau de votre export.

      = render partial: 'checkbox_group', locals: { title: 'Informations usager', all_columns: procedure.usager_columns_for_export, export_template: }
      = render partial: 'checkbox_group', locals: { title: 'Informations dossier', all_columns: procedure.dossier_columns_for_export, export_template: }
      = render ExportTemplate::ChampsComponent.new("Formulaire usager", export_template, @types_de_champ_public)
      = render ExportTemplate::ChampsComponent.new("Annotations privées", export_template, @types_de_champ_private) if @types_de_champ_private.any?

      .fixed-footer
        .fr-container
          %ul.fr-btns-group.fr-btns-group--inline-md
            %li= link_to "Annuler", [:export_templates, :instructeur, procedure], class: "fr-btn fr-btn--secondary"
            %li= f.button "Enregistrer", class: "fr-btn", data: export_template.persisted? ? { confirm: t('.warning') } : {}
