#export_template-edit.fr-my-4w
  .fr-mb-6w
    = render Dsfr::AlertComponent.new(state: :info, title: "Nouvel éditeur de modèle d'export", heading_level: 'h3') do |c|
      - c.with_body do
        = t('.info_html', mailto: mail_to(CONTACT_EMAIL, subject: 'Editeur de modèle d\'export'))
    = render Dsfr::AlertComponent.new(state: :warning, heading_level: 'h3') do |c|
      - c.with_body do
        = t('.warning')

.fr-grid-row.fr-grid-row--gutters
  .fr-col-12.fr-col-md-8
    = form_with model: [:instructeur, @procedure, export_template], local: true do |f|

      %h2 Paramètres de l'export
      = f.hidden_field "[dossier_folder][template]", value: export_template.dossier_folder.template_json
      = f.hidden_field "[export_pdf][template]", value: export_template.export_pdf.template_json

      = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field)

      - if groupe_instructeurs.many?
        .fr-input-group
          = f.label :groupe_instructeur_id, class: 'fr-label' do
            = f.object.class.human_attribute_name(:groupe_instructeur_id)
            = render EditableChamp::AsteriskMandatoryComponent.new
            %span.fr-hint-text
              Avec quel groupe instructeur souhaitez-vous partager ce modèle d'export ?
          = f.collection_select :groupe_instructeur_id, groupe_instructeurs, :id, :label, {}, class: 'fr-select'
      - else
        = f.hidden_field :groupe_instructeur_id

      %fieldset.fr-fieldset.fr-fieldset--inline
        %legend#radio-inline-legend.fr-fieldset__legend.fr-text--regular
          Format export
        .fr-fieldset__element.fr-fieldset__element--inline
          .fr-radio-group
            = f.radio_button :kind, "ods", id: "ods"
            %label.fr-label{ for: "ods" } ods
          .fr-radio-group
            = f.radio_button :kind, "xlsx", id: "xlsx"
            %label.fr-label{ for: "xlsx" } xlsx
          .fr-radio-group
            = f.radio_button :kind, "csv", id: "csv"
            %label.fr-label{ for: "csv" } csv

      %h2 Contenu de l'export
      = render partial: 'checkbox_group', locals: { title: 'Colonnes Usager', all_columns: @export_template.all_usager_columns, checked_columns: @export_template.exported_columns }


      = render partial: 'checkbox_group', locals: { title: 'Colonnes Infos dossier', all_columns: @export_template.all_dossier_columns, checked_columns: @export_template.exported_columns }

      - types_de_champ_public = @procedure.types_de_champ_for_procedure_presentation(with_header_section: true).public_only
      - types_de_champ_private = @procedure.types_de_champ_for_procedure_presentation(with_header_section: true).private_only

      = render ExportTemplate::ChampsComponent.new("Informations formulaire", @export_template, types_de_champ_public)

      = render ExportTemplate::ChampsComponent.new("Informations annotations", @export_template, types_de_champ_private) if types_de_champ_private.any?

      .fixed-footer
        .fr-container
          %ul.fr-btns-group.fr-btns-group--inline-md
            %li
              = f.submit "Enregistrer", class: "fr-btn"
            %li
              = link_to "Annuler", instructeur_procedure_path(@procedure), class: "fr-btn fr-btn--secondary"
            - if @export_template.persisted?
              %li
                = link_to "Supprimer", [:instructeur, @procedure, @export_template], method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ce modèle ? Il sera supprimé pour tous les instructeurs du groupe"}, class: "fr-btn fr-btn--secondary"
