#preview.export-template-preview.fr-p-2w.sticky--top
  %h2.fr-h4 Aperçu
  - if dossier.nil?
    %p.fr-text--sm
      Saisissez un premier dossier pour prévisualiser.

  - else
    %ul.tree.fr-text--sm
      %li #{DownloadableFileService::EXPORT_DIRNAME}/
      %li
        %ul
          %li
            %span#preview_dossier_folder #{export_template.folder_path(dossier)}/
            %ul
              - if export_template.export_pdf&.fetch('enabled')
                %li#preview_export_pdf= export_template.export_pdf_path(dossier)

              - procedure.exportables_pieces_jointes.each do |pj|
                - if export_template.pj(pj.stable_id)&.fetch('enabled')
                  %li{ id: "preview_pj_#{pj.stable_id}" } #{export_template.pj_path(dossier, pj.stable_id)}-1.jpg
            %ul
              %li
                %span messagerie/
                %ul
                  %li un-autre-fichier.png
