- dossier = procedure.dossier_for_preview(current_instructeur)

#preview.export-template-preview.fr-p-2w.sticky--top
  %h2.fr-h4 Aperçu
  - if dossier.nil?
    %p.fr-text--sm
      Pour générer un aperçu fidèle avec tous les champs et les dates,
      = link_to 'créez-vous un dossier', commencer_url(procedure.path), target: '_blank'
      et acceptez-le : l’aperçu l’utilisera.

  - else
    %ul.tree.fr-text--sm
      %li
        %span.fr-icon-folder-zip-line
        #{DownloadableFileService::EXPORT_DIRNAME}/
      %li
        %ul
          %li
            %span.fr-icon-folder-line
            #{export_template.dossier_folder.path(dossier)}/
            %ul
              - if export_template.export_pdf.enabled?
                %li
                  %span.fr-icon-pdf-2-line
                  #{export_template.export_pdf.path(dossier)}.pdf
              - if export_template.attestation.enabled? && procedure.attestation_acceptation_template&.activated?
                %li
                  %span.fr-icon-pdf-2-line
                  #{export_template.attestation.path(dossier)}.pdf

              - procedure.exportables_pieces_jointes.each do |tdc|
                - export_pj = export_template.pj(tdc)
                - if export_pj.enabled?
                  %li
                    %span.fr-icon-file-image-line
                    #{export_pj.path(dossier)}-1.jpg
