#preview.export-template-preview.fr-p-2w.sticky--top
  %h2.fr-h4 Aperçu
  %ul.tree.fr-text--sm
    %li #{DownloadableFileService::EXPORT_DIRNAME}/
    %li
      %ul
        %li
          %span#preview_default_dossier_directory #{export_template.tiptap_convert(dossier, "default_dossier_directory")}/
          %ul
            %li#preview_pdf_name #{export_template.tiptap_convert(dossier, "pdf_name")}.pdf
            - procedure.exportables_pieces_jointes.each do |pj|
              %li{ id: "preview_pj_#{pj.stable_id}" } #{export_template.tiptap_convert_pj(dossier, pj.stable_id)}-1.jpg
          %ul
            %li
              %span messagerie/
              %ul
                %li un-autre-fichier.png
