.etape.etapes-menu.col-xs-3
  %h3
    Mes informations
  %br
  - if @facade.etablissement.present?
    .center{ style: 'margin-left: -5%;' }
      Vous êtes authentifié avec le SIRET

      %h3.text-success
        = @facade.etablissement.siret
      = form_for @facade.dossier, url: users_dossier_change_siret_path(dossier_id: @facade.dossier.id), method: :put, remote: true do |f|
        = f.submit 'Changer de SIRET', class: %w(btn btn-xs btn-primary)


.etape.etapes-informations.col-xs-9
  .row
    - if @facade.etablissement.nil?
      #new_siret{ style: 'margin-left: 20%; margin-top: 5%;' }
        = form_for @facade.dossier, html: { class: 'form-inline' }, url: users_dossier_siret_informations_path(dossier_id: @facade.dossier.id), method: :post, remote: true do |f|
          .form-group.form-group-lg
            = f.text_field :siret, id: "dossier-siret", class: "form-control", placeholder: "Entrez votre Siret", value: @siret
            = f.hidden_field :dossier_id, value: @facade.dossier.id
            = f.submit 'Valider', class: %w(btn btn-lg btn-success), id: 'submit-siret', data: { disable: true }
    - else
      %br
      #recap-info-entreprise
        = render partial: '/dossiers/infos_entreprise'

        %p#insee-infogreffe{ style: 'color: grey; float: right;' }
          %i
            Informations récupérées auprès de l'INSEE et d'INFOGREFFE

        %br
        = form_for @facade.dossier, url: { controller: '/users/dossiers', action: :update } do |f|
          = f.hidden_field :id
          = f.submit 'Etape suivante', class: "btn btn btn-info", style: 'float: right;', id: 'etape_suivante'
