.col-xs-3.center
  %h3 Mes informations
  %p
    Les informations de bases
    %br
    vous concernant.

.etape.etapes-informations.col-xs-9
  = form_for @facade.dossier, url: { controller: '/users/dossiers', action: :update } do |f|
    .row
      .col-xs-12.padding-left-30
        = f.hidden_field :id

        = f.fields_for :individual, @facade.individual do |ff|
          .form-group
            %label
              %h4
                Civilité
              = ff.select :gender, ['M.', 'Mme']
          .form-group
            %label
              %h4
                Nom *
              = ff.text_field :nom, { class: 'form-control', required: true }
          .form-group
            %label
              %h4
                Prénom *
              = ff.text_field :prenom, { class: 'form-control', required: true }
          .form-group
            %label
              %h4
                Date de naissance *
              = ff.date_field :birthdate, { class: 'form-control', placeholder: 'jj/mm/aaaa', required: true }

        %p
          %label{ style: 'font-weight: normal;' }
            = f.check_box :autorisation_donnees
             Vos informations personnelles ne seront jamais utilisées dans un but lucratif ou commercial. Elles ne pourront être communiquées à de tierces personnes sans votre accord préalable. Elles pourront en revanche être communiquées aux administrations compétentes afin d'instruire votre dossier, conformément à la déclaration CNIL effectuée par le service TPS.
            = link_to 'en savoir plus', cgu_path, target: '_blank'
    .row
      .col-xs-5.col-xs-5
      .col-xs-2.col-xs-2
        = f.submit 'Etape suivante', class: "action", id: 'etape_suivante'
      .col-xs-5.col-xs-5
