= turbo_frame_tag "#{dom_id(description)}_url" do

  - theme = description.too_long? ? :warning : :success
  - icon = description.too_long? ? "fr-icon-warning-fill" : "fr-icon-paint-fill"
  - body = description.too_long? ? t("views.descriptions.edit.prefill_link_too_long") : t("views.descriptions.edit.prefill_link_info")

  = render Dsfr::CalloutComponent.new(title: t("views.descriptions.edit.prefill_link_title"), theme: theme, icon: "fr-icon-paint-fill") do |c|
    - c.with_body do
      = body
      %div
        %strong
          = description
    - unless description.too_long?
      - c.with_bottom do
        = render Dsfr::CopyButtonComponent.new(title: t("views.descriptions.edit.prefill_link_copy"), text: description)
