= turbo_stream.replace "#{dom_id(@description)}_types_de_champs" do
  = render "types_de_champs", description: @description

= turbo_stream.replace "#{dom_id(@description)}_url" do
  = render "prefill_link", description: @description
