= render partial: 'users/description/champs/date', locals: { champ: champ }

%br
%select.form-control{ name: "time_hour['#{champ.id}']", style: 'width:70px;display:inline;', id: "time_hour_#{champ.id}" }
  - (0..23).each do |num|
    - num = "%.2i" %num
    %option{ value: num, selected: (:selected if champ.same_hour?(num)) }
      = num
h
%select.form-control{ name: "time_minute['#{champ.id}']", style: 'width:70px;display:inline;', id: "time_minute_#{champ.id}" }
  - (0..59).each do |num|
    - num = "%.2i" %num
    - if num.to_i%5 == 0
      %option{ value: num, selected: (:selected if champ.same_minute?(num)) }
        = num
min
