%select{  name:"champs['#{champ.id}']",
          id: "champs_#{champ.id}" }

  - unless values.blank?
    %option
      = ''

    - values.each do |option|
      - if (option=~ /^--.*--$/).nil?
        - if champ.value == option
          %option{selected:''}
            = option
        - else
          %option
            = option
      -else
        %option{disabled:''}
          = option
