- champs.decorate.each do |champ|
  - if champ.order_place > order_place
    - if champ.type_champ == 'header_section'
      - break

    .row
      %div{ class: if champ.type_champ == 'textarea' || champ.type_champ == 'engagement' then 'col-md-12' else 'col-md-6' end }
        .form-group
          %label{ for: "champs_#{champ.id}" }
            = champ.libelle
            - if champ.mandatory?
              *

          - case champ.type_champ
          - when 'textarea'
            = render partial: 'users/description/champs/textarea', locals: { champ: champ }

          - when 'checkbox'
            = render partial: 'users/description/champs/checkbox', locals: { champ: champ }

          - when 'civilite'
            = render partial: 'users/description/champs/civilite', locals: { champ: champ }

          - when 'datetime'
            = render partial: 'users/description/champs/datetime', locals: { champ: champ }

          - when 'yes_no'
            = render partial: 'users/description/champs/yes_no', locals: { champ: champ }

          - when 'drop_down_list', 'multiple_drop_down_list'
            = render partial: 'users/description/champs/drop_down_list', locals: { champ: champ }

          - when 'pays'
            = render partial: 'users/description/champs/pays', locals: { champ: champ }

          - when 'regions'
            = render partial: 'users/description/champs/regions', locals: { champ: champ }

          - when 'engagement'
            = render partial: 'users/description/champs/engagement', locals: { champ: champ }

          - when 'departements'
            = render partial: 'users/description/champs/departements', locals: { champ: champ }

          - when 'dossier_link'
            = render partial: 'users/description/champs/dossier_link', locals: { champ: champ }

          - when 'explication'

          - when 'date'
            = render partial: 'users/description/champs/date', locals: { champ: champ }

          - else
            %input.form-control{ name: "champs['#{champ.id}']",
                            placeholder: champ.libelle,
                            id: "champs_#{champ.id}",
                            value: champ.value,
                            type: champ.type_champ }


          - unless champ.description.empty?
            %div{ id: "description_champs_#{champ.id}", class: ('help-block' unless champ.type_champ == 'engagement') }
              = champ.description_with_links
