- unless smart_listing.empty?
  %table.table
    %tr
      %th{ colspan: 4 }
        %h4 Lien vers les procédures TPS
    %tr
      %th= smart_listing.sortable 'ID', 'id'
      %th= smart_listing.sortable 'Titre', 'libelle'
      %th Description
      %th= smart_listing.sortable 'Organisme', 'organisation'

    - smart_listing.collection.each do |procedure|
      - procedure = procedure.decorate
      %tr
        %td
          = procedure.id
        %td.col-xs-4
          = link_to procedure.libelle, procedure.lien
        %td
          = procedure.description
        %td.col-xs-3
          = procedure.organisation

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %p Aucune procédure trouvée
