- if current_user.loged_in_with_france_connect?
  #fconnect-profile{ "data-fc-logout-url" => '/users/sign_out" data-method="delete' }
    %a.text-info{ href: "#" }
      = "#{current_user.given_name} #{current_user.family_name}"
  = link_to "", "/users/sign_out", method: :delete, class: "btn fa fa-power-off off-fc-link"

- else
  = link_to "", "/users/sign_out", method: :delete, class: "btn btn-md fa fa-sign-out"
