%footer.fr-footer#footer{ role: "contentinfo" }
  - service = procedure.service
  .fr-footer__top
    .fr-container
      .fr-grid-row.fr-grid-row--start.fr-grid-row--gutters
        .fr-col-12.fr-col-sm-4.fr-col-md-4
          %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.contact.header')
          %ul.fr-footer__top-list
            - if dossier.present? && dossier.messagerie_available?
              %li
                = link_to I18n.t('users.procedure_footer.contact.in_app_mail.link'), messagerie_dossier_path(dossier), class: 'fr-footer__top-link'
            - elsif service.present?
              %li
                = link_to I18n.t('users.procedure_footer.contact.email.link', service_email: service.email), "mailto:#{service.email}", class: 'fr-footer__top-link'
              %li
                - horaires = "#{I18n.t('users.procedure_footer.contact.schedule.prefix')}#{formatted_horaires(service.horaires)}"
                = link_to service.telephone_url, class: 'fr-footer__top-link' do
                  = I18n.t('users.procedure_footer.contact.phone.link', service_telephone: service.telephone)
                  %br
                  = horaires
              %li
                = link_to I18n.t('users.procedure_footer.contact.stats.link'), statistiques_path(procedure.path), class: 'fr-footer__top-link', rel: 'noopener'


        - politiques = politiques_conservation_de_donnees(procedure)
        - if politiques.present?
          .fr-col-12.fr-col-sm-4.fr-col-md-4
            %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.legals.header')
            %ul.fr-footer__top-list
              - politiques.each do |politique|
                %li
                  = link_to t("users.procedure_footer.legals.data_retention_url"), class: "fr-footer__top-link" do
                    = politique
              - if procedure.deliberation.attached?
                %li
                  = link_to url_for(procedure.deliberation), rel: 'noopener', class: 'fr-footer__top-link' do
                    = I18n.t("users.procedure_footer.legals.terms")
              - else
                %li
                  = link_to I18n.t("users.procedure_footer.legals.terms"), procedure.cadre_juridique, rel: 'noopener', class: 'fr-footer__top-link'

              - if procedure.lien_dpo.present?
                %li
                  = link_to url_or_email_to_lien_dpo(procedure), rel: 'noopener', class: 'fr-footer__top-link' do
                    = I18n.t("users.procedure_footer.legals.dpo")


        .fr-col-12.fr-col-sm-4.fr-col-md-4
          %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.dematerialisation.header')
          %ul.fr-footer__top-list
            %li
              = link_to t('users.procedure_footer.dematerialisation.title_1'), commencer_dossier_vide_for_revision_path(procedure.active_revision), rel: 'noopener', class: 'fr-footer__top-link'
            %li
              = link_to t('users.procedure_footer.dematerialisation.title_2'),t('users.procedure_footer.dematerialisation.link'), rel: 'noopener', class: 'fr-footer__top-link'

  .fr-container
    .fr-footer__body
      .fr-footer__brand.fr-enlarge-link
        = link_to t("links.provider.url"), title: t("links.provider.title") do
          %p.fr-logo
            premier
            %br
            ministre

      - if service.present?
        .fr-footer__content
          %p.fr-footer__content-desc
            = I18n.t('users.procedure_footer.managed_by.header')
            %span{ lang: :fr }
              = "#{service.nom},"
              = "#{service.organisme},"
              = string_to_html(service.adresse, 'span')
          = render partial: "shared/footer_content_list"

    .fr-footer__bottom
      = render partial: 'users/general_footer_row', locals: { dossier: dossier }
      = render partial: 'shared/footer_copy'
