%footer.fr-footer.footer-procedure#footer{ role: "contentinfo" }
  .fr-footer__top.fr-mb-0
    .fr-container
      .fr-grid-row.fr-grid-row--start.fr-grid-row--gutters
        .fr-col-12.fr-col-sm-4.fr-col-md-4
          = render partial: 'shared/dossiers/update_contact_information', locals: { dossier: dossier, procedure: procedure }

        - politiques = politiques_conservation_de_donnees(procedure)
        - if politiques.present?
          .fr-col-12.fr-col-sm-4.fr-col-md-4
            %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.legals.header')
            %ul.fr-footer__top-list
              - politiques.each do |politique|
                %li
                  = link_to t("users.procedure_footer.legals.data_retention_url"), class: "fr-footer__top-link", title: new_tab_suffix(t("users.procedure_footer.legals.data_retention_title")), **external_link_attributes do
                    = politique
              - if procedure.deliberation.attached?
                %li
                  = link_to url_for(procedure.deliberation), rel: 'noopener', class: 'fr-footer__top-link' do
                    = I18n.t("users.procedure_footer.legals.terms")
              - else
                %li
                  = link_to I18n.t("users.procedure_footer.legals.terms"), procedure.cadre_juridique, rel: 'noopener', class: 'fr-footer__top-link'

              - if procedure.lien_dpo.present?
                %li
                  = link_to url_or_email_to_lien_dpo(procedure), rel: 'noopener', class: 'fr-footer__top-link' do
                    = I18n.t("users.procedure_footer.legals.dpo")
              %li
                = link_to I18n.t('users.procedure_footer.contact.stats.link'), statistiques_path(procedure.path), class: 'fr-footer__top-link', rel: 'noopener'


        .fr-col-12.fr-col-sm-4.fr-col-md-4
          - unless procedure.close?
            %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.dematerialisation.header')
            .fr-download
              %p
                = link_to I18n.t('users.procedure_footer.dematerialisation.title_1'), commencer_dossier_vide_for_revision_path(procedure.active_revision), class: 'fr-footer__top-link'
          %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.support.header')
          .fr-footer__brand.fr-enlarge-link
            = link_to t("users.procedure_footer.dematerialisation.link"), title: t("users.procedure_footer.dematerialisation.alt"), class: "fr-footer__brand-link" do
              -# = image_tag("footer/logo-france-services.svg", class: "fr-footer__logo logo-france-service-fr", alt: t("users.procedure_footer.dematerialisation.alt"))
              = t("users.procedure_footer.dematerialisation.alt")

  .fr-footer__bottom.fr-mt-0
    .fr-container
      = render partial: 'application/general_footer_row', locals: { dossier: dossier }
      = render partial: 'shared/footer_copy'
