- content_for(:title, 'Changement de mot de passe')

- content_for :footer do
  = render partial: 'root/footer'

.fr-container.fr-my-5w
  .fr-grid-row.fr-grid-row--center
    .fr-col-lg-6
      = devise_error_messages!

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :patch, class: '' }) do |f|
        = f.hidden_field :reset_password_token


        %fieldset.fr-mb-0.fr-fieldset
          %legend.fr-fieldset__legend
            %h1.fr-h2= I18n.t('views.users.passwords.edit.subtitle')

          .fr-fieldset__element
            %p.fr-text--sm= t('utils.asterisk_html')

          .fr-fieldset__element
            = render Dsfr::InputComponent.new(form: f, attribute: :password, input_type: :password_field,
              opts: { autocomplete: 'new-password',
                data: { controller: 'turbo-input', turbo_input_url_value: show_password_complexity_path },
                aria: {describedby: 'password_hint'}})

            #password_complexity
              = render PasswordComplexityComponent.new

          .fr-fieldset__element
            = render Dsfr::InputComponent.new(form: f, attribute: :password_confirmation, input_type: :password_field)

        = f.submit t('views.users.passwords.edit.submit'), id: 'submit-password', disabled: :disabled, class: "fr-btn fr-btn--lg fr-mt-2w", data: { disable_with: t('views.users.passwords.edit.submit_loading') }
