%li.fr-mt-2w.flex{ id: dom_id(@api_token) }
  .fr-mr-4w{ class: class_names('fr-text-default--success': recently_used?) }
    %span.fr-icon-key-line
  .flex-grow
    %div
      %b= @api_token.name
      %span (commence par #{@api_token.prefix})
    %div= autorizations
    %div= network_filtering
    %div= use_and_expiration
  %div
    %ul
      %li
        = link_to 'Modifier',
          edit_admin_api_token_path(@api_token),
          class: 'fr-btn fr-btn--tertiary-no-outline fr-btn--sm fr-btn--icon-left fr-icon-settings-5-line'
      %li
        = link_to 'Supprimer',
          admin_api_token_path(@api_token),
          class: 'fr-btn fr-btn--tertiary-no-outline fr-btn--sm fr-btn--icon-left fr-icon-delete-line',
          data: { turbo_method: :delete, confirm: "Confirmez-vous la suppression du jeton « #{@api_token.name} » ?" }
