.card.rounded-4.mb-4.fr-p-0
  .flex
    .fr-p-3w
      .flex.column.flex-gap-1
        %p
          %span.fr-icon-calendar-fill{ "aria-hidden": "true" }
          %strong
            = t('.appointment_on')
            = l(starts_at, format: :human)
        %p
          %span{ "aria-hidden": "true", class: icon_class }
          %strong
            = t(".rdv_type.#{location_type}")
        %p
          %span.fr-icon-user-fill{ "aria-hidden": "true" }
          Instructeur :
          %strong
            = owner
        %p.fr-mb-0
          = t('.info_and_cancellation')
          = link_to rdv_url, rdv_url, class: "fr-link", target: "_blank"
