.fr-container.fr-mt-6w.fr-mb-15w
  = link_to " Liste des labels", admin_procedure_labels_path, class: 'fr-link fr-icon-arrow-left-line fr-link--icon--left fr-icon--sm'
  %h3.fr-my-3w
    Personnaliser l'ordre des #{@labels.size} labels
  %p Déplacez les labels dans la liste pour définir leur ordre d'affichage pour les instructeurs :

  %fr-container
    = form_tag update_order_positions_admin_procedure_labels_path, method: :patch, id: 'order-admin-procedure-labels-form' do
      - @labels.each do |label|
        .fr-card.fr-mb-1w.fr-py-1w.fr-px-2w
          .flex.align-center
            %button.fr-btn.fr-btn--sm.fr-icon-arrow-up-line.fr-btn--secondary.fr-col-1
            %button.fr-btn.fr-btn--sm.fr-icon-arrow-down-line.fr-btn--secondary.fr-col-1.fr-ml-2w.fr-mr-4w
            = tag_label(label.name, label.color)
          = hidden_field_tag "ordered_label_ids[]", label.id

.fixed-footer.fr-py-1w
  .fr-btns-group.fr-btns-group--center.fr-btns-group--inline.fr-btns-group--inline-lg
    = link_to "Annuler", admin_procedure_labels_path, class: 'fr-btn fr-btn--secondary fr-my-1w'
    %button.fr-btn.fr-my-1w{ type: "submit", form: 'order-admin-procedure-labels-form' } Valider
