!!! 5
%html{ lang: html_lang, class: yield(:root_class) }
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "application-name", content: Current.application_name }
    %meta{ name: "apple-mobile-web-app-title", content: Current.application_name }
    = csrf_meta_tags

    %title
      = content_for?(:title) ? "#{yield(:title)} · #{Current.application_name}" : Current.application_name

    = render partial: "layouts/favicons"

    = vite_client_tag
    = vite_typescript_tag 'playground'

    = Gon::Base.render_data(camel_case: true, init: true, nonce:  request.content_security_policy_nonce)

    :css
      body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow: hidden;
      }

      #playground {
        height: 100vh;
      }

  %body
    #playground
      Loading...
