- if champ.referentiel_item_selected?
  - if current_user.instructeur? && controller.try(:nav_bar_profile) == :instructeur
    .fr-background-alt--grey.fr-p-3v
      - champ.referentiel_item_column_values.each do |(header, value)|
        = render Dossiers::RowShowComponent.new(label: header) do |c|
          - c.with_value do
            %p= value

  - else
    %p= champ.referentiel_item_first_column_value

- elsif champ.used_by_routing_rules? && champ.dossier.forced_groupe_instructeur
  %p
    %span= champ.value
    %span.fr-badge.fr-badge--warning.fr-badge--sm dossier réaffecté au groupe « #{champ.dossier.groupe_instructeur.label} »

- else
  %p= champ.value
