- if FranceConnectService.enabled?
  .france-connect-login
    %h2.fr-h6
      = t('views.shared.france_connect_login.title')
    %p
      = t('views.shared.france_connect_login.description')

    .fr-connect-group.fr-my-2w
      = link_to(url, class: "fr-btn fr-connect") do
        %span.fr-connect__login
          = t('views.shared.france_connect_login.login_button')
        %span.fr-connect__brand FranceConnect
      %p
        = link_to t('views.shared.france_connect_login.help_link'), "https://franceconnect.gouv.fr/", title: new_tab_suffix(t('views.shared.france_connect_login.help_link')), **external_link_attributes

    %p.fr-hr-or= t('views.shared.france_connect_login.separator')
- else
  <!-- FranceConnect is not configured -->
