- if FranceConnectService.enabled?
  .france-connect-login
    %h2.fr-h6.mb-0
      = t('views.shared.france_connect_login.title')
    %p
      = t('views.shared.france_connect_login.description')
    .france-connect-login-buttons
      = link_to t('views.shared.france_connect_login.login_button'), url, class: "france-connect-login-button"
    .france-connect-help-link
      = link_to t('views.shared.france_connect_login.help_link'), "https://franceconnect.gouv.fr/", target: "_blank", rel: "noopener", class: "link"
    .france-connect-login-separator
      = t('views.shared.france_connect_login.separator')
- else
  <!-- FranceConnect is not configured -->
