.procedure-logos
  = image_tag procedure.logo_url, alt: ''
  - if procedure.euro_flag
    = image_tag("flag_of_europe.svg", id: 'euro_flag', class: (!procedure.euro_flag ? "hidden" : ""))
%h1.fr-h2
  = procedure.libelle

- if procedure.persisted? && procedure.estimated_duration_visible?
  %p
    %small
      %span.fr-icon-timer-line{ "aria-hidden" => "true" }
      = t('shared.procedure_description.estimated_fill_duration', estimated_minutes: estimated_fill_duration_minutes(procedure))

- if procedure.auto_archive_on
  %p
    %small
      %span.fr-icon-calendar-line
        Date limite : #{procedure_auto_archive_datetime(procedure)}.

= yield

- unless @no_description
  .fr-accordions-group.fr-mb-3w
    - cache_unless(procedure.brouillon?, [I18n.locale, procedure, "description"]) do
      %section.fr-accordion
        %h2.fr-accordion__title
          %button.fr-accordion__btn{ "aria-controls" => "accordion-114", "aria-expanded" => "true" }
            = t('activerecord.attributes.procedure.description')
        #accordion-114.fr-collapse
          = h render SimpleFormatComponent.new(procedure.description, allow_a: true)

      - if procedure.description_target_audience.present?
        %section.fr-accordion
          %h2.fr-accordion__title
            %button.fr-accordion__btn{ "aria-controls" => "accordion-115", "aria-expanded" => "false" }
              = t('activerecord.attributes.procedure.description_target_audience')
          #accordion-115.fr-collapse
            = h render SimpleFormatComponent.new(procedure.description_target_audience, allow_a: true)

      - if procedure.description_pj.present?
        %section.fr-accordion.pieces_jointes
          %h2.fr-accordion__title
            %button.fr-accordion__btn{ "aria-controls" => "accordion-116", "aria-expanded" => "false" }
              = t('shared.procedure_description.pieces_jointes')
          #accordion-116.fr-collapse
            = h render SimpleFormatComponent.new(procedure.description_pj, allow_a: true)

      - else
        - pj_without_condition, pj_with_condition = procedure.public_wrapped_partionned_pjs
        - if pj_without_condition.present? || pj_with_condition.present?
          %section.fr-accordion.pieces_jointes
            %h2.fr-accordion__title
              %button.fr-accordion__btn{ "aria-controls" => "accordion-116", "aria-expanded" => "false" }
                = t('shared.procedure_description.pieces_jointes')
            #accordion-116.fr-collapse
              - if pj_without_condition.present?
                %ul
                  = render partial: "shared/procedure_pieces_jointes_list", collection: pj_without_condition, as: :pj

              - if pj_with_condition.present?
                %h3.fr-text--sm.fr-mb-0.fr-mt-2w
                  = t('shared.procedure_description.pieces_jointes_conditionnal_list_title')
                %ul
                  = render partial: "shared/procedure_pieces_jointes_list", collection: pj_with_condition, as: :pj

    - estimated_delay_component = Procedure::EstimatedDelayComponent.new(procedure: procedure)
    - if estimated_delay_component.render?
      %section.fr-accordion
        %h2.fr-accordion__title
          %button.fr-accordion__btn{ "aria-controls" => "accordion-117", "aria-expanded" => "false" }
            = t('shared.procedure_description.usual_traitement_time_title')

        #accordion-117.fr-collapse
          = render estimated_delay_component

  .fr-my-3w
    = render Procedure::NoticeComponent.new(procedure:)

  - if procedure.sva_svr_enabled?
    = render Dsfr::CalloutComponent.new(title: t('shared.procedure_description.sva_svr_title', rule: t(procedure.sva_svr_decision, scope: 'shared.procedures.sva_svr_rule_name')), icon: "fr-fi-information-line", extra_class_names: "fr-my-6w") do |c|
      - c.with_body do
        %p
          = t("#{procedure.sva_svr_decision}_text_html", scope: 'shared.procedure_description') # i18n-tasks-use: t('shared.procedure_description.sva_text_html') t('shared.procedure_description.svr_text_html')
        %p.fr-mt-1w
          = t('shared.procedure_description.sva_svr_prevision_date',
            delay: t("x_#{procedure.sva_svr_configuration.unit}", count: procedure.sva_svr_configuration.period.to_i, scope: 'datetime.distance_in_words'),
            date: l(SVASVRDecisionDateCalculatorService.decision_date_from_today(procedure), format: :long).gsub(' ', " "))
