- if OmniAuthService.providers.present? || FranceConnectService.enabled?
  .form-column.prior-border.ou-border.procedure-context-content
    .auth-form.sign-in-form.fr-py-5w
      .social-logins
        %h1.fr-h3= title
        %br
        - OmniAuthService.providers.each do |provider|
          = link_to url_for(controller: '/omniauth', action: 'login', provider:), class: "fr-btn fr-btn--lg fr-btn--secondary"  do
            = image_tag "icons/logo_#{provider}.svg", alt: "icone #{provider.camelize}"
            #{t("views.shared.social_login.#{provider}")}
    - if FranceConnectService.enabled?
      = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }

