%ul.fr-raw-list
  - @exports.each do |export|
    %li.fr-mb-3w
      .flex
        %strong
          = export_title(export)
        %span.fr-text-mention--grey.fr-mb-1w
          = time_info(export)
        .fr-ml-auto
          = badge(export)
      %ul.fr-btns-group.fr-btns-group--inline-sm
        %li
          = export_button(export)

        - if export.old?
          %li
            = button_to refresh_button_options(export)[:title], download_export_path(export_format: export.format, statut: export.statut, force_export: true), refresh_button_options(export)
