%section.list-avis
  %h1.tab-title
    Avis des invités
    %span.count= avis.count

  %ul
    - avis.each do |avis|
      %li.one-avis.flex.align-start
        .width-100
          %h2.claimant
            Demandeur :
            %span.email= (avis.claimant.email == current_gestionnaire.email) ? 'Vous' : avis.claimant.email
            - if avis.confidentiel?
              %span.confidentiel
                confidentiel
                %span.icon.lock{ title: "Cet avis n'est pas affiché avec les autres experts consultés" }
            %span.date{ class: highlight_if_unseen_class(avis_seen_at, avis.created_at) }
              Demande d'avis envoyée le #{l(avis.created_at, format: '%d/%m/%y à %H:%M')}
          %p= avis.introduction

          .answer.flex.align-start
            %span.icon.bubble.avis-icon
            .width-100
              %h2.gestionnaire
                = (avis.email_to_display == current_gestionnaire.email) ? 'Vous' : avis.email_to_display
                - if avis.answer.present?
                  %span.date{ class: highlight_if_unseen_class(avis_seen_at, avis.updated_at) }
                    Réponse donnée le #{l(avis.updated_at, format: '%d/%m/%y à %H:%M')}
                - else
                  %span.waiting En attente de réponse
              = render partial: 'shared/piece_jointe/pj_link', locals: { object: avis, pj: avis.piece_justificative_file }
              .answer-body
                = simple_format(avis.answer)
