%section.ask-avis
  %h1.tab-title Inviter des personnes à donner leur avis
  %p.avis-notice Les invités pourront consulter, donner un avis sur le dossier et contribuer au fil de messagerie, mais ils ne pourront pas le modifier.

  = form_for avis, url: url, html: { class: 'form' } do |f|
    = f.email_field :emails, placeholder: 'Adresses email, séparées par des virgules', required: true, multiple: true
    = f.text_area :introduction, rows: 3, value: avis.introduction || 'Bonjour, merci de me donner votre avis sur ce dossier.', required: true
    .flex.justify-between.align-baseline
      - if must_be_confidentiel
        %p.confidentiel.flex
          %span.icon.lock
          %span
            Cet avis est confidentiel et n'est pas affiché aux autres experts consultés mais est visible par tous les instructeurs
        .send-wrapper
          = f.submit 'Demander un avis', class: 'button send'
      - else
        .confidentiel-wrapper
          = f.label :confidentiel, 'Cet avis est'
          = f.select :confidentiel, [['partagé avec les autres experts', false], ['confidentiel', true]], {}, onchange: "javascript:DS.toggleCondidentielExplanation(event);"
          .confidentiel-explanation.hidden
            Il ne sera pas affiché aux autres experts consultés mais sera visible par les instructeurs
        .send-wrapper
          = f.submit 'Demander un avis', class: 'button send'
