.tab-title= "Envoyer ce dossier à un autre instructeur"

- if potential_recipients.empty?
  %p.tab-paragraph
    Vous êtes le seul instructeur assigné sur cette démarche
- else
  %p.tab-paragrah.mb-1
    Le destinataire suivra automatiquement le dossier
  = form_for dossier, url: send_to_instructeurs_instructeur_dossier_path(dossier.procedure, dossier), method: :post, html: { class: 'form recipients-form fr-mb-4w' } do |f|
    = hidden_field_tag :recipients, nil
    = react_component("ComboMultiple",
      options: potential_recipients.map{|r| [r.email, r.id]},
      selected: [], disabled: [],
      group: '.recipients-form',
      name: 'recipients',
      label: 'Emails')

    = f.submit "Envoyer", class: "fr-btn fr-mt-2w"
