.tab-title= "Envoyer ce dossier à un autre instructeur"

- if potential_recipients.empty?
  %p.tab-paragraph
    Vous êtes le seul instructeur assigné sur cette démarche
- else
  %p.tab-paragrah.mb-1
    Le destinataire suivra automatiquement le dossier
  = form_for dossier, url: send_to_instructeurs_instructeur_dossier_path(dossier.procedure, dossier), method: :post, html: { class: 'form recipients-form' } do |f|
    .flex.justify-start.align-start
      - hidden_field_id = SecureRandom.uuid
      = hidden_field_tag :recipients, nil, data: { uuid: hidden_field_id }
      = react_component("ComboMultipleDropdownList", options: potential_recipients.map{|r| [r.email, r.id]}, selected: [], disabled: [], hiddenFieldId: hidden_field_id, label: "email instructeur")

      = f.submit "Envoyer", class: "button large send gap-left"
