-# small expires mention
- if dossier.expirable?
  %p.expires_at.fr-mb-1w.fr-text--sm
    = t("shared.dossiers.header.expires_at.#{dossier.state}", date: safe_expiration_date(dossier), duree_conservation_totale: dossier.duree_totale_conservation_in_months)
    - if dossier.conservation_extension.positive?
      = t('instructeurs.dossiers.header.banner.expiration_date_extended')

  - if dossier.close_to_expiration? || dossier.has_expired?
    - title = dossier.has_expired? ? 'title_expired' : 'title'
    = render Dsfr::CalloutComponent.new(title: t("instructeurs.dossiers.header.banner.#{title}"), theme: :warning) do |c|
      - c.with_body do
        - if dossier.brouillon?
          = t('instructeurs.dossiers.header.banner.states.brouillon')
        - elsif dossier.en_construction?
          = t('instructeurs.dossiers.header.banner.states.en_construction', nominal_duration_months: dossier.procedure.duree_conservation_dossiers_dans_ds)
        - elsif dossier.termine?
          = t('instructeurs.dossiers.header.banner.states.termine')

      - if dossier.expiration_can_be_extended?
        - c.with_bottom do
          = button_to repousser_expiration_instructeur_dossier_path(dossier.procedure, dossier), class: 'fr-btn', id: 'test-instructeur-repousser-expiration' do
            = t('instructeurs.dossiers.header.banner.button_delay_expiration', count: dossier.procedure.duree_conservation_dossiers_dans_ds)

- elsif dossier.en_instruction? && dossier.procedure.procedure_expires_when_termine_enabled
  %p.expires_at_en_instruction.fr-text--sm
    = t("shared.dossiers.header.expires_at.en_instruction")
