%ul.fr-btns-group.fr-btns-group--sm.fr-btns-group--inline-md.fr-btns-group--icon-right
  %li.dropdown.print-menu-opener{ data: { controller: 'menu-button' } }
    %button.fr-btn.fr-btn--tertiary.fr-icon-printer-line.dropdown-button{ title: 'imprimer', 'aria-label': 'Imprimer', "aria-expanded": "false", data: { menu_button_target: 'button' } } Imprimer
    %ul#print-menu.print-menu.dropdown-content{ data: { menu_button_target: 'menu' } }
      %li
        = link_to "Tout le dossier", print_instructeur_dossier_path(dossier.procedure, dossier), target: "_blank", rel: "noopener", class: "menu-item menu-link"
      %li
        = link_to "Uniquement cet onglet", "#", onclick: "window.print()", class: "menu-item menu-link"
      %li
        = link_to "Export PDF", instructeur_dossier_path(dossier.procedure, dossier, format: :pdf), target: "_blank", rel: "noopener", class: "menu-item menu-link"
      - if dossier.geo_data?
        %li
          = link_to "Export GeoJSON", geo_data_instructeur_dossier_path(dossier.procedure, dossier), target: "_blank", rel: "noopener", class: "menu-item menu-link"

  %li.dropdown.print-menu-opener{ data: { controller: 'menu-button' } }
    %button.fr-btn.fr-btn--tertiary.fr-icon-download-line.dropdown-button{ data: { menu_button_target: 'button', 'aria-label': 'Télécharger', "aria-expanded": "false" } } Télécharger
    %ul#print-pj-menu.print-menu.dropdown-content{ data: { menu_button_target: 'menu' } }
      %li= link_to "Télécharger le dossier et toutes ses pièces jointes", telecharger_pjs_instructeur_dossier_path(dossier.procedure, dossier), target: "_blank", rel: "noopener", class: "menu-item menu-link"

  %li
    = render partial: "instructeurs/procedures/dossier_actions",
      locals: { procedure_id: dossier.procedure.id,
                dossier_id: dossier.id,
                state: dossier.state,
                archived: dossier.archived,
                dossier_is_followed: current_instructeur&.follow?(dossier),
                close_to_expiration: dossier.close_to_expiration?,
                hidden_by_administration: dossier.hidden_by_administration? }

  %li.state-button
    = render partial: "state_button", locals: { dossier: dossier }
