- if @is_dossier_in_batch_operation
  = render Dsfr::NoticeComponent.new(closable: false) do |c|
    - c.with_title do
      Un traitement de masse est en cours sur ce dossier, vous ne pouvez pas le modifier.
      = link_to "Recharger la page", instructeur_dossier_path
      pour voir si l'opération est finie.

.sub-header
  .fr-container.flex.justify-between.align-baseline.column= render partial: 'instructeurs/breadcrumbs',
    locals: { steps: [[t('show_procedure', scope: [:layouts, :breadcrumb], libelle: dossier.procedure.libelle.truncate(22)), instructeur_procedure_path(dossier.procedure)],
                      [t('show_dossier', scope: [:layouts, :breadcrumb], dossier_id: dossier.id, owner_name: dossier.owner_name)]] }

  = render partial: 'instructeurs/dossiers/header_top', locals: { dossier:, procedure_presentation:, notifications: }
  = render partial: 'instructeurs/dossiers/header_bottom', locals: { dossier:, gallery_attachments:, notifications_sticker: }

.fr-container
  .print-header
    = dossier.procedure.libelle.truncate_words(10)
    >
    = "Dossier nº #{dossier.id} (#{dossier_display_state(dossier, lower: true)})"
