#header-top.fr-container
  .flex.fr-mb-3w
    %div
      %h1.fr-h3.fr-mb-1w
        = "Dossier nº #{dossier.id}"

      = link_to dossier.procedure.libelle.truncate_words(10), instructeur_procedure_path(dossier.procedure), title: dossier.procedure.libelle, class: "fr-link"
      .fr-mt-2w.badge-group
        = procedure_badge(dossier.procedure)

        = status_badge(dossier.state)
        - if dossier.pending_correction?
          = pending_correction_badge(:for_instructeur)
        - elsif dossier.en_construction? && dossier.last_correction_resolved?
          = correction_resolved_badge
        = render Instructeurs::SVASVRDecisionBadgeComponent.new(projection_or_dossier: dossier, procedure: dossier.procedure, with_label: true)



    .header-actions.fr-ml-auto
      = render partial: 'instructeurs/dossiers/header_actions', locals: { dossier: }
      = render partial: 'instructeurs/dossiers/print_and_export_actions', locals: { dossier: }

  = render partial: 'instructeurs/dossiers/expiration_banner', locals: { dossier: }

  - if dossier.user_deleted?
    %p.fr-mb-1w
      %small L’usager a supprimé son compte. Vous pouvez archiver puis supprimer le dossier.
