#header-top.fr-container
  .flex.fr-mb-3w
    %div
      .flex.fr-mb-1w
        = render Instructeurs::BackButtonComponent.new(to: instructeur_procedure_path(dossier.procedure, Cache::ShowProcedureLastState.new(current_instructeur: current_instructeur, procedure: dossier.procedure, session:).fetch_last_state))
        %h1.fr-h3.fr-mb-0
          = "Dossier nº #{dossier.id}"

      .fr-mt-2w.badge-group
        = procedure_badge(dossier.procedure)

        = status_badge(dossier.state)
        - if dossier.pending_correction?
          = pending_correction_badge(:for_instructeur)
        - elsif dossier.en_construction? && dossier.last_correction_resolved?
          = correction_resolved_badge
        = render Instructeurs::SVASVRDecisionBadgeComponent.new(projection_or_dossier: dossier, procedure: dossier.procedure, with_label: true)



    .header-actions.fr-ml-auto
      = render partial: 'instructeurs/dossiers/header_actions', locals: { dossier: }
      = render partial: 'instructeurs/dossiers/print_and_export_actions', locals: { dossier: }

  = render partial: 'instructeurs/dossiers/expiration_banner', locals: { dossier: }

  - if dossier.user_deleted?
    %p.fr-mb-1w
      %small L’usager a supprimé son compte. Vous pouvez archiver puis supprimer le dossier.
