.sub-header
  .container
    .flex.justify-between
      %ul.breadcrumbs
        %li
          = link_to instructeur_procedure_path(dossier.procedure), title: dossier.procedure.libelle do
            - if dossier.procedure.brouillon?
              %span.badge démarche en test
            = dossier.procedure.libelle.truncate_words(10)
        %li
          = "Dossier nº #{dossier.id}"
      .mixed-buttons-bar
        = render partial: 'instructeurs/dossiers/header_actions', locals: { dossier: dossier }

    %ul.tabs
      - notifications_summary = current_instructeur.notifications_for_dossier(dossier)

      = dynamic_tab_item('Demande',
        instructeur_dossier_path(dossier.procedure, dossier),
        notification: notifications_summary[:demande])

      = dynamic_tab_item('Annotations privées',
        annotations_privees_instructeur_dossier_path(dossier.procedure, dossier),
        notification: notifications_summary[:annotations_privees])

      = dynamic_tab_item('Avis externes',
        avis_instructeur_dossier_path(dossier.procedure, dossier),
        notification: notifications_summary[:avis])

      = dynamic_tab_item('Messagerie',
        messagerie_instructeur_dossier_path(dossier.procedure, dossier),
        notification: notifications_summary[:messagerie])

      = dynamic_tab_item('Personnes impliquées',
        personnes_impliquees_instructeur_dossier_path(dossier.procedure, dossier))

.container
  .print-header
    = dossier.procedure.libelle.truncate_words(10)
    >
    = "Dossier nº #{dossier.id} (#{dossier_display_state(dossier, lower: true)})"
