.motivation{ class: class_names(popup_class => true, hidden: !defined?(visible) || !visible, "fr-pb-2w fr-px-2w": true) }
  = form_tag(defined?(form_path) ? form_path : terminer_instructeur_dossier_path(dossier.procedure, dossier, statut: params[:statut]), data: { turbo: true, turbo_confirm: confirm }, method: :post, multipart: true) do
    - if title == 'Accepter'
      = text_area :dossier, :motivation, class: 'fr-input', placeholder: placeholder, required: false
      - if dossier.attestation_acceptation_template&.activated?
        %p.help
          L’acceptation du dossier envoie automatiquement
          = link_to 'une attestation', apercu_attestation_acceptation_instructeur_dossier_path(dossier.procedure, dossier), target: '_blank', rel: 'noopener', title: "Voir l'attestation qui sera envoyée à l'usager"
          à l'usager.

      - unspecified_attestation_champs = dossier.unspecified_attestation_champs(AttestationTemplate.kinds.fetch(:acceptation))
      - if unspecified_attestation_champs.present?
        .warning
          Attention, les valeurs suivantes n’ont pas été renseignées mais sont nécessaires pour pouvoir envoyer une attestation valide :
          - unspecified_annotations_privees, unspecified_champs = unspecified_attestation_champs.partition(&:private?)

          - if unspecified_champs.present?
            %h4 Champs de la demande
            %ul
              - unspecified_attestation_champs.each do |unspecified_champ|
                %li= unspecified_champ.libelle

          - if unspecified_annotations_privees.present?
            %h4 Annotations privées
            %ul
              - unspecified_annotations_privees.each do |unspecified_annotations_privee|
                %li= unspecified_annotations_privee.libelle

    - elsif title == 'Refuser'
      = text_area :dossier, :motivation, class: 'fr-input', placeholder: placeholder, required: true
      - if dossier.attestation_refus_template&.activated?
        %p.help
          Le refus du dossier envoie automatiquement
          = link_to 'une attestation', apercu_attestation_refus_instructeur_dossier_path(dossier.procedure, dossier),  target: '_blank', rel: 'noopener', title: "Voir l'attestation qui sera envoyée à l'usager"
          à l'usager.

      - unspecified_attestation_champs = dossier.unspecified_attestation_champs(AttestationTemplate.kinds.fetch(:refus))
      - if unspecified_attestation_champs.present?
        .warning
          Attention, les valeurs suivantes n’ont pas été renseignées mais sont nécessaires pour pouvoir envoyer une attestation valide :
          - unspecified_annotations_privees, unspecified_champs = unspecified_attestation_champs.partition(&:private?)

          - if unspecified_champs.present?
            %h4 Champs de la demande
            %ul
              - unspecified_attestation_champs.each do |unspecified_champ|
                %li= unspecified_champ.libelle

          - if unspecified_annotations_privees.present?
            %h4 Annotations privées
            %ul
              - unspecified_annotations_privees.each do |unspecified_annotations_privee|
                %li= unspecified_annotations_privee.libelle
    - else
      = text_area :dossier, :motivation, class: 'fr-input', placeholder: placeholder, required: true
    .optional-justificatif{ id: "justificatif_motivation_suggest_#{popup_class}", onclick: "DS.showImportJustificatif('#{popup_class}');" }
      %button.fr-btn.fr-btn--tertiary-no-outline.fr-btn--icon-left.fr-icon-attachment-line.fr-ml-0{ type: 'button', onclick: "DS.showImportJustificatif('accept');" }= defined?(button_justificatif_label) ? button_justificatif_label : "Ajouter un justificatif (optionnel)"
    .hidden{ id: "justificatif_motivation_import_#{popup_class}" }
      = file_field :dossier, :justificatif_motivation, direct_upload: true, id: "dossier_justificatif_motivation_#{popup_class}",onchange: "DS.showDeleteJustificatif('#{popup_class}');"
    .hidden.js_delete_motivation{ id: "delete_motivation_import_#{popup_class}" }
      %button.fr-btn.fr-btn--tertiary-no-outline.fr-btn--icon-left.fr-icon-delete-line.fr-ml-0.fr-mt-1w{ type: 'button', onclick: "DS.deleteJustificatif('#{popup_class}');" } Supprimer le  justificatif
    .fr-mt-2w
      = button_tag "Annuler", type: :reset, class: 'fr-btn fr-btn--secondary', onclick: 'DS.motivationCancel();'
      = button_tag defined?(process_button) ? process_button : 'Valider la décision', name: :process_action, value: process_action, class: 'fr-btn fr-mr-0', title: title
