- content_for(:title, "Annotations privées · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier }

#dossier-annotations-privees.container
  - if @dossier.champs_private.present?
    %section
      = form_for @dossier, url: annotations_gestionnaire_dossier_path(@dossier.procedure, @dossier), html: { class: 'form' } do |f|
        = f.fields_for :champs_private, f.object.champs_private do |champ_form|
          - champ = champ_form.object
          = render partial: "shared/dossiers/editable_champs/editable_champ",
            locals: { champ: champ, form: champ_form, seen_at: @annotations_privees_seen_at }

        .send-wrapper
          = f.submit 'Sauvegarder', class: 'button primary send', data: { disable: true }

  - else
    %h2.empty-text Aucune annotation privée
