- content_for(:title, "Avis · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      = render partial: 'instructeurs/avis/sidemenu'
    .fr-col
      - if !@dossier.termine?
        - if @dossier.procedure.allow_expert_review
          = render partial: "instructeurs/avis/form", locals: { url: avis_instructeur_dossier_path(@dossier.procedure, @dossier), linked_dossiers: @dossier.linked_dossiers_for(current_instructeur), must_be_confidentiel: false, avis: @avis }
        - else
          %p Cette démarche n’autorise pas la demande d’avis à un expert. Veuillez contacter votre administrateur
