- content_for(:title, "Avis · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier, gallery_attachments: @gallery_attachments, procedure_presentation: @procedure_presentation, notifications: @notifications, notifications_sticker: @notifications_sticker }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      = render partial: 'instructeurs/avis/sidemenu'
    .fr-col
      - if @dossier.avis.present?
        = render partial: 'shared/avis/list', locals: { avis: @dossier.avis, avis_seen_at: @avis_seen_at, expert_or_instructeur: current_instructeur }

      - else
        %h2.empty-text
          = t('helpers.information_text.empty_text')
        %p.empty-text-details
          = t('helpers.information_text.empty_text_detail')
