- content_for(:title, "Avis · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier, gallery_attachments: @gallery_attachments }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      = render partial: 'instructeurs/avis/sidemenu'
    .fr-col
      - if !@dossier.termine?
        - if @dossier.procedure.allow_expert_review
          = render partial: "shared/avis/form", locals: { url: avis_instructeur_dossier_path(@dossier.procedure, params[:statut], @dossier), linked_dossiers: @dossier.linked_dossiers_for(current_instructeur), must_be_confidentiel: false, avis: @avis }
        - else
          %h2.empty-text
            = t('helpers.information_text.unauthorized_avis_text')
          %p.empty-text-details
            = t('helpers.information_text.unauthorized_avis_text_detail')
      - else
        %h2.empty-text
          = t('helpers.information_text.no_new_avis_text')
        %p.empty-text-details
          = t('helpers.information_text.no_new_avis_text_detail')
