- content_for(:title, "Avis · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      = render partial: 'instructeurs/avis/sidemenu'
    .fr-col
      - if @dossier.avis.present?
        = render partial: 'instructeurs/avis/list', locals: { avis: @dossier.avis, avis_seen_at: @avis_seen_at }

      -else
        %h2.empty-text Aucun avis.
        %p.empty-text-details Aucun avis n’a été demandé sur ce dossier.
