- content_for(:title, "Rendez-vous · Dossier n° #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier, gallery_attachments: @gallery_attachments, procedure_presentation: @procedure_presentation, notifications: @notifications, notifications_sticker: @notifications_sticker }

.rendez-vous.container
  - if current_instructeur.rdv_connection.nil?
    %p
      Pour utiliser cette fonctionnalité, vous devez commencer par connecter votre compte
      %strong RDV Service Public
      à votre compte Démarches Simplifiées :
    = form_tag('/auth/rdvservicepublic', method: 'post', data: {turbo: false}) do
      %button.fr-btn{ type:'submit' }
        Connecter RDV Service Public
        %span.fr-ml-1w.fr-icon-external-link-line{ "aria-hidden": "true" }
  - else
    .fr-grid-row
      .fr-col.fr-col-12.fr-col-md-3
        = render partial: 'instructeurs/dossiers/rendez_vous/sidemenu'
      .fr-col
        = turbo_frame_tag "rdv-connection-info", loading: :lazy, src: instructeur_rdv_connections_path(redirect_path: rendez_vous_instructeur_dossier_path(@dossier.procedure, @dossier, statut: params[:statut]))
