- content_for(:title, "Rendez-vous · Dossier n° #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier, gallery_attachments: @gallery_attachments, procedure_presentation: @procedure_presentation, notifications: @notifications, notifications_sticker: @notifications_sticker }

.rendez-vous.container
  - if @booked_rdvs&.empty?
    %p Vous pouvez proposer un rendez-vous à l’usager, en le configurant sur le site RDV Service Public (date et horaire, par téléphone / en visioconférence / en présentiel).
  - if current_instructeur.rdv_connection.nil?
    %p
      Pour utiliser cette fonctionnalité, vous devez commencer par connecter votre compte
      %strong RDV Service Public
      à votre compte Démarches Simplifiées :
    = form_tag('/auth/rdvservicepublic', method: 'post', data: {turbo: false}) do
      %button.fr-btn{ type:'submit' }
        Connecter RDV Service Public
        %span.fr-ml-1w.fr-icon-external-link-line{ "aria-hidden": "true" }
  - else
    - if @booked_rdvs.nil?
      %p
        Une erreur est survenue lors de la récupération des rendez-vous. Veuillez réessayer plus tard.
        Vous pouvez consulter les rendez-vous sur le site RDV Service Public.
      %p
        = link_to "Voir mon agenda dans RDV Service Public", RdvService.rdv_sp_agenda_url, class: 'fr-btn', target: '_blank'
    - else
      .fr-mb-2w
        - @booked_rdvs&.each do |rdv|
          = render Instructeurs::RdvCardComponent.new(rdv:)

    .fr-btns-group.fr-btns-group--inline
      = render Instructeurs::ScheduleRdvButtonComponent.new(dossier: @dossier)
      = link_to "Gérer ma connexion à RDV Service Public", rendez_vous_connexion_instructeur_dossier_path(@dossier.procedure, @dossier, statut: params[:statut]), class: "fr-btn fr-btn--tertiary"
