<div class="fr-container fr-my-4v">
  <%= link_to t('instructeurs.dossiers.submitted_revision.back'), instructeur_dossier_path, class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left' %>

  <div class="fr-my-2v fr-pt-2v">
    <h1>Dossier n° <%= @dossier.id %> – <%= demandeur_dossier(@dossier) %></h1>

    <p><%= @dossier.procedure.libelle %></p>
  </div>

  <div class="fr-grid-row fr-grid-row--center">
    <% summary = ViewableChamp::HeaderSectionsSummaryComponent.new(dossier: @dossier, is_private: false) %>
    <%= render summary %>

    <div class="<%= class_names("fr-col-12", "fr-col-xl-9" => summary.render?, "fr-col-xl-8" => !summary.render?) %>">
      <%= render ViewableChamp::SectionComponent.new(dossier: @dossier, types_de_champ: @dossier.revision.types_de_champ_public, demande_seen_at: @demande_seen_at, profile: 'instructeur') %>
    </div>
  </div>
</div>

<div class="padded-fixed-footer">
  <div class="fixed-footer">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <%= link_to t('instructeurs.dossiers.submitted_revision.footer.back'), instructeur_dossier_path, class: 'fr-btn fr-mb-2w' %>
      </div>
    </div>
  </div>
</div>
