- content_for(:title, "Demande · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: "header", locals: { dossier: @dossier }


- if @dossier.etablissement&.as_degraded_mode?
  .container
    = render Dsfr::CalloutComponent.new(title: "Données de l’entreprise non vérifiées", theme: :warning, icon: "fr-icon-feedback-fill") do |c|
      - c.with_html_body do
        %p
          Les services de l’INSEE sont indisponibles, nous ne pouvons pas vérifier les informations liées à l’établissement de ce dossier.
          %strong
            Il n’est pas possible d’accepter ou de refuser un dossier sans cette étape.
        %p
          Les informations sur l'entreprise arriveront d’ici quelques heures.

.fr-container
  .fr-grid-row.fr-grid-row--center
    = render ViewableChamp::HeaderSectionsSummaryComponent.new(dossier: @dossier, is_private: false)
    .fr-col-md-9
      = render partial: "shared/dossiers/demande", locals: { dossier: @dossier, demande_seen_at: @demande_seen_at, profile: 'instructeur' }
