= turbo_stream.remove dom_id(@attachment, :persisted_row)

= turbo_stream.show_all ".attachment-input-#{@attachment.id}"

- if @champ
  = fields_for @champ.input_name, @champ do |form|
    = turbo_stream.replace @champ.input_group_id do
      = render EditableChamp::EditableChampComponent.new champ: @champ, form: form
  = turbo_stream.focus_all "#attachment-multiple-empty-#{@champ.public_id} input"
