- if @champ
  = fields_for @champ.input_name, @champ do |form|
    = turbo_stream.replace @champ.input_group_id do
      = render EditableChamp::EditableChampComponent.new champ: @champ, form: form
  - deleted_filename = (@attachment&.blob&.filename || params[:attachment] || '')
  = turbo_stream.update "#{@champ.input_id}-aria-live", t('activerecord.models.attachment.successfully_deleted_without_anchor', attachment: deleted_filename)
  = turbo_stream.focus "#{@champ.input_id}-aria-live"
- else
  = turbo_stream.replace dom_id(@attachment, :edit) do
    = render Attachment::EditComponent.new(**@attachment_options)
  - deleted_filename = (@attachment&.blob&.filename || params[:attachment] || '')
  = turbo_stream.update "#{dom_id(@attachment.record, @attachment.name)}-aria-live", t('activerecord.models.attachment.successfully_deleted_without_anchor', attachment: deleted_filename)
  = turbo_stream.focus "#{dom_id(@attachment.record, @attachment.name)}-aria-live"
