= turbo_stream.remove dom_id(@attachment, :persisted_row)

- if @champ_id
  = turbo_stream.show "attachment-multiple-empty-#{@champ_id}"

= turbo_stream.show_all ".attachment-input-#{@attachment.id}"
