- if @champ
  = turbo_stream.replace @champ.input_group_id do
    = render EditableChamp::EditableChampComponent.new champ: @champ
- else
  = turbo_stream.replace dom_id(@attachment, :edit) do
    = render Attachment::EditComponent.new(**@attachment_options)
  = turbo_stream.focus_all "##{dom_id(@attachment.record, @attachment.name)}"
