- content_for(:title, 'Reactivate account')

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  Someone made too many unsuccessful attempts to connect to your account #{@resource.email} on #{Current.application_name}.
  As a security measure, we temporarily locked access to your account.

%p
  To unlock access to your account, select the following link:

%p= link_to 'Unlock account', unlock_url(@resource, unlock_token: @token)

= render partial: "layouts/mailers/signature"
