- case status
- when :bad_dn
  .fr-error-text.mb-4= t('messages.numero_dn.bad_dn')

- when :bad_dn_format
  .fr-error-text.mb-4= t('messages.numero_dn.bad_dn_format')

- when :bad_ddn_format
  .fr-error-text.mb-4= t('messages.numero_dn.bad_ddn_format')

- when :bad_ddn
  .fr-error-text.mb-4= t('messages.numero_dn.bad_ddn')

- when :network_error
  = t('errors.messages.cps_network_error')

- when :good_dn
  = t('messages.numero_dn.good_dn')
