-# # Application Layout
-#
-# This view template is used as the layout
-# for every page that Administrate generates.
-#
-# By default, it renders:
-# - Sidebar for navigation
-# - Content for a search bar
-#   (if provided by a `content_for` block in a nested page)
-# - Flashes
-# - Links to stylesheets and Javascripts

!!!
%html{ lang: I18n.locale }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "NOODP", :name => "ROBOTS" }
    %meta{ content: "initial-scale=1", :name => "viewport" }
    %title
      = content_for(:title)
      | #{Rails.application.class.parent_name.titlecase}
    = render "stylesheet"
    = stylesheet_link_tag "new_design/manager", media: "all", "data-turbolinks-track": true
    = csrf_meta_tags
  %body
    .app-container
      .sidebar
        = render "sidebar"
      %main.main-content{ role: "main" }
        = content_for(:search)
        = render "flashes"
        = yield
    = render "javascript"
