#form_login
  = image_tag('logo-tps.png')
  %br
  %h2#login_admin Administration

  %br
  %br
  #new_user
    = form_for @administrateur, url: {controller: 'administrateurs/sessions', action: :create } do |f|
      %h4
        = f.label :email
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-user
        = f.email_field :email, class: 'form-control'
      %br
      %h4
        = f.label :password
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-asterisk
        = f.password_field :password, class: 'form-control', value: @administrateur.password
      %br
      %br
      .actions
        = f.submit "Se connecter", class:'btn btn-primary'
      %br