#form-login
  %h2#login_admin
    = t('dynamics.admin.connexion_title')

  %br
  %br
  #new-user
    = form_for @administrateur, url: { controller: 'administrateurs/sessions', action: :create } do |f|
      %h4
        = f.label :email
      .input-group
        .input-group-addon
          %span.fa.fa-user
        = f.email_field :email, class: 'form-control'
      %br
      %h4
        = f.label 'Mot de passe'
      .input-group
        .input-group-addon
          %span.fa.fa-asterisk
        = f.password_field :password, class: 'form-control', value: @administrateur.password
      %br
      %br
      .actions
        = f.submit "Se connecter", class: 'btn btn-primary'
      %br
