.col-md-12
  .default-data-block.default_visible
    .row.show-block
      .header
        .title
          .carret-right
          .carret-down
          = "#{@pending_avis.count} avis à rendre"
      .body
        = smart_listing_render :pending_avis

  %br

  .default-data-block
    .row.show-block
      .header
        .title
          .carret-right
          .carret-down
          = "#{@avis_with_answer.count} avis #{"rendu".pluralize(@avis_with_answer.count)}"
      .body
        = smart_listing_render :avis_with_answer
