.fr-messages-group{ id: @error_id, aria: { live: :assertive } }
  - if @error_full_messages.size > 0
    %p{ class: class_names('fr-message' => true, "fr-message--#{@errors_on_attribute ? 'error' : 'valid'}" => true) }
      = "« #{@champ.libelle} » "

      = @error_full_messages.to_sentence
  - elsif statutable?
    %p.fr-info-text= statut_message
