- case siret
- when :invalid
  Le numéro TAHITI doit comporter exactement #{SIRET_LENGTH} caractères.

- when :not_found
  Nous n’avons pas trouvé d’établissement correspondant à ce numéro TAHITI.
  = link_to('Plus d’informations', "https://faq.demarches-simplifiees.fr/article/4-erreur-siret", target: '_blank')

- else
  - if siret.present? && siret == etablissement&.siret
    = render partial: 'shared/dossiers/editable_champs/etablissement_titre', locals: { etablissement: etablissement }
    = fields_for attribute, etablissement do |form|
      = render partial: 'shared/dossiers/editable_champs/etablissement', locals: { form: form, signature: etablissement.sign }

  - elsif etablissement.present?
    = fields_for attribute, etablissement do |form|
      = form.hidden_field :_destroy
