- case siret
- when :invalid_length
  %p.fr-error-text= t('errors.messages.invalid_siret_length')

- when :invalid_checksum
  %p.fr-error-text= t('errors.messages.invalid_siret_checksum')

- when :not_found
  %p.fr-error-text
    = t('errors.messages.siret_unknown')
    = link_to('Plus d’informations', t("links.common.faq.erreur_siret_url"))

- when :network_error
  %p.fr-error-text= t('errors.messages.siret_network_error')

- when :api_entreprise_down
  %p.fr-error-text= t('errors.messages.api_entreprise_down')

- when :empty
  // NOOP
- else
  - if siret.present? # NOTE: probably always true because siret is a symbol or the string value
    - if siret == etablissement&.siret && raison_sociale_or_name(etablissement).present?
      = render EditableChamp::EtablissementTitreComponent.new(etablissement: etablissement)
      - if other_etablissements
        = render EditableChamp::OtherEtablissementsListComponent.new(other_etablissements: other_etablissements, input_id: @champ.input_id)
    - else
      %p.fr-info-text Ce numéro TAHITI existe, nous en récupérons les informations.
