<<<<<<< HEAD:app/views/recapitulatif/show.html.haml
%div.row
  %div.col-md-2.col-lg-2
    %h2
      ='Récapitulatif'
=======
%h2#recap_dossier Récapitulatif
>>>>>>> 6eeac88c95dce079195f596e05a7e652fd9720c9:app/views/users/recapitulatif/show.html.haml

  %div.col-md-8.col-lg-8

  %div.col-md-2.col-lg-2
    %h2#dossier_id{:class => 'text-info', :style => 'text-align:right; margin-bottom:15px'}
      = "Dossier n°#{@dossier.id}"
    -#%h3{:class => 'text-success', :style => 'text-align:right'}
    -#  = @dossier.state_fr
    - unless gestionnaire_signed_in?
      %button#action_button.btn.btn-success
        = 'Soumettre mon dossier'

%div{style: 'text-align:center'}
  -if (request.referer != nil) && (request.referer.include?'/description') && !(request.referer.include?'back_url=recapitulatif')
    %h3.text-success Félicitation, votre demande a bien été enregistrée.

%br

= render partial: '/dossiers/infos_dossier'
%br
= render partial: 'commentaires_flux'