%div.row#recap_dossier
  %div.col-md-2.col-lg-2
    %h2
      ='Récapitulatif'

  %div.col-md-8.col-lg-8

  %div.col-md-2.col-lg-2
    %h2#dossier_id{:class => 'text-info', :style => 'text-align:right; margin-bottom:15px'}
      = "Dossier n°#{@dossier.id}"

    - unless gestionnaire_signed_in?
      -if @dossier.draft?
        = form_tag(url_for({controller: :recapitulatif, action: :submit, dossier_id: @dossier.id}), class: 'form-inline', method: 'POST') do
          %button#action_button.btn.btn-success
            = 'Soumettre mon dossier'
      -elsif @dossier.validated?
        = form_tag(url_for({controller: :recapitulatif, action: :depose, dossier_id: @dossier.id}), class: 'form-inline', method: 'POST') do
          %button#action_button.btn.btn-success
            = 'Déposer mon dossier'
      -else
        %h3{:class => 'text-success', :style => 'text-align:right'}
          = @dossier.state_fr

%br

= render partial: '/dossiers/infos_dossier'
%br
= render partial: 'commentaires_flux'