= render_flash(sticky: true)
- if @administrateur
  = append_to_element("#procedure-#{@procedure.id}-administrateurs",
    partial: 'administrateur',
    locals: { administrateur: @administrateur })
  = render_to_element("#procedure-#{@procedure.id}-new_administrateur",
    partial: 'add_admin_form',
    outer: true,
    locals: { procedure: @procedure })
