= render partial: 'gestionnaires/breadcrumbs',
  locals: { steps: [['Mon groupe gestionnaire', admin_groupe_gestionnaire_path],
                    ['Administrateurs']], preview: false }

.container
  %h1 Administrateurs de « #{@groupe_gestionnaire.name} »

  %table.table
    %thead
      %tr
        %th= 'Adresse email'
        %th= 'Enregistré le'
        %th= 'État'
    %tbody#administrateurs
      = render(GroupeGestionnaire::GroupeGestionnaireAdministrateurs::AdministrateurComponent.with_collection(@groupe_gestionnaire.administrateurs.order('users.email'), groupe_gestionnaire: @groupe_gestionnaire, is_gestionnaire: false))
