= render partial: 'gestionnaires/breadcrumbs',
    locals: { steps: [["Mon groupe gestionnaire"]],
              metadatas: true }

.fr-container
  %h2= "Gestion du groupe gestionnaire № #{@groupe_gestionnaire.id}"
  .fr-grid-row.fr-grid-row--gutters.fr-mb-5w
    = render GroupeGestionnaire::Card::GestionnairesComponent.new(groupe_gestionnaire: @groupe_gestionnaire, path: admin_groupe_gestionnaire_gestionnaires_path)
    = render GroupeGestionnaire::Card::AdministrateursComponent.new(groupe_gestionnaire: @groupe_gestionnaire, path: admin_groupe_gestionnaire_administrateurs_path)
