= form_for procedure.administrateurs.new(user: User.new),
  url: { controller: 'procedure_administrateurs' },
  html: { id: "new_administrateur" },
  data: { turbo: true, turbo_force: :server } do |f|
  .fr-input-group
    = f.label :email, class: "fr-label" do
      Ajouter un administrateur
      %span.fr-hint-text
        = "Renseignez l’email d’un administrateur déjà enregistré sur #{Current.application_name} pour lui permettre de modifier « #{procedure.libelle} ». Exemple : marie.dupont@exemple.fr"

    = f.email_field :email, required: true, class: "fr-input", autofocus: true, disabled: disabled_as_super_admin

  = f.submit 'Ajouter comme administrateur', class: 'fr-btn', disabled: disabled_as_super_admin
