%tr{ id: dom_id(administrateur) }
  %td= administrateur.email
  %td= try_format_datetime(administrateur.created_at)
  %td= administrateur.registration_state
  %td
    - if administrateur == current_administrateur
      C’est vous !
    - else
      = button_to 'Retirer',
        admin_procedure_administrateur_path(procedure, administrateur),
        method: :delete,
        class: 'button',
        form: { data: { turbo: true, turbo_confirm: "Retirer « #{administrateur.email} » des administrateurs de « #{procedure.libelle} » ?" } }
