= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Administrateurs']], preview: false }

.fr-container
  %h1.fr-h2 Administrateurs

  .fr-mb-4w
    = render 'add_admin_form', procedure: @procedure, disabled_as_super_admin: administrateur_as_manager?

  .fr-table
    .fr-table__wrapper
      .fr-table__container
        .fr-table__content
          %table
            %caption Liste des administrateurs
            %thead
              %th{ scope: 'col' }= 'Adresse email'
              %th{ scope: 'col' }= 'Enregistré le'
              %th{ scope: 'col' }= 'État'
              %th{ scope: 'col' }= 'Action'
            %tbody#administrateurs
              = render(Procedure::ProcedureAdministrateurs::AdministrateurComponent.with_collection(@procedure.administrateurs.order('users.email'), procedure: @procedure))

= render Procedure::FixedFooterComponent.new(procedure: @procedure)
