= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle, admin_procedure_path(@procedure)],
                    ['Administrateurs']], preview: false }

.container
  %h1 Administrateurs de « #{@procedure.libelle} »
  %table.table
    %thead
      %th= 'Adresse email'
      %th= 'Enregistré le'
      %th= 'État'
    %tbody#administrateurs
      = render partial: 'administrateur', collection: @procedure.administrateurs.order('users.email'), locals: { procedure: @procedure }
    %tfoot
      %tr
        %th{ colspan: 4 }
          = render 'add_admin_form', procedure: @procedure
