= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Administrateurs']], preview: false }

.fr-container
  %h1.fr-h2 Administrateurs

  .fr-mb-4w
    = render 'add_admin_form', procedure: @procedure, disabled_as_super_admin: administrateur_as_manager?

  .fr-table.fr-table--bordered.fr-table--layout-fixed
    %table
      %caption Liste des administrateurs
      %thead
        %th= 'Adresse email'
        %th= 'Enregistré le'
        %th= 'État'
        %th= 'Action'
      %tbody#administrateurs
        = render(Procedure::ProcedureAdministrateurs::AdministrateurComponent.with_collection(@procedure.administrateurs.order('users.email'), procedure: @procedure))

.padded-fixed-footer
  .fixed-footer.fr-pb-2w
    .fr-container
      = link_to admin_procedure_path(id: @procedure), class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left' do
        Revenir à l'écran de gestion
