- if deleted_dossiers.present?
  %table.table.dossiers-table.hoverable
    %thead
      %tr
        %th.number-col Nº dossier
        %th Démarche
        %th Raison de suppression
        %th Date de suppression
    %tbody
      - deleted_dossiers.each do |dossier|
        - libelle_demarche = Procedure.find(dossier.procedure_id).libelle
        %tr{ data: { 'dossier-id': dossier.dossier_id } }
          %td.number-col
            %span.icon.folder
            = dossier.dossier_id
          %td
            = libelle_demarche

          %td.cell-link
            = deletion_reason_badge(dossier.reason)
          %td
            = dossier.updated_at.strftime('%d/%m/%Y')

  = paginate(deleted_dossiers)

- else
  .blank-tab
    %h2.empty-text Aucun dossier.
    %p.empty-text-details
      Pour remplir une démarche, contactez votre administration en lui demandant le lien de la démarche.
      %br
      Celui ci doit ressembler à #{APPLICATION_BASE_URL}/commencer/xxx.
