- if deleted_dossiers.present?
  %h2.fr-h6.fr-mb-2w
    = page_entries_info deleted_dossiers

  - deleted_dossiers.each do |dossier|
    .card
      .flex.justify-between
        %div
          %h3.card-title
            = dossier.procedure.libelle

          %p.fr-icon--sm.fr-icon-delete-line.fr-mb-0
            = t('views.users.dossiers.dossiers_list.deleted', date: l(dossier.updated_at.to_date))
            = "-"
            = t("activerecord.attributes.deleted_dossier.reason.#{dossier.reason}")

        .text-right
          %p.fr-mb-0
            = t('views.users.dossiers.dossiers_list.n_dossier')
            = dossier.dossier_id

          = status_badge(dossier.state, 'fr-mb-1w')

    = paginate deleted_dossiers, views_prefix: 'shared'

- else
  .blank-tab
    %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
    %p.empty-text-details
      = t('views.users.dossiers.dossiers_list.no_result_text_html', app_base: Current.application_base_url)
