- if dossiers.present?
  %h2.fr-h6.fr-mb-2w
    = page_entries_info dossiers

  - dossiers.each do |dossier|
    .card
      .flex.justify-between
        %div
          %h3.card-title
            - if ["dossiers-transferes", "dossiers-supprimes-recemment"].exclude?(@statut)
              = link_to(url_for_dossier(dossier), class: 'cell-link') do
                = dossier.procedure.libelle
            - else
              = dossier.procedure.libelle

          %p.fr-icon--sm.fr-icon-user-line
            = demandeur_dossier(dossier)

          - if dossier.hidden_by_user?
            %p.fr-icon--sm.fr-icon-delete-line
              = t('views.users.dossiers.dossiers_list.deleted', date: l(dossier.hidden_by_user_at.to_date))
          - else
            %p.fr-icon--sm.fr-icon-edit-box-line
              - if dossier.depose_at.present?
                %span
                  = t('views.users.dossiers.dossiers_list.depose_at', date: l(dossier.depose_at.to_date))
              - else
                %span
                  = t('views.users.dossiers.dossiers_list.created_at', date: l(dossier.created_at.to_date))
                - if dossier.created_at != dossier.updated_at
                  = t('views.users.dossiers.dossiers_list.updated_at', date: l(dossier.updated_at.to_datetime))

            - if dossier.invites.present?
              %p.fr-icon--sm.fr-icon-shield-line
                = t('views.users.dossiers.dossiers_list.shared_with', owner: dossier.user_email_for(:display))
                = dossier.invites.map(&:email).join(', ')

        .text-right
          %p.fr-mb-0.width-max-content
            = t('views.users.dossiers.dossiers_list.n_dossier')
            = number_with_html_delimiter(dossier.id)

          - if @statut == "dossiers-supprimes-recemment"
            %span.fr-badge.fr-badge--sm.fr-badge--warning
              = t('views.users.dossiers.dossiers_list.deleted_badge')
          - else
            = status_badge_user(dossier, 'fr-mb-1w')

          - if dossier.pending_correction?
            %br
            = pending_correction_badge(:for_user)

      - if dossier.procedure.close?
        = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: "fr-mb-2w") do |c|
          - c.with_body do
            %p
              - if dossier.brouillon? && dossier.procedure.closing_reason_internal_procedure?
                = t('views.users.dossiers.dossiers_list.procedure_closed.brouillon.internal_procedure_html', link: link_to(t('views.users.dossiers.dossiers_list.procedure_closed.procedure'), commencer_path(dossier.procedure.replaced_by_procedure.path), **external_link_attributes, title: new_tab_suffix(t('views.users.dossiers.dossiers_list.procedure_closed.closing_details'))).html_safe)
              - elsif dossier.brouillon? && dossier.procedure.closing_reason_other?
                = t('views.users.dossiers.dossiers_list.procedure_closed.brouillon.other_html', link: link_to(t('views.users.dossiers.dossiers_list.procedure_closed.more_details'), closing_details_path(dossier.procedure.path), **external_link_attributes, title: new_tab_suffix(t('views.users.dossiers.dossiers_list.procedure_closed.closing_details'))).html_safe)
              - elsif dossier.en_construction_ou_instruction? && dossier.procedure.closing_reason_internal_procedure?
                = t('views.users.dossiers.dossiers_list.procedure_closed.en_cours.internal_procedure_html')
              - elsif dossier.en_construction_ou_instruction? && dossier.procedure.closing_reason_other?
                = t('views.users.dossiers.dossiers_list.procedure_closed.en_cours.other_html', link: link_to(t('views.users.dossiers.dossiers_list.procedure_closed.more_details'), closing_details_path(dossier.procedure.path), **external_link_attributes, title: new_tab_suffix(t('views.users.dossiers.dossiers_list.procedure_closed.closing_details'))).html_safe)
              - elsif dossier.termine? && dossier.procedure.closing_reason_internal_procedure?
                = t('views.users.dossiers.dossiers_list.procedure_closed.termine.internal_procedure_html', link: link_to(t('views.users.dossiers.dossiers_list.procedure_closed.this_procedure'), commencer_path(dossier.procedure.replaced_by_procedure.path), **external_link_attributes, title: new_tab_suffix(t('views.users.dossiers.dossiers_list.procedure_closed.closing_details'))).html_safe)
              - elsif dossier.termine? && dossier.procedure.closing_reason_other?
                = t('views.users.dossiers.dossiers_list.procedure_closed.termine.other_html', link: link_to(t('views.users.dossiers.dossiers_list.procedure_closed.more_details'), closing_details_path(dossier.procedure.path), **external_link_attributes, title: new_tab_suffix(t('views.users.dossiers.dossiers_list.procedure_closed.closing_details'))).html_safe)

      - if dossier.pending_correction?
        = render Dsfr::AlertComponent.new(state: :warning, size: :sm, extra_class_names: "fr-mb-2w") do |c|
          - c.with_body do
            %p
              = t('views.users.dossiers.dossiers_list.pending_correction_html', link: messagerie_dossier_path(dossier))

      - if dossier.transfer.present?
        - if @statut == "dossiers-transferes"
          = render Dsfr::AlertComponent.new(state: :info, size: :sm) do |c|
            - c.with_body do
              %p
                - if dossier.transfer.from_support?
                  = t('views.users.dossiers.transfers.receiver_demande_en_cours_from_support', id: dossier.id, email: dossier.user_email_for(:notification))
                - else
                  = t('views.users.dossiers.transfers.receiver_demande_en_cours', id: dossier.id, email: dossier.user_email_for(:notification))
              %p
                = link_to t('views.users.dossiers.transfers.accept'), transfer_path(dossier.transfer), class: "fr-link fr-mr-1w", method: :put
                = link_to t('views.users.dossiers.transfers.reject'), transfer_path(dossier.transfer), class: "fr-link", method: :delete
        - else
          = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: "fr-mb-2w") do |c|
            - c.with_body do
              %p
                - if dossier.transfer.from_support?
                  = t('views.users.dossiers.transfers.sender_demande_en_cours_from_support', id: dossier.id, email: dossier.transfer.email)
                - else
                  = t('views.users.dossiers.transfers.sender_demande_en_cours', id: dossier.id, email: dossier.transfer.email)
              %p
                = link_to t('views.users.dossiers.transfers.revoke'), transfer_path(dossier.transfer), class: 'fr-link', method: :delete


      - if ["dossiers-transferes", "dossiers-supprimes-recemment"].exclude?(@statut)
        .flex.justify-end
          = render partial: 'dossier_actions', locals: { dossier: dossier }

      - if @statut == "dossiers-supprimes-recemment"
        .flex.justify-end
          = link_to restore_dossier_path(dossier.id), method: :patch, class: "fr-btn fr-btn--sm" do
            Restaurer

  = paginate dossiers, views_prefix: 'shared'


- else
  - if filter.present? && filter.filter_params_count > 0
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_with_filter')
        %br
        = link_to t('views.users.dossiers.dossiers_list.no_result_reset_filter'), dossiers_path(statut: statut), class: 'fr-btn fr-btn--sm fr-mt-2w'

  - elsif search
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_with_search')
        %br
        = link_to t('views.users.dossiers.dossiers_list.no_result_reset_search'), dossiers_path(), class: 'fr-btn fr-btn--sm fr-mt-2w'
  - else
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_html', app_base: Current.application_base_url)
      %p
        = link_to t("root.landing.how_to_find_procedure"), t("links.common.faq.comment_trouver_ma_demarche_url"), class: "fr-btn fr-btn--lg fr-mr-1w fr-mb-2w"
