- if dossiers.present?
  %table.table.dossiers-table.hoverable
    %thead
      %tr
        %th.number-col= t('views.users.dossiers.dossiers_list.n_dossier')
        %th= t('views.users.dossiers.dossiers_list.procedure')
        - if dossiers.present?
          %th= t('views.users.dossiers.dossiers_list.requester')
        %th.status-col= t('views.users.dossiers.dossiers_list.status')
        %th.updated-at-col= t('views.users.dossiers.dossiers_list.updated')
        %th.sr-only= t('views.users.dossiers.dossiers_list.actions')
    %tbody
      - dossiers.each do |dossier|
        %tr{ data: { 'dossier-id': dossier.id } }
          %td.number-col
            = link_to(url_for_dossier(dossier), class: 'cell-link', tabindex: -1) do
              %span.icon.folder
              = dossier.id
          %td
            = link_to(url_for_dossier(dossier), class: 'cell-link') do
              = procedure_libelle(dossier.procedure)
          - if dossiers.present?
            %td.cell-link
              = demandeur_dossier(dossier)
          %td.status-col
            = status_badge(dossier.state)
          %td.updated-at-col.cell-link
            = try_format_date(dossier.updated_at)
          %td.action-col
            = render partial: 'dossier_actions', locals: { dossier: dossier }

  = paginate(dossiers)

- else
  .blank-tab
    %h2.empty-text Aucun dossier
    %p.empty-text-details
      Pour remplir une démarche, contactez votre administration en lui demandant le lien de la démarche.
      %br
      Celui ci doit ressembler à #{APPLICATION_BASE_URL}/commencer/xxx.
