- if dossiers.present?
  %span.fr-h6.fr-mr-2w
    = page_entries_info dossiers
  .fr-table.fr-table--bordered.fr-table--no-caption.fr-mt-2w
    %table.table.dossiers-table.hoverable
      %caption= t('views.users.dossiers.dossiers_list.caption')
      %thead
        %tr
          %th.number-col{ scope: :col }= t('views.users.dossiers.dossiers_list.n_dossier')
          %th{ scope: :col }= t('views.users.dossiers.dossiers_list.procedure')
          - if dossiers.present?
            %th{ scope: :col }= t('views.users.dossiers.dossiers_list.requester')
          %th.status-col{ scope: :col }= t('views.users.dossiers.dossiers_list.status')
          %th.updated-at-col{ scope: :col }= t('views.users.dossiers.dossiers_list.updated')
          %th.action-col.follow-col{ scope: :col }= t('views.users.dossiers.dossiers_list.actions')
      %tbody
        - dossiers.each do |dossier|
          - if dossier.transfer.present?
            %tr.fr-background-alt--blue-france.no-border
              %td.fr-py-2w{ colspan: 100 }
                .flex.align-center
                  %p.fr-mb-0
                    %small
                      = t('views.users.dossiers.transfers.sender_demande_en_cours', id: dossier.id, email: dossier.transfer.email)
                  .ml-auto
                    = link_to t('views.users.dossiers.transfers.revoke'), transfer_path(dossier.transfer), class: 'fr-btn fr-btn--sm fr-btn--tertiary-no-outline', method: :delete

          %tr{ data: { 'dossier-id': dossier.id } }
            %th.number-col{ scope: :row }
              = link_to(url_for_dossier(dossier), class: 'cell-link', tabindex: -1) do
                %span.icon.folder
                = dossier.id
            %td
              = link_to(url_for_dossier(dossier), class: 'cell-link') do
                = procedure_libelle(dossier.procedure)
            - if dossiers.present?
              %td
                %span.cell-link= demandeur_dossier(dossier)
            %td.status-col
              = status_badge(dossier.state)
            %td.updated-at-col.cell-link
              = try_format_date(dossier.updated_at)
            %td.action-col.follow-col
              = render partial: 'dossier_actions', locals: { dossier: dossier }

    = paginate dossiers, views_prefix: 'shared'

- else
  - if filter.filter_params.present?
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_with_filter')
        %br
        = link_to t('views.users.dossiers.dossiers_list.no_result_reset_filter'), dossiers_path(statut: statut), class: 'fr-btn fr-btn--sm fr-mt-2w'

  - else
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_html')
