- if dossiers.present?
  .fr-h6.fr-mb-2w
    = page_entries_info dossiers

  - dossiers.each do |dossier|
    .card
      .flex.justify-between
        %div
          %h2.card-title
            - if ["dossiers-transferes", "dossiers-supprimes-recemment"].exclude?(@statut)
              = link_to(url_for_dossier(dossier), class: 'cell-link') do
                = dossier.procedure.libelle
            - else
              = dossier.procedure.libelle

          - if demandeur_dossier(dossier).present?
            %p.fr-icon--sm.fr-icon-user-line
              = demandeur_dossier(dossier)

          - if dossier.hidden_by_user?
            %p.fr-icon--sm.fr-icon-delete-line
              = t('views.users.dossiers.dossiers_list.deleted', date: l(dossier.hidden_by_user_at.to_date))
          - else
            %p.fr-icon--sm.fr-icon-edit-box-line
              - if dossier.depose_at.present?
                %span
                  = t('views.users.dossiers.dossiers_list.depose_at', date: l(dossier.depose_at.to_date))
              - else
                %span
                  = t('views.users.dossiers.dossiers_list.created_at', date: l(dossier.created_at.to_date))
                - if dossier.created_at != dossier.updated_at
                  = t('views.users.dossiers.dossiers_list.updated_at', date: l(dossier.updated_at.to_datetime))

            - if dossier.invites.present?
              %p.fr-icon--sm.fr-icon-shield-line
                = t('views.users.dossiers.dossiers_list.shared_with')
                = dossier.invites.map(&:email).join(', ')

        .text-right
          %p.fr-mb-0
            = t('views.users.dossiers.dossiers_list.n_dossier')
            = dossier.id

          - if @statut == "dossiers-supprimes-recemment"
            %span.fr-badge.fr-badge--sm.fr-badge--warning
              = t('views.users.dossiers.dossiers_list.deleted_badge')
          - else
            = status_badge(dossier.state, 'fr-mb-1w')

          - if dossier.pending_correction?
            %br
            = pending_correction_badge(:for_user)

      - if dossier.procedure.close? && !dossier.termine?
        = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: "fr-mb-2w") do |c|
          - c.body do
            %p
              = t('views.users.dossiers.dossiers_list.procedure_closed')

      - if dossier.pending_correction?
        = render Dsfr::AlertComponent.new(state: :warning, size: :sm, extra_class_names: "fr-mb-2w") do |c|
          - c.body do
            %p
              = t('views.users.dossiers.dossiers_list.pending_correction')

      - if dossier.transfer.present?
        - if @statut == "dossiers-transferes"
          = render Dsfr::AlertComponent.new(state: :info, size: :sm) do |c|
            - c.body do
              %p
                = t('views.users.dossiers.transfers.receiver_demande_en_cours', id: dossier.id, email: dossier.user.email)
              %p
                = link_to t('views.users.dossiers.transfers.accept'), transfer_path(dossier.transfer), class: "fr-link fr-mr-1w", method: :put
                = link_to t('views.users.dossiers.transfers.reject'), transfer_path(dossier.transfer), class: "fr-link", method: :delete
        - else
          = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: "fr-mb-2w") do |c|
            - c.body do
              %p
                = t('views.users.dossiers.transfers.sender_demande_en_cours', id: dossier.id, email: dossier.transfer.email)
              %p
                = link_to t('views.users.dossiers.transfers.revoke'), transfer_path(dossier.transfer), class: 'fr-link', method: :delete


      - if ["dossiers-transferes", "dossiers-supprimes-recemment"].exclude?(@statut)
        .flex.justify-end
          = render partial: 'dossier_actions', locals: { dossier: dossier }

      - if @statut == "dossiers-supprimes-recemment"
        .flex.justify-end
          = link_to restore_dossier_path(dossier.id), method: :patch, class: "fr-btn fr-btn--sm" do
            Restaurer

  = paginate dossiers, views_prefix: 'shared'


- else
  - if filter.filter_params.present?
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_with_filter')
        %br
        = link_to t('views.users.dossiers.dossiers_list.no_result_reset_filter'), dossiers_path(statut: statut), class: 'fr-btn fr-btn--sm fr-mt-2w'

  - else
    .blank-tab
      %h2.empty-text= t('views.users.dossiers.dossiers_list.no_result_title')
      %p.empty-text-details
        = t('views.users.dossiers.dossiers_list.no_result_text_html', app_base: APPLICATION_BASE_URL)
