- if hidden_dossiers.present?
  %table.table.dossiers-table.hoverable
    %thead
      %tr
        %th.number-col Nº dossier
        %th Démarche
        %th Raison de suppression
        %th Date de suppression
    %tbody
      - hidden_dossiers.each do |dossier|
        - libelle_demarche = dossier.procedure.libelle

        %tr{ data: { 'dossier-id': dossier.id } }
          %td.number-col
            %span.icon.folder
            = dossier.id
          %td
            = libelle_demarche

          %td.cell-link
            = deletion_reason_badge("user_request")
          %td
            = dossier.updated_at.strftime('%d/%m/%Y')
          %td
            = link_to restore_dossier_path(dossier.id), method: :patch, class: "button primary" do
              Restaurer

  = paginate(hidden_dossiers)

- else
  .blank-tab
    %h2.empty-text
      = t("views.users.dossiers.account_creation.empty")
    %p.empty-text-details
      = t("views.users.dossiers.account_creation.detail_one")
    %p.empty-text-details
      = t("views.users.dossiers.account_creation.detail_two")
      #{APPLICATION_BASE_URL}/commencer/xxx.
