= render Dropdown::MenuComponent.new(wrapper: :div, wrapper_options: { class: ['dossier-show', 'edit-identity-action'] }, menu_options: {  class:['edit-identity-content'] }) do |menu|
  - menu.with_button_inner_html do
    - if dossier.for_tiers?
      = t("views.shared.dossiers.demande.requester_identity")
    - else
      = t("views.shared.dossiers.demande.individual_identity")

  - menu.with_form do
    - if dossier.procedure.for_individual
      %dl.fr-pl-0
        = render partial: "shared/dossiers/identite_individual", locals: { dossier: dossier }

      = link_to t('views.shared.dossiers.demande.edit_identity'), identite_dossier_path(dossier), class: 'fr-btn fr-btn--secondary fr-btn--sm fr-my-1w'

    - elsif dossier.etablissement
      = render Dossiers::ShortIdentiteEntrepriseComponent.new(etablissement: dossier.etablissement)

      = link_to t('views.shared.dossiers.demande.edit_siret'), siret_dossier_path(dossier), class: 'fr-btn fr-btn--secondary fr-btn--sm fr-my-1w'
