- unless smart_listing.empty?
  %table.table
    %thead
      %th.col-md-1.col-lg-1= smart_listing.sortable 'Numéro', 'id'
      %th.col-md-5.col-lg-5= smart_listing.sortable 'Procédure', 'procedure.libelle'
      %th.col-md-2.col-lg-2= smart_listing.sortable 'État', 'state'
      %th.col-md-2.col-lg-2= smart_listing.sortable 'Date de mise à jour', 'updated_at'
    - @dossiers.each do |dossier|
      - if dossier.kind_of? Invite
        -invite = dossier
        -dossier = invite.dossier.decorate
      - else
        - dossier = dossier.decorate
      %tr
        %td.center
          = dossier.id
        %td
          = link_to(dossier.procedure.libelle, users_dossiers_invite_path(id: invite.id)) unless invite.nil?
          - if invite.nil?
            = link_to(dossier.procedure.libelle, users_dossier_recapitulatif_path(dossier)) unless dossier.brouillon?
            = link_to(dossier.procedure.libelle, users_dossier_description_path(dossier)) if dossier.brouillon?


        %td{id: "dossier_#{dossier.id}_state"}= dossier.display_state
        %td= dossier.last_update

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links

- else
  %h4.center
    Aucun dossier
