%h1 Mes dossiers

%br
#onglets
  %ul.nav.nav-tabs
    %li{ class: @dossiers_list_facade.brouillon_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'brouillon')}", 'data-toggle' => :tooltip, title: 'Les dossiers jamais proposés à la relecture.'}
        %h5.text-default
          = "Brouillons"
          .badge.progress-bar-default
            = @dossiers_list_facade.brouillon_total

    %li{ class: @dossiers_list_facade.nouveaux_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'nouveaux')}", 'data-toggle' => :tooltip, title: 'Les nouveaux dossiers qui n\'ont pas encore été vus par votre accompagnateur.'}
        %h5.text-info
          = "Nouveaux"
          .badge.progress-bar-info
            = @dossiers_list_facade.nouveaux_total

    %li{ class: @dossiers_list_facade.a_traiter_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'a_traiter')}", 'data-toggle' => :tooltip, title: 'Les dossiers qui requièrent une action de votre part.'}
        %h5.text-danger
          = "Action requise"
          .badge.progress-bar-danger
            = @dossiers_list_facade.a_traiter_total

    %li{ class: @dossiers_list_facade.en_attente_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'en_attente')}", 'data-toggle' => :tooltip, title: 'Les dossiers en cours de relecture par votre accompagnateur.'}
        %h5.text-default
          ="Etude en cours"
          .badge.progress-bar-default
            = @dossiers_list_facade.en_attente_total

    %li{ class: @dossiers_list_facade.valides_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'valides')}", 'data-toggle' => :tooltip, title: 'Les dossiers relus par votre accompagnateur pouvant être déposés pour examen.'}
        %h5.text-purple
          ="À déposer"
          .badge.progress-bar-purple
            = @dossiers_list_facade.valides_total

    %li{ class: @dossiers_list_facade.en_instruction_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'en_instruction')}", 'data-toggle' => :tooltip, title: 'Les dossiers en cours d\'examen par l\'administration compétante.'}
        %h5.text-default
          ="En examen"
          .badge.progress-bar-default
            = @dossiers_list_facade.en_instruction_total

    %li{ class:  @dossiers_list_facade.termine_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'termine')}", 'data-toggle' => :tooltip, title: 'Les dossiers cloturés qui peuvent être "Accepté", "Refusé" ou "Sans suite".'}
        %h5.text-success
          = "Cloturé"
          .badge.progress-bar-success
            = @dossiers_list_facade.termine_total

    %ul.nav.nav-tabs.navbar-right{style:'border-bottom: none;'}
      %li{ class:  @dossiers_list_facade.invite_class }
        %a{:href => "#{url_for users_dossiers_path(liste: 'invite')}"}
          %h5.text-warning
            = "Invitation"
            .badge.progress-bar-warning
              = @dossiers_list_facade.invite_total
%br
