%h1 Mes dossiers
%br

#onglets
  %ul.nav.nav-tabs
    %li{ class: @a_traiter_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'a_traiter')}"}
        %h5.text-danger
          = "À traiter "
          .badge.progress-bar-danger
            = @dossiers_a_traiter_total

    %li{ class: @en_attente_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'en_attente')}"}
        %h5.text-info
          ="En attente "
          .badge.progress-bar-info
            = @dossiers_en_attente_total

    %li{ class:  @termine_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'termine')}"}
        %h5.text-success
          = "Terminé"
          .badge.progress-bar-success
            = @dossiers_termine_total

    %li{ class:  @invite_class }
      %a{:href => "#{url_for users_dossiers_path(liste: 'invite')}"}
        %h5{style: 'color: #696969'}
          = "Invitation"
          .badge{style: 'background-color: #696969'}
            = @dossiers_invite_total
%br
