- if dossier_transfers.present?
  .fr-table.fr-table--bordered
    %table.table.dossiers-table.display-table
      %thead
        %tr
          %th.number-col= t('views.users.dossiers.dossiers_list.n_dossier')
          %th= t('views.users.dossiers.dossiers_list.procedure')
          %th= t('views.users.dossiers.dossiers_list.status')
          %th.action-col.follow-col Date de dépot
      %tbody
        - dossier_transfers.each do |transfer|
          - transfer.dossiers.each do |dossier|
            %tr.fr-background-alt--blue-france.no-border
              %td.fr-py-2w{ colspan: 100 }
                .flex.align-center
                  %p.fr-mb-0
                    %small
                      = t('views.users.dossiers.transfers.receiver_demande_en_cours', id: dossier.id, email: transfer.dossiers.first.user.email)
                  .ml-auto
                    = link_to t('views.users.dossiers.transfers.accept'), transfer_path(transfer), class: "fr-btn fr-btn--sm fr-btn--tertiary", method: :put

                    = link_to t('views.users.dossiers.transfers.reject'), transfer_path(transfer), class: "fr-btn fr-btn--sm fr-btn--tertiary-no-outline", method: :delete
            %tr{ data: { 'transfer-id': transfer.id } }
              %th.number-col{ scope: :row }
                %span.icon.folder
                = dossier.id
              %td= dossier.procedure.libelle
              %td= status_badge(dossier.state)
              %td.action-col.follow-col{ style: 'padding: 18px;' }= (dossier.depose_at || dossier.created_at).strftime('%d/%m/%Y')

    = paginate dossier_transfers, views_prefix: 'shared'

- else
  .blank-tab
    %h2.empty-text Aucune demande de transfert de dossiers ne vous a été adressée.
