- content_for(:title, "Informations sur l’établissement")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

.etablissement
  .container
    %h1 Informations sur l’établissement

    - etablissement = @dossier.etablissement
    - if etablissement.diffusable_commercialement == false
      %p= t('warning_for_private_info', etablissement: raison_sociale_or_name(etablissement), scope: 'views.shared.dossiers.identite_entreprise')

    - else
      %p
        Nous avons récupéré auprès de l'ISPF les informations suivantes concernant votre établissement.

      %p
        Ces informations seront jointes à votre dossier.

      .etablissement-infos.card.featured

        %h2.card-title= raison_sociale_or_name(etablissement)

        = render partial: 'users/dossiers/etablissement/infos_entreprise', locals: { etablissement: etablissement }

    .actions
      = link_to 'Utiliser un autre numéro TAHITI', siret_dossier_path(@dossier), class: 'button'
      = link_to 'Continuer avec ces informations', brouillon_dossier_path(@dossier), class: 'button primary'
