- content_for(:title, "Informations sur l’établissement")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

.fr-mt-5w
  .container
    %h1 Informations sur l’établissement

    - etablissement = @dossier.etablissement

    - if etablissement.as_degraded_mode?
      = render Dsfr::CalloutComponent.new(title: "Nous n'avons pas pu vérifier votre SIRET", theme: :warning, icon: "fr-icon-feedback-fill") do |c|
        - c.with_body do
          %p
            L'annuaire INSEE est indisponible, nous ne pouvons pas vérifier votre SIRET.
            %br
            %br
            Veuillez vérifier par vous-même que le numéro
            %strong= pretty_siret(etablissement.siret)
            correspond bien à votre entreprise :

          %p
            = link_to annuaire_link(etablissement.siret), class: "fr-btn fr-btn--secondary", **external_link_attributes do
              Vérifier dans l'annuaire des entreprises

    - elsif etablissement.diffusable_commercialement == false
      %p= t('warning_for_private_info', scope: 'views.shared.dossiers.identite_entreprise', siret: pretty_siret(etablissement.siret))

    - else
      %p
        Nous avons récupéré auprès de l’INSEE et d’Infogreffe les informations suivantes concernant votre établissement.

      %p
        Ces informations seront jointes à votre dossier.

      = render Dsfr::CalloutComponent.new(title: raison_sociale_or_name(etablissement)) do |c|
        - c.with_body do
          = render partial: 'users/dossiers/etablissement/infos_entreprise', locals: { etablissement: etablissement }

    %ul.fr-mt-2w.fr-mb-5w.fr-btns-group.fr-btns-group--inline
      %li= link_to 'Utiliser un autre numéro SIRET', siret_dossier_path(@dossier), class: 'fr-btn fr-btn--secondary'
      %li= link_to 'Continuer avec ces informations', url_for_dossier(@dossier), class: 'fr-btn'
