- content_for(:title, "Nouveau dossier (#{@dossier.procedure.libelle})")

= render partial: "shared/dossiers/submit_is_over", locals: { dossier: @dossier }

- if !dossier_submission_is_closed?(@dossier)
  = form_for @dossier.individual, url: update_identite_dossier_path(@dossier), html: { class: "form" } do |f|
    %h2.fr-h4= t('views.users.dossiers.identite.identity_data')

    %p.fr-text--sm= t('views.users.dossiers.identite.complete_data')

    %p.fr-hint-text.fr-mb-3w= t('views.users.dossiers.identite.all_required')

    %fieldset
      %legend
        = f.label :gender, t('activerecord.attributes.individual.gender')
      .radios
        %label
          = f.radio_button :gender, Individual::GENDER_FEMALE, required: true
          = Individual.human_attribute_name('gender.female')
        %label
          = f.radio_button :gender, Individual::GENDER_MALE, required: true
          = Individual.human_attribute_name('gender.male')

    .flex
      .inline-champ
        = f.label :prenom
        = f.text_field :prenom, class: "small", required: true, autocomplete: 'given-name'
      .inline-champ
        = f.label :nom
        = f.text_field :nom, class: "small", required: true, autocomplete: 'family-name'


    - if @dossier.procedure.ask_birthday?
      = f.label :birthdate
      = f.date_field :birthdate, value: @dossier.individual.birthdate, placeholder: 'format : AAAA-MM-JJ', required: true, class: "small"

    = f.submit t('views.users.dossiers.identite.continue'), class: "fr-btn fr-btn--lg"
