- content_for(:title, "Nouveau dossier (#{@dossier.procedure.libelle})")

= render partial: "shared/dossiers/submit_is_over", locals: { dossier: @dossier }

- if !dossier_submission_is_closed?(@dossier)
  = form_for @dossier.individual, url: update_identite_dossier_path(@dossier), html: { class: "form" } do |f|

    %fieldset.fr-fieldset
      %legend.fr-fieldset__legend--regular.fr-fieldset__legend
        %h2.fr-h4= t('views.users.dossiers.identite.identity_data')
      .fr-fieldset__element
        %fieldset.fr-fieldset
          %legend.fr-fieldset__legend--regular.fr-fieldset__legend
            = t('activerecord.attributes.individual.gender')
            = render EditableChamp::AsteriskMandatoryComponent.new
          .fr-fieldset__element
            .fr-radio-group
              = f.radio_button :gender, Individual::GENDER_FEMALE, required: true, id: "identite_champ_radio_#{Individual::GENDER_FEMALE}"
              %label.fr-label{ for: "identite_champ_radio_#{Individual::GENDER_FEMALE}" }
                = Individual.human_attribute_name('gender.female')
          .fr-fieldset__element
            .fr-radio-group
              = f.radio_button :gender, Individual::GENDER_MALE, required: true, id: "identite_champ_radio_#{Individual::GENDER_MALE}"
              %label.fr-label{ for: "identite_champ_radio_#{Individual::GENDER_MALE}" }
                = Individual.human_attribute_name('gender.male')

      .fr-fieldset__element.fr-fieldset__element--short-text
        = render Dsfr::InputComponent.new(form: f, attribute: :prenom, opts: { autocomplete: 'given-name' })

      .fr-fieldset__element.fr-fieldset__element--short-text
        = render Dsfr::InputComponent.new(form: f, attribute: :nom, opts: { autocomplete: 'family-name' })

      - if @dossier.procedure.ask_birthday?
        .fr-fieldset__element
          = render Dsfr::InputComponent.new(form: f, attribute: :birthdate, input_type: :date_field,
            opts: { placeholder: 'Format : AAAA-MM-JJ', max: Date.today.iso8601, min: "1900-01-01", autocomplete: 'bday' })

      .fr-fieldset__element
        = f.submit t('views.users.dossiers.identite.continue'), class: "fr-btn fr-btn--lg fr-my-2w"
