- if @search_terms.present?
  - content_for(:title, "Recherche : #{@search_terms}")
- else
  - content_for(:title, "Dossiers")

- content_for :footer do
  = render partial: "users/dossiers/index_footer"

.dossiers-headers.sub-header
  .container
    - if @search_terms.present?
      %h1.page-title Résultat de la recherche pour « #{@search_terms} »
      = render partial: "dossiers_list", locals: { dossiers: @dossiers }

    - else
      %h1.page-title= t('views.users.dossiers.index.dossiers')
      %ul.tabs
        - if @user_dossiers.count > 0
          = tab_item(t('pluralize.mes_dossiers', count: @user_dossiers.count),
            dossiers_path(statut: 'mes-dossiers'),
            active: @statut == 'mes-dossiers',
            badge: number_with_html_delimiter(@user_dossiers.count))

        - if @dossiers_invites.count > 0
          = tab_item(t('pluralize.dossiers_invites', count: @dossiers_invites.count),
            dossiers_path(statut: 'dossiers-invites'),
            active: @statut == 'dossiers-invites',
            badge: number_with_html_delimiter(@dossiers_invites.count))

        - if @dossiers_supprimes.count > 0
          = tab_item(t('pluralize.dossiers_supprimes', count: @dossiers_supprimes.count),
            dossiers_path(statut: 'dossiers-supprimes'),
            active: @statut == 'dossiers-supprimes',
            badge: number_with_html_delimiter(@dossiers_supprimes.count))


.container
  - if @statut == "mes-dossiers"
    = render partial: "dossiers_list", locals: { dossiers: @user_dossiers }

  - if @statut == "dossiers-invites"
    = render partial: "dossiers_list", locals: { dossiers: @dossiers_invites }

  - if @statut == "dossiers-supprimes"
    = render partial: "deleted_dossiers_list", locals: { deleted_dossiers: @dossiers_supprimes }
