- content_for(:title, "Dossier bien envoyé (#{@dossier.procedure.libelle})")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

.merci
  .container
    = image_tag('user/envoi-dossier.svg', alt: '')
    %h1= t('views.users.dossiers.merci.title_thanks')
    %p.send
      = t('views.users.dossiers.merci.file_send_text_line1')
      %b= @dossier.procedure.libelle
      = t('views.users.dossiers.merci.file_send_text_line2')
    %p
      = t('views.users.dossiers.merci.file_acces_text_line1')
      %b= t('views.users.dossiers.merci.file_acces_text_line2')
    %p
      = t('views.users.dossiers.merci.file_edit_text_line1')
      - if !@dossier.read_only?
        %b= t('views.users.dossiers.merci.file_edit_text_line2')
        = t('views.users.dossiers.merci.file_edit_text_line3')
      %b= t('views.users.dossiers.merci.file_edit_text_line4')

    .flex.column.align-center
      = link_to t('views.users.dossiers.merci.acces_file_button'), dossier_path(@dossier), class: 'button large primary'
      = link_to t('views.users.dossiers.merci.link_submit_file'), procedure_lien(@dossier.procedure)
      .monavis
        != @dossier.procedure.monavis_embed
