- content_for(:title, "Attestation nº #{@dossier.id} (#{@dossier.procedure.libelle})")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

#dossier-show
  .container
    - attestation_template = @dossier.procedure.attestation_template
    - if attestation_template.logo&.url
      = image_tag attestation_template.logo.url, height: '150px', style: "display: block; margin-left: auto; margin-right: auto; "
    %h1= attestation_template.build_title(@dossier)
    %p= attestation_template.build_body(@dossier)
    - if attestation_template.signature&.url
      = image_tag attestation_template.signature.url, height: '100px', style: 'display: block; margin-right: 0; margin-left: auto;  margin-bottom: 30px; margin-top: 30px;'

