- content_for(:title, "Attestation nº #{@dossier.id} (#{@dossier.procedure.libelle})")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

#dossier-show
  .container
    - if @attestation[:logo].present?
      = image_tag url_for(@attestation[:logo]), style: "display: block; margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 2em; max-width: 90%; height: auto; max-height: 12em;"
    .tab-title= @attestation[:title]
    .card
      %p.notice= "Le #{l(@attestation[:created_at], format: '%e %B %Y')}"
      %p.notice= @attestation[:body]
      - if @attestation[:signature].present?
        = image_tag url_for(@attestation[:signature]),  style: 'display: block; margin-right: 0; margin-left: auto;  margin-bottom: 30px; margin-top: 30px; max-height: 8em;'
    -# %p.footer-bottom-line= @attestation[:footer]
