- content_for(:title, "Résumé · Dossier nº #{@dossier.id} (#{@dossier.procedure.libelle})")

- content_for :footer do
  = render partial: "users/procedure_footer", locals: { procedure: @dossier.procedure, dossier: @dossier }

#dossier-show
  = render partial: 'users/dossiers/show/header', locals: { dossier: @dossier }

  .container
    = render partial: 'users/dossiers/show/status_overview', locals: { dossier: @dossier }

    - if !@dossier.termine?
      = render partial: 'users/dossiers/show/latest_message', locals: { dossier: @dossier }
