- if famille.allocataires?
  %tr.section
    %th{ colspan: 2 }= t("api_particulier.entities.caf.allocataires.libelle")
  - famille.allocataires.each do |allocataire|
    = render partial: "shared/dossiers/identite_particulier/caf/personne", locals: { personne: allocataire }

- if famille.enfants?
  %tr.section
    %th{ colspan: 2 }= t("api_particulier.entities.caf.enfants.libelle")
  - famille.enfants.each do |enfant|
    = render partial: "shared/dossiers/identite_particulier/caf/personne", locals: { personne: enfant }

- if famille.adresse?
  %tr.section
    %th{ colspan: 2 }= t("api_particulier.entities.caf.adresse.libelle")
  = render partial: "shared/dossiers/identite_particulier/caf/adresse", locals: { adresse: famille.adresse }

- if famille.quotient_familial?
  %tr
    %th.libelle= "#{t('api_particulier.entities.caf.quotient_familial')} :"
    %td= famille.quotient_familial

- if famille.annee?
  %tr
    %th.libelle= "#{t('api_particulier.entities.caf.annee')} :"
    %td= famille.annee

- if famille.mois?
  %tr
    %th.libelle= "#{t('api_particulier.entities.caf.mois')} :"
    %td= famille.mois
