%h1 Instructeurs disponibles

%p
  Cette page vous permet de gérer la liste des instructeurs disponibles pour être affectés à une procédure.

%p{ style: 'font-style: italic' }
  N.B. : cette page ne concerne que la liste des personnes disponibles. Si vous souhaitez affecter ou enlever un instructeur d'une procédure particulière,
  utilisez plutôt la
  = link_to "page de la procédure", admin_procedures_path
  concernée.

.row
  .col-xs-4

    = smart_listing_render :gestionnaires
  .col-xs-1
    &nbsp;
  .col-xs-6
    %h3 Ajouter un instructeur
    #procedure_new.section.section-label
      = form_for @gestionnaire, url: { controller: 'admin/gestionnaires', action: :create } do |f|
        .row
          .col-xs-5
            = render partial: 'informations', locals: { f: f }
          .col-xs-2
            %br
            %br
            = f.submit 'Valider', class: 'btn btn-info', style: 'float: left;'
