- if field.data.any?
  %table.collection-data{ "aria-labelledby": "page-title" }
    %thead
      %tr
        %td.cell-label Libelle
        %td.cell-label Type de champ
        %td.cell-label Rempli
        %td.cell-label Modifier le modèle
    %tbody
      - field.data.order(:order_place).each do |f|
        %tr
          %td.cell-data
            = f.libelle
            - if f.mandatory?
              %span.mandatory{ style: 'color: #A10005;' } *
          %td.cell-data
            = I18n.t("activerecord.attributes.type_de_champ.type_champs.#{f.type_champ}")

          %td.cell-data
            - if f.blank?
              vide
            - else
              rempli

          %td.cell-data
            - if f.type_champ == 'piece_justificative'
              = form_for f,
                url: change_piece_justificative_template_manager_procedure_path,
                method: :post  do |form|
                = form.hidden_field :id
                = form.file_field :piece_justificative_template
                = form.submit 'modifier'
- else
  Aucun
