%tr
  %td.cell-data
    = type_de_champ.libelle
    - if type_de_champ.mandatory?
      %span.manager-mandatory *
  %td.cell-data
    = I18n.t("activerecord.attributes.type_de_champ.type_champs.#{type_de_champ.type_champ}")

  %td.cell-data
    - if type_de_champ.type_champ == 'piece_justificative'
      = form_for type_de_champ,
        url: change_piece_justificative_template_manager_procedure_path,
        method: :post  do |form|
        = form.hidden_field :id
        = form.file_field :piece_justificative_template
        = form.submit 'modifier'
