- content_for(:title, "Notifications pour #{@procedure.libelle}")

.sub-header
  .fr-container.flex.column
    = render partial: 'instructeurs/breadcrumbs',
      locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                        ['Gestion des instructeurs']] }

    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }

.fr-container.groupe-instructeur
  %h1 Gestion des instructeurs
  .card
    %h2.fr-h3 Liste des groupes
    %table.table.mt-2
      %tbody
        - @groupes_instructeurs.each do |group|
          %tr
            %td= group.label
            %td.actions= link_to "voir", instructeur_groupe_path(@procedure, group)

    = paginate @groupes_instructeurs, views_prefix: 'shared'
