- content_for(:title, "Notifications pour #{@procedure.libelle}")

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[@procedure.libelle.truncate_words(4), instructeur_procedure_path(@procedure)],
                    ['Groupes d’instructeurs']] }

.container.groupe-instructeur
  .card
    .card-title Gestion des Groupes
    %table.table.mt-2
      %thead
        %tr
          %th{ colspan: 2 } Liste des groupes
      %tbody
        - @groupes_instructeurs.each do |group|
          %tr
            %td= group.label
            %td.actions= link_to "voir", instructeur_groupe_path(@procedure, group)

    = paginate @groupes_instructeurs
