- if @procedure.routee?
  - content_for(:title, "Instructeurs du groupe #{@groupe_instructeur.label}")

  = render partial: 'administrateurs/breadcrumbs',
    locals: { steps: [[@procedure.libelle.truncate_words(4), instructeur_procedure_path(@procedure)],
                      ['Groupes d’instructeurs', instructeur_groupes_path(@procedure)],
                      [@groupe_instructeur.label]] }

- else
  - content_for(:title, "Instructeurs de la démarche #{@procedure.libelle}")

  = render partial: 'administrateurs/breadcrumbs',
    locals: { steps: [link_to(@procedure.libelle, instructeur_procedure_path(@procedure)), 'Instructeurs'] }

.container.groupe-instructeur
  %h1
    - if @procedure.routee?
      Groupe « #{@groupe_instructeur.label} »
    - else
      Démarche « #{@procedure.libelle} »

  .card.mt-2
    .card-title Gestion des instructeurs
    = form_for :instructeur,
      url: { action: :add_instructeur },
      html: { class: 'form' } do |f|

      = f.label :email do
        Affecter un nouvel instructeur
      = f.email_field :email, placeholder: 'marie.dupont@exemple.fr', required: true
      = f.submit 'Affecter', class: 'button primary send'

    %table.table.mt-2
      %thead
        %tr
          %th{ colspan: 2 } Instructeurs affectés
      %tbody
        - @instructeurs.each do |instructeur|
          %tr
            %td= instructeur.email
            - confirmation_message = @procedure.routee? ? "Êtes-vous sûr de vouloir retirer l’instructeur « #{instructeur.email} » du groupe « #{@groupe_instructeur.label} » ?" : "Êtes-vous sûr de vouloir retirer l’instructeur « #{instructeur.email} » de la démarche ?"
            %td.actions= button_to 'retirer',
              { action: :remove_instructeur },
              { method: :delete,
                data: { confirm: confirmation_message },
                params: { instructeur: { id: instructeur.id }},
                class: 'button' }

    = paginate @instructeurs
