.sub-header
  .fr-container.flex.column
    - if @procedure.routing_enabled?
      - content_for(:title, "Instructeurs du groupe #{@groupe_instructeur.label}")

      = render partial: 'instructeurs/breadcrumbs',
        locals: { steps: [[@procedure.libelle.truncate_words(10), instructeur_procedure_path(@procedure)],
                          ['Groupes d’instructeurs', instructeur_groupes_path(@procedure)],
                          [@groupe_instructeur.label]] }

    - else
      - content_for(:title, "Instructeurs de la démarche #{@procedure.libelle}")

      = render partial: 'instructeurs/breadcrumbs',
        locals: { steps: [[@procedure.libelle, instructeur_procedure_path(@procedure)],
                          ['Instructeurs']] }

    = render partial: 'instructeurs/procedures/header',
      locals: { procedure: @procedure }

.fr-container.groupe-instructeur
  %h4
    - if @procedure.routing_enabled?
      Groupe « #{@groupe_instructeur.label} »
    - else
      Démarche « #{@procedure.libelle} »

  = render partial: 'administrateurs/groupe_instructeurs/instructeurs',
    locals: { procedure: @procedure,
      groupe_instructeur: @groupe_instructeur,
      instructeurs: @instructeurs,
      disabled_as_super_admin: false,
      available_instructeur_emails: [] }

  - if @procedure.routing_enabled?
    = render partial: 'administrateurs/groupe_instructeurs/contact_information',
    locals: { procedure: @procedure,
      groupe_instructeur: @groupe_instructeur }

    = render partial: "shared/groupe_instructeurs/signature_form", locals: { groupe_instructeur: @groupe_instructeur,
      preview_path: preview_attestation_instructeur_groupe_path(@groupe_instructeur.procedure, @groupe_instructeur) }
