.super-admin.flex.justify-center
  %div
    %h2.huge-title Espace Manager
    .auth-form.sign-in-form

      = form_for SuperAdmin.new, url: super_admin_session_path, html: { class: "form" } do |f|
        %h1.fr-h2 Connectez-vous

        = f.label :email, "Email (nom@site.com)"
        = f.text_field :email, type: :email, autocomplete: 'username', autofocus: true

        = f.label :password, "Mot de passe (#{PASSWORD_MIN_LENGTH} caractères minimum)"
        = f.password_field :password, autocomplete: 'current-password'

        = f.label :otp_attempt, 'Code OTP (uniquement si vous avez déjà activé 2FA)'
        = f.text_field :otp_attempt

        .auth-options
          .text-right
            = link_to "Mot de passe oublié ou réinitialisation 2FA ?", new_super_admin_password_path, class: "link"
        = f.submit "Se connecter", class: "button large primary expand"
