.fr-container.fr-my-5w
  .fr-grid-row.fr-grid-row--center
    .fr-col-lg-6
      %h1.fr-h2 Espace Manager
      = devise_error_messages!

      = form_for SuperAdmin.new, url: super_admin_session_path do |f|
        %fieldset.fr-mb-0.fr-fieldset
          .fr-fieldset__element
            = render Dsfr::InputComponent.new(form: f, attribute: :email, input_type: :email_field, opts: { autocomplete: 'email', autofocus: true })

          .fr-fieldset__element
            = render Dsfr::InputComponent.new(form: f, attribute: :password, input_type: :password_field, opts: { autocomplete: 'current-password' })

          - if SUPER_ADMIN_OTP_ENABLED
            .fr-fieldset__element
              = render Dsfr::InputComponent.new(form: f, attribute: :otp_attempt, input_type: :number_field, opts: { inputmode: :numeric, autocomplete: 'off' }, required: false)

          .fr-fieldset__element
            %p= link_to "Mot de passe oublié ou réinitialisation 2FA ?", new_super_admin_password_path, class: "fr-link"

        = f.submit t('views.users.sessions.new.connection'), class: "fr-btn fr-btn--lg"
