- content_for(:title, 'Expiration du délai de conservation des dossiers')

- if @expired_dossiers.present?
  %h2= t('mail.administration.dossier_expiration_summary.expired_dossiers', count: @expired_dossiers.count)
  - @expired_dossiers.group_by(&:procedure).each do |procedure, dossiers|
    %dl
      %dt
        #{procedure.libelle} (#{link_to(procedure.id, manager_procedure_url(procedure))}) :
      %dd
        = dossiers.map { |d| link_to(d.id, manager_dossier_url(d)) }.join(', ').html_safe

- if @expiring_dossiers.present?
  %h2= t('mail.administration.dossier_expiration_summary.expiring_dossiers', count: @expiring_dossiers.count)
  - @expiring_dossiers.group_by(&:procedure).each do |procedure, dossiers|
    %dl
      %dt
        #{procedure.libelle} (#{link_to(procedure.id, manager_procedure_url(procedure))}) :
      %dd
        = dossiers.map { |d| link_to(d.id, manager_dossier_url(d)) }.join(', ').html_safe

- if @expired_dossiers.empty? && @expiring_dossiers.empty?
  Il n’y a pas de dossier expiré ou sur le point d’expirer.
