- content_for(:title, 'Liste de démarches douteuses')

- if @procedures_and_type_de_champs.any?
  %ul
    - @procedures_and_type_de_champs.each do |procedure, type_de_champs|
      %li{ style: 'margin-bottom: 8px;' }
        = link_to "Nº #{procedure.id},", manager_procedure_url(procedure)
         #{procedure.libelle}
        %ul
          %li
            #{'Champ'.pluralize(type_de_champs.length)} douteux :
            %b= type_de_champs.map(&:libelle).join(', ')
          %li
            - lien =  procedure.brouillon? ? commencer_test_url(path: procedure.path) : commencer_url(path: procedure.path)
            = link_to 'Remplir un dossier', sanitize_url(lien), target: :blank, rel: :noopener
          %li
            État : #{procedure.aasm_state}
          %li
            Nombre de #{'dossier'.pluralize(procedure.dossiers.count)} : #{procedure.dossiers.count}
        = render partial: "procedure_description", locals: { procedure: procedure }
- else
  Il n'y a aucune démarche douteuse aujourd'hui
