- content_for(:title, 'Liste de démarches douteuses')

- if @procedures_and_type_de_champs.any?
  %ul
    - @procedures_and_type_de_champs.each do |procedure, type_de_champs|
      %li{ style: 'margin-bottom: 8px;' }
        = link_to "Nº #{procedure.id},", manager_procedure_url(procedure)
         #{procedure.libelle} :
        %b= type_de_champs.map(&:libelle).join(', ')
        %br
        État : #{procedure.aasm_state}
        %br
        Nombre de dossier : #{procedure.dossiers.count}
        %br
          Admin :
          %ul
            - procedure.administrateurs.each do |administrateur|
              %li
                = link_to "#{administrateur.email}", "mailto:#{administrateur.email}"
- else
  Il n'y a aucune démarche douteuse aujourd'hui
