- content_for(:title, 'Activation du compte administrateur')

%p
  Bonjour,

%p
  Je vous remercie de l’intérêt que vous portez à notre outil de dématérialisation de démarches.

%p
  Votre compte administrateur a été créé pour l'adresse email #{@admin.email}.

%p
  %b
    Pour l’activer, cliquez sur le lien suivant :
    = link_to(admin_activate_url(token: @reset_password_token), admin_activate_url(token: @reset_password_token))

%p
  Afin de vous accompagner dans la découverte de demarches-simplifiees.fr, je vous propose de m’appeler pour faire un point sur vos besoins de dématérialisation.
  %br
  Vous pouvez me joindre au numéro suivant :
  = link_to(CONTACT_PHONE, "tel:#{CONTACT_PHONE}")
  \.

%p
  Je vous invite également à prendre quelques minutes pour consulter notre tutoriel à destination des nouveaux administrateurs :
  = link_to(ADMINISTRATEUR_TUTORIAL_URL, ADMINISTRATEUR_TUTORIAL_URL)
  \.

%p
  = render partial: "layouts/mailers/bizdev_signature", locals: { author_name: @author_name }
