%p
  Un nouvel administrateur a été créé sur #{SITE_NAME}.

%ul
  %li
    Plateforme :
    = root_url

  %li
    Email :
    = @admin.email

  %li
    Créateur :
    = @administration.email

= render partial: "layouts/mailers/signature"
