- content_for(:title, 'Demande de création de compte refusée')

%p
  Bonjour,

%p
  Les comptes administrateurs sont destinés aux administrations publiques souhaitant mettre en place sur leurs sites internet des démarches dématérialisées pour leurs usagers. Il ne semble pas que ce soit votre cas.


%p
  Pour les usagers ou les administrations publiques (collectivités, etc.) qui souhaitent remplir une démarche ou un déposer un dossier en ligne, l’entrée dans #{SITE_NAME} se fait via un lien fourni par l’administration responsable, sur son propre site web. Ce lien vous permettra de créer un compte et de remplir le formulaire dans la foulée.

%p
  Si par contre vous rencontrez des problèmes lors de l'utilisation de #{SITE_NAME} en tant qu'usager, merci d'expliciter le problème rencontré sur notre
  = link_to("formulaire de contact", contact_url)
  \.

%p
  Si vous avez fait une demande de compte administrateur légitime  avec une adresse email grand public (Orange, Wanadoo etc), merci de nous contacter sur notre
  = link_to("formulaire de contact administrateur", contact_admin_url)
  \.

= render partial: "layouts/mailers/signature"
