- if service.faq_link.present?
  %li.fr-mb-1w
    = link_to t('.faq_link'), service.faq_link , title: helpers.new_tab_suffix(t('.faq_link')), class: 'fr-link fr-link--sm', **helpers.external_link_attributes
- if service.contact_link.present?
  %li.fr-mb-2w
    = link_to t('.contact_link'), service.contact_link, title: helpers.new_tab_suffix(t('.contact_link')), class: 'fr-link fr-link--sm', **helpers.external_link_attributes

%li.border-left-dark
  %dl
    - if dossier.present? && dossier&.messagerie_available?
      .flex.fr-mb-2v
        %dt.fr-mr-2v
          %span.fr-icon-message-2-line.fr-icon--sm{ "aria-hidden": "true" }
          %span.visually-hidden= t('layouts.mailers.service_footer.by_email')
        %dd
          = link_to t('.contact_instructeur'), messagerie_dossier_path(dossier)

    - if service.email.present?
      .flex.fr-mb-2v
        %dt.fr-mr-2v
          %span.fr-icon-mail-line.fr-icon--sm{ "aria-hidden": "true" }
          %span.visually-hidden= t('layouts.mailers.service_footer.by_email')
        %dd
          = link_to service.email, "mailto:#{service.email}"
    .flex.fr-mb-2v
      %dt.fr-mr-2v
        %span.fr-icon-phone-line.fr-icon--sm{ "aria-hidden": "true" }
        %span.visually-hidden= t('layouts.mailers.service_footer.by_phone')
      %dd
        = link_to service.telephone, service.telephone_url
    .flex.fr-mb-2v
      %dt.fr-mr-2v
        %span.fr-icon-time-line.fr-icon--sm{ "aria-hidden": "true" }
        %span.visually-hidden= t('layouts.mailers.service_footer.schedule')
      %dd
        = service.horaires

    - if service.other_contact_info.present?
      .flex.fr-mb-2v
        %dt.fr-mr-2v
          %span.fr-fi-info-line.fr-icon--sm{ "aria-hidden": "true" }
        %dd
          = service.other_contact_info
