%ul.etablissement-infos-entreprise
  %li
    Numéro TAHITI :
    = etablissement.siret

  - if etablissement.siret != etablissement.entreprise.siret_siege_social && etablissement.entreprise.siret_siege_social.present?
    %li
      SIRET siègle social :
      = etablissement.entreprise.siret_siege_social

  %li
    Forme juridique :
    = etablissement.entreprise.forme_juridique

  %li
    Nom commercial :
    = render partial: 'users/dossiers/etablissement/info_field', locals: { value: etablissement.entreprise.nom_commercial }

  %li
    Libellé NAF :
    = render partial: 'users/dossiers/etablissement/info_field', locals: { value: etablissement.libelle_naf }

  %li
    Code NAF :
    = render partial: 'users/dossiers/etablissement/info_field', locals: { value: etablissement.naf }

  %li
    Date de création :
    = try_format_date(etablissement.entreprise.date_creation)

  %li
    Effectif organisation :
    = effectif(etablissement)

  %li
    Code effectif :
    = etablissement.entreprise.code_effectif_entreprise

  - if etablissement.entreprise.numero_tva_intracommunautaire.present?
    %li
      Numéro TVA intracommunautaire :
      = etablissement.entreprise.numero_tva_intracommunautaire

  %li
    Adresse :
    = render partial: 'users/dossiers/etablissement/info_field', locals: { value: etablissement.adresse }
  - if etablissement.entreprise.capital_social.present?
    %li
      Capital social :
      = pretty_currency(etablissement.entreprise.capital_social)

- if etablissement.exercices.present?
  %p.etablissement-exercices Les exercices comptables des trois dernières années seront joints à votre dossier.

%p
  = link_to '➡ Autres informations sur le site de l\'ISPF',
  "http://www.ispf.pf/bases/Repertoires/Entreprises/Detail.aspx?numtah=#{etablissement.siret}",
  target: "_blank"
