%ul
  %li
    Siret :
    = pretty_siret(etablissement.siret)

  %li
    Libellé NAF :
    = etablissement.libelle_naf

  %li
    Code NAF :
    = etablissement.naf

  %li
    Adresse :
    - etablissement.adresse.split("\n").each do |line|
      = line

  %p
    Nous allons également récupérer la forme juridique, la date de création, les effectifs, le numéro TVA intracommunautaire, le capital social de votre organisation.
    Pour les associations, nous récupérerons également l'objet, la date de création, de déclaration et de publication.

  %p Les exercices comptables des trois dernières années pourront être joints à votre dossier.

  - procedure = etablissement.dossier.procedure
  - api_token = APIEntrepriseToken.new(procedure.api_entreprise_token)
  - if api_token.can_fetch_attestation_sociale?
    %p Une attestation sociale sera jointe à votre dossier
  - if api_token.can_fetch_attestation_fiscale?
    %p Une attestation fiscale sera jointe à votre dossier
  - if api_token.can_fetch_bilans_bdf?
    %p Les 3 derniers bilans connus de votre entreprise par la Banque de France ont été joints à votre dossier.
%p
  = link_to "➡ Autres informations sur l’organisme sur « annuaire-entreprises.data.gouv.fr »",
  annuaire_link(etablissement.siret),
  target: "_blank"
