%ul.etablissement-infos-association
  %li
    Numéro d’enregistrement au Registre National des Associations :
    = etablissement.association_rna

  %li
    Titre :
    = etablissement.association_titre

  %li
    Objet :
    = etablissement.association_objet

  %li
    Date de création :
    = try_format_date(etablissement.association_date_creation)

  %li
    Date de déclaration :
    = try_format_date(etablissement.association_date_declaration)

  %li
    Date de publication :
    = try_format_date(etablissement.association_date_publication)
