%ul.etablissement-infos-entreprise
  %li
    Siret :
    = etablissement.siret

  - if etablissement.siret != etablissement.entreprise.siret_siege_social
    %li
      SIRET siègle social :
      = etablissement.entreprise.siret_siege_social

  %li
    Forme juridique :
    = etablissement.entreprise.forme_juridique

  %li
    Libellé NAF :
    = etablissement.libelle_naf

  %li
    Code NAF :
    = etablissement.naf

  %li
    Date de création :
    = etablissement.entreprise.date_creation&.strftime('%d/%m/%Y')

  %li
    Effectif organisation :
    = effectif(etablissement)

  %li
    Code effectif :
    = etablissement.entreprise.code_effectif_entreprise

  %li
    Numéro TVA intracommunautaire :
    = etablissement.entreprise.numero_tva_intracommunautaire

  %li
    Adresse :
    - etablissement.adresse.split("\n").each do |line|
      = line

  %li
    Capital social :
    = pretty_currency(etablissement.entreprise.capital_social)

- if etablissement.exercices.present?
  %p.etablissement-exercices Les exercices comptables des trois dernières années seront joints à votre dossier.
