- content_for(:title, "Archives pour #{@procedure.libelle}")

= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to(@procedure.libelle, instructeur_procedure_path(@procedure)),
                    'Archives'] }

.container
  %h1.mb-2 Archives

  .card.featured
    .card-title Gestion de vos archives
    %p
      Vous pouvez télécharger les archives des dossiers terminés depuis la publication de la procédure au format Zip.

    %p
      Cet export contient les demande déposée par l'usager et la liste des pièces justificatives transmises.

    %p
      Cet export n’est pas possible pour le moment pour les démarches à forte volumétrie.
      Nous vous invitons à regarder
      = link_to 'la documentation', ARCHIVAGE_DOC_URL
      afin de voir les options à votre disposition pour mettre en place un système d’archive.

  %table.table.hoverable.archive-table
    %thead
      %tr
        %th &nbsp;
        %th.text-right Nombre de dossiers terminés
        %th.text-right Poids estimé
        %th.center Télécharger

    %tbody
    - @archives_by_period.each do |count_by_month|
      - month = count_by_month[:month].to_date if count_by_month[:month].present?
      - start_day = count_by_month[:start_day].to_date if count_by_month[:start_day].present?
      - end_day = count_by_month[:end_day].to_date if count_by_month[:end_day].present?
      - nb_dossiers_termines = count_by_month[:count]
      - matching_archive = count_by_month[:matching_archive]
      - weight = estimate_weight(matching_archive, nb_dossiers_termines, @average_dossier_weight)

      %tr
        %td
          - if start_day.present?
            = "#{I18n.l(start_day, format: :long)} - #{I18n.l(end_day, format: :long)}"
          - else
            = I18n.l(month, format: "%B %Y").capitalize
        %td.text-right
          = nb_dossiers_termines
        %td.text-right
          = number_to_human_size(weight)
        %td.center
          - if matching_archive.present?
            - if matching_archive.status == 'generated' && matching_archive.file.attached?
              = link_to url_for(matching_archive.file), class: 'button primary' do
                %span.icon.download-white
                = t(:archive_ready_html, scope: [:instructeurs, :procedure], generated_period: time_ago_in_words(matching_archive.updated_at))
            - else
              %span.icon.retry
              = t(:archive_pending_html, created_period: time_ago_in_words(matching_archive.created_at), scope: [:instructeurs, :procedure])
          - elsif start_day.present?
            = link_to instructeur_archives_path(@procedure, type: 'custom', start_day: start_day.strftime('%Y-%m-%d'), end_day: end_day.strftime('%Y-%m-%d')), method: :post, class: "button" do
              %span.icon.new-folder
              Demander la création
          - else
            = link_to instructeur_archives_path(@procedure, type: 'monthly', month: month.strftime('%Y-%m')), method: :post, class: "button" do
              %span.icon.new-folder
              Demander la création

