<% content_for(:title) do %>
  <%= display_resource_name('Demandes') %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body main-content__body--flush">
  <table>
    <thead>
      <% keys = @pending_demandes.first.keys %>
      <tr>
        <% keys.each do |key| %>
          <th class="cell-label cell-label--string cell-label--false" scope="col" role="columnheader" aria-sort="none">
            <%= key %>
          </th>
        <% end %>
          <th class="cell-label cell-label--string cell-label--false" scope="col" role="columnheader" aria-sort="none">
          </th>
    </thead>
    <tbody>
      <% @pending_demandes.each do |demande| %>
        <tr>
          <% keys.each do |key| %>
            <td class="cell-data cell-data--string">
              <%= demande[key] %>
            </td>
          <% end %>
            <td class="cell-data cell-data--string" style="text-align: center;">
              <%= form_tag(manager_demandes_create_administrateur_path) do -%>
                <%= select_tag "stage_id", 
                  options_for_select({
                  "administration centrale" => PipedriveService::PIPEDRIVE_ADMIN_CENTRAL_STOCK_STAGE_ID, 
                  "région" => PipedriveService::PIPEDRIVE_REGIONS_STOCK_STAGE_ID, 
                  "préfecture" => PipedriveService::PIPEDRIVE_PREFECTURES_STOCK_STAGE_ID,
                  "département" =>PipedriveService::PIPEDRIVE_DEPARTEMENTS_STOCK_STAGE_ID,
                  "commune" => PipedriveService::PIPEDRIVE_COMMUNES_STOCK_STAGE_ID,
                  "organisme" => PipedriveService::PIPEDRIVE_ORGANISMES_STOCK_STAGE_ID
                }),
                style: 'margin-bottom: 20px; width: inherit;' %>

                <%= hidden_field_tag 'email', demande[:email] %>
                <%= hidden_field_tag 'person_id', demande[:person_id] %>

                <%= submit_tag 'Créer' %>
              <% end -%>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
