= render Dropdown::MenuComponent.new(wrapper: :div, menu_options: { id: "menu-en-construction" }, button_options: { class: "fr-btn--secondary" }, role: :region) do |menu|
  - menu.with_button_inner_html do
    = menu_label

  - if dossier.may_repasser_en_construction?
    = menu.with_item do
      = link_to(repasser_en_construction_instructeur_dossier_path(dossier.procedure.id, dossier.id, statut: params[:statut]), method: :post, role: 'menuitem') do
        %span.fr-icon.fr-icon-draft-line.fr-text-default--info.fr-mt-1v{ "aria-hidden": "true" }
        .dropdown-description
          %h4= t('.revert_en_construction')
          L’usager pourra modifier le dossier. Informez-le si nécessaire

  - menu.with_item do
    = link_to('#', onclick: "DS.showMotivation(event, 'pending_correction');", role: 'menuitem') do
      %span.fr-icon.fr-icon-error-warning-line.fr-text-default--info.fr-mt-1v{ "aria-hidden": "true" }

      .dropdown-description
        %h4= t('.request_correction')
        L’usager sera informé que des modifications sont attendues.

        - if sva_svr_enabled?
          - if sva_svr_resume_method == :reset
            Le délai du #{sva_svr_human_decision} sera réinitialisé lorqu’il déclarera avoir complété le dossier.
          - else
            Le délai du #{sva_svr_human_decision} reprendra lorsqu’il déclarera avoir corrigé le dossier.

  - menu.with_item(class: "inactive form-inside fr-pt-1v") do
    = render partial: 'instructeurs/dossiers/instruction_button_motivation', locals: { dossier:,
        visible: true,
        form_path: pending_correction_instructeur_dossier_path(dossier.procedure, dossier, statut: params[:statut]),
        placeholder: 'Expliquez au demandeur quelle(s) correction(s) sont attendues',
        popup_class: 'pending_correction',
        button_justificatif_label: "Ajouter une pièce jointe (facultatif)",
        process_button: dossier.en_construction? ? 'Valider' : 'Valider et repasser en construction',
        process_action: nil,
        title: 'Marquer en attente de corrections',
        confirm: 'Envoyer la demande de corrections ?'}

  - if sva_svr_enabled?
    - menu.with_item do
      = link_to('#', onclick: "DS.showMotivation(event, 'pending_completion');", role: 'menuitem') do
        %span.fr-icon.fr-icon-error-warning-line.fr-text-default--warning.fr-mt-1v{ "aria-hidden": "true" }

        .dropdown-description
          %h4= t('.request_completion')
          L’usager sera informé que son dossier est incomplet. Le délai du #{sva_svr_human_decision} sera réinitialisé lorque il déclarera avoir complété le dossier.

    - menu.with_item(class: "inactive form-inside fr-pt-1v") do
      = render partial: 'instructeurs/dossiers/instruction_button_motivation', locals: { dossier:,
          visible: false,
          form_path: pending_correction_instructeur_dossier_path(dossier.procedure, dossier, reason: :incomplete),
          placeholder: 'Expliquez au demandeur comment compléter son dossier',
          popup_class: 'pending_completion',
          button_justificatif_label: "Ajouter une pièce jointe (facultatif)",
          process_button: dossier.en_construction? ? 'Valider' : 'Valider et repasser en construction',
          process_action: nil,
          title: 'Marquer le dossier comme incomplet',
          confirm: 'Envoyer la demande de complétion ?'}
