- content_for(:title, 'Ajouter un groupe d’instructeurs')
%h1.fr-h2 Ajouter un groupe d’instructeurs

= form_for :groupe_instructeur,
  method: :post do |f|
  .card
    = f.label :label, class: 'fr-label fr-mb-1w' do
      = t('.add_a_group.title')
    .flex.justify-between.align-baseline.fr-mb-1w
      = f.text_field :label, required: true, class: 'fr-input', placeholder: 'Entrer un nom de groupe'

  %ul.fr-btns-group.fr-btns-group--inline-sm
    %li
      = link_to 'Annuler', admin_procedure_groupe_instructeurs_path, class: 'fr-btn fr-btn--secondary'
    %li
      = f.button t('.button.add_group'), class: "fr-btn fr-btn--secondary ml-2"
