= render partial: 'gestionnaires/breadcrumbs',
  locals: { steps: [['Groupes gestionnaire', gestionnaire_groupe_gestionnaires_path],
                    ["#{@groupe_gestionnaire.name.truncate_words(10)}", gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire)],
                    ['Groupes enfants']], preview: false }

.container
  %h1 Gérer les groupes enfants de « #{@groupe_gestionnaire.name} »

  %table.table
    %thead
      %tr
        %th= 'Nom'
        %th= 'Enregistré le'
    %tbody#children
      = render(GroupeGestionnaire::GroupeGestionnaireChildren::ChildComponent.with_collection(@groupe_gestionnaire.children, groupe_gestionnaire: @groupe_gestionnaire))

  .fr-mt-4w
    = render 'add_admin_form', groupe_gestionnaire: @groupe_gestionnaire
