= render 'gestionnaires/groupe_gestionnaires/main_navigation'
= render partial: 'gestionnaires/breadcrumbs',
  locals: { steps: [['Groupes gestionnaires', gestionnaire_groupe_gestionnaires_path],
                    ["#{@groupe_gestionnaire.name.truncate_words(10)}", gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire)],
                    ['Groupes enfants']], preview: false }

.container
  %h1 Gérer les groupes enfants de « #{@groupe_gestionnaire.name} »

  .fr-mt-4w
    = link_to 'Afficher l’arborescence', tree_structure_gestionnaire_groupe_gestionnaire_path(@groupe_gestionnaire)

  .fr-mt-4w
    = render 'add_child_form', groupe_gestionnaire: @groupe_gestionnaire

  %table.table
    %thead
      %tr
        %th= 'Nom'
        %th= 'Enregistré le'
    %tbody#children
      = render(GroupeGestionnaire::GroupeGestionnaireChildren::ChildComponent.with_collection(@groupe_gestionnaire.children.order(:name), groupe_gestionnaire: @groupe_gestionnaire))
