= form_with(model: @type_de_champ, url: update_mapping_type_de_champ_admin_procedure_referentiel_path(@procedure, @type_de_champ.stable_id, @referentiel)) do |f|
  %div{ class: bordered_container_class_names }
    = render Referentiels::ResponseRendererComponent.new(referentiel:)

    %section
      .fr-table.fr-table--bordered
        .fr-table__wrapper
          .fr-table__container
            .fr-table__content
              %table
                %caption Complétez le tableau de mapping ci-dessous en fonction des données que vous souhaitez exploiter
                %thead
                  %tr
                    %th.fr-cell--fixed Propriété
                    %th Exemple de donnée
                    %th Type de donnée
                    %th
                      Utiliser la donnée
                      %br
                      pour préremplir
                      %br
                      un champ du
                      %br
                      formulaire
                    %th
                      Libellé de la donnée récupérée
                      %br
                      (pour afficher à l'usager et/ou l'instructeur)
                %tbody
                  - last_request_keys.each do |jsonpath, example_value|
                    %tr{ data: { controller: "referentiel-mapping" } }
                      %td.fr-cell--fixed
                        %span.hidden{ id: label_check_prefill(jsonpath) }= "Utiliser #{jsonpath} pour préremplir le formulaire"
                        = jsonpath
                        = hidden_field_tag attribute_name(jsonpath, "example_value"), example_value
                      %td.fr-cell--multiline= example_value
                      %td= cast_tag(jsonpath, example_value)
                      %td.text-center= prefill_tag(jsonpath)
                      %td
                        %div{ data: { "referentiel-mapping-target": "enabledContent" }, class: disabled?(jsonpath) ? 'hidden' : '' }= enabled_libelle_tag(jsonpath)
                        %div{ data: { "referentiel-mapping-target": "disabledContent" }, class: disabled?(jsonpath) ? '' : 'hidden' }= disabled_libelle_tag(jsonpath)

    .clearfix

  %ul.fr-btns-group.fr-btns-group--inline-sm.flex.justify-center.fr-mt-5w
    %li= link_to "Annuler", champs_admin_procedure_path(@procedure), class: 'fr-btn fr-btn--secondary fr-mr-3w'
    %li= link_to "Étape précédente", back_url, class: 'fr-btn fr-btn--secondary'
    %li= f.submit "Étape suivante", class: "fr-btn"
