= form_for(current_instructeur.bulk_messages.build, url: create_multiple_commentaire_instructeur_procedure_path([procedure]), html: {  data: { controller: 'persisted-form bulk-message', persisted_form_key_value: dom_id(procedure, :bulk_message) } }) do |f|
  %p.mandatory-explanation= t('asterisk_html', scope: [:utils])

  - if procedure.routing_enabled?
    %fielset.fr-fieldset{ data: render_select_all? ? {controller: "checkbox-select-all"} : {} }
      %legend.fake-label.fr-text--bold.fr-mb-3w
        = t('.form.target_group')
        = render EditableChamp::AsteriskMandatoryComponent.new

      .checkbox-group-bordered
        - if render_select_all?
          .fr-fieldset__element.fr-background-contrast--grey.fr-py-2w.fr-px-4w.fr-mb-0
            .fr-checkbox-group
              = check_box_tag "bulk-message-select-all", "select-all", false, data: { "checkbox-select-all-target": 'checkboxAll', "action": "change->bulk-message#change" }
              = label_tag "bulk-message-select-all", t('.form.select_all')
        %div{ style: "max-height: 430px; overflow-y: scroll" }
          - splitted_groupe_instructeurs do |current_instructeur_groupes, other_groupe_instructeurs|
            - current_instructeur_groupes.each do |groupe_instructeur|
              .fr-fieldset__element.fr-px-4w.fr-mt-2w
                = f.fields_for :groupe_instructeur_ids do |fgroup|
                  .fr-checkbox-group
                    = groupe_instructeur_checkbox(fgroup, groupe_instructeur)
                    = groupe_instructeur_label(fgroup, groupe_instructeur)

            - if other_groupe_instructeurs.any?
              %hr.fr-hr.fr-mx-3w

              - other_groupe_instructeurs.each do |groupe_instructeur|
                .fr-fieldset__element.fr-px-4w.fr-mt-2w
                  = f.fields_for :groupe_instructeur_ids do |fgroup|
                    .fr-checkbox-group
                      = groupe_instructeur_checkbox(fgroup, groupe_instructeur)
                      = groupe_instructeur_label(fgroup, groupe_instructeur)


    - if dossier_count_without_group
      %fieldset.fr-fieldset
        .fr-fieldset__element.fr-mt-2w
          = render Dsfr::ToggleComponent.new(form: f, target: :without_group, title: t('.dossier_count_without_group_html', count: dossier_count_without_group), extra_class_names: "", opt: bulk_message_stimulus_data(dossier_count_without_group))

  .fr-alert.fr-alert--info.fr-alert--sm.fr-mb-3w
    %p
      = t('.alert.send_message_to')
      %strong= default_dossiers_count
      = t('.alert.user')

  %fieldset.fr-fieldset
    .fr-fieldset__element= render Dsfr::InputComponent.new(form: f, attribute: :body, input_type: :text_area, required: true, opts: { rows: 5, placeholder:  t('views.shared.dossiers.messages.form.write_message_placeholder'), title:  t('views.shared.dossiers.messages.form.write_message_placeholder'), class: 'fr-input message-textarea'}, label_opts: { class: 'fr-text--bold' })

  .fr-mt-3w
    = f.submit t('views.shared.dossiers.messages.form.send_message'), class: 'fr-btn', data: { disable: true }
