%h1#dossier_id{:class => 'text-info', :style => 'text-align:right'}
  = "Dossier n°#{@dossier.id}"

%script{type: 'text/javascript'}
  ="url_carte = '#{@dossier.id}/'"
  ="ref_dossier = '#{@dossier.ref_dossier}'"

= render partial: '/dossiers/infos_entreprise'
%br
= render partial: '/dossiers/infos_dossier'
%br
%br

.content{class: 'row'}
  #map_qp.col-lg-6.col-md-6{style: 'height:500px'}
  #pieces_jointes.col-lg-6.col-md-6
    %h3.text-info Liste des pièces jointes
    %br
    %table.table
      -if @formulaire.lien_demarche != nil
        %tr{id: "piece_jointe_0"}
          %th{class:'col-lg-6'}
            ='CERFA'
          %td.col-lg-4.col-md-4
            - if @array_id_pj_valides.include?(0)
              %a{ href: "#{@dossier.get_pj(0).content}", target: '_blank' } Consulter
            - else
              = 'Pièce non fournie'

      -@liste_pieces_jointes.each do |pj|
        %tr{id: "piece_jointe_#{pj.id}"}
          %th{class:'col-lg-6'}
            =pj.libelle
          %td.col-lg-4.col-md-4
            - if pj.api_entreprise
              %a{ href: '' } Récupérer
            - elsif @array_id_pj_valides.include?(pj.id)
              %a{ href: "#{@dossier.get_pj(pj.id).content}", target: '_blank' } Consulter
            - else
              = 'Pièce non fournie'

  = render partial: '/carte/carte_sources_CSS'
= render partial: '/carte/carte_sources_JS_backend'
%br

= render partial: '/recapitulatif/commentaires_flux'
%br
%br

