= link_to "Accessibilité", accessibilite_path, :class => "footer-link"
–
= link_to "CGU", CGU_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
–
= link_to "Mentions légales", MENTIONS_LEGALES_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
–
= contact_link "Contact technique", class: "footer-link", dossier_id: dossier&.id
-
= link_to 'FAQ', "https://faq.demarches-simplifiees.fr"
-
= link_to 'Documentation', "http://doc.demarches-simplifiees.fr"
