= devise_error_messages!

%br
#form-login
  %h2#gestionnaire_login Mot de passe oublié

  %br
  %br
  #new-user
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      %h4
        = f.label :email
      .input-group
        .input-group-addon
          %span.fa.fa-user
        = f.email_field :email, class: 'form-control', placeholder: 'Email'
      %br
      %br
      .actions
        = f.submit 'Réinitialiser', class: 'btn btn-primary'
      %br
