= turbo_stream.replace 'errors-summary', render(TypesDeChampEditor::ErrorsSummary.new(revision: @procedure.draft_revision))

- sibling = coordinate.previous_sibling

- if sibling.present?
  = turbo_stream.after dom_id(sibling, :type_de_champ_editor) do
    = render TypesDeChampEditor::ChampComponent.new(coordinate: coordinate, upper_coordinates: upper_coordinates, focused: true)
- else
  = turbo_stream.prepend dom_id(coordinate.block, :types_de_champ_editor_block) do
    = render TypesDeChampEditor::ChampComponent.new(coordinate: coordinate, upper_coordinates: upper_coordinates, focused: true)
= turbo_stream.dispatch 'sortable:sort'

- if @other_coordinates.present?
  - @other_coordinates.each do |other_coordinate, other_upper_coordinates|
    = turbo_stream.morph dom_id(other_coordinate, :type_de_champ_editor) do
      = render TypesDeChampEditor::ChampComponent.new(coordinate: other_coordinate, upper_coordinates: other_upper_coordinates)
