- if @coordinate.present?
  - if @coordinate.parent.present?
    - c = TypesDeChampEditor::SelectChampTemplatePositionComponent.new(block: @coordinate.parent, coordinates: @coordinate.parent.revision_types_de_champ)
  - else
    - c = TypesDeChampEditor::SelectChampTemplatePositionComponent.new(block: @coordinate.revision, coordinates: @coordinate.private? ? @coordinate.revision.revision_types_de_champ_private : @coordinate.revision.revision_types_de_champ_public)

  = turbo_stream.replace(c.block_id) do
    = render c
= turbo_stream.replace 'breadcrumbs' , render(partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Configuration des champs']],
  preview: @procedure.validate(@coordinate&.private? ? :types_de_champ_private_editor : :types_de_champ_public_editor) })

= turbo_stream.replace 'errors-summary', render(Procedure::ErrorsSummary.new(procedure: @procedure, validation_context: @coordinate&.private? ? :types_de_champ_private_editor : :types_de_champ_public_editor))

- if @coordinate&.private?
  = turbo_stream.replace 'summary', render(DossierTree::SectionsSummaryComponent.new(tree: @procedure.draft_private_tree, revision: @procedure.draft_revision))
- else
  = turbo_stream.replace 'summary', render(DossierTree::SectionsSummaryComponent.new(tree: @procedure.draft_public_tree, revision: @procedure.draft_revision))

- unless flash.alert
  = turbo_stream.show 'autosave-notice'
  = turbo_stream.replace 'autosave-notice', render(AutosaveNoticeComponent.new(success: true, label_scope: :form))
  = turbo_stream.hide 'autosave-notice', delay: 30000

- if @destroyed.present?
  = turbo_stream.remove dom_id(@destroyed, :type_de_champ_editor)

  - if @destroyed.siblings.empty?
    = turbo_stream.show('empty-coordinates')

- if @created.present?
  - if @created.coordinate.previous_sibling.present?
    = turbo_stream.after dom_id(@created.coordinate.previous_sibling, :type_de_champ_editor) do
      - render @created
  - else
    = turbo_stream.prepend dom_id(@created.coordinate.block, :types_de_champ_editor_block) do
      - render @created

  = turbo_stream.hide('empty-coordinates')

- @morphed&.each do |champ_component|
  = turbo_stream.replace dom_id(champ_component.coordinate, :type_de_champ_editor) do
    - render champ_component

- if @coordinate.present?
  = turbo_stream.replace dom_id(@coordinate.revision, :estimated_fill_duration) do
    - render TypesDeChampEditor::EstimatedFillDurationComponent.new(revision: @coordinate.revision, is_annotation: @coordinate.private?)

- if @created&.coordinate&.child?
  = turbo_stream.hide dom_id(@created.coordinate.parent, :type_de_champ_add_button)
- elsif @destroyed&.child? && @destroyed.parent.empty?
  = turbo_stream.show dom_id(@destroyed.parent, :type_de_champ_add_button)

- if @procedure.draft_changed?
  = turbo_stream.update "sticky-header" do
    = render partial: "administrateurs/procedures/unpublished_changes_sticky_header", locals: { procedure: @procedure }

- else
  = turbo_stream.update "sticky-header", ""
