- content_for :title, "Amélioration des champs de la démarche « #{@procedure.libelle} »"

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Amélioration des champs']] }

.fr-container
  %h1.fr-h2.mt-2 Amélioration de la qualité de la démarche “#{@procedure.libelle}“

  = render Dsfr::CalloutComponent.new(title: 'Comment fonctionne cette amélioration ?', theme: :neutral) do |callout|
    - callout.with_body do
      %p
        Cette rubrique rassemble les règles d’assistance qui analysent votre démarche et suggèrent des améliorations automatiques.
        Chaque règle s’appuie sur les révisions publiées et propose des modifications ciblées que vous pouvez appliquer sélectivement.

  %section.fr-my-4w
    %h2.fr-h3 Règles disponibles
    %p.fr-text--sm
      Sélectionnez une règle pour consulter les suggestions générées automatiquement et appliquer celles qui vous semblent pertinentes.

    .fr-grid-row.fr-grid-row--gutters
      - @llm_rule_suggestions.each do |llm_rule_suggestion|
        .fr-col-6.fr-col-md-4.fr-col-lg-3
          = link_to simplify_admin_procedure_types_de_champ_path(procedure_id: @procedure.id, llm_suggestion_rule_id: llm_rule_suggestion.id), class: 'fr-tile fr-enlarge-link' do
            .fr-tile__body.flex.column.align-center.justify-between
              - if llm_rule_suggestion.items_count.positive?
                %p.fr-badge.fr-badge--info
                  = "#{llm_rule_suggestion.items_count} suggestion(s)"
              - else
                %p.fr-badge
                  Aucune suggestion

              %h3.fr-h6= llm_rule_suggestion.component.libelle
              %p.fr-tile-subtitle= llm_rule_suggestion.component.summary
              %p.fr-btn.fr-btn--tertiary Consulter les suggestions
