.fr-container
  %h1.fr-h2.mt-2 Simplification proposée par Albert

  %p= @text

  - tdcs = @procedure.published_revision.types_de_champ_public
  - destroyeds = @changes.fetch(:destroy, [])
  - updated_by_stable_id = @changes.fetch(:update, []).index_by { _1[:stable_id] }
  - add = @changes.fetch(:add, [])

  %h2.fr-h4.mt-2 #{pluralize(destroyeds.count, 'suppression')}
  %ul
    - tdcs.each do |tdc|
      - if destroyeds.include?(tdc.stable_id)
        %li= tdc.libelle

  %h2.fr-h4.mt-2 #{pluralize(updated_by_stable_id.keys.count, 'modification')}
  %ul
    - tdcs.each do |tdc|
      - if updated_by_stable_id[tdc.stable_id]
        %li
          #{tdc.libelle} → #{updated_by_stable_id[tdc.stable_id][:libelle]}
          %br
          %small= updated_by_stable_id[tdc.stable_id][:justification]


  %h2.fr-h4.mt-2 #{pluralize(add.count, 'ajout')}
  %ul
    - add.each do |tdc|
      %li
        = tdc[:libelle]
        - if tdc[:children].present?
          (bloc répétable)
        %br
        %small= tdc[:justification]
        - if tdc[:children].present?
          %ul
            - tdc[:children].each do |child|
              %li= child[:libelle]

  %ul.fr-btns-group.fr-btns-group--inline-md.mt-4
    %li
      = button_to("Accepter les modifications",
        [:accept_simplification, :admin, @procedure, :types_de_champ],
        params: { changes: @changes.to_json },
        class: "fr-btn")
    %li
      = link_to("Revenir à l'éditeur", [:champs, :admin, @procedure], class: "fr-btn fr-btn--secondary")
