- if @coordinate&.type_de_champ&.valid?
  = turbo_stream.morph dom_id(@coordinate, :type_de_champ_editor) do
    = render TypesDeChampEditor::ChampComponent.new(coordinate: @coordinate, upper_coordinates: @upper_coordinates)
  = turbo_stream.morph dom_id(@coordinate.revision, :estimated_fill_duration) do
    = render TypesDeChampEditor::EstimatedFillDurationComponent.new(revision: @coordinate.revision, is_annotation: @coordinate.private?)

- if @other_coordinates.present?
  - @other_coordinates.each do |other_coordinate, other_upper_coordinates|
    = turbo_stream.morph dom_id(other_coordinate, :type_de_champ_editor) do
      = render TypesDeChampEditor::ChampComponent.new(coordinate: other_coordinate, upper_coordinates: other_upper_coordinates)
