.pieces-justificatives-fields
  = f.fields_for :types_de_piece_justificative, types_de_piece_justificative, remote: true do |ff|
    .form-inline
      .form-group
        %h4 Libellé
        = ff.text_field :libelle, class: 'form-control libelle', placeholder: 'Libellé'
      .form-group
        %h4 Description
        = ff.text_area :description, class: 'form-control description', placeholder: 'Description'
      .form-group
        %h4
          Lien du formulaire vierge
          %small
            (optionel)
        = ff.url_field :lien_demarche, class: 'form-control', placeholder: 'Lien du document vierge'

      .form-group
        = ff.hidden_field :order_place, value: ff.index
        = ff.hidden_field :id
      - if ff.object.id.present?
        .form-group
          %br &nbsp;
          = button_up(@procedure, "piece_justificative", ff.index, move_up_admin_procedure_pieces_justificatives_path(@procedure, ff.index))
          = button_down(@procedure, "piece_justificative", ff.index, move_down_admin_procedure_pieces_justificatives_path(@procedure, ff.index))

      .form-group
        %h4 Obligatoire ?
        .center
          = ff.check_box :mandatory

      .form-group
        %br &nbsp;
        - if ff.object.id.nil?
          = f.submit('Ajouter la pièce', class: 'btn btn-success', id: 'add_piece_justificative')
        - else
          = link_to("", admin_procedure_piece_justificative_path(@procedure, ff.object.id), method: :delete, remote: true, id: "delete_type_de_piece_justificative_#{ff.object.id}", class: %w(form-control btn btn-danger fa fa-trash-o) )
