%h2.text-info
  =@procedure.libelle
%br

%ul.nav.nav-tabs
  %li
    = link_to('Informations', admin_procedure_path(@procedure))
  %li
    = link_to('Description', edit_admin_procedure_path(@procedure))
  %li
    = link_to('Champs', admin_procedure_types_de_champ_path(@procedure))
  %li.active
    = link_to('Pièces justificatives', admin_procedure_pieces_justificatives_path(@procedure))

#piece_justificative_form
  = render 'form'