#form_login
  %br
  = image_tag('logo-tps.png')
  %br
  %h2#gestionnaire_login Accompagnateur

  %br
  %br
  #new_user
    = form_for @gestionnaire, url: gestionnaire_session_path, method: :post do |f|
      %h4
        = f.label :email
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-user
        = f.email_field :email, class: 'form-control'
      %br
      %h4
        = f.label :password
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-asterisk
        = f.password_field :password, autocomplete: "off", class: 'form-control', value: @gestionnaire.password
      %br
      %br
      .actions
        = f.submit "Se connecter", class:'btn btn-primary'
      %br
    = render "gestionnaires/shared/links"
