= form_for service, html: { class: 'form' } do |f|

  = f.label :nom do
    Nom
    %span.mandatory *
  = f.text_field :nom, placeholder: 'service jeunesse et prévention, direction des affaires maritimes', required: true

  = f.label :organisme do
    Organisme
    %span.mandatory *
  = f.text_field :organisme, placeholder: "mairie de Mours, préfecture de l'Oise, ministère de la Culture", required: true

  = f.label :siret do
    SIRET
    %span.mandatory *
  %p
    Pour trouver votre numéro SIRET, utilisez
    %a{ href: 'https://entreprise.data.gouv.fr/', target: '_blank', rel: 'noopener' }
      entreprise.data.gouv.fr
    ou renseignez-vous auprès de votre service comptable
  = f.number_field :siret, required: true

  = f.label :type_organisme do
    Type d’organisme
    %span.mandatory *

  = f.select :type_organisme, Service.type_organismes.keys.map { |key| [ I18n.t("type_organisme.#{key}"), key] }

  %h2.header-section Informations de contact

  %p.explication Ces informations seront visibles par les utilisateurs du formulaire.

  = f.label :email do
    Adresse email
    %span.mandatory *
  = f.email_field :email, placeholder: 'contact@mon-service.fr', required: true

  = f.label :telephone do
    Numéro de téléphone
    %span.mandatory *
  = f.telephone_field :telephone, placeholder: '04 12 24 42 37', required: true

  = f.label :horaires do
    Horaires
    %span.mandatory *
  = f.text_area :horaires, placeholder: "Du lundi au vendredi de 9 h 30 à 17 h 30. Le samedi de 9 h 30 à 12 h.", required: true

  = f.label :adresse do
    Adresse
    %span.mandatory *
  = f.text_area :adresse, placeholder: "20 avenue de Ségur, 75007 Paris", required: true

  - if procedure_id.present?
    = hidden_field_tag :procedure_id, procedure_id

  .send-wrapper
    = f.submit "Valider", class: 'button send'
