-#%span.fa.fa-sign-out

-if user_signed_in?
  = render partial: 'users/login_banner'
-elsif gestionnaire_signed_in?
  .col-lg-2.col-md-2
    = render partial: 'gestionnaires/login_banner'
-elsif administrateur_signed_in?
  = render partial: 'administrateurs/login_banner'
-else
  .col-lg-5.col-md-5
    = link_to "Connexion", '/users/sign_in', :class => 'btn btn-md'
    -unless Features.unified_login
      = link_to "Accompagnateur", '/gestionnaires/sign_in', :class => 'btn btn-md'