.col-xs-7.main-info
  = @facade.dossier.procedure.libelle
.col-xs-3.options
  - if current_gestionnaire.assigned_on_procedure?(@facade.dossier.procedure_id)
    .row
      .col-xs-12
        - if current_gestionnaire.follow?(@facade.dossier)
          = link_to unfollow_dossier_path(@facade.dossier.procedure, @facade.dossier), method: :patch, class: "button-navbar-action", id: "suivre_dossier_#{@facade.dossier.id}" do
            %i.fa.fa-user-times
            Ne plus suivre
        - else
          = link_to follow_dossier_path(@facade.dossier.procedure, @facade.dossier), method: :patch, class: 'button-navbar-action', id: "suivre_dossier_#{@facade.dossier.id}" do
            %i.fa.fa-user-plus
            Suivre le dossier
    .row
      .col-xs-12
        #invitations.dropdown-toggle{ 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false }
          %i.fa.fa-user
          = t('utils.involved')
          .badge.progress-bar-info
            = @facade.dossier.invites.count
        .dropdown-menu.dropdown-menu-right.dropdown-pannel
          %h4= t('dynamics.dossiers.followers.title')
          %ul
            - if @facade.followers.present?
              - @facade.followers.each do |follower|
                %li= follower.email
            - else
              = t('dynamics.dossiers.followers.empty')
          %h4= t('dynamics.dossiers.invites.title')
          %p
            %b Attention, les invitations sur les dossiers vont disparaître en faveur des avis externes situés en bas de la page
          %ul
            - if @facade.invites.present?
              - @facade.invites.each do |invite|
                %li= invite.email
            - else
              = t('dynamics.dossiers.invites.empty')

            %li
              = form_tag invites_dossier_path(dossier_id: @facade.dossier.id), method: :post, class: 'form-inline', id: 'send-invitation' do
                = text_field_tag :email, '', class: 'form-control', placeholder: 'Envoyer une invitation', id: 'invitation-email'
                = submit_tag 'Ajouter', class: 'btn btn-success', data: { confirm: "Envoyer l'invitation ?" }
