.col-xs-7.main-info
  %span{ 'data-toggle' => :tooltip, "data-placement" => :bottom, title: @facade.dossier.procedure.libelle }
    = @facade.dossier.procedure.libelle.truncate(60)
.col-lg-3.col-md-3.col-sm-3.col-xs-3.options
  .row.centered-option
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      #invitations.dropdown-toggle{ 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false }
        %i.fa.fa-user
        = t('utils.involved')
        .badge.progress-bar-info
          = @facade.dossier.invites.count
      .dropdown-menu.dropdown-menu-right.dropdown-pannel
        %h4= t('dynamics.dossiers.followers.title')
        %ul
          - if @facade.followers.present?
            - @facade.followers.each do |follower|
              %li= follower.email
          - else
            = t('dynamics.dossiers.followers.empty')
        %h4= t('dynamics.dossiers.invites.title')
        %ul
          - if @facade.invites.present?
            - @facade.invites.each do |invite|
              %li= invite.email
          - else
            = t('dynamics.dossiers.invites.empty')

          %li
            = form_tag invites_dossier_path(dossier_id: @facade.dossier.id), method: :post, class: 'form-inline', id: 'send-invitation' do
              = text_field_tag :email, '', class: 'form-control', placeholder: 'Envoyer une invitation', id: 'invitation-email'
              = submit_tag 'Ajouter', class: 'btn btn-success', data: { confirm: "Envoyer l'invitation ?" }
