= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to('Tableau de bord', tableau_de_bord_helper_path),
                    'Profil'] }

#profil-page.container
  %h1 Profil

  .card
    .card-title Coordonnées
    %p
      Votre email est actuellement
      %span.email-address= current_user.email
    - if current_user.unconfirmed_email.present?
      .card.warning
        .card-title
          Changement en attente :
          %span.email-address= current_user.unconfirmed_email
        %p
          Pour finaliser votre changement d’adresse, vérifiez vos emails et cliquez sur le lien de confirmation.

    - if current_user.instructeur?
      %p.mb-4
        = t('.email_explications_html',
          contact_email: CONTACT_EMAIL,
          application_name: APPLICATION_NAME,
          legit_admin_domains: LEGIT_ADMIN_DOMAINS.join(', '))

    = form_for @current_user, url: update_email_path, method: :patch, html: { class: 'form' } do |f|
      = f.email_field :email, value: nil, placeholder: 'Nouvelle adresse email', required: true
      = f.submit "Changer mon adresse", class: 'button primary'

  - if !instructeur_signed_in?
    .card
      .card-title= t('.transfer_title')
      = t('.transfer_explication_html')

      = form_tag transfer_all_dossiers_path, class: 'form'  do
        = email_field_tag :next_owner, nil, required: true
        = submit_tag "Transférer tous mes dossiers", class: 'button primary', data: { confirm: t('.transfer_confirmation') }

      - if @waiting_transfers.any?
        .card.warning
          .card-title= t('.waiting_transfers')
          %ul
            - @waiting_transfers.each do |email, nb_dossier|
              %li= t('.one_waiting_transfer', email: email, count: nb_dossier)

  - if current_administrateur.present?
    .card
      .card-title Jeton d’identification de l’API (token)
      %p Ce jeton est nécessaire pour effectuer des appels vers l’API de #{APPLICATION_NAME}.

      - if defined?(@token)
        %p Jeton : <b>#{@token}</b>
        %p Pour des raisons de sécurité, ce jeton ne sera plus ré-affiché, notez-le bien.

      - else
        %p Pour des raisons de sécurité, nous ne pouvons vous l’afficher que lors de sa génération.
        %p Attention, si vous avez déjà des applications qui utilisent votre jeton, le regénérer bloquera leurs accès à l’API.

      = link_to "Regénérer et afficher mon jeton",
        renew_api_token_path,
        method: :post,
        class: "button primary",
        data: { confirm: "Confirmez-vous la regénération de votre jeton ? Les applications qui l’utilisent actuellement seront bloquées.",
                disable: true }
