= # we do this trick because some html elements should use 'label' and some should be plain paragraphs

- if @champ.html_label?
  = @form.label @champ.main_value_name, id: @champ.labelledby_id, for: @champ.input_id, class: 'fr-label' do
    - render EditableChamp::ChampLabelContentComponent.new form: @form, champ: @champ, seen_at: @seen_at
  - if @champ.description.present?
    .fr-hint-text{ id: @champ.describedby_id }= render SimpleFormatComponent.new(@champ.description, allow_a: true)
  - if @champ.type_de_champ.options[:expression_reguliere_indications].present?
    .fr-hint-text{ id: @champ.describedby_id }= @champ.type_de_champ.options[:expression_reguliere_indications]
- elsif @champ.legend_label?
  %legend.fr-fieldset__legend.fr-text--regular.fr-pb-1w{ id: @champ.labelledby_id }= render EditableChamp::ChampLabelContentComponent.new form: @form, champ: @champ, seen_at: @seen_at
  - if @champ.description.present?
    .fr-hint-text.fr-mt-n1w.fr-mb-1w.fr-pl-1w.width-100{ id: @champ.describedby_id }= render SimpleFormatComponent.new(@champ.description, allow_a: true)
