= @champ.libelle
- if @champ.public?
  - if @champ.mandatory?
    = render EditableChamp::AsteriskMandatoryComponent.new
  - else
    %span.sr-only= t('.optional_champ')

- if @champ.forked_with_changes?
  %span.updated-at.highlighted
    = t('.changes_to_save')
- elsif @champ.updated_at.present? && @seen_at.present?
  %span.updated-at{ class: highlight_if_unseen_class }
    = t('.modified_at', datetime: try_format_datetime(@champ.updated_at))


- if @champ.rebased_at.present? && @champ.rebased_at > (@seen_at || @champ.updated_at) && current_user.owns_or_invite?(@champ.dossier)
  %span.updated-at.highlighted
    = t('.check_content_rebased')

- if hint?
  %span.fr-hint-text{ data: { controller: 'date-input-hint' } }= hint

- if @champ.description.present?
  %span.fr-hint-text{ id: @champ.describedby_id }= render SimpleFormatComponent.new(@champ.description, allow_a: true)

- if @champ.textarea?
  %span.sr-only= t('.recommended_size', size: @champ.character_limit_base)
