= @champ.libelle
- if @champ.public?
  - if @champ.mandatory?
    = render EditableChamp::AsteriskMandatoryComponent.new

- if @champ.user_buffer_changes?
  %span.updated-at.highlighted
    = t('.changes_to_save')
- elsif @champ.updated_at.present? && @seen_at.present?
  %span.updated-at{ class: highlight_if_unseen_class }
    = t('.modified_at', datetime: try_format_datetime(@champ.updated_at))

- if rebased?
  %span.updated-at.highlighted
    = t('.check_content_rebased')

- if hint?
  %span.fr-hint-text{ data: { controller: 'date-input-hint' } }= hint

- if @champ.textarea? && @champ.character_limit_base&.positive?
  %span.fr-hint-text= t('.recommended_size', size: @champ.character_limit_base)
