- if auto_switch?
  :javascript
    const hintUrl = "#{request.protocol}#{ApplicationHelper::APP_HOST}/favicon.ico"

    fetch(hintUrl, { mode: 'cors' }).then(() => {
      window.location = '#{new_host_url}';
    }).catch((e) => {
      const error = new Error("Connection test on new host failed: " + e);
      const event = new CustomEvent("sentry:capture-exception", { detail: error });

      // listener is not immediately enabled, so wait a little bit
      setTimeout(() => {
        dispatchEvent(event);
        document.getElementById("banner_auto_switch_error")?.classList?.remove("hidden");
      }, 100);
    })


= render Dsfr::NoticeComponent.new(closable: true, data_attributes: { "data-switch-domain-notice" => true }) do |c|
  - c.with_title do
    = t(".message_new_domain")
    -# haml-lint:disable ApplicationNameLinter
    = "#{helpers.link_to "demarches.numerique.gouv.fr", new_host_url}."
    -# haml-lint:enable ApplicationNameLinter

    - if manual_switch?
      = t(".follow_link")
    - elsif auto_switch?
      %span#banner_auto_switch_error.hidden= t(".detected_error")

- if user && !user.preferred_domain_demarches_gouv_fr? && requested_from_new_domain?
  = form_tag(helpers.preferred_domain_path, method: :patch, remote: true, name: "update-preferred-domain") do
    :javascript
      document.addEventListener('noticeClosed', function(e) {
        document.forms['update-preferred-domain'].submit();
      });
