%p
  Bonjour,

%p
  L’utilisateur
  = @invite.email_sender
  souhaite que vous participiez à l'élaboration d’un dossier sur #{Current.application_name}.

- if @invite.message.present?
  %blockquote
    = simple_format(@invite.message)

%p
  Pour le consulter, merci de suivre ce lien :
  = link_to @url, @url

= render partial: "layouts/mailers/signature"
