%section.ask-avis
  %h1.tab-title Inviter des personnes à donner leur avis
  %p.avis-notice Les invités pourront consulter le dossier, donner un avis et contribuer au fil de messagerie. Ils ne pourront pas modifier le dossier.

  = form_for avis, url: url, html: { class: 'form' } do |f|
    = f.email_field :emails, placeholder: 'Adresses email, séparées par des virgules', required: true, multiple: true, onchange: "javascript:DS.replaceSemicolonByComma(event);"
    = f.text_area :introduction, rows: 3, value: avis.introduction || 'Bonjour, merci de me donner votre avis sur ce dossier.', required: true
    %p.tab-title Ajouter une pièce jointe
    .form-group
      = text_upload_and_render f, avis.introduction_file

    - if linked_dossiers.present?
      = f.check_box :invite_linked_dossiers, {}, true, false
      = f.label :invite_linked_dossiers, t('helpers.label.invite_linked_dossiers', count: linked_dossiers.length, ids: linked_dossiers.map(&:id).to_sentence)

    .flex.justify-between.align-baseline
      - if must_be_confidentiel
        %p.confidentiel.flex
          %span.icon.lock
          %span
            Cet avis sera confidentiel : il ne sera pas affiché aux autres experts consultés, mais sera visible par les instructeurs.

      - else
        .confidentiel-wrapper
          = f.label :confidentiel, 'Cet avis sera '
          = f.select :confidentiel, [['partagé avec les autres experts', false], ['confidentiel', true]], {}, onchange: "javascript:DS.toggleCondidentielExplanation(event);"
          .confidentiel-explanation.hidden
            Il ne sera pas affiché aux autres experts consultés, mais sera visible par les instructeurs.

    = f.submit 'Demander un avis', class: 'button primary send'
