.container
  = form_for @administrateur, url: { controller: 'administrateurs/activate', action: :create }, html: { class: "form" } do |f|
    %br
    %h1
      = @administrateur.email
    = f.password_field :password, placeholder: 'Mot de passe'
    = f.hidden_field :reset_password_token, value: params[:token]
    = f.submit 'Définir le mot de passe', class: 'button large primary expand'
