- content_for(:title, t('.title'))

- content_for :footer do
  = render partial: "root/footer"

.fr-container.fr-my-5w
  .fr-grid-row.fr-grid-row--center
    .fr-col-lg-6
      = form_for @administrateur, url: { controller: 'administrateurs/activate', action: :create } do |f|
        = f.hidden_field :reset_password_token, value: @token

        %fieldset.fr-mb-0.fr-fieldset{ aria: { labelledby: 'edit-password-legend' } }
          %legend.fr-fieldset__legend#edit-password-legend
            %h1.fr-h2= t('.title')

          .fr-fieldset__element
            = render Dsfr::InputComponent.new(form: f, attribute: :email, opts: { disabled: true })

          .fr-fieldset__element
            = render Dsfr::InputComponent.new(form: f, attribute: :password, input_type: :password_field,
              opts: { autofocus: 'true',
              autocomplete: 'new-password',
              data: { controller: 'turbo-input',
                turbo_input_url_value: show_password_complexity_path,
                turbo_input_method_value: 'post' },
              aria: {describedby: 'password_hint'}})

            #password_complexity
              = render PasswordComplexityComponent.new

        = f.submit t('.continue'), id: 'submit-password', disabled: :disabled, class: "fr-btn fr-btn--lg fr-mt-2w", data: { disable_with: t('views.users.passwords.edit.submit_loading') }
