- if params[:id] == 'closed_mail'
  = render partial: 'admin/closed_mail_template_attestation_inconsistency_alert'
.white-back
  %h3
    = @mail_template.class.const_get(:DISPLAYED_NAME)

  = simple_form_for @mail_template,
    as: 'mail_template',
    url: admin_procedure_mail_template_path(@procedure, @mail_template.class.const_get(:SLUG)),
    method: :put do |f|
    .row
      .col-md-6
        = f.input :subject, label: "Objet de l'email"
    = f.input :body, label: "Corps de l'email", input_html: { class: 'wysihtml5' }
    .text-right
      = link_to "Annuler", admin_procedure_mail_templates_path(@procedure), class: "btn btn-default"
      = f.button :submit, 'Mettre à jour', class: "btn-success"
      = link_to "Prévisualiser", preview_procedure_mail_template_path(@procedure, @mail_template.class.const_get(:SLUG)), class: "btn btn-primary", target: "_blank"

  .row
    .col-md-12
      %table.table
        %tr
          %th.col-md-3
            Balise
          %th
            Description
        - @mail_template.tags.each do |tag|
          %tr
            %td
              %code{ style: "white-space: pre-wrap;" }
                = "--#{tag[:libelle]}--"
            %td
              = tag[:description]
