%main#content{ role: "main" }
  .fr-container
    .fr-my-7w.fr-mt-md-12w.fr-mb-md-10w.fr-grid-row.fr-grid-row--gutters.fr-grid-row--middle.fr-grid-row--center
      .fr-py-0.fr-col-12.fr-col-md-6
        %h1= @error_name
        %p.fr-text--sm.fr-mb-3w Erreur #{@status}
        %p.fr-text--lead.fr-mb-3w Une erreur empêche le chargement de cette page.

        - if @error_name.present? # valid error code
          %p.fr-text--sm.fr-mb-5w
            = link_to("Qu’est-ce que cela veut dire ?", "https://developer.mozilla.org/fr/docs/Web/HTTP/Status/#{@status}", **external_link_attributes)

        %ul.fr-btns-group.fr-btns-group--inline-md
          %li
            = link_to("Page d’accueil", root_path, class: "fr-btn")
          %li
            = link_to("Contactez-nous", contact_path, class: "fr-btn fr-btn--secondary")

      = render partial: "artwork"
