= link_to admin_procedure_groupe_instructeurs_path(@procedure), id: 'groupe-instructeurs', class: 'fr-tile fr-enlarge-link' do
  .fr-tile__body.flex.justify-between
    - if @procedure.routee? || @procedure.instructeurs.size > 1
      %div
        %span.icon.accept
        %p.fr-tile-status-accept Validé
    - else
      %div
        %span.icon.clock
        %p.fr-tile-status-todo À faire
    %div
      .line-count.fr-my-1w
        - if @procedure.routee?
          %p.fr-tag= @procedure.groupe_instructeurs.size
        - else
          %p.fr-tag= @procedure.instructeurs.size

      %h3.fr-h6
        = @procedure.routee? ? t('.routee.title', count: @procedure.groupe_instructeurs.size) : t('.title', count: @procedure.instructeurs.size)
      %p.fr-tile-subtitle Suivi des dossiers
    %p.fr-btn.fr-btn--tertiary= t('views.shared.actions.edit')
