%p
  Bonjour,

%p
  L’instructeur « #{@email} » a été retiré du groupe « #{@group.label} » par « #{@current_instructeur_email} », en charge de la démarche « #{@group.procedure.libelle} ».

%p
  Cliquez sur le lien ci-dessous pour voir la liste des instructeurs de ce groupe :
  = link_to(@group.label, procedure_groupe_instructeur_url(@group.procedure, @group))

= render partial: "layouts/mailers/signature"
