- if @procedure.locked?
  .card.warning
    .card-title Cette démarche est publiée.
    Certains éléments de la description ne sont plus modifiables.

= f.label :libelle do
  Titre de la démarche
  %span.mandatory *
= f.text_field :libelle, class: 'form-control', placeholder: 'Titre'

= f.label :description do
  Description
  %span.mandatory *
= f.text_area :description, rows: '6', placeholder: 'Description de la démarche, destinataires, etc. ', class: 'form-control'

%h3.header-subsection Logo de la démarche
= image_upload_and_render f, @procedure.logo

%h3.header-subsection Conservation des données
= f.label :duree_conservation_dossiers_dans_ds do
  Sur #{APPLICATION_NAME}
  %span.mandatory *

%p.notice (durée en mois après le début de l’instruction)
= f.number_field :duree_conservation_dossiers_dans_ds, class: 'form-control', placeholder: '6', required: true

- if @procedure.created_at.present?
  = f.label :lien_site_web do
    Où les usagers trouveront-ils le lien vers la démarche ?
  = f.text_field :lien_site_web, class: 'form-control', placeholder: 'https://exemple.gouv.fr/ma_demarche'

%h3.header-subsection
  Cadre juridique
  %span.mandatory *

%p.notice
  Le cadre juridique justifie le droit de collecter les données demandées dans votre démarche auprès des usagers. Par exemple :
  %br
  • Texte de loi (loi, décret, circulaire, arrêté…)
  %br
  • Texte juridique (statuts, délibération, décision du conseil d'administration…)
  %br
  = link_to("En savoir plus avec cette vidéo de 5 minutes", CADRE_JURIDIQUE_URL, target: "_blank", rel: "noopener")

%p.notice
  Vous pouvez saisir un lien web vers ce texte, ou l’importer depuis un fichier.

= f.label :cadre_juridique, 'Lien vers le texte'
= f.text_field :cadre_juridique, class: 'form-control', placeholder: 'https://www.legifrance.gouv.fr/'

= f.label :deliberation, 'Importer le texte'
= text_upload_and_render f, @procedure.deliberation

%h3.header-subsection Notice explicative de la démarche

%p.notice
  Une notice explicative est un document destiné à guider l’usager dans sa démarche. C’est un document que vous avez élaboré et qui peut prendre la forme d’un fichier doc, d’un pdf ou encore de diapositives. Le bouton pour télécharger cette notice apparaît en haut du formulaire pour l’usager.

= f.label :notice, 'Notice'
%p.notice
  Formats acceptés : .doc, .odt, .pdf, .ppt, .pptx
- notice = @procedure.notice
= text_upload_and_render f, @procedure.notice

- if !@procedure.locked?
  %h3.header-subsection À qui s’adresse ma démarche ?
  .radios.vertical
    = f.label :for_individual, value: true do
      = f.radio_button :for_individual, true
      Ma démarche s’adresse à un particulier
      %p.notice En choisissant cette option, l’usager devra renseigner son nom et prénom avant d’accéder au formulaire

    = f.label :for_individual, value: false do
      = f.radio_button :for_individual, false
      Ma démarche s’adresse à une personne morale
      %p.notice
        En choisissant cette option, l’usager devra renseigner son n° TAHITI.<br>Grâce à l’ISPF et l'API I-Taiete, les informations sur la personne morale (raison sociale, adresse du siège, etc.) seront automatiquement renseignées.

  %p.explication
    Si votre démarche s’adresse indifféremment à une personne morale ou un particulier, choisissez l'option « Particuliers ». Vous pourrez ajouter un champ 'numero TAHITI' directement dans le formulaire.

%h2.header-section
  Cadre relatif au RGS et RGPD
.notice
  Le référentiel général de sécurité (RGS), le règlement général de protection des données (RGPD) et le niveau de sécurité
  actuellement de la plateforme Mes-Démarches imposent un cadre pour la collecte et le traitement des données.
  <b>En cochant les cases ci-dessous</b>, vous reconnaissez avoir pris connaissance de ces informations et du cadre d'usage du service.<br />
  Pour vous aider, pensez à nous contacter via ce
  = link_to "formulaire", contact_admin_path
  <br /><br />

= f.label :rgpd do
  RGPD
  %span.mandatory *
  .checkboxes
    .notice
      %p
        Au titre du règlement général pour la protection des données personnelles (RGPD) et
        de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
        certaines données dites "sensibles" ou "particulières" font l'objet d'une protection spécifique.
        Sont considérées comme telles :
      %ul
        %li les données de santé, les données génétiques ou biométriques,
        %li les données relatives aux infractions et condamnations pénales,
        %li les données révélant l'origine raciale ou ethnique,
        %li les opinions politiques, les convictions religieuses ou philosophiques, l’appartenance syndicale, la vie ou l’orientation sexuelle d'un usager,
        %li le numéro d'inscription au répertoire national d'identification des personnes physiques (NIR).
      %p
        La collecte des données de certaines catégories de la population, jugées plus vulnérables,
        doit également faire l'objet de précautions.
        C'est le cas des personnes âgées, des enfants, des personnes souffrant de handicap,
        des personnes en situation de précarité sociale.<br/>
        Par exemple : un <b>certificat médical</b>, un <b>extrait de casier judiciaire</b>, des informations sur le <b>handicap</b>,
        une <b>délégation de l'autorité parentale</b>...<br/>
      %p
        Si vos formulaires contiennent des données sensibles, vous vous engagez à nous contacter pour trouver des solutions via ce
        = link_to "formulaire.", contact_admin_path
    = check_box_tag 'rgpd', '1', @terms_of_use_read ? @terms_of_use_read[:rgpd].present? : @procedure.created_at.present?
    J’ai pris connaissance du cadre d'usage pour le RGPD

= label_tag 'rgs_stamp' do
  Cachets et signatures électroniques
  %span.mandatory *
  .checkboxes
    .notice
      %p
        La plateforme #{APPLICATION_NAME} peut fournir des attestations vérifiables via un QR code et ne fournit pas de cachet ou signature électronique.
        Si votre démarche comporte une décision avec une signature ou un cachet, vous pouvez nous contacter pour évaluer les risques et les solutions via ce
        = link_to "formulaire.", contact_admin_path
    = check_box_tag 'rgs_stamp', '1', @terms_of_use_read ? @terms_of_use_read[:rgs_stamp].present? : @procedure.created_at.present?
    J’ai pris connaissance du cadre d'usage cachet/signatures

= label_tag 'rgs_timestamp' do
  Horodatage
  .checkboxes
    .notice
      %p
        La plateforme dispose depuis le 6 Juin 2019 d'un service d'horodatage permettant de certifier les dates de changement d'état d'un dossier
        (construction, instruction, ...) et les dates de reception des avis.

%details.procedure-form__options-details
  %summary.procedure-form__options-summary
    %h3.header-subsection Options avancées

  - if feature_enabled?(:administrateur_web_hook)
    = f.label :web_hook_url do
      Lien de rappel HTTP (webhook)
    %p.notice
      Vous pouvez définir un lien de rappel HTTP (aussi appelé webhook) pour notifier un service tiers du changement de l'état d’un dossier de cette démarche sur #{APPLICATION_NAME}.
      = link_to("Consulter la documentation du webhook", WEBHOOK_DOC_URL, target: "_blank", rel: "noopener")
    = f.text_field :web_hook_url, class: 'form-control', placeholder: 'https://callback.exemple.fr/'

  = f.label :auto_archive_on do
    Date limite de dépôt des dossiers
  %p.notice
    Si une date est définie, aucun dossier ne pourra plus être déposé ou modifié après cette limite.
  %p.notice
    Le
    - value = @procedure.auto_archive_on ? @procedure.auto_archive_on - 1.day : nil
    = f.date_field :auto_archive_on, id: 'auto_archive_on', value: value
    #{procedure_auto_archive_time(@procedure)}.

  = f.label :declarative_with_state do
    Démarche déclarative
  %p.notice
    Par défaut, un dossier déposé peut être complété ou corrigé par le demandeur jusqu'à sa mise en instruction.<br>
    Dans une démarche déclarative, une fois déposé, un dossier ne peut plus être modifié.
    Soit il passe immédiatement « en instruction » pour être traité soit il est immédiatement « accepté ».
  = f.select :declarative_with_state, Procedure.declarative_attributes_for_select, { include_blank: 'Non' }, class: 'form-control'
