.dossiers-headers.sub-header
  .container
    %h1.page-title Prévisualisation de la démarche «&nbsp;#{@dossier.procedure.libelle}&nbsp;»

    %ul.tabs
      = tab_item('le dossier',
        apercu_procedure_path(@dossier.procedure, tab: 'dossier'),
        active: @tab == 'dossier')
      - if @dossier.champs_private.size > 0
        = tab_item('les annotations privées',
          apercu_procedure_path(@dossier.procedure, tab: 'annotations-privees'),
          active: @tab == 'annotations-privees')

- if @tab == 'dossier'
  = render partial: "shared/dossiers/edit", locals: { dossier: @dossier, apercu: true }
- else
  .container
    = form_for @dossier, url: '', method: :get, html: { class: 'form' } do |f|
      = f.fields_for :champs_private, @dossier.champs_private do |champ_form|
        - champ = champ_form.object
        = render partial: "shared/dossiers/editable_champs/editable_champ",
          locals: { champ: champ, form: champ_form }
