= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    "#{@procedure.libelle}", ],
            metadatas: ["Créée le #{@procedure.created_at.strftime('%d/%m/%Y')} - n° #{@procedure.id}", "#{@procedure.close? ? "Close le #{@procedure.closed_at.strftime('%d/%m/%Y')}" : @procedure.locked? ? "Publiée - #{procedure_lien(@procedure)}" : "Brouillon"}"] }

.container.procedure-admin-container
  = link_to apercu_admin_procedure_path(@procedure), class: 'button', id: "preview-procedure" do
    %span.icon.preview
    Prévisualiser

  - if @procedure.brouillon?
    = link_to sanitize_url(@procedure_lien), target: :blank, rel: :noopener, class: 'button' do
      %span.icon.in-progress
      Tester

  - if @procedure.publiee? || @procedure.brouillon?
    = link_to admin_procedure_transfert_path(@procedure), class: 'button' do
      %span.icon.reply
      Envoyer une copie

  - if !@procedure.publiee? && !@procedure.close? && !@procedure.depubliee?
    = link_to 'Publier', admin_procedure_publication_path(@procedure), class: 'button primary', id: 'publish-procedure-link', data: { disable_with: "Publication..." }

  - if @procedure.close? || @procedure.depubliee?
    = link_to 'Réactiver', admin_procedure_publication_path(@procedure), class: 'button primary', id: 'publish-procedure-link', data: { disable_with: "Publication..." }

  - if @procedure.locked? && !@procedure.close?
    = link_to admin_procedure_archive_path(procedure_id: @procedure.id), method: :put, class: 'button', id: "close-procedure-link", data: { confirm:  "Voulez-vous vraiment clore la démarche ? \nLes dossiers en cours pourront être instruits, mais aucun nouveau dossier ne pourra plus être déposé.", disable_with: "Archivage..."} do
      %span.icon.archive
      Clore

  - if @procedure.draft_changed?
    = link_to 'Publier les modifications', admin_procedure_publication_path(@procedure), class: 'button primary', id: 'publish-procedure-link', data: { disable_with: "Publication..." }

- if @procedure.draft_changed?
  .container
    .card.featured
      .card-title
        Des champs ont été changés
      = render partial: 'revision_changes', locals: { changes: @procedure.revision_changes }

.container
  %h2.procedure-admin-explanation Indispensable avant publication
  .procedure-grid
    .card-admin
      %div
        %span.icon.accept
        %p.card-admin-status-accept Validé
      %div
        %p.card-admin-title Présentation
        %p.card-admin-subtitle Logo, nom, description
      .card-admin-action
        = link_to 'Modifier', edit_admin_procedure_path(@procedure), class: 'button', id: "presentation"

    - if !@procedure.locked? || @procedure.feature_enabled?(:procedure_revisions)
      .card-admin
        - if @procedure.draft_types_de_champ.count > 0
          %div
            %span.icon.accept
            %p.card-admin-status-accept Validé
        - else
          %div
            %span.icon.clock
            %p.card-admin-status-todo À faire
        %div
          %p.card-admin-title
            %span.badge.baseline= @procedure.draft_types_de_champ.count
            Champs du formulaire
          %p.card-admin-subtitle À remplir par les usagers
        .card-admin-action
          = link_to 'Modifier', champs_admin_procedure_path(@procedure), class: 'button'

    .card-admin
      - if @procedure.service_id.present?
        %div
          %span.icon.accept
          %p.card-admin-status-accept Validé
      - else
        %div
          %span.icon.clock
          %p.card-admin-status-todo À faire
      %div
        %p.card-admin-title Service
        %p.card-admin-subtitle
          - if @procedure.service_id.present?
            = @procedure.service.nom
          - else
            Choix du service administratif
      .card-admin-action
        - if @procedure.service.present?
          = link_to 'Modifier', edit_admin_service_path(@procedure.service, procedure_id: @procedure.id), class: 'button'
        - elsif current_administrateur.services.present?
          = link_to 'Choisir', admin_services_path(procedure_id: @procedure.id), class: 'button'
        - else
          = link_to 'Remplir', new_admin_service_path(procedure_id: @procedure.id), class: 'button'

    .card-admin
      %div
        %span.icon.accept
        %p.card-admin-status-accept Validé
      %div
        %p.card-admin-title
          %span.badge.baseline= @procedure.administrateurs.count
          #{"Administrateur".pluralize(@procedure.administrateurs.count)}

        %p.card-admin-subtitle Gestion de la démarche
      .card-admin-action
        = link_to 'Modifier', admin_procedure_administrateurs_path(@procedure), class: 'button', id: "administrateurs"

    .card-admin
      - if feature_enabled?(:administrateur_routage)
        %div
          %span.icon.accept
          %p.card-admin-status-accept Validé
      - elsif @procedure.instructeurs.count > 1
        %div
          %span.icon.accept
          %p.card-admin-status-accept Validé
      - else
        %div
          %span.icon.clock
          %p.card-admin-status-todo À faire
      %div
        %p.card-admin-title
          - if feature_enabled?(:administrateur_routage)
            %span.badge.baseline= @procedure.groupe_instructeurs.count
          - else
            %span.badge.baseline= @procedure.instructeurs.count

          = feature_enabled?(:administrateur_routage) ? "Groupe Instructeurs" : "#{"Instructeur".pluralize(@procedure.instructeurs.count)}"
        %p.card-admin-subtitle Suivi des dossiers
      .card-admin-action
        - if feature_enabled?(:administrateur_routage)
          = link_to 'Modifier', admin_procedure_groupe_instructeurs_path(@procedure), class: 'button', id: "groupe-instructeurs"
        - else
          = link_to 'Modifier', admin_procedure_groupe_instructeur_path(@procedure, @procedure.defaut_groupe_instructeur), class: 'button', id: "instructeurs"

  %h2.procedure-admin-explanation Pour aller plus loin
  .procedure-grid
    .card-admin
      - if @procedure.attestation_template.present? && @procedure.attestation_template.activated
        %div
          %span.icon.accept
          %p.card-admin-status-accept Activée
      - else
        %div
          %span.icon.clock
          %p.card-admin-status-todo Désactivée
      %div
        %p.card-admin-title Attestation
        %p.card-admin-subtitle Délivrance automatique pour les dossiers acceptés
      .card-admin-action
        = link_to 'Modifier', edit_admin_procedure_attestation_template_path(@procedure), class: 'button'

    .card-admin
      %div
        %span.icon.preview
        %p.card-admin-status-todo À configurer

      %div
        %p.card-admin-title Avis externes
        %p.card-admin-subtitle Gérer les avis des experts invités

      .card-admin-action
        = link_to "Modifier", admin_procedure_experts_path(@procedure), class: 'button'


    .card-admin
      %div
        %span.icon.clock
        %p.card-admin-status-todo À configurer
      %div
        %p.card-admin-title Configuration des emails
        %p.card-admin-subtitle Notifications automatiques
      .card-admin-action
        = link_to 'Modifier', admin_procedure_mail_templates_path(@procedure), class: 'button'

    - if !@procedure.locked? || @procedure.feature_enabled?(:procedure_revisions)
      .card-admin
        - if @procedure.draft_types_de_champ_private.present?
          %div
            %span.icon.accept
            %p.card-admin-status-accept Validé
        - else
          %div
            %span.icon.clock
            %p.card-admin-status-todo À configurer
        %div
          %p.card-admin-title Annotations privées
          %p.card-admin-subtitle Champs à remplir par l’administration
        .card-admin-action
          = link_to 'Modifier', annotations_admin_procedure_path(@procedure), class: 'button'

    .card-admin
      - if @procedure.api_entreprise_token.present?
        %div
          %span.icon.accept
          %p.card-admin-status-accept Validé
      - else
        %div
          %span.icon.clock
          %p.card-admin-status-todo À configurer
      %div
        %p.card-admin-title Jeton
        %p.card-admin-subtitle Configurer le jeton API entreprise
      .card-admin-action
        = link_to 'Modifier', jeton_admin_procedure_path(@procedure), class: 'button'

    .card-admin
      - if @procedure.monavis_embed.present?
        %div
          %span.icon.accept
          %p.card-admin-status-accept Validé
      - else
        %div
          %span.icon.clock
          %p.card-admin-status-todo À configurer
      %div
        %p.card-admin-title MonAvis
        %p.card-admin-subtitle Avis des usagers sur votre démarche
      .card-admin-action
        = link_to 'Modifier', monavis_admin_procedure_path(@procedure), class: 'button'
