- if @champ.render_as_radios?
  .fr-fieldset__content
    - items.each do |value, option_id|
      .fr-radio-group
        = @form.radio_button :value, option_id, id: @champ.radio_id(option_id), translate: 'no'
        %label.fr-label{ for: @champ.radio_id(option_id) }
          = value

    - if !@champ.mandatory?
      .fr-radio-group
        = @form.radio_button :value, '', checked: @champ.value.blank? && !@champ.other?, id: @champ.radio_id(:blank)
        %label.fr-label{ for: @champ.radio_id(:blank) }
          Non renseigné

- elsif @champ.render_as_combobox?
  %react-fragment
    = render ReactComponent.new "ComboBox/SingleComboBox", **react_props
- else
  = @form.select :value,
    items,
    { selected: @champ.selected, include_blank: true },
    { required: @champ.required?,
    id: @champ.input_id,
    class: select_class_names,
    aria: { describedby: select_aria_describedby },
    translate: 'no' }

- if @champ.drop_down_other?
  %div{ class: other_element_class_names }
    = render EditableChamp::DropDownOtherInputComponent.new(form: @form, champ: @champ)
