= render partial: 'new_administrateur/breadcrumbs',
  locals: { steps: [link_to('Démarches', admin_procedures_path),
                    link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                    link_to('Jeton Particulier', admin_procedure_jetons_particulier_path(@procedure)),
                    'Jeton'] }

.container
  %h1.page-title
    Configurer le jeton API Particulier

.container
  %h1
  = form_with model: @procedure, url: update_jeton_admin_procedure_jetons_particulier_path, local: true, html: { class: 'form' } do |f|
    %p.explication
      Démarches Simplifiées utilise
      = link_to 'API Particulier', "https://api.gouv.fr/les-api/api-particulier"
      qui permet de récupérer les données fiscales (DGFIP), familiales (CAF),
      le statut pôle-emploi et le statut étudiant d'un citoyen.
      Si votre démarche nécessite des autorisations spécifiques que Démarches
      Simplifiées n'a pas par défaut, merci de renseigner ici le jeton
      = link_to 'API Particulier', "https://api.gouv.fr/les-api/api-particulier/demande-acces"
      propre à votre démarche.

    = f.label :api_particulier_token, "Jeton"
    = f.password_field :api_particulier_token, value: @procedure.read_attribute(:api_particulier_token), class: 'form-control'
    .text-right
      = f.button 'Enregistrer', class: 'button primary send'
