.fr-p-3w.fr-mt-1w.external-champ
  - if source.present?
    %span.source.pull-right.fr-tag.fr-fi-information-line.fr-tag--icon-left.fr-tag--sm.font-weight-normal
      Source : #{source}

  - if header.present?
    = header

  - if data.present?
    %dl
      - data.each do |label, value, opts = {}|
        .champ-row
          %dt.champ-label= label
          %dd.champ-content{ class: class_names('copy-zone': opts.fetch(:copy, true)), 'data-to-copy': opts.fetch(:data_to_copy, nil) }
            = value
            %span{ 'data-copy-message-placeholder': true }

    - if details.present?
      %details
        %summary.fr-btn.fr-btn--tertiary-no-outline.fr-icon-arrow-down-s-line.fr-btn--icon-right.fr-btn--sm
          %span.more-information= t('.more_information')
          %span.less-information= t('.less_information')
        %dl
          - details.each do |label, value, opts = {}|
            .champ-row
              %dt.champ-label= label
              %dd.champ-content{ class: class_names('copy-zone': opts.fetch(:copy, true)), 'data-to-copy': opts.fetch(:data_to_copy, nil) }
                = value
                %span{ 'data-copy-message-placeholder': true }

        - if details_footer.present?
          .champ-row
            = render(details_footer)
