.sub-header
  .container
    %ul.breadcrumbs
      %li= link_to('Avis', gestionnaire_avis_index_path)
      %li= "#{dossier.procedure.libelle}, dossier nº #{dossier.id}"

    %ul.tabs
      %li{ class: current_page?(gestionnaire_avis_path(avis)) ? 'active' : nil }
        = link_to 'Demande', gestionnaire_avis_path(avis)
      %li{ class: current_page?(instruction_gestionnaire_avis_path(avis)) ? 'active' : nil }
        = link_to 'Avis', instruction_gestionnaire_avis_path(avis)
        - if avis.answer == nil
          %span.notifications{ 'aria-label': 'notifications' }
      %li{ class: current_page?(messagerie_gestionnaire_avis_path(avis)) ? 'active' : nil }
        = link_to 'Messagerie', messagerie_gestionnaire_avis_path(avis)
