#avis-show
  = render partial: 'header', locals: { avis: @avis, dossier: @dossier }

  .container
    .backoffice-title Identité du demandeur
    .card
      - if @dossier.entreprise.present?
        = render partial: 'new_gestionnaire/dossiers/identite_entreprise', locals: { entreprise: @dossier.entreprise }

      - if @dossier.individual.present?
        = render partial: 'new_gestionnaire/dossiers/identite_individual', locals: { individual: @dossier.individual }

    .backoffice-title Formulaire
    - champs = @dossier.ordered_champs.decorate
    - if champs.any?
      .card.featured
        = render partial: 'new_gestionnaire/dossiers/champs', locals: { champs: champs }

    - if @dossier.procedure.use_api_carto
      .backoffice-title Cartographie
      = render partial: 'new_gestionnaire/dossiers/map', locals: { dossier: @dossier }

    - if @dossier.procedure.cerfa_flag? || @dossier.types_de_piece_justificative.any?
      .card.featured
        .card-title Pièces jointes

        %table.table.vertical
          %tbody
            - if @dossier.procedure.cerfa_flag?
              %tr
                %th Formulaire :
                %td
                  - if @dossier.cerfa_available?
                    = link_to 'Télécharger', @dossier.cerfa.last.content_url, class: 'button', target: :blank
                  - else
                    Pièce non fournie

            - @dossier.procedure.types_de_piece_justificative.each do |type_de_piece_justificative|
              %tr
                %th= "#{type_de_piece_justificative.libelle} :"
                %td
                  - pj = @dossier.retrieve_last_piece_justificative_by_type(type_de_piece_justificative.id)
                  - if pj.present?
                    Pièce fournie -
                    = link_to "Consulter", pj.content_url, class: "link", target: :blank
                  - else
                    Pièce non fournie
