- content_for(:title, "Demande · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

#avis-show
  = render partial: 'header', locals: { avis: @avis, dossier: @dossier }

  .container
    .page-title Identité du demandeur
    .card
      - if @dossier.entreprise.present?
        = render partial: 'new_gestionnaire/dossiers/identite_entreprise', locals: { entreprise: @dossier.entreprise }

      - if @dossier.individual.present?
        = render partial: 'new_gestionnaire/dossiers/identite_individual', locals: { individual: @dossier.individual }

    .page-title Formulaire
    - champs = @dossier.ordered_champs.decorate
    - if champs.any?
      .card
        = render partial: 'new_gestionnaire/dossiers/champs', locals: { champs: champs, dossier: @dossier, demande_seen_at: nil }

    - if @dossier.procedure.use_api_carto
      .page-title Cartographie
      .card
        = render partial: 'new_gestionnaire/dossiers/map', locals: { dossier: @dossier }

    - if @dossier.procedure.cerfa_flag? || @dossier.types_de_piece_justificative.any?
      .page-title Pièces jointes
      .card
        = render partial: "new_gestionnaire/dossiers/pieces_jointes", locals: { dossier: @dossier, demande_seen_at: nil }
