%tr.procedure{ id: "procedure_#{procedure.id}" }
  %td
    - title = show_detail ? 'Cacher les détails de la démarche' : 'Afficher les détails de la démarche'
    - icon = show_detail ? 'fr-icon-subtract-line' : 'fr-icon-add-line'
    - params = show_detail ? {} : { show_detail: true }
    = button_to detail_admin_procedure_path(procedure["id"]), method: :post, params:, title:, class: [icon, "fr-icon--sm fr-mr-1w fr-mb-1w fr-text-action-high--blue-france fr-btn fr-btn--tertiary-no-outline" ] do
      = title

  %td
    - if procedure.template
      %p.fr-badge.fr-badge--info.fr-badge--sm= "Modèle DS"
      %br
    = procedure.libelle
  %td= procedure.id
  %td= procedure.estimated_dossiers_count
  %td= procedure.administrateurs.count
  %td= t procedure.aasm_state, scope: 'activerecord.attributes.procedure.aasm_state'
  %td= l(procedure.published_at, format: :message_date_without_time) if procedure.published_at
  %td
    = link_to('Consulter', apercu_admin_procedure_path(procedure.id), target: "_blank", class: 'fr-btn fr-btn--tertiary fr-btn--sm fr-mb-1w',  title: new_tab_suffix('Aperçu de la démarche'))
    = link_to('Cloner', admin_procedure_clone_path(procedure.id, from_new_from_existing: true), 'data-method' => :put, class: 'fr-btn fr-btn--tertiary fr-btn--sm')




- if show_detail
  %tr.procedure{ id: "procedure_detail_#{procedure.id}" }
    %td.fr-highlight--beige-gris-galet{ colspan: '8' }
      .fr-container
        .fr-grid-row
          .fr-col-6
            - procedure.zones.uniq.each do |zone|
              = zone.label_at(procedure.published_or_created_at)
          .fr-col-6
            - procedure.administrateurs.uniq.each do |admin|
              = admin.email
