- if @procedure.locked?
  .card.warning
    .card-title Cette démarche est publiée.
    Certains éléments de la description ne sont plus modifiables.

= f.label :libelle do
  Titre de la démarche
  %span.mandatory *
= f.text_field :libelle, class: 'form-control', placeholder: 'Titre'

= f.label :description do
  Description
  %span.mandatory *
= f.text_area :description, rows: '6', placeholder: 'Description de la démarche, destinataires, etc. ', class: 'form-control'

- if Flipper.enabled? :zonage
  = f.label :zone do
    = t('zone', scope: 'activerecord.attributes.procedure')
    %span.mandatory *
  = f.select :zone_id, grouped_options_for_zone

%h3.header-subsection Logo de la démarche
= render Attachment::EditComponent.new(form: f, attached_file: @procedure.logo, direct_upload: true, user_can_destroy: true)

%h3.header-subsection Conservation des données
= f.label :duree_conservation_dossiers_dans_ds do
  Sur #{APPLICATION_NAME}
  %span.mandatory *

%p.notice
  = t(:notice, scope: [:administrateurs, :duree_conservation_dossiers_dans_ds])
  - if f.object.duree_conservation_dossiers_dans_ds.to_i < Procedure::NEW_MAX_DUREE_CONSERVATION
    = t(:new_duration_constraint, scope: [:administrateurs, :duree_conservation_dossiers_dans_ds], new_duration_in_month: Procedure::NEW_MAX_DUREE_CONSERVATION)
= f.number_field :duree_conservation_dossiers_dans_ds, {class: 'form-control', placeholder: '6', required: true}.merge(f.object.duree_conservation_etendue_par_ds ? {} : {max: 12})

- if @procedure.created_at.present?
  = f.label :lien_site_web do
    Où les usagers trouveront-ils le lien vers la démarche ?
  = f.text_field :lien_site_web, class: 'form-control', placeholder: 'https://exemple.gouv.fr/ma_demarche'

%h3.header-subsection
  Cadre juridique
  %span.mandatory *

%p.notice
  Le cadre juridique justifie le droit de collecter les données demandées dans votre démarche auprès des usagers. Par exemple :
  %br
  • Texte de loi (loi, décret, circulaire, arrêté…)
  %br
  • Texte juridique (statuts, délibération, décision du conseil d’administration…)
  %br
  = link_to("En savoir plus avec cette vidéo de 5 minutes", CADRE_JURIDIQUE_URL, target: "_blank", rel: "noopener")

%p.notice
  Vous pouvez saisir un lien web vers ce texte, ou l’importer depuis un fichier.

= f.label :cadre_juridique, 'Lien vers le texte'
= f.text_field :cadre_juridique, class: 'form-control', placeholder: 'https://www.legifrance.gouv.fr/'

= f.label :deliberation, 'Importer le texte'
= render Attachment::EditComponent.new(form: f, attached_file: @procedure.deliberation, user_can_destroy: true)

%h3.header-subsection
  RGPD
%p.notice
  Pour certaines démarches, veuillez indiquer soit le mail de contact de votre délégué à la protection des données, soit un lien web pointant vers les informations

= f.label :lien_dpo, 'Lien ou email pour contacter le Délégué à la Protection des Données (DPO)'
= f.text_field :lien_dpo, class: 'form-control'

- if Flipper.enabled? :opendata, @procedure
  %h3.header-subsection= t(:opendata_header, scope: [:administrateurs, :informations])
  %p.notice= t(:opendata_notice_html, scope: [:administrateurs, :informations])
  %p.notice= t(:opendata, scope: [:administrateurs, :informations])

  %label.toggle-switch
    = f.check_box :opendata, class: 'toggle-switch-checkbox'
    %span.toggle-switch-control.round
    %span.toggle-switch-label.on Oui
    %span.toggle-switch-label.off Non

%h3.header-subsection Notice explicative de la démarche

%p.notice
  Une notice explicative est un document destiné à guider l’usager dans sa démarche. C’est un document que vous avez élaboré et qui peut prendre la forme d’un fichier doc, d’un pdf ou encore de diapositives. Le bouton pour télécharger cette notice apparaît en haut du formulaire pour l’usager.

= f.label :notice, 'Notice'
%p.notice
  Formats acceptés : .doc, .odt, .pdf, .ppt, .pptx
= render Attachment::EditComponent.new(form: f, attached_file: @procedure.notice, user_can_destroy: true)

- if !@procedure.locked?
  %h3.header-subsection À qui s’adresse ma démarche ?
  .radios.vertical
    = f.label :for_individual, value: true do
      = f.radio_button :for_individual, true
      Ma démarche s’adresse à un particulier
      %p.notice En choisissant cette option, l’usager devra renseigner son nom et prénom avant d’accéder au formulaire

    = f.label :for_individual, value: false do
      = f.radio_button :for_individual, false
      Ma démarche s’adresse à une personne morale
      %p.notice
        En choisissant cette option, l’usager devra renseigner son n° SIRET.<br>Grâce à l’API Entreprise, les informations sur la personne morale (raison sociale, adresse du siège, etc.) seront automatiquement renseignées.

  %p.explication
    Si votre démarche s’adresse indifféremment à une personne morale ou un particulier, choisissez l'option « Particuliers ». Vous pourrez ajouter un champ SIRET directement dans le formulaire.

%details.procedure-form__options-details
  %summary.procedure-form__options-summary
    %h3.header-subsection Options avancées

  - if feature_enabled?(:administrateur_web_hook)
    = f.label :web_hook_url do
      Lien de rappel HTTP (webhook)
    %p.notice
      Vous pouvez définir un lien de rappel HTTP (aussi appelé webhook) pour notifier un service tiers du changement de l'état d’un dossier de cette démarche sur #{APPLICATION_NAME}.
      = link_to("Consulter la documentation du webhook", WEBHOOK_DOC_URL, target: "_blank", rel: "noopener")
    = f.text_field :web_hook_url, class: 'form-control', placeholder: 'https://callback.exemple.fr/'

  = f.label :auto_archive_on do
    Date limite de dépôt des dossiers
  %p.notice
    Si une date est définie, aucun dossier ne pourra plus être déposé ou modifié après cette limite.
  %p.notice
    Le
    - value = @procedure.auto_archive_on ? @procedure.auto_archive_on - 1.day : nil
    = f.date_field :auto_archive_on, id: 'auto_archive_on', value: value
    #{procedure_auto_archive_time(@procedure)}.

  = f.label :declarative_with_state do
    Démarche déclarative
  %p.notice
    Par défaut, un dossier déposé peut être complété ou corrigé par le demandeur jusqu'à sa mise en instruction.<br>
    Dans une démarche déclarative, une fois déposé, un dossier ne peut plus être modifié.
    Soit il passe immédiatement « en instruction » pour être traité soit il est immédiatement « accepté ».
  = f.select :declarative_with_state, Procedure.declarative_attributes_for_select, { include_blank: 'Non' }, class: 'form-control'
