%h2.fr-h6
  = page_entries_info procedures

- procedures.each do |procedure|
  .card
    .flex.justify-between
      %div
        .flex
          - if procedure.logo.present?
            = image_tag procedure.logo, alt: procedure.libelle, class: 'logo'

          %div
            %h3.card-title
              = link_to procedure.libelle, admin_procedure_path(procedure)

            = link_to commencer_url(procedure.path), commencer_url(procedure.path), class: 'fr-link fr-mb-1w'

            %p.fr-mt-1w.fr-mb-1w
              = t('administrateurs.procedures.created_at')
              = procedure.created_at.strftime('%d/%m/%Y')

              - if procedure.published_at.present?
                %span
                  = t('administrateurs.procedures.published_at')
                  = procedure.published_at.strftime('%d/%m/%Y')

              - if procedure.updated_at.today?
                %span
                  = t('administrateurs.procedures.updated_at_today')
                  = procedure.updated_at.strftime('%H:%M')
              - else
                %span
                  = t('administrateurs.procedures.updated_at')
                  = procedure.updated_at.strftime('%d/%m/%Y %H:%M')

              - if procedure.closed_at.present?
                %span
                  = t('administrateurs.procedures.closed_at')
                  = procedure.closed_at.strftime('%d/%m/%Y')
              - elsif procedure.auto_archive_on&.future?
                %span
                  = t('administrateurs.procedures.auto_archive_on')
                  = procedure.auto_archive_on.strftime('%d/%m/%Y')

            %div
              = dsfr_icon('fr-icon-team-fill')
              - if procedure.routing_enabled?
                %span.fr-badge= procedure.groupe_instructeurs_count
              - else
                %span.fr-badge= procedure.instructeurs_count

              = dsfr_icon('fr-icon-file-text-fill fr-ml-1w')
              %span.fr-badge= procedure.estimated_dossiers_count

      .text-right
        %p.fr-mb-0.width-max-content N° #{number_with_html_delimiter(procedure.id)}

        - if procedure.close? || procedure.depubliee?
          %span.fr-badge.fr-badge--sm.fr-badge--warning
            = t('closed', scope: [:layouts, :breadcrumb])

        - elsif procedure.publiee?
          - if procedure.api_entreprise_token_expired_or_expires_soon?
            %span.fr-badge.fr-badge--sm.fr-badge--error
              = t('to_modify', scope: [:layouts, :breadcrumb])
          %span.fr-badge.fr-badge--sm.fr-badge--success
            = t('published', scope: [:layouts, :breadcrumb])

        - else
          %span.fr-badge.fr-badge--sm.fr-badge--new
            = t('draft', scope: [:layouts, :breadcrumb])

    .flex.justify-end
      %ul.fr-btns-group.fr-btns-group--sm.fr-btns-group--inline.fr-btns-group--icon-left
        - unless procedure.discarded?
          %li
            = link_to admin_procedure_path(procedure), class: 'fr-btn fr-icon-draft-line fr-btn--tertiary' do
              Modifier

        = render Dropdown::MenuComponent.new(wrapper: :li, button_options: { class: ['fr-btn--tertiary'] }, menu_options: { id: dom_id(procedure, :actions_menu)}) do |menu|
          - menu.with_button_inner_html do
            Actions

          - if !procedure.close? && !procedure.discarded?
            - menu.with_item do
              = link_to commencer_url(path: procedure.path), target: :blank, rel: :noopener, role: 'menuitem' do
                = dsfr_icon('fr-icon-flashlight-line')
                .dropdown-description
                  %h4= t('administrateurs.dropdown_actions.to_test')

          - if !procedure.discarded?
            - menu.with_item do
              = link_to(admin_procedure_clone_settings_path(procedure.id), role: 'menuitem', class: 'clone-btn', data: { method: :get }) do
                = dsfr_icon('fr-icon-file-copy-line')
                .dropdown-description
                  %h4= t('administrateurs.dropdown_actions.to_clone')

          - if !procedure.discarded? && !procedure.publiee? && procedure.can_be_deleted_by_administrateur?
            - menu.with_item do
              = link_to admin_procedure_path(procedure), role: 'menuitem', method: :delete, data: { confirm: "Voulez-vous vraiment supprimer la démarche ? \nToute suppression est définitive et s'appliquera aux éventuels autres administrateurs de cette démarche !" } do
                = dsfr_icon('fr-icon-delete-line')
                .dropdown-description
                  %h4= t('administrateurs.dropdown_actions.delete')

          - if procedure.discarded?
            - menu.with_item do
              = link_to  restore_admin_procedure_path(procedure), role: 'menuitem',  method: :put do
                %span.icon.unarchive
                .dropdown-description
                  %h4= t('administrateurs.dropdown_actions.restore')
