= label_tag :procedure_path, class: 'fr-label' do
  Lien de la démarche
  %span.fr-hint-text
    Renseignez la suite de l’URL pour personnaliser le lien public.

.fr-input-group
  .fr-input
    .flex
      %span.placeholder
        = commencer_url(path: '')
      = text_field_tag(:path, procedure.path,
                      id: 'procedure_path',
                      label: 'Adresse de diffusion',
                      placeholder: 'chemin-de-la-démarche',
                      required: true,
                      class: 'unstyled flex-1',
                      pattern: '^[a-z0-9_-]{3,200}$',
                      title: "De 3 à 200 caractères; minuscules, chiffres et tiret seulement",
                      autocomplete: 'off')
-# %span{ data: { controller: 'clipboard', clipboard_text_value: ''  } }
-#   %button.fr-btn.fr-icon-clipboard-line.fr-btn--sm.fr-btn--secondary.fr-btn--icon-left{ data: { action: 'clipboard#copy' }, title: 'Copier le lien public' }
-#     Copier le lien public
-#   %span.fr-text--sm.hidden{ data: { clipboard_target: 'success' } }
-#     = @success || t('.copy_confirmation')

= render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
  - c.body do
    Attention, diffusez toujours le lien complet affiché ci-dessus ( en cliquant sur le bouton « Copier le lien public »), et non pas un lien générique vers #{APPLICATION_NAME}.

.fr-input-group
  = label_tag :procedure_path, class: 'fr-label' do
    Où les usagers trouveront-ils le lien de la démarche ?
    %span.fr-hint-text
      Il s'agit de la page de votre site web où le lien sera diffusé

  = text_field_tag(:lien_site_web, procedure.lien_site_web,
                    required: true,
                    class: 'fr-input',
                    autocomplete: 'off',
                    placeholder: 'https://exemple.gouv.fr/page_informant_sur_ma_demarche')

- if closed_procedures.present?
  .fr-select-group
    = label_tag :procedure_path, class: 'fr-label' do
      Numéro de la démarche remplacée (facultatif)
      %span.fr-hint-text
        Cette démarche remplace une close ? Si oui, veuillez indiquer le n° de la démarche remplacée
    = select_tag :old_procedure, options_for_select(@closed_procedures), include_blank: true, class: 'fr-select'
