.fr-input-group
  = form.label :path, class: 'fr-label' do
    = t('activerecord.attributes.procedure.procedure_path')

    %span.fr-hint-text
      = t('activerecord.attributes.procedure.hints.procedure_path')

  .fr-input
    .flex
      %span.placeholder
        = commencer_url(path: '')
      = form.text_field(:path, value: procedure.suggested_path,
                      placeholder: t('activerecord.attributes.procedure.procedure_path_placeholder'),
                      required: true,
                      class: 'unstyled flex-1',
                      pattern: '[a-z0-9.\-_]{3,200}',
                      autocomplete: 'off',
                      data: { controller: 'turbo-input', turbo_input_url_value: admin_procedure_check_path_path })

  #check_path

.fr-input-group
  = form.label :lien_site_web, class: 'fr-label' do
    = t('activerecord.attributes.procedure.lien_site_web')

    %span.fr-hint-text
      = t('activerecord.attributes.procedure.hints.lien_site_web')

  = form.text_field(:lien_site_web,
                    required: true,
                    class: 'fr-input',
                    autocomplete: 'off')

- if closed_procedures.present?
  .fr-select-group
    = label_tag :old_procedure, class: 'fr-label' do
      = t('activerecord.attributes.procedure.old_procedure')
      = t('utils.no_mandatory')

      %span.fr-hint-text
        = t('activerecord.attributes.procedure.hints.old_procedure')
    = select_tag :old_procedure, options_for_select(@closed_procedures), include_blank: true, class: 'fr-select'
