- case change[:op]
- when :add
  - list.with_item do
    = t(:add, scope: [:administrateurs, :revision_changes, :attestation_template])
- when :update
  - case change[:attribute]
  - when :title
    - list.with_item do
      = t(:update_title, scope: [:administrateurs, :revision_changes, :attestation_template], to: change[:to])
  - when :body
    - list.with_item do
      = t(:update_body, scope: [:administrateurs, :revision_changes, :attestation_template])
  - when :footer
    - list.with_item do
      = t(:update_footer, scope: [:administrateurs, :revision_changes, :attestation_template])
  - when :logo
    - list.with_item do
      = t(:update_logo, scope: [:administrateurs, :revision_changes, :attestation_template], to: change[:to])
  - when :signature
    - list.with_item do
      = t(:update_signature, scope: [:administrateurs, :revision_changes, :attestation_template], to: change[:to])
