.sticky-header.sticky-header-warning
  .fr-container
    %p.flex.justify-between.align-center.fr-text-default--warning
      %span
        = dsfr_icon("fr-icon-warning-fill fr-mr-1v")
        = t('.intro_html').html_safe
      %span.no-wrap
        = link_to t('.see_changes'), admin_procedure_path(procedure), class: 'fr-btn fr-btn--secondary fr-mr-2w'
        = link_to_if procedure.draft_revision.valid? && procedure.valid?(:publication), t('.publish_changes'), admin_procedure_publish_revision_path(procedure), class: 'fr-btn', method: :put, data: { disable_with: "Publication...", confirm: 'Êtes-vous sûr de vouloir publier les modifications ?' } do
          %button.fr-btn{ disabled: "disabled" }= t('.publish_changes')
