- content_for :results do
  .main-filter-header.fr-my-3w
    .search
    = link_to 'Voir la liste des administrateurs', administrateurs_admin_procedures_path(@filter.params), class: 'fr-btn fr-btn--secondary btn-admins'
  .fr-table.fr-table--bordered
    %table#all-demarches
      %caption
        = "#{@procedures.total_count} démarches"
        %span.hidden.fr-icon-ball-pen-fill{ 'aria-hidden': 'true', 'data-autosubmit-target': 'spinner' }
      - if @filter.selected_zones.present?
        .selected-zones.fr-mb-2w
          - @filter.selected_zones.each do |zone|
            = link_to zone.current_label, all_admin_procedures_path(@filter.without(:zone_ids, zone.id)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      - if @filter.statuses.present?
        .selected-statuses.fr-mb-2w
          - @filter.statuses.each do |status|
            = link_to status, all_admin_procedures_path(@filter.without(:statuses, status)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      - if @filter.from_publication_date.present?
        .selected-from-publication-date.fr-mb-2w
          = link_to "Depuis #{l(@filter.from_publication_date)}", all_admin_procedures_path(@filter.without(:from_publication_date)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      = paginate @procedures, views_prefix: 'administrateurs'
      %thead
        %tr
          %th{ scope: 'col' }
          %th{ scope: 'col' } Démarche
          %th{ scope: 'col' } N°
          %th{ scope: 'col' } Administrateurs
          %th{ scope: 'col' } Statut
          %th{ scope: 'col' } Date
      - @procedures.each do |procedure|
        %tbody{ 'data-controller': 'expand' }
          %tr.procedure{ 'data-action': 'click->expand#toggle' }
            %td
              %button.fr-icon-add-line.fr-icon--sm.fr-mr-1w.fr-mb-1w.fr-text-action-high--blue-france{ 'aria-hidden': 'true', 'data-expand-target': 'icon' }
            %td= procedure.libelle
            %td= procedure.id
            %td= procedure.administrateurs.count
            %td= t procedure.aasm_state, scope: 'activerecord.attributes.procedure.aasm_state'
            %td= l(procedure.published_at, format: :message_date_without_time)
          %tr.hidden{ 'data-expand-target': 'content' }
            %td.fr-highlight--beige-gris-galet{ colspan: '6' }
              .fr-container
                .fr-grid-row
                  .fr-col-6
                    - procedure.zones.uniq.each do |zone|
                      = zone.label_at(procedure.published_or_created_at)
                  .fr-col-6
                    - procedure.administrateurs.uniq.each do |admin|
                      = admin.email
    .fr-mt-2w= paginate @procedures, views_prefix: 'administrateurs'
