- content_for :results do
  .main-filter-header.fr-my-3w
    = form_with(url: all_admin_procedures_path, method: :get, html: {'data-autosubmit-target': 'form', role: 'search', class: 'search' }) do |f|
      - @filter.zone_ids&.each do |zone_id|
        = hidden_field_tag 'zone_ids[]', zone_id
      - @filter.statuses&.each do |status|
        = hidden_field_tag 'statuses[]', status
      = hidden_field_tag 'from_publication_date', @filter.from_publication_date if @filter.from_publication_date.present?

      = f.label :libelle, 'Rechercher des démarches par libellé', class: 'fr-label'
      = f.search_field 'libelle', size: 30, class: 'fr-input'
    .actions
      .link.fr-mx-1w= link_to 'Voir les administrateurs', administrateurs_admin_procedures_path(@filter.params), class: 'fr-btn fr-btn--secondary'
      .link.fr-mx-1w= link_to 'Exporter les résultats', all_admin_procedures_path(@filter.params.merge(format: :xlsx)), class: 'fr-btn fr-btn--secondary'
  .fr-table.fr-table--bordered
    %table#all-demarches
      %caption
        = "#{@procedures.total_count} démarches"
        %span.hidden.fr-icon-ball-pen-fill{ 'aria-hidden': 'true', 'data-autosubmit-target': 'spinner' }
      - if @filter.libelle
        .selected-query.fr-mb-2w
          = link_to @filter.libelle, all_admin_procedures_path(@filter.without(:libelle)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      - if @filter.selected_zones.present?
        .selected-zones.fr-mb-2w
          - @filter.selected_zones.each do |zone|
            = link_to zone.current_label, all_admin_procedures_path(@filter.without(:zone_ids, zone.id)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      - if @filter.statuses.present?
        .selected-statuses.fr-mb-2w
          - @filter.statuses.each do |status|
            = link_to status, all_admin_procedures_path(@filter.without(:statuses, status)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      - if @filter.from_publication_date.present?
        .selected-from-publication-date.fr-mb-2w
          = link_to "Depuis #{l(@filter.from_publication_date)}", all_admin_procedures_path(@filter.without(:from_publication_date)), class: 'fr-tag fr-tag--dismiss fr-mb-1w'
      = paginate @procedures, views_prefix: 'administrateurs'
      %thead
        %tr
          %th{ scope: 'col' }
          %th{ scope: 'col' } Démarche
          %th{ scope: 'col' } N°
          %th{ scope: 'col' } Administrateurs
          %th{ scope: 'col' } Statut
          %th{ scope: 'col' } Date
      %tbody{ 'data-turbo': 'true' }
        - @procedures.each do |procedure|
          %tr.procedure{ id: "procedure_#{procedure['id']}" }
            %td
              = button_to detail_admin_procedure_path(procedure["id"]), params: { show_detail: true}, method: :get, title: 'Afficher details', class: "fr-icon-add-line fr-icon--sm fr-mr-1w fr-mb-1w fr-text-action-high--blue-france fr-btn fr-btn--tertiary-no-outline" do
                Afficher details procedure
            %td= procedure["libelle"]
            %td= procedure["id"]
            %td= procedure["admin_count"]
            %td= t procedure["aasm_state"], scope: 'activerecord.attributes.procedure.aasm_state'
            %td= l(procedure["published_at"], format: :message_date_without_time)
    .fr-mt-2w= paginate @procedures, views_prefix: 'administrateurs'
