.dossiers-headers.sub-header
  .fr-container
    %h1.page-title Prévisualisation de la démarche «&nbsp;#{@dossier.procedure.libelle}&nbsp;»

    %nav.fr-tabs
      %ul.fr-tabs__list{ role: 'tablist' }
        = tab_item('le dossier',
          apercu_admin_procedure_path(@dossier.procedure, tab: 'dossier'),
          active: @tab == 'dossier')
        - if @dossier.has_annotations?
          = tab_item('les annotations privées',
            apercu_admin_procedure_path(@dossier.procedure, tab: 'annotations-privees'),
            active: @tab == 'annotations-privees')

- if @tab == 'dossier'
  .fr-container
    .fr-grid-row
      = render partial: 'administrateurs/procedures/champs_summary', locals: { procedure: @dossier.procedure, private: false, use_dom_id: false }
      .fr-col
        = render partial: "shared/dossiers/edit", locals: { dossier: @dossier }
- else
  .fr-container
    .fr-grid-row
      = render partial: 'administrateurs/procedures/champs_summary', locals: { procedure: @dossier.procedure, private: true, use_dom_id: false }
      .fr-col
        = render partial: "shared/dossiers/edit_annotations", locals: { dossier: @dossier }
