= turbo_frame_tag("api-champ-columns") do
  %h1#fr-modal-api-champ-columns-h1.fr-modal__title
    = t('.title', type_de_champ: t(@type_de_champ.type_champ, scope: 'activerecord.attributes.type_de_champ.type_champs'))

  %p.fr-hint-text
    = t('.hint_html')

  %ul.fr-mb-3w{ class: class_names("two-column-list" => @column_labels.count >= 10) }
    - @column_labels.each do |label|
      %li= label.upcase_first

  - if @type_de_champ.type_champ == "siret"
    %p.fr-hint-text
      Nous affichons aussi aux instructeurs un lien vers l’annuaire de l’entreprise,
      qui comporte davantage d’informations comme des données équivalentes aux extraits KBIS.
      = link_to("Voir un exemple", annuaire_link("35600000000048"), **external_link_attributes)
