= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Configuration des champs']], preview: @procedure.draft_revision.valid? }

.fr-container
  %h1 Configuration des champs
  = render NestedForms::FormOwnerComponent.new
  .fr-grid-row
    = render partial: 'champs_summary'
    .fr-col
      = render TypesDeChampEditor::EditorComponent.new(revision: @procedure.draft_revision)

.padded-fixed-footer
  .fixed-footer
    .fr-container
      .flex
        %ul.fr-btns-group.fr-btns-group--inline-md
          %li
            = link_to t('continue', scope: [:layouts, :breadcrumb]), admin_procedure_path(@procedure), title: t('continue_title', scope: [:layouts, :breadcrumb]), class: 'fr-btn'
          - if @procedure.draft_revision.revision_types_de_champ_public.count > 0
            %li
              = link_to t('preview', scope: [:layouts, :breadcrumb]), apercu_admin_procedure_path(@procedure), target: "_blank", rel: "noopener", class: 'fr-btn fr-btn--secondary'
        .fr-ml-auto
          #autosave-notice.hidden
          = render TypesDeChampEditor::EstimatedFillDurationComponent.new(revision: @procedure.draft_revision, is_annotation: false)
