
- if @procedure.draft_changed?
  - content_for(:sticky_header) do
    = render partial: 'administrateurs/procedures/unpublished_changes_sticky_header', locals: { procedure: @procedure }
= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Champs du formulaire']], preview: @procedure.draft_revision.valid? }

.fr-container
  .flex.justify-between.align-center.fr-mb-3w
    %h1.fr-h2 Champs du formulaire
    - if @procedure.revised?
      = link_to "Voir l'historique des modifications du formulaire", modifications_admin_procedure_path(@procedure), class: 'fr-link'

  = render NestedForms::FormOwnerComponent.new
  .fr-grid-row
    = render TypesDeChampEditor::HeaderSectionsSummaryComponent.new(procedure: @procedure, is_private: false)
    .fr-col{ data: { controller: "lazy-modal" } }
      = render Dsfr::CalloutComponent.new(title: nil) do |c|
        - c.with_html_body do
          - if @procedure.for_individual
            %p.fr-callout__text
              = t('administrateurs.procedures.champs.callout_personne_physique_html')
            %ul
              = t('administrateurs.procedures.champs.callout_personne_physique_list_html')
            %p.fr-callout__text.fr-text--bold
              = t('administrateurs.procedures.champs.callout_no_ask_twice')

          - else
            %p.fr-callout__text
              = t('administrateurs.procedures.champs.callout_personne_morale_html')
            %p.fr-callout__text.fr-text--bold
              = t('administrateurs.procedures.champs.callout_no_ask_twice')

            = button_tag("Liste des informations remontées", type: :button, class: "fr-btn fr-icon-info-line fr-btn--icon-left fr-btn--tertiary-no-outline fr-btn--sm",
                    data: { "fr-opened" => "false", "turbo-frame" => "api-champ-columns", action: "lazy-modal#load" }, src: api_champ_columns_admin_procedure_path(id: @procedure.id),
                    "aria-controls" => "api-champ-columns-modal")

      = render TypesDeChampEditor::EditorComponent.new(revision: @procedure.draft_revision, is_annotation: false)

      %dialog#api-champ-columns-modal.fr-modal{ "aria-labelledby" => 'fr-modal-api-champ-columns-h1', role: "dialog" }
        .fr-container.fr-container--fluid.fr-container-md
          .fr-grid-row.fr-grid-row--center
            .fr-col-12.fr-col-md-8
              .fr-modal__body
                .fr-modal__header
                  %button.fr-btn--close.fr-btn{ aria: { controls: "api-champ-columns-modal" }, title: t('utils.modal_close_alt') }= t('utils.modal_close')
                .fr-modal__content
                  = turbo_frame_tag "api-champ-columns", data: { "lazy-modal-target": "frame" }


.padded-fixed-footer
  .fixed-footer
    .fr-container
      .flex
        %ul.fr-btns-group.fr-btns-group--inline-md.fr-ml-0
          %li
            = link_to admin_procedure_path(id: @procedure), class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left fr-mb-2w fr-mr-2w' do
              Revenir à l’écran de gestion
          - if @procedure.draft_revision.revision_types_de_champ_public.count > 0
            %li
              = link_to t('preview', scope: [:layouts, :breadcrumb]), apercu_admin_procedure_path(@procedure), target: "_blank", rel: "noopener", class: 'fr-link fr-mb-2w'
        .fr-ml-auto
          #autosave-notice.hidden
          = render TypesDeChampEditor::EstimatedFillDurationComponent.new(revision: @procedure.draft_revision, is_annotation: false)
