= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    ["Cloner la démarche « #{@procedure.libelle.truncate_words(10)} » (N° #{@procedure.id})"]] }

.fr-container
  %h1
    = t('administrateurs.procedures.clone.title')
    = "« #{@procedure.libelle} » (N° #{@procedure.id})"

  = form_with(model: @procedure, url: admin_procedure_clone_path(@procedure, from_new_from_existing: params[:from_new_from_existing]), method: :post) do |f|
    %h2.fr-h5.fr-mb-1w
      = t('administrateurs.procedures.clone.rename_title')
    = render Dsfr::InputComponent.new(form: f, attribute: :libelle, input_type: :text_field, opts: {})

    %h2.fr-h5.fr-mb-2w
      = t('administrateurs.procedures.clone.configurate_title')

    %p.fr-alert.fr-alert--info.fr-alert--sm.fr-mb-3w
      = t('administrateurs.procedures.clone.info')

    %fieldset.fr-fieldset{ id: "clone-options-checkboxes", aria: { labelledby: "clone-options-checkboxes" } }
      = f.fields_for :clone_options do |fco|
        - if @procedure.zones.present?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'zones', checked: true
              = fco.label 'zones', class: "fr-label" do
                = t('administrateurs.procedures.clone.zones')
                .fr-hint-text
                  = @procedure.zones.map(&:label).join(' | ')

        - if @procedure.active_revision.types_de_champ_public.present?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'champs', checked: true
              = fco.label 'champs', class: "fr-label" do
                = t('administrateurs.procedures.clone.types_de_champ_public')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.types_de_champ_count', count: @procedure.active_revision.types_de_champ_public.count)

        - if @procedure.active_revision.ineligibilite_enabled?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'ineligibilite', checked: true
              = fco.label 'ineligibilite', class: "fr-label" do
                = t('administrateurs.procedures.clone.ineligibilite')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.ineligibilite_hint')

        - if @is_same_admin
          - if @procedure.service.present?
            .fr-fieldset__element
              .fr-checkbox-group
                = fco.check_box 'service', checked: false
                = fco.label 'service', class: "fr-label" do
                  = t('administrateurs.procedures.clone.service')
                  .fr-hint-text
                    = @procedure.service&.nom

          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'administrateurs', checked: true
              = fco.label 'administrateurs', class: "fr-label" do
                = t('administrateurs.procedures.clone.administrateurs')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.administrateurs_count', count: @procedure.administrateurs.count)

          - if @procedure.instructeurs.any?
            .fr-fieldset__element
              .fr-checkbox-group
                = fco.check_box 'instructeurs', checked: false
                = fco.label 'instructeurs', class: "fr-label" do
                  = t('administrateurs.procedures.clone.instructeurs')
                  .fr-hint-text
                    = t('administrateurs.procedures.clone.instructeurs_count', count: @procedure.instructeurs.count)
                    = t("administrateurs.procedures.clone.instructeurs_self_management.#{@procedure.instructeurs_self_management?.to_s}")
                    = t("administrateurs.procedures.clone.routing_enabled.#{@procedure.routing_enabled?.to_s}")

        - if @procedure.attestation_template&.activated?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'attestation_template', checked: true
              = fco.label 'attestation_template', class: "fr-label" do
                = t('administrateurs.procedures.clone.attestation_template')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.attestation_template_hint')

        - if @procedure.experts_require_administrateur_invitation
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'avis', checked: true
              = fco.label 'avis', class: "fr-label" do
                = t('administrateurs.procedures.clone.avis')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.avis_hint')

        - if @updated_mail_templates
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'mail_templates', checked: true
              = fco.label 'mail_templates', class: "fr-label" do
                = t('administrateurs.procedures.clone.mail_templates')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.mail_templates_hint')

        - if @procedure.active_revision.types_de_champ_private.present?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'annotations', checked: true
              = fco.label 'annotations', class: "fr-label" do
                = t('administrateurs.procedures.clone.types_de_champ_private')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.types_de_champ_count', count: @procedure.active_revision.types_de_champ_private.count)

        - if @is_same_admin && @procedure.has_api_entreprise_token?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'api_entreprise_token', checked: true
              = fco.label 'api_entreprise_token', class: "fr-label" do
                = t('administrateurs.procedures.clone.api_entreprise_token')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.api_entreprise_token_hint')

        - if @procedure.sva_svr_enabled?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'sva_svr', checked: true
              = fco.label 'sva_svr', class: "fr-label" do
                = t('administrateurs.procedures.clone.sva_svr')
                .fr-hint-text
                  = t("administrateurs.procedures.clone.sva_svr_hint.#{@procedure.sva_svr_decision.to_s}")
                  = t('administrateurs.procedures.clone.sva_svr_period', period: @procedure.sva_svr_configuration.period)
                  = t("administrateurs.procedures.clone.sva_svr_unit_labels.#{@procedure.sva_svr_configuration.unit}")

        - if @is_same_admin && @procedure.monavis_embed?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'monavis_embed', checked: true
              = fco.label 'monavis_embed', class: "fr-label" do
                = t('administrateurs.procedures.clone.monavis_embed')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.monavis_embed_hint', code: @procedure.monavis_embed)

        - if @procedure.active_revision.dossier_submitted_message.present?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'dossier_submitted_message', checked: true
              = fco.label 'dossier_submitted_message', class: "fr-label" do
                = t('administrateurs.procedures.clone.dossier_submitted_message')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.dossier_submitted_message_hint', message: @procedure.active_revision.dossier_submitted_message&.message_on_submit_by_usager)

        - if @procedure.accuse_lecture?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'accuse_lecture', checked: true
              = fco.label 'accuse_lecture', class: "fr-label" do
                = t('administrateurs.procedures.clone.accuse_lecture')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.accuse_lecture_hint')

        - if @procedure.labels.present?
          .fr-fieldset__element
            .fr-checkbox-group
              = fco.check_box 'labels', checked: true
              = fco.label 'labels', class: "fr-label" do
                = t('administrateurs.procedures.clone.labels')
                .fr-hint-text
                  = t('administrateurs.procedures.clone.labels_count', count: @procedure.labels.count)

    .fixed-footer
      .fr-container
        %ul.fr-btns-group.fr-btns-group--inline-md.fr-ml-0
          %li
            = link_to t('administrateurs.procedures.clone.actions.cancel'), params[:from_new_from_existing] ? all_admin_procedures_path(zone_ids: :admin_default) : admin_procedure_path(@procedure), class: 'fr-btn fr-btn--secondary fr-ml-0'
          %li
            = f.submit t('administrateurs.procedures.clone.actions.clone'), class: 'fr-btn', data: { disable_with: t('administrateurs.procedures.clone.actions.disable_with') }
