- content_for(:root_class, 'scroll-margins-for-sticky-footer')

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Présentation']] }

= render  NestedForms::FormOwnerComponent.new
= form_for @procedure,
  url: url_for({ controller: 'administrateurs/procedures', action: :update, id: @procedure.id }),
  html: { class: 'procedure_tags_combo', multipart: true } do |f|
  .fr-container
    .fr-grid-row
      .fr-col-12.fr-col-offset-md-2.fr-col-md-8
        %h1.fr-h2 Présentation

        = render partial: 'administrateurs/procedures/informations', locals: { f: f }

  = render Procedure::FixedFooterComponent.new(procedure: @procedure, form: f, extra_class_names: 'fr-col-offset-md-2 fr-col-md-8')
