= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Jeton API Entreprise']] }

.fr-container
  %h1.fr-h2 Jeton API Entreprise

= form_with model: @procedure, url: url_for({ controller: 'administrateurs/procedures', action: :update_jeton }) do |f|
  .fr-container
    = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          Démarches Simplifiées utilise
          = link_to 'API Entreprise', "https://entreprise.api.gouv.fr/"
          qui permet de récupérer les informations administratives des entreprises et des associations.
          Si votre démarche nécessite des autorisations spécifiques que Démarches Simplifiées n’a pas par défaut, merci de renseigner ci dessous
          %strong le jeton API Entreprise
          propre à votre démarche.
        %p
          Si besoin, vous pouvez demander une habilitation API Entreprise sur le site
          = link_to 'api.gouv.fr.', "https://api.gouv.fr/les-api/api-entreprise/demande-acces"


    = render partial: 'administrateurs/procedures/api_entreprise_token_expiration_alert', locals: { procedure: @procedure }

    = render Dsfr::InputComponent.new(form: f, attribute: :api_entreprise_token, input_type: :password_field, required: false, opts: { value: @procedure.read_attribute(:api_entreprise_token)})

  = render Procedure::FixedFooterComponent.new(procedure: @procedure, form: f)
