- content_for(:root_class, 'scroll-margins-for-sticky-footer')

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    ['Nouvelle']] }

= render NestedForms::FormOwnerComponent.new
= form_for @procedure,
  url: url_for({ controller: 'administrateurs/procedures', action: :create, id: @procedure.id }),
  html: { class: 'procedure_tags_combo', multipart: true } do |f|
  .fr-container
    .fr-grid-row
      .fr-col-12.fr-col-offset-md-2.fr-col-md-8
        %h1.fr-h2 Nouvelle démarche

        = render partial: 'administrateurs/procedures/informations', locals: { f: f }

  .padded-fixed-footer
    .fixed-footer
      .fr-container
        .fr-grid-row
          .fr-col-12.fr-col-offset-md-2.fr-col-md-8
            %ul.fr-btns-group.fr-btns-group--inline-md
              %li
                = f.button 'Créer la démarche', class: 'fr-btn'
              %li
                = link_to 'Annuler', admin_procedures_path, class: 'fr-btn fr-btn--secondary', data: { confirm: 'Êtes-vous sûr de vouloir annuler la création de cette démarche ?'}
