- content_for(:root_class, 'scroll-margins-for-sticky-footer')

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    ['Nouvelle']] }

.procedure-form
  .procedure-form__columns.container
    = render Attachment::DeleteFormComponent.new
    = form_for @procedure,
      url: url_for({ controller: 'administrateurs/procedures', action: :create, id: @procedure.id }),
      html: { class: 'form procedure-form__column--form', multipart: true } do |f|

      %h1.page-title Nouvelle démarche


      = render partial: 'administrateurs/procedures/informations', locals: { f: f }

      .procedure-form__actions.sticky--bottom
        .actions-right
          = link_to 'Annuler', admin_procedures_path, class: 'fr-btn fr-btn--secondary fr-mr-2w', data: { confirm: 'Êtes-vous sûr de vouloir annuler la création de cette démarche ?'}
          = f.button 'Créer la démarche', class: 'fr-btn'

    .procedure-form__column--preview
      .procedure-form__preview.sticky--top
        %h3.procedure-form__preview-title Aperçu
        .procedure-preview
          = render partial: 'shared/procedure_description', locals: { procedure: @procedure }
