= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['ProConnect']] }

.fr-container
  .fr-grid-row
    .fr-col-12.fr-col-offset-md-2.fr-col-md-8
      %h1.fr-h2 Connexion ProConnect

      = render Dsfr::CalloutComponent.new(title: nil) do |c|
        - c.with_body do
          %p
            Cette option permet de limiter l'accès à la démarche : les
            %strong administrateurs
            et les
            %strong instructeurs
            pourront accéder à la démarche
            %strong uniquement en se connectant via ProConnect.

      - unless @logged_in_with_pro_connect
        = render Dsfr::AlertComponent.new(title: nil, state: :warning, extra_class_names: 'fr-my-2w') do |c|
          - c.with_body do
            %p
              Pour activer cette fonctionnalité, vous devez commencer par
              = link_to "vous connecter avec ProConnect", pro_connect_path

      %ul.fr-toggle__list
        %li
          = form_for(@procedure,
            method: :patch,
            url: pro_connect_restricted_admin_procedure_path(@procedure),
            data: { controller: 'autosubmit', turbo: 'true' }) do |f|

            = render Dsfr::ToggleComponent.new(form: f,
              target: :pro_connect_restricted,
              title: "Obliger les administrateurs et les instructeurs à se connecter via ProConnect pour accéder à la démarche",
              disabled: !@logged_in_with_pro_connect,
              opt: { checked: @procedure.pro_connect_restricted? })

= render Procedure::FixedFooterComponent.new(procedure: @procedure, extra_class_names: 'fr-col-offset-md-2 fr-col-md-8' )
