- content_for(:root_class, 'scroll-margins-for-sticky-footer')

= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_back_path(@procedure)],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Description']] }
= form_for @procedure,
  url: url_for({ controller: 'administrateurs/procedures', action: :update, id: @procedure.id }),
  html: { multipart: true } do |f|

  .fr-container
    %h1.fr-h2 Zones

    - if Rails.application.config.ds_zonage_enabled
      %fieldset.fr-fieldset{ aria: { labelledby: "zones-legend"} }
        %legend#zones-legend.fr-fieldset__legend--regular.fr-fieldset__legend= t('zone', scope: 'activerecord.attributes.procedure')
        = f.collection_check_boxes :zone_ids, current_administrateur.default_zones, :id, :current_label do |b|
          .fr-fieldset__element
            .fr-checkbox-group
              = b.check_box
              = b.label class: "fr-label font-weight-bold"
        = f.collection_check_boxes :zone_ids, @zones, :id, :label do |b|
          .fr-fieldset__element
            .fr-checkbox-group
              = b.check_box
              = b.label class: "fr-label"

  = render Procedure::FixedFooterComponent.new(procedure: @procedure, form: f)
