%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')
  %strong= t('notification_mailer.default_templates.closed_mail_with_attestation.accepted', date: '--date de décision--')

%p
  = t('notification_mailer.default_templates.closed_mail_with_attestation.download_attestation', link: '--lien attestation--')

= render partial: "notification_mailer/default_templates/signature"
