%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')
  %strong= t('notification_mailer.default_templates.closed_mail.accepted', date: '--date de décision--')

%p
  = t('notification_mailer.default_templates.closed_mail.consultation_info', link: '--lien dossier--')

= render partial: "notification_mailer/default_templates/signature"
