%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')

  = succeed '.' do
    %strong= t('notification_mailer.default_templates.initiated_mail.deposited')
  = t('notification_mailer.default_templates.initiated_mail.can_modify')

= render partial: "notification_mailer/default_templates/signature"
