%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')
  = t('notification_mailer.default_templates.re_instructed_mail.reexamined')
  = t('notification_mailer.default_templates.re_instructed_mail.procedure_link', procedure: '--libellé démarche--', link: '--lien dossier--')

  = t('notification_mailer.default_templates.re_instructed_mail.contact_service', service: '--nom du service--')

= render partial: "notification_mailer/default_templates/signature"
