%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')
  = t('notification_mailer.default_templates.received_mail.received')
  = succeed '.' do
    %strong= t('notification_mailer.default_templates.received_mail.processed')
  = t('notification_mailer.default_templates.received_mail.examination')

= render partial: "notification_mailer/default_templates/signature"
