%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')
  %strong= t('notification_mailer.default_templates.refused_mail_with_attestation.refused', date: '--date de décision--')

%p= t('notification_mailer.default_templates.refused_mail_with_attestation.reason_title')
%blockquote= t('notification_mailer.default_templates.refused_mail_with_attestation.reason_content', motivation: '--motivation--')

%p
  = t('notification_mailer.default_templates.refused_mail_with_attestation.download_attestation', link: '--lien attestation--')

= render partial: "notification_mailer/default_templates/signature"
