%p
  = t('notification_mailer.default_templates.greeting')

%p
  = t('notification_mailer.default_templates.your_file_number', id: '--numéro du dossier--')
  %strong= t('notification_mailer.default_templates.refused_mail.refused', date: '--date de décision--')

%p= t('notification_mailer.default_templates.refused_mail.reason_title')
%blockquote= t('notification_mailer.default_templates.refused_mail.reason_content', motivation: '--motivation--')

%p
  = t('notification_mailer.default_templates.refused_mail.more_info', link: '--lien dossier--')

= render partial: "notification_mailer/default_templates/signature"
