= form_with model: label, url: admin_procedure_procedure_labels_path(@procedure, id: @label.id), local: true do |f|
  = render Dsfr::InputComponent.new(form: f, attribute: :name, input_type: :text_field, opts: { maxlength: ProcedureLabel::NAME_MAX_LENGTH})

  %fieldset.fr-fieldset
    %legend.fr-fieldset__legend.fr-fieldset__legend--regular
      = t('activerecord.attributes.procedure_label.color')
      = render EditableChamp::AsteriskMandatoryComponent.new

    .grid-tags
      - @colors_collection.each do |color|
        .fr-fieldset__element
          .fr-radio-group
            = f.radio_button :color, color, checked: (label.color == color.underscore)
            = f.label :color, value: color, class: "fr-label fr-tag fr-tag--sm fr-tag--#{color}"

  = render Procedure::FixedFooterComponent.new(procedure: @procedure, form: f)
