= render Dropdown::MenuComponent.new(wrapper: :div, menu_options: { id: "menu-en-construction" }, button_options: { class: "fr-btn--secondary" }, role: :region) do |menu|
  - menu.with_button_inner_html do
    = t('.propose_rdv')

  - menu.with_item do
    .dropdown-description{ id: dom_id(@dossier, :propose_rdv) }
      %h4= t('.propose_rdv')
      %br
      = t('.propose_rdv_description')
      = link_to t('.connect_with_rdv_service_public'), "", class: "fr-btn"
      %br
      = t('.propose_rdv_explaination')

      .fr-mt-2w
        = form_tag(instructeur_rdvs_path(@dossier.procedure, @dossier), data: { turbo: true, turbo_confirm: t('.confirm') }, method: :post, multipart: true) do
          -# = button_tag "Annuler", type: :reset, class: 'fr-btn fr-btn--secondary', onclick: 'DS.motivationCancel();'
          = button_tag t('.confirm'), class: 'fr-btn fr-mr-0'
