= render Dropdown::MenuComponent.new(wrapper: :div, menu_options: { id: "menu-en-construction" }, button_options: { class: "fr-btn--secondary" }, role: :region) do |menu|
  - menu.with_button_inner_html do
    = t('.propose_rdv')

  - menu.with_item do
    .dropdown-description
      %h4= t('.propose_rdv')
      = t('.propose_rdv_description')
      = link_to t('.connect_with_rdv_service_public'), "", class: "fr-btn"

