#procedure-show
  .header
    .container
      - if @procedure.logo.present?
        = image_tag @procedure.logo, height: 40, class: 'procedure-logo'

      .right
        %h1= @procedure.libelle
        %ul.dossiers-categories
          %li{ class: (@statut == 'a-suivre') ? 'active' : nil }>
            = link_to(procedure_path(@procedure, statut: 'a-suivre')) do
              %span.dossiers-count= @a_suivre_dossiers.count
              à suivre

          %li{ class: (@statut == 'suivis') ? 'active' : nil }>
            = link_to(procedure_path(@procedure, statut: 'suivis')) do
              %span.dossiers-count= @followed_dossiers.count
              = t('pluralize.followed', count: @followed_dossiers.count)

          %li{ class: (@statut == 'traites') ? 'active' : nil }>
            = link_to(procedure_path(@procedure, statut: 'traites')) do
              %span.dossiers-count= @termines_dossiers.count
              = t('pluralize.processed', count: @termines_dossiers.count)

          %li{ class: (@statut == 'tous') ? 'active' : nil }>
            = link_to(procedure_path(@procedure, statut: 'tous')) do
              %span.dossiers-count= @all_state_dossiers.count
              tous les dossiers

          %li{ class: (@statut == 'archives') ? 'active' : nil }>
            = link_to(procedure_path(@procedure, statut: 'archives')) do
              %span.dossiers-count= @archived_dossiers.count
              = t('pluralize.archived', count: @archived_dossiers.count)

  .container
    - if @dossiers.present?
      %table.dossiers-table
        %tr
          %th.number-col Nº dossier
          %th Demandeur
          %th.status-col Statut
          %th.follow-col
        - @dossiers.each do |dossier|
          %tr
            %td.number-col= link_to(dossier.id, backoffice_dossier_path(dossier), class: 'big-link')
            %td= link_to(dossier.user.email, backoffice_dossier_path(dossier), class: 'big-link')
            %td.status-col
              = link_to(backoffice_dossier_path(dossier), class: 'big-link') do
                = render partial: 'status', locals: { dossier: dossier }
            %td.follow-col= render partial: 'dossier_actions', locals: { procedure: @procedure, dossier: dossier }
    - else
      %h2 Aucun dossier
