- content_for(:root_class, 'scroll-margins-for-sticky-footer')
- if params[:id] == 'closed_mail'
  = render partial: 'admin/mail_template_attestation_inconsistency_alert',
           locals: { procedure: @procedure, state: @procedure.mail_template_attestation_inconsistency_state(:acceptation),
                     mail_type: 'acceptation', attestation_template_v1: (@procedure.attestation_acceptation_template&.version == 1) }
- elsif params[:id] == 'refused_mail'
  = render partial: 'admin/mail_template_attestation_inconsistency_alert',
           locals: { procedure: @procedure, state: @procedure.mail_template_attestation_inconsistency_state(:refus),
                     mail_type: 'refus', attestation_template_v1: false }


= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ["Configuration des emails", admin_procedure_mail_templates_path(@procedure)],
                    [@mail_template.class.const_get(:DISPLAYED_NAME)]] }

.procedure-form
  .procedure-form__columns.container

    = form_for @mail_template,
      url: admin_procedure_mail_template_path(@procedure, @mail_template.class.const_get(:SLUG)),
      method: :put,
      html: { class: 'form form-ds-fr-white procedure-form__column--form fr-background-alt--blue-france' } do |f|

      %h1.fr-mt-3w.fr-h2= @mail_template.class.const_get(:DISPLAYED_NAME)
      = render partial: 'form', locals: { f: f, tags: @mail_template.tags }
      .procedure-form__actions.sticky--bottom
        .actions-right
          = f.submit 'Enregistrer', class: 'fr-btn'

    .procedure-form__column--preview
      .procedure-form__preview.sticky--top
        %h2.fr-mt-3w.fr-mb-0.fr-h3 Aperçu
        .notice= render PreviewDossierLinkComponent.new(preview_service: @preview_service)
        .procedure-preview
          = render partial: 'apercu', locals: { procedure: @mail_template.procedure }
