%table.dgfip
  %caption #{t("api_particulier.providers.dgfip.scopes.#{scope}.libelle")} :
  - declarant.slice('nom', 'nomNaissance', 'prenoms', 'dateNaissance').keys.each do |key|
    %tr
      %th= t("api_particulier.providers.dgfip.scopes.#{scope}.#{key}")
      %td= declarant[key]
