.no-procedure
  = image_tag "landing/hero/dematerialiser.svg", class: "paperless-logo", alt: ""
  .baseline.center
    %p
      %span.simple= t('.line1')
      %br
      = t('.line2')
      %br
      = t('.line3')
    %hr
    %p
      %span.small-simple= t('.are_you_new', app_name: APPLICATION_NAME.gsub("-","&#8209;")).html_safe
      %br
      %br
      = link_to t('views.users.sessions.new.find_procedure'), COMMENT_TROUVER_MA_DEMARCHE_URL, title: new_tab_suffix(t('views.users.sessions.new.find_procedure')), class: "fr-btn fr-btn--secondary", **external_link_attributes
