.procedure-logos
  = image_tag procedure.logo_url
  - if procedure.euro_flag || (defined?(force_euro_flag) && force_euro_flag == true)
    = image_tag("flag_of_europe.svg", id: 'euro_flag', class: (!procedure.euro_flag ? "hidden" : ""))
%h2.procedure-title
  = procedure.libelle
.procedure-description
  .procedure-description-body.read-more-enabled.read-more-collapsed
    = h string_to_html(procedure.description)
  = button_tag "Afficher la description complète", class: 'button read-more-button'
