.piece-justificative
  - if pj.attached?
    .piece-justificative-actions{ id: "piece_justificative_#{object.id}" }
      .piece-justificative-action
        = render partial: "shared/piece_jointe/pj_link", locals: { object: object, pj: object.piece_justificative_file, user_can_upload: true }
      .piece-justificative-action
        = button_tag 'Remplacer', type: 'button', class: 'button small', data: { 'toggle-target': "#champs_#{object.id}" }

  = form.file_field :piece_justificative_file,
    id: "champs_#{object.id}",
    class: "piece-justificative-input #{'hidden' if pj.attached?}",
    direct_upload: true
