
%button{ aria: {controls: 'modal-tabs-explanations' }, data: {'fr-opened': "false" }, class: 'fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-question-line fr-ml-2v' }
  = t('.modal.title')

%dialog#modal-tabs-explanations.fr-modal{ "aria-labelledby" => "fr-modal-title-modal-1", role: "dialog" }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-10.fr-col-lg-8
        .fr-modal__body
          .fr-modal__header
            %button.fr-btn--close.fr-btn{ aria: { controls: 'modal-tabs-explanations' }, title: t('.modal.close_alt') }= t('.modal.close')
          .fr-modal__content
            %h1#fr-modal-title-modal-1.fr-modal__title
              %span.fr-icon-arrow-right-line.fr-icon--lg>
              = t('.modal.title')

            - if action_name == "index"
              - %w(en_cours en_test close).each do |tab|
                %p
                  = t(".modal.tabs_#{tab}_html")

            - else
              - %w(a_suivre suivis traites tous supprimes expirant archives).each do |tab|
                %p
                  = t(".modal.tabs_#{tab}_html")
