%h2.fr-h3 Informations de contact
.card.mt-2
  - service = groupe_instructeur.contact_information
  - if service.nil?
    = "Le groupe #{groupe_instructeur.label} n'a pas d'informations de contact. Les informations de contact affichées à l'usager seront celles du service de la procédure"
    %p.mt-3
      - if groupe_instructeur.instructeurs.include?(current_administrateur.user.instructeur)
        = link_to "+ Ajouter des informations de contact", new_instructeur_groupe_contact_information_path(procedure_id: procedure.id, groupe_id: groupe_instructeur.id, from_admin: true), class: "fr-btn"
      - else
        Si vous souhaitez créer un service pour ce groupe, vous devez faire partie du groupe instructeur
  - else
    %p.mt-3
      - if groupe_instructeur.instructeurs.include?(current_administrateur.user.instructeur)
        = link_to "Modifier les informations de contact", edit_instructeur_groupe_contact_information_path(procedure_id: procedure.id, groupe_id: groupe_instructeur.id, from_admin: true), class: "fr-btn"
      - else
        Si vous souhaitez modifier ce service, vous devez faire partie du groupe instructeur
    %p.mt-3= service.nom
    = render SimpleFormatComponent.new(service.adresse, class_names_map: {paragraph: 'fr-footer__content-desc'})
    = service.email
    - if service.telephone.present?
      %p= service.telephone
    - if service.horaires.present?
      %p= service.horaires
