
.card#instructeurs-block
  .card-title Affectation des instructeurs
  = form_for :instructeur, url: { action: :add_instructeur, id: groupe_instructeur.id }, method: :post, data: { turbo: true }, html: { class: 'form' } do |f|
    .instructeur-wrapper
      - if !procedure.routing_enabled?
        %p Entrez les adresses email des instructeurs que vous souhaitez affecter à cette démarche

      - if disabled_as_super_admin
        = f.select :emails, available_instructeur_emails, {}, disabled: disabled_as_super_admin, id: 'instructeur_emails'
      - else
        = hidden_field_tag :emails, nil
        = react_component("ComboMultiple",
          options: available_instructeur_emails, selected: [], disabled: [],
          group: '.instructeur-wrapper',
          id: 'instructeur_emails',
          name: 'emails',
          label: 'Emails',
          acceptNewValues: true)

      = f.submit 'Affecter', class: 'fr-btn', disabled: disabled_as_super_admin

  = render partial: "instructeurs_list", locals: { instructeurs:, procedure:, groupe_instructeur: }

  = paginate instructeurs, views_prefix: 'shared'
