- if @procedure.routee?
  = render partial: 'administrateurs/breadcrumbs',
    locals: { steps: [link_to(t('.procedures'), admin_procedures_path),
                      link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                      t('.instructors_group')] }
- else
  = render partial: 'administrateurs/breadcrumbs',
    locals: { steps: [link_to('Démarches', admin_procedures_path),
                      link_to(@procedure.libelle, admin_procedure_path(@procedure)),
                      'Instructeurs'] }

.container.groupe-instructeur
  %h1 Gérer les instructeurs et les options d'instruction de « #{@procedure.libelle} »

  = render partial: 'administrateurs/groupe_instructeurs/routing', locals: { procedure: @procedure }

  - if @procedure.routee?
    = render partial: 'administrateurs/groupe_instructeurs/edit', locals: { procedure: @procedure, groupes_instructeurs: @groupes_instructeurs }
  - else
    = render partial: 'administrateurs/groupe_instructeurs/instructeurs',
      locals: { procedure: @procedure,
        groupe_instructeur: @procedure.defaut_groupe_instructeur,
        instructeurs: @instructeurs,
        available_instructeur_emails: @available_instructeur_emails,
        disabled_as_super_admin: is_administrateur_through_procedure_administration_as_manager? }
