- if @procedure.routee?
  = render partial: 'administrateurs/breadcrumbs',
    locals: { steps: [[t('.procedures'), admin_procedures_path],
                      [@procedure.libelle.truncate_words(4), admin_procedure_path(@procedure)],
                      [t('.instructors_group')]] }
- else
  = render partial: 'administrateurs/breadcrumbs',
    locals: { steps: [[t('.procedures'), admin_procedures_path],
                      [@procedure.libelle.truncate_words(4), admin_procedure_path(@procedure)],
                      ['Instructeurs']] }

.container.groupe-instructeur
  %h1 Gérer les instructeurs et les options d'instruction de « #{@procedure.libelle} »

  = render partial: 'administrateurs/groupe_instructeurs/routing', locals: { procedure: @procedure }

  - if @procedure.routee?
    = render partial: 'administrateurs/groupe_instructeurs/edit', locals: { procedure: @procedure, groupes_instructeurs: @groupes_instructeurs }
  - else
    = render partial: 'administrateurs/groupe_instructeurs/instructeurs',
      locals: { procedure: @procedure,
        groupe_instructeur: @procedure.defaut_groupe_instructeur,
        instructeurs: @instructeurs,
        available_instructeur_emails: @available_instructeur_emails,
        disabled_as_super_admin: administrateur_as_manager? }
