= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Groupes d’instructeurs', admin_procedure_groupe_instructeurs_path(@procedure)],
                    [@groupe_instructeur.label]] }

.fr-container
  %h1.fr-h2= t('administrateurs.groupe_instructeurs.reaffectation.title', label: @groupe_instructeur.label)

  %p= t('administrateurs.groupe_instructeurs.reaffectation.hint', label: @groupe_instructeur.label, count: @groupes_instructeurs.count)

  = form_with url: reaffecter_admin_procedure_groupe_instructeur_path, method: :post, local: true, data: { controller: 'enable-submit-if-filled', action: 'change->enable-submit-if-filled#fillCombobox' } do |form|
    .fr-grid-row.fr-grid-row--gutters.fr-grid-row--bottom.fr-mt-3w
      .fr-col-8
        .fr-select-group
          %react-fragment
            = render ReactComponent.new "ComboBox/SingleComboBox",
              id: 'target_group',
              name: 'target_group',
              placeholder: t('administrateurs.groupe_instructeurs.reaffectation.select'),
              items: @groupes_instructeurs.map { |g| { label: g.label, value: g.id.to_s } },
              class: 'fr-mt-1w',
              data: { enable_submit_if_filled_target: 'input' }

      .fr-col-4
        = form.submit t('administrateurs.groupe_instructeurs.reaffectation.submit'),
          class: 'fr-btn fr-btn-sm',
          data: { enable_submit_if_filled_target: 'submit', confirm: t('administrateurs.groupe_instructeurs.reaffectation.confirm', label: @groupe_instructeur.label) },
          disabled: true
