= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle, admin_procedure_path(@procedure)],
                    ['Groupes d’instructeurs', admin_procedure_groupe_instructeurs_path(@procedure)],
                    [@groupe_instructeur.label]] }

.container.groupe-instructeur

  .card
    .card-title Réaffectation des dossiers du groupe « #{@groupe_instructeur.label} »
    %p
      Le groupe « #{@groupe_instructeur.label} » contient des dossiers. Afin de procéder à sa suppression, vous devez réaffecter ses dossiers à un autre groupe instructeur.
    %table.table.mt-2
      %thead
        %tr
          %th{ colspan: 2 }= t(".existing_groupe", count: @groupes_instructeurs.total_count)
      %tbody
        - @groupes_instructeurs.each do |group|
          %tr
            %td= group.label
            %td.actions= button_to 'Réaffecter les dossiers à ce groupe',
              reaffecter_admin_procedure_groupe_instructeur_path(:target_group => group),
              { class: 'button',
                data: { confirm: "Êtes-vous sûr de vouloir réaffecter les dossiers du groupe « #{@groupe_instructeur.label} » vers le groupe  « #{group.label} » ?" } }

    = paginate @groupes_instructeurs
