= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Groupes d’instructeurs', admin_procedure_groupe_instructeurs_path(@procedure)],
                    [@groupe_instructeur.label]] }

= render Procedure::GroupeInstructeurMenuComponent.new(procedure: @procedure, sticky: true) do
  = render Procedure::OneGroupeManagementComponent.new(revision: @procedure.active_revision, groupe_instructeur: @groupe_instructeur)

  = render partial: 'shared/groupe_instructeurs/instructeurs',
    locals: { procedure: @procedure,
      groupe_instructeur: @groupe_instructeur,
      instructeurs: @instructeurs,
      available_instructeur_emails: @available_instructeur_emails,
      disabled_as_super_admin: administrateur_as_manager? }
  = render partial: 'shared/groupe_instructeurs/contact_information',
    locals: { procedure: @procedure,
      groupe_instructeur: @groupe_instructeur }

  - if @procedure.attestation_template&.activated?
    = render partial: "shared/groupe_instructeurs/signature_form", locals: { groupe_instructeur: @groupe_instructeur,
      preview_path: preview_attestation_admin_procedure_groupe_instructeur_path(@groupe_instructeur.procedure, @groupe_instructeur) }
