= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [[t('.procedures'), admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Groupes', admin_procedure_groupe_instructeurs_path(@procedure)],
                    ['Configuration automatique du routage']] }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      .fr-container
        %ul.fr-btns-group.fr-btns-group--inline-md.fr-ml-0
          %li
            = link_to options_admin_procedure_groupe_instructeurs_path, class: 'fr-link fr-icon-arrow-left-line fr-link--icon-left fr-mb-2w fr-mr-2w' do
              Revenir aux options

    .fr-col
      - content_for(:title, 'Routage')
      %h1 Configuration du routage
      %h2 Configuration automatique
      .fr-alert.fr-alert--info.fr-mb-3w{ aria: { hidden: true } }
        %p
        Vous trouverez ci-dessous une liste de champs de votre formulaire à partir desquels configurer le routage de façon <strong>automatique</strong>. Les groupes d’instructeurs seront créés à partir des valeurs possibles du champ.
        Seuls les champs suivants sont ouverts à ce mode de configuration :
        %ul
          - TypeDeChamp.humanized_simple_routable_types_by_category.each do |category|
            %li
              = category.join(', ')

        %p
          Si besoin, vous pourrez ensuite affiner votre configuration de façon <strong>manuelle</strong>, également à partir des champs suivants :

        %ul
          - TypeDeChamp.humanized_custom_routable_types_by_category.each do |category|
            %li
              = category.join(', ')

      = form_for :create_simple_routing,
        method: :post,
        data: { controller: 'enable-submit-if-checked' },
        url: create_simple_routing_admin_procedure_groupe_instructeurs_path(@procedure) do |f|

        .card.fr-pb-0{ data: { 'action': "click->enable-submit-if-checked#click" } }
          .notice
            Sélectionner le champ à partir duquel créer des groupes d’instructeurs
          - buttons_content = @procedure.active_revision.simple_routable_types_de_champ.map { |tdc| { label: tdc.libelle, value: tdc.stable_id, hint: "[#{I18n.t(tdc.type_champ, scope: 'activerecord.attributes.type_de_champ.type_champs')}]", tooltip: tdc.drop_down_options.join(", ")} }
          = render Dsfr::RadioButtonListComponent.new(form: f,
            target: :stable_id,
            buttons: buttons_content)

        %ul.fr-btns-group.fr-btns-group--inline-sm
          %li
            = link_to 'Annuler', options_admin_procedure_groupe_instructeurs_path(@procedure, state: :choix), class: 'fr-btn fr-btn--secondary'
          %li
            %button.fr-btn{ disabled: true,  data: { disable_with: 'Création des groupes…', 'enable-submit-if-checked-target': 'submit' } } Créer les groupes
