%div{ class: bordered_container_class_names }
  %h4 Impossible de contacter le référentiel

  = render Dsfr::AlertComponent.new(title: error_title, state: :error, extra_class_names: 'fr-mb-3w') do |c|
    - c.with_body do
      %p L'API n'a pas retournée une réponse valide, veuillez vérifier les paramètres du referentiel :
      %pre Endpoint: #{test_url}

      - if test_headers.present?
        %pre Headers: #{test_headers}

      %pre Status: #{JSON.pretty_generate(@referentiel.last_response_status)}
      %pre Body: #{JSON.pretty_generate(@referentiel.last_response_body)}

%ul.fr-btns-group.fr-btns-group--inline-sm.justify-center.fr-mt-5w
  %li= link_to "Annuler", champs_admin_procedure_path(@procedure), class: 'fr-btn fr-btn--secondary  fr-mr-3w'
  %li= link_to "Étape précédente", edit_admin_procedure_referentiel_path(procedure, type_de_champ.stable_id, referentiel.id), class: 'fr-btn'
  %li
    %button.fr-btn{ disabled: true } Étape suivante
