= form_with(model: type_de_champ, url: update_prefill_and_display_type_de_champ_admin_procedure_referentiel_path(procedure, type_de_champ.stable_id, referentiel), method: :patch, html: { class: 'fr-mt-5w' }) do |f|
  .border-background-contrast-grey.fr-p-4w
    = render Referentiels::ReferentielPrefillComponent.new(procedure: procedure, type_de_champ: type_de_champ, referentiel: referentiel)
    = render Referentiels::ReferentielDisplayComponent.new(procedure: procedure, type_de_champ: type_de_champ, referentiel: referentiel)

  %ul.fr-btns-group.fr-btns-group--inline-sm.flex.justify-center.fr-mt-5w
    %li= link_to "Annuler", champs_admin_procedure_path(procedure), class: 'fr-btn fr-btn--secondary fr-mr-3w'
    %li= link_to "Étape précédente", mapping_type_de_champ_admin_procedure_referentiel_path(procedure, type_de_champ.stable_id, referentiel), class: 'fr-btn fr-btn--secondary'
    %li= f.submit "Valider", class: "fr-btn"
