= render Dropdown::MenuComponent.new(wrapper: :span, wrapper_options: { class: ['help-dropdown']}, menu_options: { id: "help-menu" }) do |menu|
  - menu.with_button_inner_html do
    = t('help')
  - title = dossier.brouillon? ? "Besoin d’aide pour remplir votre dossier ?" : "Une question sur votre dossier ?"

  - if dossier.messagerie_available?
    - menu.with_item do
      = render partial: 'shared/help/dropdown_items/messagerie_item', locals: { dossier: dossier, title: title }

  - elsif dossier.procedure.service.present?
    - menu.with_item do
      = render partial: 'shared/help/dropdown_items/service_item',
        locals: { service: dossier.procedure.service, title: title }

  - menu.with_item do
    = render partial: 'shared/help/dropdown_items/faq_item'
