.autosave.autosave-state-idle{ data: { controller: 'autosave-status' } }
  %p.autosave-explanation
    %span.autosave-explanation-text
      - if dossier.brouillon?
        = t('views.users.dossiers.autosave.draft_explanation')
      - else
        = t('views.users.dossiers.autosave.explanation')
    = link_to t('views.users.dossiers.autosave.more_information'), FAQ_AUTOSAVE_URL, target: '_blank', rel: 'noopener', class: 'autosave-more-infos'

  %p.autosave-status.succeeded
    %span.autosave-icon.icon.accept
    %span.autosave-label
      - if dossier.brouillon?
        = t('views.users.dossiers.autosave.draft_confirmation')
      - else
        = t('views.users.dossiers.autosave.confirmation')
    = link_to t('views.users.dossiers.autosave.more_information'), FAQ_AUTOSAVE_URL, target: '_blank', rel: 'noopener', class: 'autosave-more-infos'

  %p.autosave-status.failed
    %span.autosave-icon ⚠️
    %span.autosave-label Impossible d’enregistrer le brouillon
    %button.button.small.autosave-retry{ type: :button, data: { action: 'autosave-status#onClickRetryButton', autosave_status_target: 'retryButton' } }
      %span.autosave-retry-label réessayer
      %span.autosave-retrying-label enregistrement en cours…

