.container
  - if dossier.en_construction_at.present?
    .card
      = render partial: "shared/dossiers/infos_generales", locals: { dossier: dossier }

  .tab-title Identité du demandeur
  .card
    - if dossier.france_connect_information.present?
      = render partial: "shared/dossiers/france_connect_informations", locals: { user_information: dossier.france_connect_information, provider: dossier.user.loged_in_with_france_connect }
    = render partial: "shared/dossiers/user_infos", locals: { user: dossier.user }

    - if dossier.etablissement.present?
      = render partial: "shared/dossiers/identite_entreprise", locals: { etablissement: dossier.etablissement, profile: profile }

      - if profile == 'usager' && !dossier.read_only?
        .flex.row-reverse
          = link_to "Modifier le Numéro TAHITI", siret_dossier_path(dossier), class: 'button'

    - if dossier.individual.present?
      = render partial: "shared/dossiers/identite_individual", locals: { individual: dossier.individual }

      - if profile == 'usager' && !dossier.read_only?
        .flex.row-reverse
          = link_to "Modifier l'identité", identite_dossier_path(dossier), class: 'button'

  .tab-title Formulaire
  - champs = dossier.champs.includes(:type_de_champ)
  - if champs.any? || dossier.procedure.routee?
    .card
      = render partial: "shared/dossiers/champs", locals: { champs: champs, dossier: dossier, demande_seen_at: demande_seen_at, profile: profile }
