.container
  - if dossier.en_construction_at.present?
    .card
      = render partial: "shared/dossiers/horodatage", locals: { dossier: dossier }

  .tab-title Identité du demandeur
  .card
    = render partial: "shared/dossiers/user_infos", locals: { user: dossier.user }

    - if dossier.etablissement.present?
      = render partial: "shared/dossiers/identite_entreprise", locals: { etablissement: dossier.etablissement, profile: profile }

    - if dossier.individual.present?
      = render partial: "shared/dossiers/identite_individual", locals: { individual: dossier.individual }

  .tab-title Formulaire
  - champs = dossier.champs.includes(:type_de_champ)
  - if champs.any?
    .card
      = render partial: "shared/dossiers/champs", locals: { champs: champs, demande_seen_at: demande_seen_at, profile: profile }

  - if dossier.types_de_piece_justificative.any?
    .tab-title Pièces jointes
    .card
      = render partial: "shared/dossiers/pieces_jointes", locals: { dossier: dossier, demande_seen_at: demande_seen_at }
