.container
  - if dossier.en_construction_at.present?
    .card
      = render partial: "shared/dossiers/infos_generales", locals: { dossier: dossier }

  .tab-title Identité du demandeur

  .card
    - if dossier.france_connect_information.present?
      = render partial: "shared/dossiers/france_connect_informations", locals: { user_information: dossier.france_connect_information }
    = render partial: "shared/dossiers/user_infos", locals: { user_deleted: dossier.user_deleted?, email: dossier.user_email_for(:display) }

    - if dossier.etablissement.present?
      = render partial: "shared/dossiers/identite_entreprise", locals: { etablissement: dossier.etablissement, profile: profile }

      - if profile == 'usager' && !dossier.read_only?
        .flex.row-reverse
          = link_to "Modifier le SIRET", siret_dossier_path(dossier), class: 'button'

    - if dossier.individual.present?
      = render partial: "shared/dossiers/identite_individual", locals: { individual: dossier.individual }
      - if feature_enabled?(:api_particulier) && dossier.procedure&.api_particulier_validated?
        = render partial: "shared/dossiers/identite_particulier", locals: { individual: dossier.individual, check_scope_sources_service: check_scope_sources_service }

      - if profile == 'usager' && !dossier.read_only?
        .flex.row-reverse
          = link_to "Modifier l'identité", identite_dossier_path(dossier), class: 'button'

  - if feature_enabled?(:api_particulier) && dossier.procedure&.api_particulier_validated?
    - if !dossier.individual&.api_particulier_donnees?
      = render partial: "shared/dossiers/identite_particulier_absente", locals: { dossier: dossier }
    - elsif profile != 'usager'
      = render partial: "shared/dossiers/identite_particulier_instructeur", locals: { dossier: dossier, individual: dossier.individual, donnees: donnees, check_scope_sources_service: check_scope_sources_service }
    - elsif profile == 'usager'
      = render partial: "shared/dossiers/identite_particulier_usager", locals: { dossier: dossier, individual: dossier.individual, donnees: donnees, check_scope_sources_service: check_scope_sources_service }

  .tab-title Formulaire
  - champs = dossier.champs.includes(:type_de_champ)
  - if champs.any? || dossier.procedure.routee?
    .card
      = render partial: "shared/dossiers/champs", locals: { champs: champs, dossier: dossier, demande_seen_at: demande_seen_at, profile: profile }
