.dossier-edit.container
  = render partial: "shared/dossiers/submit_is_over", locals: { dossier: dossier }

  - if apercu
    - form_options = { url: '', method: :get, html: { class: 'form', multipart: true } }
  - elsif dossier.brouillon?
    - form_options = { url: brouillon_dossier_url(dossier), method: :patch, html: { class: 'form', multipart: true } }
  - else
    - form_options = { url: modifier_dossier_url(dossier), method: :patch, html: { class: 'form', multipart: true } }

  = form_for dossier, form_options do |f|

    .prologue
      %p.mandatory-explanation
        Les champs avec un astérisque (
        %span.mandatory> *
        ) sont obligatoires.
      - if dossier.brouillon?
        %p.mandatory-explanation
          Pour enregistrer votre dossier et le reprendre plus tard, cliquez sur le bouton « Enregistrer le brouillon » en bas à gauche du formulaire.

      - if notice_url(dossier.procedure).present?
        = link_to notice_url(dossier.procedure), target: '_blank', rel: 'noopener', class: 'button notice', title: "Pour vous aider à remplir votre dossier, vous pouvez consulter le guide de cette démarche." do
          %span.icon.info>
          Guide de la démarche

    %hr

    -# This button prevent Enter from submitting the form, useful for carte&te_fenua address fields
    -# See https://stackoverflow.com/a/51507806/5502765
    %button{ type: :submit, disabled: true, style: 'display: none' } BOUTON

    = f.fields_for :champs, dossier.champs do |champ_form|
      - champ = champ_form.object
      = render partial: "shared/dossiers/editable_champs/editable_champ",
        locals: { champ: champ, form: champ_form }

    - if !apercu
      .send-dossier-actions-bar
        - if dossier.brouillon?
          = f.button 'Enregistrer le brouillon',
            formnovalidate: true,
            name: :save_draft,
            value: true,
            class: 'button send secondary',
            data: { 'disable-with': "Envoi en cours…" }

          - if dossier.can_transition_to_en_construction?
            = f.button 'Déposer le dossier',
              class: 'button send primary',
              disabled: !current_user.owns?(dossier),
              data: { 'disable-with': "Envoi en cours…" }

        - else
          = f.button 'Enregistrer les modifications du dossier',
            class: 'button send primary',
            data: { 'disable-with': "Envoi en cours…" }

      - if dossier.brouillon? && !current_user.owns?(dossier)
        .send-notice.invite-cannot-submit
          En tant qu’invité, vous pouvez remplir ce formulaire – mais le titulaire du dossier doit le déposer lui-même.

      = render partial: "shared/dossiers/submit_is_over", locals: { dossier: dossier }
