- if dossier.france_connected_with_one_identity?  && current_user.instructeur? && !current_user.owns_or_invite?(dossier)
  - content_for(:notice_info) do
    = render partial: "shared/dossiers/france_connect_informations_notice", locals: { user_information: dossier.user.france_connect_informations.first }


.dossier-edit.fr-container.counter-start-header-section
  = render partial: "shared/dossiers/submit_is_over", locals: { dossier: }
  = render NestedForms::FormOwnerComponent.new
  = form_for dossier, url: brouillon_dossier_url(dossier), method: :patch, html: { id: 'dossier-edit-form', class: 'form', multipart: true, novalidate: 'novalidate', data: { controller: 'prevent-submit-on-enter' } } do |f|

    = render Dossiers::ErrorsFullMessagesComponent.new(dossier:)
    %header.mb-6
      .fr-highlight
        %p.fr-text--sm
          %strong
            = t('utils.asterisk_html')
          - if dossier.brouillon?
            %br
            = t('views.shared.dossiers.edit.autosave')
          - if dossier.en_construction?
            %br
            = t('views.shared.dossiers.edit.autosave_submit')

          = render Procedure::NoticeComponent.new(procedure: dossier.procedure)

    %fieldset.fr-fieldset= render EditableChamp::SectionComponent.new(dossier:, types_de_champ: dossier.revision.types_de_champ_public)

    = render Dossiers::PendingCorrectionCheckboxComponent.new(dossier:)

  = render Dossiers::InvalidIneligibiliteRulesComponent.new(dossier:)

  = render Dossiers::EditFooterComponent.new(dossier:, annotation: false)
