- if dossier.france_connected_with_one_identity?  && current_user.instructeur? && !current_user.owns_or_invite?(dossier)
  - content_for(:notice_info) do
    = render partial: "shared/dossiers/france_connect_informations_notice", locals: { user_information: dossier.user.france_connect_informations.first }


.dossier-edit.fr-container.counter-start-header-section
  = render partial: "shared/dossiers/submit_is_over", locals: { dossier: dossier }
  = render NestedForms::FormOwnerComponent.new
  = form_for dossier_for_editing, url: brouillon_dossier_url(dossier_for_editing), method: :patch, html: { id: 'dossier-edit-form', class: 'form', multipart: true, novalidate: 'novalidate', data: { controller: 'prevent-submit-on-enter' } } do |f|

    = render Dossiers::ErrorsFullMessagesComponent.new(dossier: dossier_for_editing)
    %header.mb-6
      .fr-highlight
        %p.fr-text--sm
          %strong
            = t('utils.asterisk_html')
          - if dossier.brouillon?
            = t('views.shared.dossiers.edit.autosave')

          = render Procedure::NoticeComponent.new(procedure: dossier.procedure)

    %fieldset.fr-fieldset
      = render EditableChamp::EditableChampComponent.new(champs: dossier_for_editing.link_parent_children!.filter(&:public?))

    = render Dossiers::PendingCorrectionCheckboxComponent.new(dossier: dossier)

  = render Dossiers::InvalidIneligibiliteRulesComponent.new(dossier: dossier)

  = render Dossiers::EditFooterComponent.new(dossier: dossier_for_editing, annotation: false)
