.france-connect-informations.card.featured.flex.align-center
  .france-connect-informations-logo
    - case provider
      - when 'particulier', 'entreprise'
        = image_tag "logo-france-connect.png", alt: "France Connect logo"
        - provider = 'France Connect'
      - when 'microsoft',  'google', 'tatou', 'yahoo', 'sipf'
        = image_tag "icons/logo_#{provider}.svg", alt: "#{provider} logo", width: 60, class: "mb-2", style: 'padding-right: 16px'
  %div
    - authentification = ''
    - if user_information.updated_at.present?
      - provider_label = provider.present? ? " par #{provider&.camelize}" : ''
      - authentification = ", authentifié#{provider_label} le #{user_information.updated_at.strftime('%d/%m/%Y')}"
    Le dossier a été déposé par le compte de #{user_information&.given_name} #{user_information&.family_name}#{authentification}.
