= status_badge(dossier.state)
.title-container
  %span.icon.folder
  %h1= procedure_libelle(dossier.procedure)
  %h2
    = t('views.users.dossiers.show.header.dossier_number', dossier_id: dossier.id)
    = t('views.users.dossiers.show.header.created_date', date_du_dossier: I18n.l(dossier.created_at))

  = render(partial: 'shared/dossiers/expiration_banner', locals: {dossier: dossier})

  .header-actions
    - if current_user.owns?(dossier)
      = render partial: 'invites/dropdown', locals: { dossier: dossier }

