%dl.fr-pl-0
  .champ-row
    %dt.champ-label= t('views.users.dossiers.identite.civility')
    %dd.champ-content= dossier.individual.gender

  .champ-row
    %dt.champ-label= t('views.users.dossiers.identite.first_name')
    %dd.champ-content= dossier.individual.prenom

  .champ-row
    %dt.champ-label= t('views.users.dossiers.identite.last_name')
    %dd.champ-content= dossier.individual.nom

  - if dossier.individual.birthdate.present?
    .champ-row
      %dt.champ-label= t('views.users.dossiers.identite.birthdate')
      %dd.champ-content= try_format_date(dossier.individual.birthdate)
