%table.table.vertical.dossier-champs{ role: :presentation }
  %tbody
    %tr
      %td.libelle
        = t('views.users.dossiers.identite.civility')
      %td= individual.gender
    %tr
      %td.libelle
        = t('views.users.dossiers.identite.first_name')
      %td= individual.prenom
    %tr
      %td.libelle
        = t('views.users.dossiers.identite.last_name')
      %td= individual.nom
    - if individual.birthdate.present?
      %tr
        %td.libelle
          = t('views.users.dossiers.identite.birthdate')
        %td= try_format_date(individual.birthdate)
