- if dossier.individual.gender.present?
  = render Dossiers::RowComponent.new(label: t('views.users.dossiers.identite.civility')) do |c|
    - c.with_value do
      = dossier.individual.gender

= render Dossiers::RowComponent.new(label: t('views.users.dossiers.identite.first_name')) do |c|
  - c.with_value do
    = dossier.individual.prenom

= render Dossiers::RowComponent.new(label: t('views.users.dossiers.identite.last_name')) do |c|
  - c.with_value do
    = dossier.individual.nom

- if dossier.individual.birthdate.present?
  = render Dossiers::RowComponent.new(label: t('views.users.dossiers.identite.birthdate')) do |c|
    - c.with_value do
      = try_format_date(dossier.individual.birthdate)
