%table.table.vertical.dossier-champs
  %tbody
    - if etablissement.diffusable_commercialement == false && profile != 'instructeur'
      %tr
        %td= t('warning_for_private_info', etablissement: raison_sociale_or_name(etablissement), scope: 'views.shared.dossiers.identite_entreprise')
    - else
      %tr
        %th.libelle Dénomination :
        %td= raison_sociale_or_name(etablissement)
      %tr
        %th.libelle Numéro TAHITI :
        %td= etablissement.siret

      - if etablissement.siret != etablissement.entreprise.siret_siege_social
        %tr
          %th.libelle Numéro TAHITI du siège social:
          %td= etablissement.entreprise.siret_siege_social
      %tr
        %th.libelle Nom commercial :
        %td= sanitize(etablissement.entreprise_nom_commercial)
      %tr
        %th.libelle Forme juridique :
        %td= sanitize(etablissement.entreprise.forme_juridique)
      %tr
        %th.libelle Libellé NAF :
        %td= etablissement.libelle_naf
      %tr
        %th.libelle Code NAF :
        %td= etablissement.naf
      %tr
        %th.libelle Date de création :
        %td= try_format_date(etablissement.entreprise.date_creation)
      - if profile == 'instructeur'
        %tr
          %th.libelle
            Effectif mensuel
            = try_format_mois_effectif(etablissement)
            (URSSAF) :
          %td= etablissement.entreprise_effectif_mensuel
        %tr
          %th.libelle
            Effectif moyen annuel
            = etablissement.entreprise_effectif_annuel_annee
            (URSSAF) :
          %td= etablissement.entreprise_effectif_annuel
      %tr
        %th.libelle Effectif de l'organisation (INSEE) :
        %td
          = effectif(etablissement)
      %tr
        %th.libelle Numéro de TVA intracommunautaire :
        %td= etablissement.entreprise.numero_tva_intracommunautaire
      %tr
        %th.libelle Adresse :
        %td
          - etablissement.adresse.split("\n").each do |line|
            = line
            %br
      %tr
        %th.libelle Capital social :
        %td= pretty_currency(etablissement.entreprise.capital_social)
      %tr
        %th.libelle Chiffre d'affaires :
        %td
          - if profile == 'instructeur'
            %details
              - etablissement.exercices.each_with_index do |exercice, index|
                = "#{exercice.date_fin_exercice.year} : "
                = pretty_currency(exercice.ca)
                %br
          - elsif etablissement.exercices.present?
            = t('activemodel.models.exercices_summary', count: etablissement.exercices.count)


      - if etablissement.entreprise_bilans_bdf.present?
        - if profile == 'instructeur'
          = render partial: 'shared/dossiers/identite_entreprise_bilan_detail',
            locals: { libelle: 'Résultat exercice', key: 'resultat_exercice', etablissement: etablissement }

          = render partial: 'shared/dossiers/identite_entreprise_bilan_detail',
            locals: { libelle: "Excédent brut d'exploitation", key: 'excedent_brut_exploitation', etablissement: etablissement }

          = render partial: 'shared/dossiers/identite_entreprise_bilan_detail',
            locals: { libelle: 'Fonds de roulement net global', key: 'fonds_roulement_net_global', etablissement: etablissement }

          = render partial: 'shared/dossiers/identite_entreprise_bilan_detail',
            locals: { libelle: 'Besoin en fonds de roulement', key: 'besoin_en_fonds_de_roulement', etablissement: etablissement }
          %tr
            %th.libelle
              Chiffres financiers clés (Banque de France)
              = "en #{pretty_currency_unit(etablissement.entreprise_bilans_bdf_monnaie)} :"

            - if controller.is_a?(Instructeurs::AvisController)
              %td
                Les consulter
                = link_to "au format csv", bilans_bdf_instructeur_avis_path(@avis, format: 'csv')
                ,
                = link_to "au format xlsx", bilans_bdf_instructeur_avis_path(@avis, format: 'xlsx')
                ou
                = link_to "au format ods", bilans_bdf_instructeur_avis_path(@avis, format: 'ods')
            - else
              %td
                Les consulter
                = link_to "au format csv", bilans_bdf_instructeur_dossier_path(procedure_id: @dossier.procedure.id, dossier_id: @dossier.id, format: 'csv')
                ,
                = link_to "au format xlsx", bilans_bdf_instructeur_dossier_path(procedure_id: @dossier.procedure.id, dossier_id: @dossier.id, format: 'xlsx')
                ou
                = link_to "au format ods", bilans_bdf_instructeur_dossier_path(procedure_id: @dossier.procedure.id, dossier_id: @dossier.id, format: 'ods')
        - else
          %tr
            %th.libelle
              Bilans Banque de France :
            %td Les 3 derniers bilans connus de votre entreprise par la Banque de France ont été joints à votre dossier.
      - if etablissement.entreprise_attestation_sociale.attached?
        %tr
          %th.libelle Attestation sociale :
          - if profile == 'instructeur'
            %td= link_to "Consulter l'attestation", url_for(etablissement.entreprise_attestation_sociale)
          - else
            %td Une attestation de vigilance délivrée par l'ACOSS a été jointe à votre dossier.

      - if etablissement.entreprise_attestation_fiscale.attached?
        %tr
          %th.libelle Attestation fiscale :
          - if profile == 'instructeur'
            %td= link_to "Consulter l'attestation", url_for(etablissement.entreprise_attestation_fiscale)
          - else
            %td Une attestation fiscale délivrée par l'URSSAF a été jointe à votre dossier.

      - if etablissement.association?
        %tr
          %th.libelle Numéro RNA :
          %td= etablissement.association_rna
        %tr
          %th.libelle Titre :
          %td= etablissement.association_titre
        %tr
          %th.libelle Objet :
          %td= etablissement.association_objet
        %tr
          %th.libelle Date de création :
          %td= try_format_date(etablissement.association_date_creation)
        %tr
          %th.libelle Date de publication :
          %td= try_format_date(etablissement.association_date_publication)
        %tr
          %th.libelle Date de déclaration :
          %td= try_format_date(etablissement.association_date_declaration)

%p
  = link_to '➡ Autres informations sur le site de l\'ISPF',
  "http://www.ispf.pf/bases/Repertoires/Entreprises/Detail.aspx?numtah=#{etablissement.siren}",
  target: "_blank"
