.fr-px-2w.fr-mb-4w
  .fr-my-2w
    %p
      = t(:submitted_at, scope: [:views, :shared, :dossiers, :form], datetime: l(dossier.depose_at))
      %br
      - if dossier.last_champ_updated_at.present? && dossier.last_champ_updated_at > dossier.depose_at
        = t(:updated_at, scope: [:views, :shared, :dossiers, :form], datetime: l(dossier.last_champ_updated_at))

    .fr-highlight
      %p.fr-text--sm.fr-text-mention--grey Sauf mention contraire, les champs ont été saisis à la date du dépôt du dossier.

  - if profile == 'usager' && dossier.hide_info_with_accuse_lecture?
    = render Dossiers::AccuseLectureComponent.new(dossier: dossier)

  - else
    - if dossier.justificatif_motivation.attached?
      = render Dossiers::RowShowComponent.new(label: "Justificatif") do |c|
        - c.with_value do
          .action
            = render Attachment::ShowComponent.new(attachment: dossier.justificatif_motivation.attachment)

    - if dossier.motivation.present?
      = render Dossiers::RowShowComponent.new(label: "Motivation") do |c|
        - c.with_value do
          = render SimpleFormatComponent.new(dossier.motivation, allow_a: false)

    - if dossier.attestation.present? && dossier.attestation.pdf.attached?
      = render Dossiers::RowShowComponent.new(label: "Attestation") do |c|
        - c.with_value do
          = render Dsfr::DownloadComponent.new(attachment: dossier.attestation.pdf, name: t(:download_attestation, scope: [:views, :shared, :dossiers, :form]))
