.fr-px-2w.fr-mb-4w
  .fr-my-2w
    %p
      = t(:submitted_at, scope: [:views, :shared, :dossiers, :form], datetime: l(dossier.depose_at))
      %br
      - if dossier.last_champ_updated_at.present? && dossier.last_champ_updated_at > dossier.depose_at
        = t(:updated_at, scope: [:views, :shared, :dossiers, :form], datetime: l(dossier.last_champ_updated_at))

    .fr-highlight
      %p.fr-text--sm.fr-text-mention--grey Sauf mention contraire, les champs ont été saisis à la date du dépôt du dossier.

  - if dossier.justificatif_motivation.attached?
    = render Dossiers::RowShowComponent.new(label: "Justificatif") do |c|
      - c.with_value do
        .action
          = render Attachment::ShowComponent.new(attachment: dossier.justificatif_motivation.attachment)

  - if dossier.motivation.present?
    = render Dossiers::RowShowComponent.new(label: "Motivation") do |c|
      - c.with_value do
        = dossier.motivation

  - if dossier.attestation.present?
    = render Dossiers::RowShowComponent.new(label: "Attestation") do |c|
      - c.with_value do
        = link_to('Voir l’attestation', attestation_instructeur_dossier_path(dossier.procedure, dossier), **external_link_attributes)
