%dl.fr-pl-0
  .champ-row
    %dt.champ-label= 'Email'
    %dd.champ-content= user_deleted ? "#{email} (l’usager a supprimé son compte)" : email

  .champ-row
    %dt.champ-label= t('views.users.dossiers.identite.first_name')
    %dd.champ-content= dossier.mandataire_first_name

  .champ-row
    %dt.champ-label= t('views.users.dossiers.identite.last_name')
    %dd.champ-content= dossier.mandataire_last_name
