%dl.fr-pl-0
  = render Dossiers::RowComponent.new(label: t('views.shared.label.email'), profile: @profile) do |c|
    - c.with_value do
      = user_deleted ? "#{email} (l’usager a supprimé son compte)" : email

  = render Dossiers::RowComponent.new(label: t('views.users.dossiers.identite.first_name')) do |c|
    - c.with_value do
      = dossier.mandataire_first_name

  = render Dossiers::RowComponent.new(label: t('views.users.dossiers.identite.last_name')) do |c|
    - c.with_value do
      = dossier.mandataire_last_name
