- if dossier.json_latlngs.nil?
  %h2.empty-text Non renseigné
- else
  #map

  - if dossier.quartier_prioritaires.any?
    .card-title Quartiers prioritaires
    %ul
    - dossier.quartier_prioritaires.each do |q|
      %li= q.nom

  - if dossier.cadastres.any?
    .card-title Parcelles cadastrales
    %ul
    - dossier.cadastres.each do |p|
      %li
        = "Parcelle n° #{p.numero} - Feuille #{p.code_arr} #{p.section} #{p.feuille}"

  = render partial: 'shared/champs/carto/init', locals: { dossier: dossier }
