= render Dossiers::RowShowComponent.new(label: t("activemodel.attributes.normalized_address.full_address")) do |c|
  - c.with_value do
    %p
      = address.street_address
      %br
      = [address.city_name, address.postal_code].join(" ")


- ['city_code', 'postal_code'].each do |scope|
  - if address.public_send(scope).present?
    = render Dossiers::RowShowComponent.new(label: t("activemodel.attributes.normalized_address.#{scope}")) do |c|
      - c.with_value do
        %p= address.public_send(scope)

- if address.departement_name.present?
  = render Dossiers::RowShowComponent.new(label: t("activemodel.attributes.normalized_address.department")) do |c|
    - c.with_value do
      %p= "#{address.departement_name} – #{address.departement_code}"

- if address.region_name.present?
  = render Dossiers::RowShowComponent.new(label: t("activemodel.attributes.normalized_address.region")) do |c|
    - c.with_value do
      %p= "#{address.region_name} – #{address.region_code}"
