- if to_show.present?
  = turbo_stream.show_all(to_show)
- if to_hide.present?
  = turbo_stream.hide_all(to_hide)
- to_update.each do |champ|
  = fields_for champ.input_name, champ do |form|
    - if champ.refresh_after_update?
      = turbo_stream.replace champ.input_group_id do
        = render EditableChamp::EditableChampComponent.new champ:, form:, turbo: true
    - else
      = turbo_stream.update champ.labelledby_id do
        = render EditableChamp::ChampLabelContentComponent.new champ:, form:

= turbo_stream.remove_all(".editable-champ + .spinner-removable")
= turbo_stream.hide_all(".editable-champ + .spinner")

- if dossier.present?
  = turbo_stream.replace_all '.dossier-edit-sticky-footer' do
    = render Dossiers::EditFooterComponent.new(dossier:, annotation: false)
