#contact_information
  - service = dossier&.service || procedure.service
  - if service.present?
    %h3.fr-footer__top-cat= I18n.t('users.procedure_footer.managed_by.header')
    .fr-footer__top-link.fr-pb-3w
      %span{ lang: :fr }= service.pretty_nom
      %div{ lang: :fr }
        = render SimpleFormatComponent.new(service.adresse, class_names_map: {paragraph: 'fr-footer__content-desc'})
  %h3.fr-footer__top-cat
    - if dossier.present? && dossier.depose_at.present?
      = I18n.t('help_dropdown.help_filled_dossier')
    - elsif dossier.present?
      = I18n.t('help_dropdown.help_brouillon_title')
    - else
      = I18n.t('help_dropdown.procedure_title')
  - if procedure.service.present?
    %ul.fr-footer__top-list
      = render Procedure::ServiceListContactComponent.new(service: procedure.service, dossier: dossier)
