- content_for(:title, @procedure.libelle)

.commencer.form
  - if !user_signed_in?
    %h2.huge-title= t('views.commencer.show.start_procedure')
    = render partial: 'shared/france_connect_login', locals: { url: commencer_france_connect_path(path: @procedure.path) }
    = link_to commencer_sign_up_path(path: @procedure.path), class: 'fr-btn fr-btn--lg fr-my-2w' do
      = t('views.shared.account.create')
      %span.optional-on-small-screens.fr-ml-1v
        #{APPLICATION_NAME}
    = link_to t('views.shared.account.already_user'), commencer_sign_in_path(path: @procedure.path), class: 'fr-btn fr-btn--secondary fr-btn--lg fr-my-2w'

  - else
    - revision = @revision.draft? ? @revision : @procedure.revisions.where.not(id: @procedure.draft_revision_id)
    - dossiers = current_user.dossiers.visible_by_user.where(revision: revision)
    - drafts = dossiers.merge(Dossier.state_brouillon)
    - not_drafts = dossiers.merge(Dossier.state_not_brouillon)

    - if dossiers.empty?
      = link_to t('views.commencer.show.start_procedure'), url_for_new_dossier(@revision), class: 'fr-btn fr-btn--lg fr-my-2w'

    - elsif drafts.size == 1 && not_drafts.empty?
      - dossier = drafts.first
      %h2.huge-title= t('views.commencer.show.already_draft')
      %p
        = t('views.commencer.show.already_draft_detail_html', time_ago: time_ago_in_words(dossier.created_at), procedure: dossier.procedure.libelle)
      = link_to t('views.commencer.show.continue_file'), brouillon_dossier_path(dossier), class: 'fr-btn fr-btn--lg fr-my-2w'
      = link_to t('views.commencer.show.start_new_file'), url_for_new_dossier(@revision), class: 'fr-btn fr-btn--lg fr-btn--secondary fr-my-2w'

    - elsif not_drafts.size == 1
      - dossier = not_drafts.first
      %h2.huge-title= t('views.commencer.show.already_not_draft')
      %p
        = t('views.commencer.show.already_not_draft_detail_html', time_ago: time_ago_in_words(dossier.depose_at), procedure: dossier.procedure.libelle)
      = link_to t('views.commencer.show.show_my_submitted_file'), dossier_path(dossier), class: 'fr-btn fr-btn--lg fr-my-2w'
      = link_to t('views.commencer.show.start_new_file'), url_for_new_dossier(@revision), class: 'fr-btn fr-btn--lg fr-btn--secondary fr-my-2w'

    - else
      %h2.huge-title= t('views.commencer.show.existing_dossiers')
      = link_to t('views.commencer.show.show_dossiers'), dossiers_path, class: "fr-btn fr-btn--lg fr-my-2w"
      = link_to t('views.commencer.show.start_new_file'), url_for_new_dossier(@revision), class: "fr-btn fr-btn--lg fr-btn--secondary fr-my-2w"

  - if @procedure.feature_enabled?(:dossier_pdf_vide)
    %hr
    %p= t('views.commencer.show.want_empty_pdf', service: @procedure&.service&.nom, adresse: @procedure&.service&.adresse)

    %br
    = link_to t('views.commencer.show.download_empty_pdf'), commencer_dossier_vide_for_revision_path(@revision), class: "fr-btn fr-btn--lg fr-btn--secondary fr-my-2w"
