- content_for(:title, @procedure.libelle)

.commencer.form
  - if !user_signed_in?
    = render Dsfr::CalloutComponent.new(title: t(".start_procedure"), heading_level: 'h2') do |c|
      - c.with_html_body do
        .fr-grid-row.fr-grid-row--gutters
          .fr-col-12.fr-col-md-5
            = render partial: 'shared/france_connect_login', locals: { url: commencer_france_connect_path(path: @procedure.path, prefill_token: @prefilled_dossier&.prefill_token), heading_level: :h3 }
            = render partial: 'shared/pro_connect_login', locals: { url: commencer_pro_connect_path(path: @procedure.path, prefill_token: @prefilled_dossier&.prefill_token), heading_level: :h3 }
          .fr-col-12.fr-col-md-1.flex.justify-center
            %p.fr-hr-or= t('views.shared.france_connect_login.separator')
          .fr-col-12.fr-col-md-6.flex.justify-center.column
            %h3.fr-h6= t('views.users.sessions.new.subtitle')
            %ul.fr-btns-group
              %li.text-center
                = link_to commencer_sign_up_path(path: @procedure.path, prefill_token: @prefilled_dossier&.prefill_token), class: 'fr-btn' do
                  = t('views.shared.account.create', application_name: Current.application_name)

              %li= link_to t('views.shared.account.already_user'), commencer_sign_in_path(path: @procedure.path, prefill_token: @prefilled_dossier&.prefill_token), class: 'fr-btn fr-btn--secondary'

    = render ProcedureDraftWarningComponent.new(revision: @revision, current_administrateur:, extra_class_names: "fr-mb-2w")

  - else
    = render ProcedureDraftWarningComponent.new(revision: @revision, current_administrateur:, extra_class_names: "fr-mb-2w")

    - if @prefilled_dossier
      = render Dsfr::CalloutComponent.new(title: t(".prefilled_draft"), heading_level: 'h2') do |c|
        - c.with_body do
          %p= t('.prefilled_draft_detail_html', time_ago: time_ago_in_words(@prefilled_dossier.created_at), procedure: @procedure.libelle)
          = link_to t('.go_to_prefilled_file'), url_for_dossier(@prefilled_dossier), class: 'fr-btn fr-mb-2w'

    - elsif @dossiers.empty?
      = link_to t('.start_procedure'), url_for_new_dossier(@revision), class: 'fr-btn fr-mb-2w'

    - elsif @drafts.size == 1 && @not_drafts.empty?
      - dossier = @drafts.first
      = render Dsfr::CalloutComponent.new(title: t(".already_draft"), heading_level: 'h2') do |c|
        - c.with_body do
          %p
            = t('.already_draft_detail_html', time_ago: time_ago_in_words(dossier.created_at), procedure: @procedure.libelle)
          %ul.fr-btns-group.fr-btns-group--inline
            %li= link_to t('.continue_file'), url_for_dossier(dossier), class: 'fr-btn'
            %li= link_to t('.start_new_file'), url_for_new_dossier(@revision), class: 'fr-btn fr-btn--secondary'

    - elsif @not_drafts.size == 1
      - dossier = @not_drafts.first
      = render Dsfr::CalloutComponent.new(title: t(".already_not_draft"), heading_level: 'h2') do |c|
        - c.with_body do
          %p
            = t('.already_not_draft_detail_html', time_ago: time_ago_in_words(dossier.depose_at), procedure: @procedure.libelle)
          %ul.fr-btns-group.fr-btns-group--inline
            %li= link_to t('.show_my_submitted_file'), url_for_dossier(dossier), class: 'fr-btn'
            %li= link_to t('.start_new_file'), url_for_new_dossier(@revision), class: 'fr-btn fr-btn--secondary'

    - else
      = render Dsfr::CalloutComponent.new(title: t(".existing_dossiers"), heading_level: 'h2') do |c|
        - c.with_body do
          %ul.fr-btns-group.fr-btns-group--inline
            %li= link_to t('.show_dossiers'), dossiers_path(procedure_id: @procedure.id), class: "fr-btn"
            %li= link_to t('.start_new_file'), url_for_new_dossier(@revision), class: "fr-btn fr-btn--secondary"
          %p= t('.already_created', count: @preview_dossiers.size)
          %ul
            - @preview_dossiers.each do |dossier|
              %li= link_to t('.already_created_details_html',
                id: number_with_html_delimiter(dossier.id),
                created_at: time_ago_in_words(dossier.created_at),
                state: dossier_display_state(dossier.state, lower: true)),
                dossier_path(dossier)


  - if @procedure.feature_enabled?(:dossier_pdf_vide)
    %hr
    %p= t('.want_empty_pdf', service: @procedure&.service&.nom, adresse: @procedure&.service&.adresse)

    %br
    = link_to t('.download_empty_pdf'), commencer_dossier_vide_for_revision_path(@revision), class: "fr-btn fr-btn--secondary fr-mb-2w"
