= smart_listing_controls_for(:accompagnateurs_not_assign, { class: "form-inline text-right" }) do
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control",
                              placeholder: "Recherche...", autocomplete: :off
  %button.btn.btn-primary{ type: :submit }
    %span.fa.fa-search

- unless smart_listing.empty?

  %table.table#liste-gestionnaire
    %thead
      %th#email Email
      %th Ajouter

    - @accompagnateurs_not_assign.each do |accompagnateur|
      %tr
        %td.col-xs-11{ style: 'padding-top: 11px; font-size: 15px;' }= accompagnateur.email
        %td.center
          %a.btn.btn-success.gestionnaire-affectation{ href: "#{admin_procedure_accompagnateurs_path(procedure_id: @procedure.id, accompagnateur_id: accompagnateur.id, to: AccompagnateurService::ASSIGN)}", 'data-method' => 'put' }
            .fa.fa-arrow-right


  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %h4.center
    Aucun de disponible
