= @form.hidden_field :value
= @form.hidden_field :external_id
= @form.hidden_field :departement
= @form.hidden_field :code_departement
= react_component("ComboCommunesSearch",
  required: @champ.mandatory?,
  id: @champ.input_id,
  classNameDepartement: "width-33-desktop width-100-mobile",
  className: "width-66-desktop width-100-mobile",
  describedby: @champ.describedby_id)
