.fr-card
  .fr-card__body
    .fr-card__content
      - if title
        %h2.fr-card__title
          = title
      - if desc
        %p.fr-card__desc
          = desc
      .fr-card__start
        - if tags
          %ul.fr-tags-group
            - tags.each do |tag|
              %li
                %p.fr-tag= tag
      .fr-card__end
        - if error
          .fr-card__detail.fr-alert.fr-alert--error{ role: 'alert' }
            %p= error

    - if footer_buttons?
      .fr-card__footer
        %ul.fr-btns-group.fr-btns-group--inline-reverse.fr-btns-group--inline-lg
          - footer_buttons.each do |button|
            %li
              = button
