#column_filter_value_component
  = operator_hidden_field
  - if boolean?
    = render Dsfr::RadioButtonListComponent.new(form:,
      target: "filter[filter][value][]",
      buttons: column_filter_options.map { |label, value| { label:, value: } }) do
      = t('.value')

  - elsif is_date?
    .fr-grid-row.fr-grid-row--gutters
      .fr-col-4
        = form.label "filter[operator]", t('.operator'), class: 'fr-label'
        = form.select "filter[operator]", 
          options_for_select(date_filter_options, selected: "le"), {}, { class: 'fr-select', data: { no_autosubmit: true } }
      .fr-col-8
        = form.label :value, t('.value'), class: 'fr-label'
        = form.text_field "filter[filter][value][]",
          id: 'value',
          class: 'fr-input',
          type: 'date',
          data: { no_autosubmit: true },
          required: true

  - elsif selectable?
    = form.label :value, t('.value'), class: 'fr-label'
    %react-fragment
      = render ReactComponent.new "ComboBox/MultiComboBox", **react_props

  - else
    = form.label :value, t('.value'), class: 'fr-label'
    = form.text_field "filter[filter][value][]",
      id: 'value',
      class: 'fr-input',
      type:,
      disabled: column.nil?,
      maxlength: FilteredColumn::FILTERS_VALUE_MAX_LENGTH,
      data: { no_autosubmit: true },
      required: true
