#column_filter_value_component
  = operator_hidden_field
  - if boolean?
    = render Dsfr::RadioButtonListComponent.new(form:,
      target: "filter[value][]",
      buttons: column_filter_options.map { |label, value| { label:, value: } }) do
      = t('.value')
  - elsif selectable?
    = form.label :value, t('.value'), class: 'fr-label'
    %react-fragment
      = render ReactComponent.new "ComboBox/MultiComboBox", **react_props
  - else
    = form.label :value, t('.value'), class: 'fr-label'
    = form.text_field "filter[value][]",
      id: 'value',
      class: 'fr-input',
      type:,
      maxlength: FilteredColumn::FILTERS_VALUE_MAX_LENGTH,
      data: { no_autosubmit: true },
      required: true
