- content_for(:title, 'Mot de passe oublié')

- content_for :footer do
  = render partial: 'root/footer'

.container.devise-container
  .one-column-centered
    = devise_error_messages!

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form' }) do |f|

      %h1= t('devise.passwords.new.forgot_your_password')

      %p.notice= t('views.passwords.new.send_me_reset_password_instructions')

      = f.label :email, 'Email'
      = f.email_field :email, autofocus: true

      = f.submit 'Demander un nouveau mot de passe', class: 'button expand primary'
