.row{ style: 'height: 34px;' }

- if smart_listing.present?
  %table.table#liste-gestionnaire
    %thead
      %th Enlever
      %th#email{ style: 'text-align: right;' } Email

    - @instructeurs_assign.each do |instructeur|
      %tr
        %td.col-md-1.col-lg-1.col-sm-1.col-xs-1.col-sm-1.col-xs-1.center
          = link_to "#{admin_procedure_instructeurs_path(procedure_id: @procedure.id, instructeur_id: instructeur.id, to: Admin::InstructeursController::NOT_ASSIGN)}", class: "btn btn-primary",  'data-method' => 'put' do
            .fa.fa-arrow-left
        %td{ style: 'padding-top: 11px; font-size: 15px; text-align: right;' }= instructeur.email

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links
- else
  %h4.center
    Aucun d'affecté
