<div class="fr-checkbox-group fr-my-1v fr-my-2w">
  <%= checkbox do %>
    <span>
      <span class="fr-badge fr-badge--green-menthe fr-mr-1w">
        <span class="fr-icon-add-line fr-icon--sm fr-mr-1v"></span>
        Libellé
      </span>

      <%= original_tdc.libelle %>

      <% if libelle_changed? %>
        <span class="fr-ml-1w">→ <%= payload['libelle'] %></span>
      <% end %>
    </span>

    <% if description_changed? %>
      <span>
        <span class="fr-badge fr-badge--green-menthe fr-mr-1w">
          <span class="fr-icon-add-line fr-icon--sm fr-mr-1v"></span>
          Description
        </span>

        <%= original_tdc.description %>

        <% if description_changed? %>
          <span class="fr-ml-1w">→ <%= payload['description'] %></span>
        <% end %>

        <% if item.justification.present? %>
          <span class="fr-hint-text"><%= item.justification %></span>
        <% end %>
      </span>
    <% end %>
  <% end %>
</div>
