<div class="fr-fieldset__element">
  <% if item.is_a?(LLMRuleSuggestionItem) %>
    <div class="fr-checkbox-group fr-my-1v">
      <%= checkbox do %>
        <% if op_kind == 'add' %>
          <span class="fr-badge fr-badge--green-menthe fr-mr-1w">
            <span class="fr-icon-add-line fr-icon--sm fr-mr-1v"></span>
            Ajout de section
          </span>
          <%= payload['libelle'] %>
        <% elsif op_kind == 'update' && original_tdc %>
          <span class="fr-badge fr-badge--green-bourgeon fr-mr-1w">
            <span class="fr-icon-arrow-up-down-line fr-icon--sm fr-mr-1v"></span>
            Réorganisation
          </span>
          <%= original_tdc.libelle %>
        <% end %>

        <span class="fr-hint-text fr-mt-1w"><%= item.justification %></span>

        <pre><%= item.payload.inspect %></pre>
      <% end %>
    </div>
    <hr />
  <% else %>
    <div class="fr-checkbox-group fr-my-1v">
      <%= check_box_tag :lol, :lol, :lol, disabled: true %>

      <%= label_tag do %>
        <% if item.header_section? %>
          <span class="fr-badge fr-badge--green-menthe fr-mr-1w">
            <span class="fr-icon-add-line fr-icon--sm fr-mr-1v"></span>
            Section: <%= item.type_de_champ.stable_id %>
          </span>
          <%= item.libelle %>
        <% else %>
          <span class="fr-badge fr-badge--green-bourgeon fr-mr-1w">
            <span class="fr-icon-arrow-up-down-line fr-icon--sm fr-mr-1v"></span>
            TDC: <%= item.type_de_champ.stable_id %>
          </span>
          <%= item.libelle %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
