%footer.landing-footer{ role: 'contentinfo' }
  .container
    %ul.footer-columns

      %li.footer-column
        %ul.footer-logos
          %li.footer-text
            Un service fourni par
            = link_to t("links.provider.provided_by"), t("links.provider.url"), title: t("links.provider.title")
            %br
          %li
            = link_to t("links.provider.url"), title: t("links.provider.name"), 'aria-label': t("links.provider.name") do
              %span.footer-logo{ role: 'img', 'aria-label': t("links.provider.logo.alt") }
                = image_tag t("links.provider.logo.src"), alt: t("links.provider.logo.alt"), width: t("links.provider.logo.width"), height: t("links.provider.logo.height"), loading: 'lazy'
            = link_to t("links.footer.betagouv.url"), title: t("links.footer.betagouv.title"), 'aria-label': t("links.footer.betagouv.label") do
              %span.footer-logo.footer-logo-beta-gouv-fr{ role: 'img', 'aria-label': "Logo #{t('links.footer.betagouv.label')}" }

      %li.footer-column
        %ul.footer-links
          - I18n.t('links.footer.col1').each do |link_descriptor|
            %li.footer-link
              = link_to link_descriptor[:label], link_descriptor[:url], {class: 'footer-link'}.merge(link_descriptor[:attributes])

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = contact_link t("links.footer.contact.label"), title: t("links.footer.contact.title"), class: "footer-link"

            - I18n.t('links.footer.col2').each do |link_descriptor|
              %li.footer-link
                = link_to link_descriptor[:label], link_descriptor[:url], {class: 'footer-link'}.merge(link_descriptor[:attributes])
