%footer.landing-footer
  .container
    %ul.footer-columns

      %li.footer-column
        %ul.footer-logos
          %li.footer-text
            Un service fourni par la
            = link_to "DINSIC", "http://www.modernisation.gouv.fr/"
            %br
            et incubé par
            = link_to "beta.gouv.fr", "https://beta.gouv.fr"
          %li
            = link_to "http://www.modernisation.gouv.fr/" do
              %span.footer-logo.footer-logo-dinsic{ role: 'img', 'aria-label': 'DINSIC' }
            = link_to "http://www.net.pf/" do
              %span.footer-logo.footer-logo-netpf{ role: 'img', 'aria-label': 'Net.pf' }
          %li
            = link_to "https://beta.gouv.fr" do
              %p.footer-logo.footer-logo-beta-gouv-fr{ role: 'img', 'aria-label': 'beta.gouv.fr' }

      %li.footer-column
        %ul.footer-links
          -# %li.footer-link
            = link_to "Newsletter", "https://my.sendinblue.com/users/subscribe/js_id/3s2q1/id/1", :class => "footer-link", :target => "_blank"
          -# %li.footer-link
            = link_to "Nouveautés", "https://github.com/betagouv/tps/releases", :class => "footer-link"
          %li.footer-link
            = link_to "Statistiques", stats_path, :class => "footer-link"
          %li.footer-link
            = link_to "CGU", CGU_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to "Mentions légales", MENTIONS_LEGALES_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to "Suivi d'audience et vie privée", suivi_path, :class => "footer-link"

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = contact_link "Contact", class: "footer-link"
          %li.footer-link
            = link_to "Documentation", DOC_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to "Documentation de l'API", API_DOC_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to "FAQ", FAQ_URL, :class => "footer-link", :target => "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to "Accessibilité", accessibilite_path, :class => "footer-link"
