.fr-py-6w
  .container
    %h2.center.fr-mb-4w Ils utilisent déjà #{Current.application_name}

    %ul.users
      %li.user
        = link_to "https://www.ecologique-solidaire.gouv.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/mtes.jpg"), alt: "Ministère de la Transition Écologique et Solidaire" }
      %li.user
        = link_to "https://www.iledefrance.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/region-idf.jpg"), alt: "Région Île-de-France" }
      %li.user
        = link_to "http://www.artisanat.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/chambres-de-metiers.jpg"), alt: "Chambres des Métiers et de l'Artisanat" }
      %li.user
        = link_to "http://www.cci.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/cci.jpg"), alt: "CCI de France" }
      %li.user
        = link_to "http://www.driea.ile-de-france.developpement-durable.gouv.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/driea-idf.jpg"), alt: "Direction Régionale et Interdépartementale de l'Équipement et de l'Aménagement" }

    %ul.users
      %li.user
        = link_to "https://www.debatpublic.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/cndp.jpg"), alt: "Commission Nationale du Débat Public" }
      %li.user
        = link_to "https://www.iledefrance.ars.sante.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/ars-idf.jpg"), alt: "Agence Régionale de Santé d’Île-de-France" }
      %li.user
        = link_to "http://www.franceagrimer.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/france-agrimer.jpg"), alt: "FranceAgrimer" }
      %li.user
        = link_to "http://www.rhone.gouv.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/prefecture-rhone.jpg"), alt: "Préfecture de la région Rhône-Alpes" }
      %li.user
        = link_to "http://www.lillemetropole.fr/", target: :blank, rel: "noopener noreferrer" do
          %img.user-image{ :src => image_url("landing/users/mel.jpg"), alt: "Métropole Européenne de Lille" }
