- content_for :footer do
  = render partial: "root/footer"

.landing
  .fr-py-6w
    .container
      .hero-wrapper
        .hero-text
          %h1.fr-mb-0
            Dématérialisez et simplifiez
            vos démarches administratives

        .hero-illustration
          %img{ :src => image_url("landing/hero/dematerialiser.svg"), alt: "" }

  -# .fr-py-6w.fr-background-alt--blue-france
    .container
      .role-panel-wrapper.role-administrations-panel
        .role-panel-70
          %h2 Est-ce fait pour mon administration ?
          %p.fr-h5 Découvrez notre outil et posez nous vos questions lors de notre démonstration en ligne ou lisez notre documentation

          = link_to "Consulter notre vidéo de démonstration", DEMO_VIDEO_URL, class: "fr-btn fr-btn--lg fr-mr-1w fr-mb-2w", **external_link_attributes
          = link_to "Documentation", DOC_URL, class: "fr-btn fr-btn--secondary fr-btn--lg", **external_link_attributes

        .role-panel-30.role-more-info-image.fr-mt-2w
          %img.role-image{ :src => image_url("landing/roles/usagers.svg"), alt: "" }

  .fr-py-6w
    .container
      .role-panel-wrapper.role-administrations-panel
        .role-panel-30.role-administrations-image
          %img.role-image{ :src => image_url("landing/roles/administrations.svg"), alt: "" }

        .role-panel-70
          %h2 Votre administration est prête pour dématérialiser
          %p.fr-h5 Demandez un compte pour créer un premier formulaire de test en quelques minutes


          = link_to "Créer votre compte administrateur", DEMANDE_INSCRIPTION_ADMIN_PAGE_URL, class: "fr-btn fr-btn--lg"

          %br
          %br
          %br


  .fr-py-6w.fr-background-flat--blue-france.fr-text-inverted--blue-france
    .container
      %ul.features
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/messagerie.svg"), alt: "" }
          %p.feature-text
            %em.feature-text-em Dialogue
            %br
            simplifié entre usagers et services

        %li.feature
          %img.feature-image{ :src => image_url("landing/features/collaborer.svg"), alt: "" }
          %p.feature-text
            %em.feature-text-em Collaboration
            %br
            pour un traitement des dossiers plus fluide

        %li.feature
          %img.feature-image{ :src => image_url("landing/features/gerer.svg"), alt: "" }
          %p.feature-text
            %em.feature-text-em Intégration
            %br
            à l'ensemble des services de l'État plateforme

  = render partial: "root/testimonials" if LANDING_TESTIMONIALS_ENABLED

  - cache([I18n.locale, "numbers-panel"], expires_in: 3.hours) do
    .fr-py-6w.fr-background-alt--blue-france
      .container
        %h2.center.fr-mb-4w #{Current.application_name} en chiffres
        %dl.numbers
          .number
            %dt.number-label
              administrations partenaires
            %dd.number-value
              = number_with_delimiter(Administrateur.with_publiees_ou_closes.uniq.count, :locale => :fr)
          .number
            %dt.number-label
              dossiers déposés
            %dd.number-value
              = number_with_delimiter(Dossier.state_not_brouillon.count, :locale => :fr)
          .number
            %dt.number-label
              de réduction des délais de traitement
            %dd.number-value
              = "#{number_with_delimiter(50, :locale => :fr)} %"

  = render partial: "root/users" if  LANDING_USERS_ENABLED

  .container
    .fr-grid-row.fr-grid-row--gutters.fr-py-5w
      .fr-col-12
        = render Dsfr::CardVerticalComponent.new(title: "Vous êtes prêt pour dématérialiser ?", desc: "Réduisez vos temps d’instruction de 50 %") do |c|
          - c.with_footer_button do
            = link_to("Créer votre compte administrateur", DEMANDE_INSCRIPTION_ADMIN_PAGE_URL, class: "fr-btn", **external_link_attributes)

      -# .fr-col-md-6.fr-col-12
        = render Dsfr::CardVerticalComponent.new(title: "Vous voulez en savoir plus ?", desc: "Participez à notre prochain Webinaire") do |c|
          - c.with_footer_button do
            = link_to("Inscription à notre prochain webinaire", INSCRIPTION_WEBINAIRE_URL, class: "fr-btn", **external_link_attributes)

  .fr-py-6w.fr-background-alt--blue-france
    .container
      .cta-panel-wrapper
        %div
          %h2 Une question, un problème ?
          %p.fr-h5 Consultez notre FAQ
        %div
          = link_to "Voir la FAQ", t("links.common.faq.url"), class: "fr-btn fr-btn--lg", **external_link_attributes
