- content_for :footer do
  = render partial: "root/footer"

.landing
  .landing-panel.hero-panel
    .container
      .hero-wrapper
        .hero-text
          %p.hero-tagline
            %em.hero-tagline-em Dématérialisez et simplifiez
            vos démarches administratives

        .hero-illustration
          %img{ :src => image_url("landing/hero/dematerialiser.svg"), alt: "" }

  .landing-panel.more-info
    .container
      .role-panel-wrapper.role-administrations-panel
        .role-panel-70
          %h1.role-panel-title Est-ce fait pour mon administration ?
          %p.role-panel-explanation Découvrez notre outil et posez nous vos questions lors de notre démonstration en ligne ou lisez notre documentation

          = render Dsfr::ButtonComponent.new("Participer à notre démonstration en ligne", "https://app.livestorm.co/demarches-simplifiees/presentation-general-de-demarches-simplifieesfr", class: "fr-btn--lg frm-mr-1w fr-mb-2w", external: true)
          = render Dsfr::ButtonComponent.new("Documentation", DOC_URL, class: "fr-btn--secondary fr-btn--lg", external: true)

        .role-panel-30.role-more-info-image.fr-mt-2w
          %img.role-image{ :src => image_url("landing/roles/usagers.svg"), alt: "" }

.landing-panel.usagers-panel
  .container
    .role-panel-wrapper.role-administrations-panel
      .role-panel-30.role-administrations-image
        %img.role-image{ :src => image_url("landing/roles/administrations.svg"), alt: "" }

      .role-panel-70
        %h1.role-panel-title Votre administration est prête pour dématérialiser
        %p.role-panel-explanation Créez un premier formulaire de test en quelques minutes


        = render Dsfr::ButtonComponent.new("Créer votre compte administrateur", DEMANDE_INSCRIPTION_ADMIN_PAGE_URL, class: "fr-btn--lg")

        %br
        %br
        %br




  .landing-panel.features-panel
    .container
      %ul.features
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/messagerie.svg"), alt: "" }
          %p.feature-text
            %em.feature-text-em Dialogue
            %br
            simplifié entre usagers et services

        %li.feature
          %img.feature-image{ :src => image_url("landing/features/collaborer.svg"), alt: "" }
          %p.feature-text
            %em.feature-text-em Collaboration
            %br
            pour un traitement des dossiers plus fluide

        %li.feature
          %img.feature-image{ :src => image_url("landing/features/gerer.svg"), alt: "" }
          %p.feature-text
            %em.feature-text-em Intégration
            %br
            à l'ensemble des services de l'État plateforme

  = render partial: "root/testimonials" if LANDING_TESTIMONIALS_ENABLED

  - cache "numbers-panel", :expires_in => 3.hours do
    .landing-panel.numbers-panel
      .container
        %h2.landing-panel-title #{APPLICATION_NAME} en chiffres
        %ul.numbers
          %li.number
            .number-value
              = number_with_delimiter(Administrateur.with_publiees_ou_closes.uniq.count, :locale => :fr)
            .number-label<
              administrations
              %br<>
              partenaires
          %li.number
            .number-value
              = number_with_delimiter(Dossier.state_not_brouillon.count, :locale => :fr)
            .number-label<
              dossiers
              %br<>
              déposés
          %li.number
            .number-value
              = "#{number_with_delimiter(50, :locale => :fr)} %"
            .number-label<
              de réduction
              %br<>
              des délais de traitement

  = render partial: "root/users" if  LANDING_USERS_ENABLED

  .container
    .fr-grid-row.fr-grid-row--gutters.fr-py-5w
      .fr-col-md-6.fr-col-12
        = render Dsfr::CardComponent.new(title: "Vous êtes prêt pour dématérialiser ?",
                                         desc: "Réduisez vos temps d’instruction de 50 %",
                                         footer_buttons: [{ url: DEMANDE_INSCRIPTION_ADMIN_PAGE_URL, label: "Créer votre compte administrateur", external: true }],
                                         )

      .fr-col-md-6.fr-col-12
        = render Dsfr::CardComponent.new(title: "Vous voulez en savoir plus ?",
                                         desc: "Participez à notre prochain Webinaire",
                                         footer_buttons: [{ url: "https://app.livestorm.co/demarches-simplifiees/presentation-general-de-demarches-simplifieesfr", label: "Inscription à notre prochain webinaire", external: true }],
                                         )
  .landing-panel.cta-panel
    .container
      .cta-panel-wrapper
        %div
          %h1.cta-panel-title Une question, un problème ?
          %p.cta-panel-explanation Consultez notre FAQ
        %div
          = render Dsfr::ButtonComponent.new("Voir la FAQ", FAQ_URL, external: true, class: "fr-btn--lg")
