#landing.max-size
  #title
    %h1.center
      %img#logo-tps{src: image_url('logos/logo-tps.png')}
    %h2.center
      TéléProcédure Simplifiée

    %h3.center
      Plateforme publique pour réaliser des démarches administratives 100% en ligne.

    %br
    %br
    .center
      %button.background-tps.js-scrollTo.btn.btn-lg{cible: '.demo_account'}
        Envie d'essayer ?

#landing_body.max-size
  .row#etapes.center
    #create_1.col-lg-3.col-md-3.col-sm-3.col-xs-3
      %img{src:image_url('etapes/create_1.png')}
      %br
      %h4 Administration
      %h3.text-info Je construis ma démarche 100% en ligne
    #complet_2.col-lg-3.col-md-3.col-sm-3.col-xs-3
      %img{src:image_url('etapes/complet_2.png')}
      %br
      %h4 Usager
      %h3.text-success Je remplis un dossier de manière simplifiée
    #message_3.col-lg-3.col-md-3.col-sm-3.col-xs-3
      %img{src:image_url('etapes/message_3.png')}
      %br
      %h4 Usager
      %h3.text-warning Je dialogue avec mon administration en ligne
    #shared_4.col-lg-3.col-md-3.col-sm-3.col-xs-3
      %img{src:image_url('etapes/shared_4.png')}
      %br
      %h4 Usager et Administrations
      %h3.text-danger
        J'invite des partenaires à co-construire le dossier

  .split-hr-left

  .row.demo_account.center
    .col-md-4.col-lg-4
      %h3.text-primary Acteurs publics
      %h4 Créez des démarches en ligne simplifiées et sécurisées.
      =link_to 'Démonstration', 'https://tps-dev.apientreprise.fr/administrateurs/sign_in/demo', {class: 'btn btn-lg btn-primary'}

    .col-md-4.col-lg-4
      %h3.text-warning Agents et services
      %h4 Accompagnez et co-traitez les projets avec les usagers.
      =link_to 'Démonstration', 'https://tps-dev.apientreprise.fr/gestionnaires/sign_in/demo', {class: 'btn btn-lg btn-warning'}

    .col-md-4.col-lg-4
      %h3.text-success Usagers
      %h4 Profitez de démarches simplifiées et d’échanges continus avec les services traitants.
      =link_to 'Démonstration', 'https://tps-dev.apientreprise.fr/users/sign_in/demo', {class: 'btn btn-lg btn-success'}

  .split-hr-left

  #request_access.row.center
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %h3 Envi de commencer à créer votre démarche ?

    = link_to 'Demander un accès administrateur', 'https://tps.apientreprise.fr/users/dossiers/new?procedure_id=31', {class: 'btn btn-lg background-tps', target: '_blank'}

  .split-hr-left

  .center
    .row
      #utilisateurs.col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h4 Ils nous font confiances

        Conseil Regional Ile de France, Politique de la ville du Pas de Calais (ensemble des administrations et collectivités territoriales concernées), DRIEA Ile de France
        %br
        Préfecture de la Martinique, DRIEE Ile de France, Ministère de l’écologie et du développement durable, MEEM, CCI Normandie, DGE

    %br
    .row
      #partenaires.col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h4 Ils travaillent avec nous

        Insee, Infogreffe, Ministère de la jeunesse et du sport, IGN, DGFIP, CGET, France Connect, Open Streetmap, la BAN, api.gouv.fr, Euroquity - BPI, FNTP, Qualibat

  .split-hr-left

  - unless @latest_release.nil?

    .latest_release.col-md-6.col-lg-6.col-sm-6.col-xs-6
      %h3.text-info{style:'display: inline'}
        = "Dernières nouveautés "
        %h5{style:'display: inline'}
          = "(#{@latest_release.tag_name} - #{@latest_release.published_at})"
      .body
        =@latest_release.body.html_safe

      .center
        \-
        %br
        %a{href: 'https://github.com/sgmap/tps/releases', target: '_blank'}
          = 'Voir toutes les versions'
