- content_for :footer do
  = render partial: "root/footer"
- content_for :title, t(".promise")

.landing
  .fr-py-6w
    .container
      .hero-wrapper
        .hero-text
          %h1.fr-mb-0
            = t(".promise")

        .hero-illustration
          %img{ :src => image_url("landing/hero/dematerialiser.svg"), alt: '', width: 499, height: 280, loading: 'lazy' }

  .fr-background-alt--blue-france.fr-py-6w
    .container
      .role-panel-wrapper
        .role-panel-30.role-usagers-image
          %img.role-image{ :src => image_url("landing/roles/usagers.svg"), alt: '', width: 176, height: 180, loading: 'lazy' }

        .role-panel-70
          %h2= t(".have_a_procedure")
          %p.fr-h5= t(".fill_procedure")

          = link_to t(".how_to_find_procedure"), t("links.common.faq.comment_trouver_ma_demarche_url"), class: "fr-btn fr-btn--lg fr-mr-1w fr-mb-2w", title: new_tab_suffix(t(".how_to_find_procedure"))
          = link_to t("views.users.sessions.new.connection"), new_user_session_path, class: "fr-btn fr-btn--secondary fr-btn--lg"

  .fr-py-6w
    .container
      %h2.center.fr-mb-4w= t(".our_numbers", name: Current.application_name)
      - cache [I18n.locale, "numbers-panel"], expires_in: 3.hours do
        %ul.numbers
          %li.number
            .number-value
              = number_with_delimiter(@stat&.administrations_partenaires)
            .number-label= t(".numbers.administrations")
          %li.number
            .number-value
              = number_with_delimiter(@stat&.dossiers_not_brouillon)
            .number-label= t(".numbers.files")
          %li.number
            .number-value
              = "#{number_with_delimiter(50)} %"
            .number-label.number-label-third= t(".numbers.processing_time")

  .fr-background-alt--blue-france.fr-py-6w
    .container
      .cta-panel-wrapper
        %div
          %h2= t(".question")
          %p.fr-h5= t(".answer_in_faq")
        %div
          = link_to t(".online_help"), t("links.common.faq.url"), class: "fr-btn fr-btn--lg", title: t(".online_help")

  .fr-py-6w
    .container
      .cta-panel-wrapper
        %div
          %h2= t(".administration_dematerialize")
          %p.fr-h5= t(".administration_fill_online")
        %div
          = link_to t(".administration_discover"), administration_path, class: "fr-btn fr-btn--lg"
