- content_for(:display_footer, true)

.landing
  .landing-panel.hero-panel
    .container
      .hero-wrapper
        .hero-text
          %p.hero-tagline
            %em.hero-tagline-em Dématérialisez
            %br
            vos procédures administratives en quelques minutes
          = link_to "Demander une démo",
            "mailto:#{t("dynamics.contact_email")}?subject=Demande de démo Téléprocédures Simplifiées",
            class: "hero-button",
            target: "_blank",
            onclick: "javascript: ga('send', 'pageview', '/demander-une-demo')"

        .hero-illustration
          %img{ :src => image_url("landing/hero/dematerialiser.svg") }

  .landing-panel.features-panel
    .container
      %h2.landing-panel-title.features-panel-title Un outil dédié aux organismes publics

      %ul.features
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/creer.svg") }
          %p.feature-text
            %em.feature-text-em Créer
            %br
            des procédures en ligne
            %br
            en toute simplicité
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/gerer.svg") }
          %p.feature-text
            %em.feature-text-em Gérer
            %br
            les demandes des usagers
            %br
            sur la plateforme
        %li.feature
          %img.feature-image{ :src => image_url("landing/features/collaborer.svg") }
          %p.feature-text
            %em.feature-text-em Collaborer
            %br
            pour instruire les demandes
            %br
            à plusieurs

  .landing-panel
    .container
      %h2.landing-panel-title Ce que les utilisateurs pensent du service

      %ul.quotes
        %li.quote
          %img.quote-quotation-mark{ :src => image_url("landing/testimonials/quotation-mark.svg") }
          .quote-content-wrapper
            %p.quote-content
              TPS est un outil de dématérialisation adapté au dépôt de dossiers de demande d’inscription au registre des transporteurs routiers en Ile-de-France. Les échanges avec les usagers sont facilités, ce qui permet de réduire les délais d’instructions et de gagner en efficacité.

            %p.quote-author
              %span.quote-author-name Elodie Le Rhun
              %br
              Chef de bureau, DRIEA Ile-de-France

        %li.quote
          %img.quote-quotation-mark{ :src => image_url("landing/testimonials/quotation-mark.svg") }
          .quote-content-wrapper
            %p.quote-content
              TPS c’est surtout l’assurance d’un dialogue en toute fluidité et en toute transparence entre les porteurs de projet et l’administration. Un service qui garantit une économie de temps et beaucoup moins de manipulations des dossiers.

            %p.quote-author
              %span.quote-author-name Nadja Briki
              %br
              Déléguée de la Préfète du Pas-de-Calais

  - cache "numbers-panel", :expires_in => 3.hours do
    .landing-panel.numbers-panel
      .container
        %h2.landing-panel-title TPS en chiffres
        %ul.numbers
          %li.number
            .number-value
              = number_with_delimiter(Procedure.publiees_ou_archivees.count, :locale => :fr)
            .number-label<
              procédures
              %br<>
              dématérialisées
          %li.number
            .number-value
              = number_with_delimiter(Dossier.where.not(:state => :draft).count, :locale => :fr)
            .number-label<
              dossiers
              %br<>
              déposés
          %li.number
            .number-value
              = "#{number_with_delimiter(50, :locale => :fr)} %"
            .number-label<
              de réduction
              %br<>
              des délais de traitement

  .landing-panel.users-panel
    .container
      %h2.landing-panel-title Ils nous font confiance

      %ul.users
        %li.user
          %a{ :href => "http://www.developpement-durable.gouv.fr/", :target => "_blank " }
            %img.user-image{ :src => image_url("landing/users/ministere-environnement.jpg") }
        %li.user
          %a{ :href => "https://www.iledefrance.fr/", :target => "_blank " }
            %img.user-image{ :src => image_url("landing/users/region-idf.jpg") }
        %li.user
          %a{ :href => "http://www.artisanat.fr/", :target => "_blank " }
            %img.user-image{ :src => image_url("landing/users/chambres-de-metiers.jpg") }
        %li.user
          %a{ :href => "http://www.cci.fr/", :target => "_blank " }
            %img.user-image{ :src => image_url("landing/users/cci.jpg") }
        %li.user
          %a{ :href => "http://www.driea.ile-de-france.developpement-durable.gouv.fr/", :target => "_blank " }
            %img.user-image{ :src => image_url("landing/users/driea-idf.jpg") }

  .landing-panel.cta-panel
    .container
      .cta-panel-wrapper
        %div
          %h1.cta-panel-title Commencez à dématérialiser vos procédures
          %p.cta-panel-explanation Nous vous accompagnons dans la prise en main de l’outil
        %div
          = link_to "Demander une démo",
            "mailto:#{t("dynamics.contact_email")}?subject=Demande de démo Téléprocédures Simplifiées",
            class: "cta-panel-button",
            target: "_blank",
            onclick: "javascript: ga('send', 'pageview', '/demander-une-demo')"
