- total = 100 - 2
- interface = 10
- notification = 10
- bugs = 20
- realise = total - interface - notification - bugs

#landing.max-size
  #title{style:'padding-bottom: 2%; padding-top: 2%'}
    %h1.center
      TPS V2
    %h2.center
      Pour une meilleure plateforme

    %br
    %h3.center
      Un seul espace pour suivre les évolutions UX de la Version 2 de TPS

    .center{style:'margin-top: 40px'}
      = link_to "Découvrir", '/users/sign_in', {class: "btn btn-lg btn-success"}

#progression{style:'margin-left: 2em; margin-right: 2em; margin-top: 50px'}
  %h2.center Où en est la migration vers TPS V2 ? ...

  %h2.text-success.center{style:'margin-left: 135px'}
    = realise
    \%
    %i.text-default{style:'font-size: 18px'}
      du site migré
  %div{style: "width: 60%; margin-left:auto; margin-right:auto"}
    .progress{style:'height: 30px; background-color: #ddd'}
      .progress-bar.progress-bar-success.progress-bar-striped{:style => "width: #{realise}%;"}
      .progress-bar.progress-bar-warning{:style => "width: #{interface}%;"}
        %div{style:'margin-top: 0.4em'}
          Interface
      .progress-bar.progress-bar-purple{:style => "width: #{notification}%;"}
        %div{style:'margin-top: 0.4em'}
          Notifications
      .progress-bar.progress-bar-danger{:style => "width: #{bugs}%;"}
        %div{style:'margin-top: 0.4em'}
          Fiabilisations et bugs


#road_map.center{style:'margin-top: 30px; margin-bottom: 50px'}
  %h2.text-success
    Réalisé

  #realise{style: 'width: 650px; margin-left: auto; margin-right: auto; text-align:left'}
    %ul
      %li
        Un design général qui permet de mieux s'y retrouver
      %li
        Utilisateur, Accompagnateur et Administrateur ont maintenant la même page de connexion
      %li
        Un tout nouveau tableau de bord pour les Accompagnteurs
      %li
        Une page récapitulative pour un dossier entièrement revue
      %li
        La possibilité de changer en un clic de compte entre Utilisateur, Accompagnateur et Administrateur
      %li
        Une recherche globale : tapez et vous trouverez !!

  %br
  %h2.text-warning
    Reste à faire

  #reste_a_faire{style: 'width: 650px; margin-left: auto; margin-right: auto; text-align:left'}
    %ul
      %li
        Terminer d'optimiser nos pages avec la nouvelle interface
        %b.text-warning
          ="(#{interface}%)"
      %li
        Centre de notification : un seul endroit pour suivre l'activité de l'ensemble de vos dossiers (Accompagnateur)
        %b.text-purple
          ="(#{notification}%)"
      %li
        Fiabilisation accrue de la plateforme : un certain nombre de bug sont encore présents ...
        %b.text-danger
          ="(#{bugs}%)"
      %li
        %b
          Prendre vos retours en compte :
          = link_to 'feedback@tps.apientreprise.fr', "mailto:feedback@tps.apientreprise.fr"


%h3.center
  Disponible sur
  = link_to "tps.apientreprise.fr", 'https://tps.apientreprise.fr', target: '_blank'
  le
  %span.text-success
    3 Janvier 2017