#landing.max-size
  #title
    %h1.center
      TPS
    %h2.center
      TéléProcédure Simplifiée

    %br
    %h3.center
      Simplifié toutes vos démarches pour les rendre 100% en ligne.

    #buttons.center
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.simplifier'}
        Simplifier
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.securiser'}
        Sécuriser
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.echanger'}
        Échanger
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.faciliter'}
        Faciliter
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.profiter'}
        Profiter

#suite.max-size
  .row.word.simplifier
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/simplifier.png')
    .col-md-6.col-lg-6

  .row.word.securiser
    .col-md-6.col-lg-6
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/securiser.png')

  .row.word.echanger
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/echanger.png')
    .col-md-6.col-lg-6

  .row.word.faciliter
    .col-md-6.col-lg-6
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/faciliter.png')

  .row.word.profiter
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/profiter.png')
    .col-md-6.col-lg-6