#landing.max-size
  #title
    %h1.center
      TPS
    %h2.center
      TéléProcédure Simplifiée

    %br
    %h3.center
      Simplifié toutes vos démarches pour les rendre 100% en ligne.

    #buttons.center
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.simplifier'}
        Simplifier
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.securiser'}
        Sécuriser
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.echanger'}
        Échanger
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.faciliter'}
        Faciliter
      %button.js-scrollTo.btn.btn-lg.btn-default{cible: '.profiter'}
        Profiter

#suite.max-size
  .row.word.simplifier
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/simplifier.png')
    .col-md-6.col-lg-6
      %ul.dynamic_ul
        %li
          %a Générateur simplifiée de démarches en ligne
        %li
          %a Ne demander que les informations strictement nécessaires
        %li
          %a Gérer les procédures, publication, suspension, en un clic.

  .row.word.securiser
    .col-md-6.col-lg-6
      %ul.dynamic_ul
        %li
          Profiter d’une identification simplifiée grâce à FranceConnect
        %li
          Évoluer sur une plateforme de l'État totalement sécurisée
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/securiser.png')

  .row.word.echanger
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/echanger.png')
    .col-md-6.col-lg-6
      %ul.dynamic_ul
        %li
          Tchatter avec les services traitant jusqu’à la complétude du dossier
        %li
          Etre notifié de manière électronique
        %li
          Accompagner les usagers dans leur démarche
        %li
          Vérifier les pièces au fur et à mesure

  .row.word.faciliter
    .col-md-6.col-lg-6
      %ul.dynamic_ul
        %li
          Construire la démarche en plusieurs fois
        %li
          Gagner du temps sur l’instruction

    .col-md-6.col-lg-6
      = image_tag image_url('keywords/faciliter.png')

  .row.word.profiter
    .col-md-6.col-lg-6
      = image_tag image_url('keywords/profiter.png')
    .col-md-6.col-lg-6
      %ul.dynamic_ul
        %li
          Récupérer des informations officielles collectées directement auprès des administrations
        %li
          Profiter des ressources cartographiques directement mobilisées, si nécessaire