- content_for :footer do
  = render partial: "root/footer"
- content_for :title, t(".promise")

.landing
  .landing-panel.hero-panel
    .container
      .hero-wrapper
        .hero-text
          %h1.hero-tagline
            = simple_format(t(".promise"), { class: "hero-tagline-em" }, wrapper_tag: "em")

        .hero-illustration
          %img{ :src => image_url("landing/hero/dematerialiser.svg"), alt: '', width: 499, height: 280, loading: 'lazy' }

  .landing-panel.usagers-panel
    .container
      .role-panel-wrapper
        .role-panel-30.role-usagers-image
          %img.role-image{ :src => image_url("landing/roles/usagers.svg"), alt: '', width: 176, height: 180, loading: 'lazy' }

        .role-panel-70
          %h2= t(".have_a_procedure")
          %p.fr-h5= t(".fill_procedure")

          = link_to t(".how_to_find_procedure"), COMMENT_TROUVER_MA_DEMARCHE_URL, class: "fr-btn fr-btn--lg fr-mr-1w fr-mb-2w", title: new_tab_suffix(t(".how_to_find_procedure")), **external_link_attributes
          = link_to t("views.users.sessions.new.connection"), new_user_session_path, class: "fr-btn fr-btn--secondary fr-btn--lg"

  - cache "numbers-panel", :expires_in => 3.hours do
    .landing-panel
      .container
        %h2.center.fr-mb-4w= t(".our_numbers", name: APPLICATION_NAME)
        %ul.numbers
          %li.number
            .number-value
              = number_with_delimiter(@stat&.administrations_partenaires)
            = simple_format(t(".numbers.administrations"), { class: "number-label" }, wrapper_tag: "div")
          %li.number
            .number-value
              = number_with_delimiter(@stat&.dossiers_not_brouillon)
            = simple_format(t(".numbers.files"), { class: "number-label" }, wrapper_tag: "div")
          %li.number
            .number-value
              = "#{number_with_delimiter(50)} %"
            = simple_format(t(".numbers.processing_time"), { class: "number-label" }, wrapper_tag: "div")

  .landing-panel.cta-panel
    .container
      .cta-panel-wrapper
        %div
          %h2.cta-panel-title= t(".question")
          %p.cta-panel-explanation= t(".answer_in_faq")
        %div
          = link_to t(".online_help"), FAQ_URL, class: "fr-btn fr-btn--lg", title: new_tab_suffix(t(".online_help")), **external_link_attributes
        -#   We temporarily disable the link to the contact page on the homepage
        -#   %p.cta-panel-explanation Notre équipe est disponible pour vous renseigner et vous aider
        -# %div
        -#   = contact_link "Contactez-nous",
        -#     tags: 'landing',
        -#     class: "cta-panel-button-white",
        -#     target: "_blank",
        -#     rel: "noopener noreferrer"

  .landing-panel
    .container
      .cta-panel-wrapper
        %div
          %h2.fr-h4= t(".administration_dematerialize")
          %p.cta-panel-explanation.grey= t(".administration_fill_online")
        %div
          = link_to t(".administration_discover"), administration_path, class: "fr-btn fr-btn--lg"
