.patron
  .container
    %h1 Patron

    %h2 Formulaires

    %form.form
      %label Nom
      %input{ type: "text" }
      %label Prénom
      %input{ type: "text", placeholder: "ex : Ivan" }
      %label Mot de passe
      %input{ type: "password", value: "12345678" }
      %input.button{ type: "submit", value: "Envoyer" }

    %h2 Boutons

    %p
      = link_to ".button", "#", class: "button"

      = link_to ".button.primary", "#", class: "button primary"

      = link_to ".button.secondary", "#", class: "button secondary"

      = link_to ".button.large", "#", class: "button large"

      = link_to ".button.large.primary", "#", class: "button large primary"

    %p
      = link_to ".button.primary.expand", "#", class: "button primary expand"

    %h2 Onglets

    %ul.tabs
      %li
        = link_to "Onglet 1", "#", class: "selected"
      %li
        = link_to "Onglet 2", "#"
      %li
        = link_to "Onglet 3", "#"

    %h2 Labels

    %span.label .label

    %h2 Layout deux colonnes

  .two-columns
    .columns-container
      .column
        Insérer ici le contenu de la colonne 1
      .column
        Insérer ici le contenu de la colonne 2
