= turbo_frame_tag "#{dom_id(prefilling)}_url" do
  - theme = prefilling.too_long? ? :warning : :success
  - icon = prefilling.too_long? ? "fr-icon-warning-fill" : "fr-icon-paint-fill"
  - body = prefilling.too_long? ? t("views.prefillings.edit.prefill_link_too_long") : t("views.prefillings.edit.prefill_link_info")

  = render Dsfr::CalloutComponent.new(title: t("views.prefillings.edit.prefill_link_title"), theme: theme, icon: "fr-icon-paint-fill") do |c|
    - c.with_body do
      = body
      %div
        %strong
          = prefilling.prefill_link
    - unless prefilling.too_long?
      - c.with_bottom do
        = render Dsfr::CopyButtonComponent.new(title: t("views.prefillings.edit.prefill_link_copy"), text: prefilling)
