= turbo_frame_tag "#{dom_id(@prefilling)}_types_de_champs" do
  .card
    .card-title
      %span.icon.edit
      = t("views.prefillings.edit.champs_title")

    %table.table.hoverable
      %thead
        %tr
          %th
            = t("views.prefillings.edit.champ_id")
          %th
            = t("views.prefillings.edit.champ_type")
          %th
            = t("views.prefillings.edit.champ_libelle")
          %th
            = t("views.prefillings.edit.champ_description")
          %th
            = t("views.prefillings.edit.champ_prefill")

      %tbody
        - prefilling.types_de_champ.each do |type_de_champ|
          %tr
            %td
              = type_de_champ.to_typed_id
            %td
              = t("activerecord.attributes.type_de_champ.type_champs.#{type_de_champ.type_champ}")
            %td
              = type_de_champ.libelle
            %td
              = type_de_champ.description
            %td.text-center
              = form_for prefilling, url: prefilling_path(prefilling.path), data: { turbo: true } do |f|
                - if prefilling.include?(type_de_champ.id)
                  - (prefilling.selected_type_de_champ_ids - [type_de_champ.id.to_s]).each do |id|
                    = f.hidden_field :selected_type_de_champ_ids, value: id, multiple: true
                  = f.submit t("views.prefillings.edit.champ_remove"), class: 'button secondary'
                - elsif type_de_champ.prefillable?
                  - (prefilling.selected_type_de_champ_ids + [type_de_champ.id.to_s]).each do |id|
                    = f.hidden_field :selected_type_de_champ_ids, value: id, multiple: true
                  = f.submit t("views.prefillings.edit.champ_add"), class: 'button primary'
                - else
                  %button.button{ disabled: true }
                    = t("views.prefillings.edit.champ_unavailable")
