.fr-download
  = link_to url, {class: "fr-download__link", download: name} do
    - if !has_name
      %span.sr-only= t('.action')
    = truncate ? name.truncate(20) : name
    %span.fr-download__detail
      = helpers.download_details(attachment)
  - if ephemeral_link
    %span.fr-ml-2w.fr-text--xs.fr-text-mention--grey
      %span.fr-icon-questionnaire-line{ "aria-hidden": "true" }
      = t('.ephemeral_link')

  - if virus_not_analyzed
    .fr-text--xs.fr-text-mention--grey
      = t('.virus_not_analyzed')
