.fr-mb-5v
  - if @batch.finished_at.present?
    = render Dsfr::AlertComponent.new(title: t('.finish.title'), state: (@batch.failed_dossier_ids.size.positive? ? :warning : :success), heading_level: 'h2') do |c|
      - c.body do
        %p
          = t('.finish.text_success', count: @batch.total_count, success_count: @batch.success_dossier_ids.size)


  - else
    = render Dsfr::AlertComponent.new(title: t('.in_progress.title'), state: :info, heading_level: 'h2') do |c|
      - c.body do
        %p= t('.in_progress.text_success', count: @batch.total_count, progress_count: @batch.progress_count)

        %p
          = link_to t('.link_text'), instructeur_procedure_path(@procedure, statut: params["statut"]), data: { action: 'turbo-poll#refresh' }
          = t('.after_link_text')
