.attachment.fr-upload-group{ id: (attachment ? dom_id(attachment, :edit) : nil), class: class_names("fr-mb-1w": !(as_multiple? && attachments.any?(&:persisted?))) }
  - if as_multiple?
    - attachments.each do |attachment|
      - if attachment.persisted?
        %div{ id: dom_id(attachment, :persisted_row) }
          .flex.flex-gap-2.align-center{ class: class_names("attachment-error": attachment.virus_scanner_error?) }
            - if user_can_destroy?
              - if downloadable?(attachment)
                = render Dsfr::DownloadComponent.new(attachment: attachment)

              = render NestedForms::OwnedButtonComponent.new(formaction: destroy_attachment_path, http_method: :delete, opt: {class: "fr-btn fr-btn--tertiary fr-btn--sm fr-icon-delete-line order-first", title: t(".delete_file", filename: attachment.filename)}) do
                = t('.delete_file', filename: attachment.filename)
            - else
              %span.attachment-filename= link_to_if(viewable?(attachment), attachment.filename.to_s, helpers.url_for(attachment.blob), title: t(".open_file", filename: attachment.filename), **helpers.external_link_attributes)

              = render Attachment::ProgressComponent.new(attachment: attachment, ignore_antivirus: true)

            - if error?(attachment)
              %p.fr-error-text= error_message(attachment)
  - else
    - if persisted?
      %div{ id: dom_id(attachment, :persisted_row) }
        .flex.flex-gap-2.align-center{ class: class_names("attachment-error": attachment.virus_scanner_error?) }
          - if downloadable?(attachment)
            = render Dsfr::DownloadComponent.new(attachment:)
          - else
            %span.attachment-filename= link_to_if(viewable?(attachment), attachment.filename.to_s, helpers.url_for(attachment.blob), title: t(".open_file", filename: attachment.filename), **helpers.external_link_attributes)

            = render Attachment::ProgressComponent.new(attachment: attachment, ignore_antivirus: true)

          - if user_can_destroy?
            = render NestedForms::OwnedButtonComponent.new(formaction: destroy_attachment_path, http_method: :delete, opt: {class: "fr-btn fr-btn--tertiary fr-btn--sm fr-icon-delete-line order-first", title: t(".delete_file", filename: attachment.filename)}) do
              = t('.delete_file', filename: attachment.filename)

        - if error?(attachment)
          %p.fr-error-text= error_message(attachment)

  - if show_hint?
    %p.fr-hint-text.fr-mb-1w{ id: describedby_hint_id }
      - if champ&.titre_identite_nature?
        = t('.identity_expected')
        %br/
      - if max_file_size.present?
        = t('.max_file_size', max_file_size: number_to_human_size(max_file_size))
      - families = allowed_families_with_examples
      - if families.present?
        = t('.allowed_formats', formats: families.join(', '))
      - elsif allowed_formats.present?
        = t('.allowed_formats', formats: allowed_formats.join(', '))
      - if as_multiple?
        = t('.multiple_files')
    - if explication?
      .fr-mt-1w.fr-message.fr-message--info
        = t('.prefer_pdf')

  - if !persisted? || champ.present? && champ.titre_identite?
    = file_field(champ, field_name, **file_field_options)

    - attachments.filter(&:persisted?).each do |attachment|
      - if attachment.persisted?
        - Attachment::PendingPollComponent.new(attachment: attachment, poll_url: poll_url, context: poll_context).then do |component|
          .fr-mt-2w
            = render component

  .attachment-upload-error.hidden
    %p.fr-error-text= t('.errors.uploading')
    = button_tag(**retry_button_options) do
      = t(".retry")
  .sr-only{ id: "#{input_id}-aria-live", role: 'status', 'aria-live': 'polite', 'aria-atomic': 'true', tabindex: '-1' }
