.fr-mb-2w.attachment
  - if persisted?
    .attachment-actions{ id: dom_id(attachment, :actions) }
      .attachment-action
        = render Attachment::ShowComponent.new(attachment: attachment, user_can_upload: true)
      - if user_can_destroy?
        .attachment-action{ "data-turbo": "true" }
          = link_to('Supprimer', attachment_path, **remove_button_options)

  .attachment-error.hidden
    .attachment-error-message
      %p.attachment-error-title
        Une erreur s’est produite pendant l’envoi du fichier.
      %p.attachment-error-description
        Une erreur inconnue s'est produite pendant l'envoi du fichier
    = button_tag(**retry_button_options) do
      %span.icon.retry
      Ré-essayer

  - if !persisted?
    %p.fr-text--sm.fr-text-mention--grey
      = t('.max_file_size', max_file_size: number_to_human_size(max_file_size))
      - if allowed_formats
        Formats supportés :
        = allowed_formats.join(', ')

  %p= form.file_field(file_field_name, **file_field_options)

