-@champs.each do |champ|
  .row
    %div{class: "type_champ-#{champ.type_champ}"}
      -if champ.type_champ == 'checkbox'
        %h4{style:'margin-left:15px;'}
          = champ.libelle
          - if champ.mandatory?
            = '*'
          %input{type: 'hidden', name:"champs['#{champ.id}']", id: "champs_#{champ.id}", value: ''}
          %input{type: 'checkbox', style:'margin-left: 15px;', name:"champs['#{champ.id}']", id: "champs_#{champ.id}", checked: ('checked' if champ.value == 'on')}
      -else
        %h4
          = champ.libelle
          - if champ.mandatory?
            = '*'

        -if champ.type_champ == 'textarea'
          %textarea.form-control{name:"champs['#{champ.id}']",
                  placeholder: champ.libelle,
                  id: "champs_#{champ.id}"}
            =champ.value
        -elsif champ.type_champ == 'civilite'
          %label.radio-inline
            = radio_button_tag "champs['#{champ.id}']", "M.", champ.value == 'Mme' ? false : true
            Monsieur

          %label.radio-inline
            = radio_button_tag "champs['#{champ.id}']", "Mme", champ.value == 'Mme'
            Madame

        -else
          %input.form-control{name:"champs['#{champ.id}']",
                  placeholder: champ.libelle,
                  id: "champs_#{champ.id}",
                  value: champ.value,
                  type: champ.type_champ,
                  'data-provide' => champ.data_provide,
                  'data-date-format' => ('dd/mm/yyyy' if champ.type_champ == 'datetime')}
  - unless champ.description.empty?
    .row
      .col-lg-8.col-md-8{class: 'description_div', id:"description_champs_#{champ.id}"}
        = champ.description
