-actual_header_section = nil
-@champs.each do |champ|
  .row{class: (actual_header_section.nil? || champ.type_champ == 'header_section' ? '' : "header_section_"+actual_header_section.to_s)}
    %div{class: "type_champ-#{champ.type_champ}"}

      - if champ.type_champ == 'header_section'
        =render partial: 'users/description/champs/header_section', locals: {champ: champ}
        -actual_header_section = champ.id

      -else
        - unless champ.type_champ == 'checkbox'
          %h4
            = champ.libelle
            - if champ.mandatory?
              = '*'

        -if champ.type_champ == 'textarea'
          =render partial: 'users/description/champs/textarea', locals: {champ: champ}

        -elsif champ.type_champ == 'checkbox'
          = render partial: 'users/description/champs/checkbox', locals: {champ: champ}

        -elsif champ.type_champ == 'civilite'
          =render partial: 'users/description/champs/civilite', locals: {champ: champ}

        - elsif champ.type_champ == 'datetime'
          =render partial: 'users/description/champs/datetime', locals: {champ: champ}

        - elsif champ.type_champ == 'yes_no'
          =render partial: 'users/description/champs/yes_no', locals: {champ: champ}

        - elsif champ.type_champ == 'drop_down_list'
          =render partial: 'users/description/champs/drop_down_list', locals: {champ: champ}

        - elsif champ.type_champ == 'pays'
          =render partial: 'users/description/champs/pays', locals: {champ: champ}

        - elsif champ.type_champ == 'regions'
          =render partial: 'users/description/champs/regions', locals: {champ: champ}

        - elsif champ.type_champ == 'departements'
          =render partial: 'users/description/champs/departements', locals: {champ: champ}

        -else
          %input.form-control{name:"champs['#{champ.id}']",
                  placeholder: champ.libelle,
                  id: "champs_#{champ.id}",
                  value: champ.value,
                  type: champ.type_champ,
                  'data-provide' => champ.data_provide,
                  'data-date-format' => champ.data_date_format}

  - unless champ.description.empty?
    .row
      .col-lg-8.col-md-8{class: 'description_div', id:"description_champs_#{champ.id}"}
        = champ.description
