%table{class:'table', style:'width:55%; margin-left:5%'}
  - if @dossier.procedure.cerfa_flag
    %tr
      %th{class:'col-lg-6'}
        ='Formulaire / CERFA'

      %td{class:'col-lg-5'}
        -if @dossier.cerfa_available?
          %span.btn.btn-sm.btn-file.btn-success
            Modifier
            %input{type: 'file', name:'cerfa_pdf', id:'cerfa_pdf', accept: PieceJustificative.accept_format, :max_file_size => 3.megabytes }
        -else
          %input{type: 'file', name:'cerfa_pdf', id:'cerfa_pdf', accept:  PieceJustificative.accept_format, :max_file_size => 3.megabytes }

  - @dossier.types_de_piece_justificative.each do |type_de_piece_justificative|
    %tr
      %th.col-lg-6
        = type_de_piece_justificative.libelle
      %td.col-lg-5
        -if type_de_piece_justificative.api_entreprise
          %span.text-success{ id: "piece_justificative_#{type_de_piece_justificative.id}" } Nous l'avons récupéré pour vous.
        -else
          -if @dossier.retrieve_last_piece_justificative_by_type(type_de_piece_justificative.id).nil?
            = file_field_tag "piece_justificative_#{type_de_piece_justificative.id}", accept:  PieceJustificative.accept_format, :max_file_size => 3.megabytes
          -else
            %span.btn.btn-sm.btn-file.btn-success
              Modifier
              = file_field_tag "piece_justificative_#{type_de_piece_justificative.id}", accept:  PieceJustificative.accept_format, :max_file_size => 3.megabytes


#state_description.row{style:'width: 50%; margin-left:20px'}
  .panel.panel-info
    .panel-body.center
      .row
        .col-md-1.col-lg-1
          .fa.fa-info-circle.text-info{style:'font-size: 2em; margin-top: 20%'}
        .col-md-11.col-lg-11
          Les documents administratifs ne sont pas indispensable afin d'initier votre dossier.
          Vous pourrez dans tous les cas les compléter plus tard si vous ne les possédez pas de suite.