.row
  .col-lg-8.col-lg-push-1
    %table.table
      - if @dossier.procedure.cerfa_flag
        %tr
          %th.col-lg-6
            ='Formulaire de demande ou CERFA (complété et numérisé)'

          %td.col-lg-5
            -if @dossier.cerfa_available?
              %span.btn.btn-sm.btn-file.btn-success
                Modifier
                %input{type: 'file', name:'cerfa_pdf', id:'cerfa_pdf', accept: PieceJustificative.accept_format, :max_file_size => 6.megabytes }
            -else
              %input{type: 'file', name:'cerfa_pdf', id:'cerfa_pdf', accept:  PieceJustificative.accept_format, :max_file_size => 6.megabytes }

      - @dossier.types_de_piece_justificative.order('order_place ASC').each do |type_de_piece_justificative|
        %tr
          %th.col-lg-6.piece-libelle
            = type_de_piece_justificative.libelle
          %td.col-lg-5
            -if type_de_piece_justificative.api_entreprise
              %span.text-success{ id: "piece_justificative_#{type_de_piece_justificative.id}" } Nous l'avons récupéré pour vous.
            -else
              -if @dossier.retrieve_last_piece_justificative_by_type(type_de_piece_justificative.id).nil?
                = file_field_tag "piece_justificative_#{type_de_piece_justificative.id}", accept:  PieceJustificative.accept_format, :max_file_size => 6.megabytes
              -else
                %span.btn.btn-sm.btn-file.btn-success
                  Modifier
                  = file_field_tag "piece_justificative_#{type_de_piece_justificative.id}", accept:  PieceJustificative.accept_format, :max_file_size => 6.megabytes
