.container#description_page
  %h2 Description de votre projet
  %br

  = form_tag(url_for({controller: :description, action: :create, dossier_id: @dossier.id}), class: 'form-inline', method: 'POST', multipart: true) do
    %input{type: 'hidden', value: request.parameters[:back_url], name: 'back_url', id: 'back_url'}


    %div
      .row
        .col-md-12
          %h4 Nom de votre projet *
          = text_field_tag :nom_projet, @dossier.nom_projet, placeholder: 'Nom du projet', class: 'form-control'
      %br
      .row
        .col-md-12
          %h4 Description de votre projet *
          = text_area_tag :description, @dossier.description, rows: '6', placeholder: 'Description du projet', class: 'form-control'
      %br
      .row
        .col-lg-6.col-md-6
          %h4 Montant du projet *
          = number_field_tag :montant_projet, @dossier.montant_projet, class: 'form-control', placeholder: 'Montant du projet'
          != '&euro;'

        .col-lg-6.col-md-6
          %h4 Montant des aides que vous sollicitez *
          = number_field_tag :montant_aide_demande, @dossier.montant_aide_demande, class: 'form-control', placeholder: 'Montant des aides'
          !='&euro;'
      %br
      .row
        .col-lg-6.col-md-6
          %h4 Date prévisionnelle du début de votre projet *
          = text_field_tag :date_previsionnelle, @dossier.date_previsionnelle, placeholder: 'Date prévisionnelle', class: 'form-control', 'data-provide' => 'datepicker', 'data-date-format' => 'dd/mm/yyyy'

    %br
    %h3 Documents administratifs

    %br
    //TODO a refactorer
    %table{class:'table', style:'width:55%; margin-left:5%'}
      %tr
        %th{class:'col-lg-6'}
          ='Charger votre  CERFA (.pdf)'

          -if @procedure.lien_demarche != nil
            %a{style:'font-size:0.9em; padding-left:3px', id: 'lien_cerfa' ,href: "#{@procedure.lien_demarche}", :target => '_blank'} Lien CERFA

        %td{class:'col-lg-5'}
          -if !@dossier.cerfa.empty?
            %span.btn.btn-sm.btn-file.btn-success
              Modifier
              %input{type: 'file', name:'cerfa_pdf', id:'cerfa_pdf', accept: ".pdf"}
          -else
            %input{type: 'file', name:'cerfa_pdf', id:'cerfa_pdf', accept: ".pdf"}

      - @dossier.pieces_justificatives.each do |piece_justificative|
        %tr
          %th.col-lg-6
            = piece_justificative.libelle
          %td.col-lg-5
            -if piece_justificative.api_entreprise
              %span.text-success{ id: "piece_justificative_#{piece_justificative.type}" } Nous l'avons récupéré pour vous.
            -else
              -if piece_justificative.empty?
                = file_field_tag "piece_justificative_#{piece_justificative.type}", accept: '.pdf'
              -else
                %span.btn.btn-sm.btn-file.btn-success
                  Modifier
                  = file_field_tag "piece_justificative_#{piece_justificative.type}", accept: '.pdf'
    //END

    %div{style: 'text-align:right'}
      %h6 Tous les champs portant un * sont obligatoires.

    -if request.parameters[:back_url] == 'recapitulatif'
      =render partial: '/layouts/modifications_terminees'
    -else
      = submit_tag 'Terminer la procédure', id: 'suivant', class: %w(btn btn btn-success), style: 'float:right', data: { disable_with: 'Terminé la procédure', submit: true}

    %br
    %br