.container
  .tab-title Identité du demandeur
  .card
    = render partial: "new_gestionnaire/dossiers/user_infos", locals: { user: dossier.user }

    - if dossier.entreprise.present?
      = render partial: "new_gestionnaire/dossiers/identite_entreprise", locals: { entreprise: dossier.entreprise }

    - if dossier.individual.present?
      = render partial: "new_gestionnaire/dossiers/identite_individual", locals: { individual: dossier.individual }

  .tab-title Formulaire
  - champs = dossier.ordered_champs.includes(:type_de_champ).decorate
  - if champs.any?
    .card
      = render partial: "new_gestionnaire/dossiers/champs", locals: { champs: champs, demande_seen_at: demande_seen_at }

  - if dossier.procedure.use_api_carto
    .tab-title Cartographie
    .card
      = render partial: "new_gestionnaire/dossiers/map", locals: { dossier: dossier }

  - if dossier.procedure.cerfa_flag? || dossier.types_de_piece_justificative.any?
    .tab-title Pièces jointes
    .card
      = render partial: "new_gestionnaire/dossiers/pieces_jointes", locals: { dossier: dossier, demande_seen_at: demande_seen_at }
