%table.mesri
  %caption #{t("api_particulier.providers.mesri.scopes.#{scope}.libelle")} :
  - identifiant.slice('ine').keys.each do |key|
    %tr
      %th= t("api_particulier.providers.mesri.scopes.#{scope}.#{key}")
      %td= identifiant[key]
