.sub-header
  .fr-container
    %nav.fr-breadcrumb.fr-mt-0.fr-mb-1w{ "aria-label" => "vous êtes ici :", role: "navigation" }
      %button.fr-breadcrumb__button{ "aria-controls" => "breadcrumb-1", "aria-expanded" => "false" } Voir le fil d’Ariane
      #breadcrumb-1.fr-collapse
        %ol.fr-breadcrumb__list
          %li= link_to('Avis', expert_all_avis_path, class: 'fr-breadcrumb__link')
          %li
            = link_to(dossier.procedure.libelle.truncate_words(10), procedure_expert_avis_index_path(dossier.procedure), class: "fr-breadcrumb__link")
          %li= content_tag("a","Dossier nº #{dossier.id}", class: 'fr-breadcrumb__link', 'aria-current': 'page')


    .flex
      .fr-mb-3w
        %h1.fr-h3.fr-mb-0
          = t('show_dossier', scope: [:layouts, :breadcrumb], dossier_id: dossier.id, owner_name: dossier.owner_name)
        %p.fr-text--bold.fr-mb-0
          = dossier.procedure.libelle.truncate_words(15)
          = procedure_badge(dossier.procedure)

      .header-actions.fr-ml-auto
        .fr-download
          = link_to telecharger_pjs_expert_avis_path(dossier.procedure, @avis), download: :download, class: "menu-item menu-link fr-download__link" do
            Télécharger le dossier et toutes ses pièces jointes
            %span.fr-download__detail
              ZIP

    %nav.fr-tabs{ role: 'navigation', 'aria-label': t('views.users.dossiers.dossier_menu', id: dossier.id) }
      %ul.fr-tabs__list
        = dynamic_tab_item('Demande', expert_avis_path(dossier.procedure, @avis))
        = dynamic_tab_item('Avis', instruction_expert_avis_path(dossier.procedure, @avis), notification: @avis.answer.blank?)
        - if dossier.procedure.allow_expert_messaging
          = dynamic_tab_item('Messagerie', messagerie_expert_avis_path(dossier.procedure, @avis))
