.sub-header
  .container
    .flex.justify-between
      %ul.breadcrumbs
        %li= link_to('Avis', expert_all_avis_path)
        %li
          = link_to(dossier.procedure.libelle.truncate_words(10), procedure_expert_avis_index_path(avis.procedure), class: "fr-link")
          = procedure_badge(dossier.procedure)
        %li= link_to("Dossier nº #{dossier.id}", expert_avis_path(avis.procedure, avis))

      .header-actions
        %span.dropdown.print-menu-opener{ data: { controller: 'menu-button' } }
          %button.button.dropdown-button.icon-only{ data: { menu_button_target: 'button' }, "aria-expanded": "false" }
            %span.icon.attached
          %ul.print-menu.dropdown-content#print-pj-menu{ data: { menu_button_target: 'menu' } }
            %li= link_to "Télécharger le dossier et toutes ses pièces jointes", telecharger_pjs_expert_avis_path(avis.procedure, avis), target: "_blank", rel: "noopener", class: "menu-item menu-link"

    %nav.tabs
      %ul
        = dynamic_tab_item('Demande', expert_avis_path(avis.procedure, avis))
        = dynamic_tab_item('Avis', instruction_expert_avis_path(avis.procedure, avis), notification: avis.answer.blank?)
        = dynamic_tab_item('Messagerie', messagerie_expert_avis_path(avis.procedure, avis))
