.sub-header
  .container
    %ul.breadcrumbs
      %li= link_to('Avis', expert_all_avis_path)
      %li= link_to(dossier.procedure.libelle, procedure_expert_avis_index_path(avis.procedure))
      %li= link_to("Dossier nº #{dossier.id}", expert_avis_path(avis.procedure, avis))

      %span.dropdown.print-menu-opener
        %button.button.dropdown-button.icon-only{ 'aria-expanded' => 'false', 'aria-controls' => 'print-pj-menu' }
          %span.icon.attached
        %ul#print-pj-menu.print-menu.dropdown-content
          %li= link_to "Télécharger le dossier et toutes ses pièces jointes", telecharger_pjs_expert_avis_path(avis), target: "_blank", rel: "noopener", class: "menu-item menu-link"

    %nav.tabs
      %ul
        = dynamic_tab_item('Demande', expert_avis_path(avis.procedure, avis))
        = dynamic_tab_item('Avis', instruction_expert_avis_path(avis.procedure, avis), notification: avis.answer.blank?)
        = dynamic_tab_item('Messagerie', messagerie_expert_avis_path(avis.procedure, avis))
