.sub-header
  .container
    .flex.justify-between
      %ul.breadcrumbs
        %li= link_to('Avis', expert_all_avis_path)
        %li
          = link_to(dossier.procedure.libelle.truncate_words(10), procedure_expert_avis_index_path(avis.procedure), class: "fr-link")
          = procedure_badge(dossier.procedure)
        %li= link_to("Dossier nº #{dossier.id}", expert_avis_path(avis.procedure, avis))

      .header-actions
        .fr-download
          = link_to telecharger_pjs_expert_avis_path(avis.procedure, avis), download: :download, class: "menu-item menu-link fr-download__link" do
            Télécharger le dossier et toutes ses pièces jointes
            %span.fr-download__detail
              ZIP

    %nav.tabs
      %ul
        = dynamic_tab_item('Demande', expert_avis_path(avis.procedure, avis))
        = dynamic_tab_item('Avis', instruction_expert_avis_path(avis.procedure, avis), notification: avis.answer.blank?)
        = dynamic_tab_item('Messagerie', messagerie_expert_avis_path(avis.procedure, avis))
