- content_for(:title, "Avis")

= render Dsfr::NoticeComponent.new(closable: true, data_attributes: { "data-notice-name" => "enquete-satisfaction-2025" }) do |c|
  - c.with_title do
    Enquête de satisfaction annuelle !
  - c.with_desc do
    Prenez quelques minutes pour répondre : l’enquête est anonyme et chaque réponse nous aide à avancer.
  - c.with_link do
    = link_to "Répondre à l’enquête", "https://framaforms.org/enquete-de-satisfaction-2025-pour-les-administrateurs-instructeurs-et-experts-de-demarche-numerique", class: "fr-notice__link", **external_link_attributes

.sub-header
  .fr-container
    %h1.fr-h3 Avis

.fr-container
  %ul.procedure-list.fr-pl-0
    - @avis_by_procedure.each do |p, procedure_avis|
      %li.list-style-type-none.fr-mb-3w{ id: dom_id(p) }
        .procedure-details
          .clipboard-container
            .fr-mb-2w.fr-mt-2w
              %h3.font-weight-normal.fr-link.fr-mr-2w
                = link_to procedure_libelle_with_number(p), procedure_expert_avis_index_path(p, statut: Instructeurs::AvisController::A_DONNER_STATUS)
              = procedure_badge(p)

          %ul.procedure-stats.flex.wrap.flex-gap-1
            %li.fr-btn.fr-btn--tertiary.flex.justify-center.fr-enlarge-link.fr-mb-1w
              = link_to(procedure_expert_avis_index_path(p, statut: Instructeurs::AvisController::A_DONNER_STATUS)) do
                - without_answer_count = procedure_avis.select { _1.answer.nil? }.reject{ _1.dossier.termine?}.size
                - if without_answer_count > 0
                  %span.notifications{ 'aria-label': "notifications" }
                .center.fr-text--bold.fr-text--sm
                  = without_answer_count
                .center.fr-text--xs
                  avis à donner
            %li.fr-btn.fr-btn--tertiary.flex.justify-center.fr-enlarge-link.fr-mb-1w
              = link_to(procedure_expert_avis_index_path(p, statut: Instructeurs::AvisController::DONNES_STATUS)) do
                - with_answer_count = procedure_avis.select { |a| a.answer.present? }.size
                .center.fr-text--bold.fr-text--sm= with_answer_count
                .center.fr-text--xs
                  = pluralize(with_answer_count, "avis donné")
