- content_for(:title, "Avis · Dossier nº #{@dossier.id} (#{@dossier.owner_name})")

= render partial: 'header', locals: { avis: @avis, dossier: @dossier }

.container
  .fr-grid-row
    .fr-col.fr-col-12.fr-col-md-3
      = render partial: 'sidemenu'
    .fr-col
      - if !@dossier.termine?
        %section.give-avis
          %h1.tab-title Donner votre avis
          %h2.fr-text--sm.fr-mb-2w
            Demandeur :
            %span.email.font-weight-normal= safe_claimant_email(@avis.claimant)
            %span.fr-text--xs.fr-text-mention--grey.pull-right Demande d’avis envoyée le #{l(@avis.created_at, format: '%d/%m/%y')}
          = render SimpleFormatComponent.new(@avis.introduction, allow_a: false)

          - if @avis.introduction_file.attached?
            = render Attachment::ShowComponent.new(attachment: @avis.introduction_file.attachment)

          = render NestedForms::FormOwnerComponent.new
          = form_for @avis, url: expert_avis_path(@avis.procedure, @avis), html: { data: { controller: 'persisted-form', persisted_form_key_value: dom_id(@avis) }, multipart: true } do |f|

            - if @avis.question_label.present?
              .fr-form-group
                %fieldset.fr-fieldset.fr-fieldset--inline
                  %legend#radio-inline-legend.fr-fieldset__legend.fr-text--regular
                    = render SimpleFormatComponent.new(@avis.question_label, allow_a: false)
                  .fr-fieldset__content
                    .fr-radio-group
                      = f.radio_button :question_answer, true
                      = f.label :question_answer, 'oui', value: true, class: 'fr-label'

                    .fr-radio-group
                      = f.radio_button :question_answer, false
                      = f.label :question_answer, 'non', value: false, class: 'fr-label'

            .fr-select-group
              = f.text_area :answer, rows: 3, class: 'fr-input', placeholder: 'Votre avis', required: true



            = render Attachment::EditComponent.new(attached_file: @avis.piece_justificative_file, view_as: :download)

            %p.confidentiel
              - if @avis.confidentiel?
                %span
                  Cet avis est confidentiel et n’est pas affiché aux autres experts consultés
              - else
                %span
                  Cet avis est partagé avec les autres experts
            .send-wrapper
              = f.submit 'Envoyer votre avis', class: 'fr-btn'
      - else
        %h2.empty-text
          = t('helpers.information_text.no_new_avis_text')
        %p.empty-text-details
          = t('helpers.information_text.no_new_avis_text_detail')
