- content_for(:title, "Demande · Dossier n° #{@dossier.id} (#{@dossier.owner_name})")

= render partial: 'header', locals: { avis: @avis, dossier: @dossier }

.fr-container
  .fr-grid-row.fr-grid-row--center
    - summary = DossierTree::SectionsSummaryComponent.new(tree: @dossier.public_tree(profile: 'expert'))
    = render summary
    %div{ class: class_names("fr-col-12", "fr-col-xl-9" => summary.render?, "fr-col-xl-8" => !summary.render?) }
      = render partial: "shared/dossiers/demande", locals: { dossier: @dossier, demande_seen_at: nil, profile: 'expert' }
