= content_for(:title, @subject)

%p Bonjour

%p Nous pensons que votre compte <b>#{@user.email}</b> a été la cible d'une tentative #{link_to("d'hameçonnage (phishing)", "https://www.service-public.fr/particuliers/vosdroits/F34800") }.

%p Par mesure de précaution, <b>nous avons réinitialisé votre mot de passe</b>.

%h3 Que devez-vous faire maintenant ?

%ol
  %li Pour accéder à votre compte, vous devez définir un nouveau mot de passe sur le site #{Current.application_name}. Sur la page de connexion, cliquez sur le lien "Mot de passe oublié" et suivez les instructions.
  %li Nous vous recommandons de vérifier vos dossiers et de nous signaler tout problème en nous contactant à l'adresse suivante : #{mail_to(CONTACT_EMAIL)}.

%p Nous restons à votre disposition pour toute question.

= render partial: "layouts/mailers/signature"
