.card
  - if smart_listing.present?
    %table.table
      %thead
        %th.col-xs-4= smart_listing.sortable 'Email', :email
        %th.col-xs-4= smart_listing.sortable 'Date de dernière connexion', :last_sign_in_at
        %th.col-xs-2 État
        %th.col-xs-2 Procédure active
        %th.col-xs-2 Dossier en cours

      - @admins.each do |admin|
        %tr
          %td
            = admin.email
          %td
            - if admin.last_sign_in_at.present?
              = time_ago_in_words(l(admin.last_sign_in_at, format: "%d/%m/%Y %H:%M UTC +02:00"))
              (
              = admin.last_sign_in_at.localtime.strftime('%d/%m/%Y')
              )
          %td
            - if admin.invitation_expired?
              = link_to admin.registration_state, administration_path(admin), remote: true, method: :patch
            - else
              = admin.registration_state
          %td
            = admin.procedures.publiees.count
          %td
            - total_dossier = 0
            - admin.procedures.each do |procedure| total_dossier += procedure.dossiers.state_not_brouillon.count end
            = total_dossier
    = smart_listing.paginate
    = smart_listing.pagination_per_page_links

  - else
    %h4.center
      Aucun administrateur créé
