.container
  .mt-1
    = form_for @admin, url: { controller: 'administrations', action: :create } do |f|
      .form-group.form-inline.text-center
        = f.text_field :email, placeholder: :email, class: 'form-control'

        = f.submit 'Créer un administrateur', class: 'btn btn-success', id: 'submit_new_administrateur'

    = smart_listing_render :admins

    %br
    %br

    .text-center
      = link_to 'Deconnexion', administrations_sign_out_path, method: :delete
