- content_for(:title, t('pro_connect.agent.index.cta'))

#proconnect
  .fr-container
    .fr-grid-row.fr-grid-row--gutters.fr-mt-0

      .fr-col-lg.fr-p-6w.fr-background-alt--blue-france

        #session-new.auth-form.sign-in-form
          = form_for User.new, url: user_session_path do |f|

            %h1.fr-h2= t('views.users.sessions.new.sign_in', application_name: Current.application_name)

            .fr-mb-0.fr-fieldset
              .fr-fieldset__legend
                %h2.fr-h6= t('pro_connect.agent.index.cta')

              .fr-fieldset__element
                %p= t('pro_connect.agent.index.explanation')

                .fr-connect-group.fr-my-2w
                  = link_to(pro_connect_login_path, class: "fr-btn fr-connect") do
                    %span.fr-connect__login
                      = t('pro_connect.agent.index.signin_with')
                    %span.fr-connect__brand ProConnect
                  %p
                    = link_to t('pro_connect.agent.index.whats_proconnect'), 'https://proconnect.gouv.fr/', target: '_blank', rel: "noopener"

            - if !params[:force_pro_connect]
              %p.fr-hr-or= t('views.shared.france_connect_login.separator')

              %fieldset.fr-mb-0.fr-fieldset{ aria: { labelledby: 'new-account-legend' } }
                %legend.fr-fieldset__legend#new-account-legend
                  %h2.fr-h6= t('views.users.sessions.new.subtitle')

                = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
                  - c.with_body do
                    = t('views.users.sessions.new.for_tiers_alert')

                .fr-fieldset__element
                  %p.fr-text--sm= t('utils.asterisk_html')

                .fr-fieldset__element
                  = render Dsfr::InputComponent.new(form: f, attribute: :email, input_type: :email_field, opts: { autocomplete: 'email' }) do |c|
                    - c.with_label { t('pro_connect.agent.index.pro_email') }

                .fr-fieldset__element
                  = render Dsfr::InputComponent.new(form: f, attribute: :password, input_type: :password_field, opts: { autocomplete: 'current-password' })

                  %p= link_to t('views.users.sessions.new.reset_password'), new_user_password_path, class: "fr-link"

                .fr-fieldset__element
                  .auth-options
                    .flex-no-shrink
                      = f.check_box :remember_me
                      = f.label :remember_me, t('views.users.sessions.new.remember_me'), class: 'remember-me'

                  .fr-btns-group= f.submit t('views.users.sessions.new.connection'), class: "fr-btn"

          %hr

          %h2.fr-h6= t('pro_connect.agent.index.you_are_a_citizen')
          .fr-btns-group= link_to t('pro_connect.agent.index.citizen_page'), new_user_session_path, class: "fr-btn fr-btn--secondary"

      .fr-col-lg.fr-p-6w
        = render Dsfr::CalloutComponent.new(title: t('pro_connect.agent.index.full_deploy_title'), icon: 'fr-icon-information-line') do |c|
          - c.with_body do
            = t('pro_connect.agent.index.full_deploy_body')
        %h2.fr-h6= t('pro_connect.agent.index.whats_ds', application_name: Current.application_name)
        = image_tag "landing/hero/dematerialiser.svg", class: "fr-responsive-img", alt: ""
