.flex.fr-mb-1w.align-start
  = render Instructeurs::BackButtonComponent.new(to: instructeur_procedure_path(dossier.procedure, **back_url_options))

  %h1.fr-h3.fr-mb-0
    = t('show_dossier', scope: [:layouts, :breadcrumb], dossier_id: dossier.id, owner_name: dossier.owner_name)

  .fr.ml-auto.align-center.flex.fr-mt-2v
    = link_previous
    = link_next

= link_to dossier.procedure.libelle.truncate_words(10), instructeur_procedure_path(dossier.procedure), title: dossier.procedure.libelle, class: "fr-link"
