= image_tag(icon_path, class: 'person-icon', alt: '')

.width-100
  %h2.fr-h6
    %span.mail
      = commentaire_issuer
    - if commentaire_from_guest?
      %span.fr-text--xs.fr-text-mention--grey.font-weight-normal= t('.guest')
    %span.date{ class: ["fr-text--xs", "fr-text-mention--grey", "font-weight-normal", highlight_if_unseen_class], data: scroll_to_target }
      = commentaire_date
  .rich-text= commentaire_body

  .message-extras.flex.justify-start
    - if commentaire.soft_deletable?(connected_user)
      = button_to instructeur_commentaire_path(commentaire.dossier.procedure, commentaire.dossier, commentaire), method: :delete,  class: 'button danger', form: { data: { turbo: true, turbo_confirm: t('.confirm') } } do
        %span.icon.delete
        = t('.delete_button')

    - if commentaire.piece_jointe.attached?
      .fr-ml-2w
        = render Attachment::ShowComponent.new(attachment: commentaire.piece_jointe.attachment)

    - if show_reply_button?
      = button_tag type: 'button', class: 'button small message-answer-button', onclick: 'document.querySelector("#commentaire_body").focus()' do
        %span.icon.reply
        = t('.reply')
