<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
  <%= link_to "Se déconnecter", destroy_super_admin_session_path, method: :delete, class: "navigation__link" %>

  <hr />

  <% Administrate::Namespace.new(namespace).resources.select { |resource| !resource.to_s.in?(%w(confirmation_urls administrateur_confirmations)) }.each do |resource| %>

    <%= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>

  <hr />

  <%= link_to "Delayed Jobs", manager_delayed_job_path, class: "navigation__link" %>
  <%= link_to "Sidekiq", manager_sidekiq_web_path, class: "navigation__link" %>
  <%= link_to "Maintenance Tasks", manager_maintenance_tasks_path, class: "navigation__link" %>
  <%= link_to "Features", manager_flipper_path, class: "navigation__link" %>
  <%= link_to "Annonces", super_admins_release_notes_path, class: "navigation__link" %>
  <%= link_to "Import data via CSV", manager_import_procedure_tags_path, class: "navigation__link" %>
  <%= link_to "Export CSV data", manager_data_exports_path, class: "navigation__link" %>
  <% if ENV.key?("SENDINBLUE_BALANCING_VALUE") && ENV.enabled?("SAML_IDP") %>
    <%= link_to "Sendinblue", ENV.fetch("SENDINBLUE_LOGIN_URL"), class: "navigation__link", target: '_blank' %>
  <% end %>
</nav>
