- content_for(:title) do
  = display_resource_name(page.resource_name)

- content_for(:search) do
  - if show_search_bar
    = render "search", search_term: search_term

%header.header
  %h1.header__heading#page-title
    = content_for(:title)
  .header__actions

= render "collection", collection_presenter: page, resources: resources

= paginate resources
