= f.fields_for @types_de_champ_facade.fields_for_var, types_de_champ, remote: true do |ff|
  - type_champ = ff.object.object.type_champ

  .form-inline{ class: (type_champ == 'header_section' ? 'header_section' : nil) }
    .form-group.libelle
      %h4 Libellé
      = ff.text_field :libelle, class: 'form-control libelle', placeholder: 'Libellé'

    .form-group.type
      %h4 Type
      = ff.select :type_champ, TypeDeChamp.type_de_champs_list_fr, {}, { class: 'form-control type_champ' }

    .form-group.description
      %h4 Description
      = ff.text_area :description, class: 'form-control description', placeholder: 'Description', rows: 3

    .form-group.drop_down_list{ class: (%w(drop_down_list multiple_drop_down_list).include?(type_champ) ? 'show_inline' : nil), style: 'margin-right: 5px' }
      %h4 Liste déroulante
      = ff.fields_for :drop_down_list_attributes, ff.object.object.drop_down_list do |fff|
        ~ fff.text_area :value, class: 'form-control drop_down_list', placeholder: "Ecrire une valeur par ligne et --valeur-- pour un séparateur.", rows: 3, cols: 30
        = fff.hidden_field :id


    - hide_mandatory = (ff.object.object.class == TypeDeChampPrivate || type_champ == 'explication')
    .form-group.mandatory{ style: hide_mandatory ? 'visibility: hidden;' : nil }
      %h4 Obligatoire ?
      .center
        = ff.check_box :mandatory, placeholder: 'Obligatoire ?'

    .form-group
      = ff.hidden_field :order_place, value: ff.index
      = ff.hidden_field :type
      = ff.hidden_field :id

    - unless ff.object.id.nil?
      .form-group
        %br &nbsp;
        = ff.object.button_up(index: ff.index, url: @types_de_champ_facade.move_up_url(ff), private: @types_de_champ_facade.private)
        = ff.object.button_down(index: ff.index, url: @types_de_champ_facade.move_down_url(ff), private: @types_de_champ_facade.private)

    .form-group
      %br &nbsp;
      - if ff.object.id.nil?
        = f.submit "Ajouter le champ", class: 'btn btn-success', id: @types_de_champ_facade.add_button_id
      - else
        = link_to("", @types_de_champ_facade.delete_url(ff), method: :delete, remote: true, id: "delete_type_de_champ_#{ff.object.id}", class: %w(form-control btn btn-danger fa fa-trash-o) )

    %div{ style: 'background-color: rgb(204, 204, 204); height: 1px; margin: 30px auto;' }


