- content_for(:title, t('.cta'))

#agentconnect
  .two-columns
    .columns-container
      .column.agent-intro
        %h1.mt-2.mb-2.agent= t('.you_are_an_agent')
        .box= t('.in_progress_html')

        .center.mt-2
          %span.citizen= t('.you_are_a_citizen')
          %br
          %br
          = link_to t('.citizen_page'), new_user_session_path, class: "fr-btn fr-btn--secondary"

      .column
        %h1.fr-my-2
          = t('.connect')

        .fr-connect-group.fr-my-2w
          = link_to(agent_connect_login_path, class: "fr-btn fr-connect") do
            %span.fr-connect__login
              = t('.signin_with')
            %span.fr-connect__brand AgentConnect
          %p
            = link_to t('.whats_agentconnect'), 'https://agentconnect.gouv.fr/', target: '_blank', rel: "noopener"


        %p.fr-hr-or= t('views.shared.france_connect_login.separator')

        #session-new.auth-form.sign-in-form
          = form_for User.new, url: user_session_path, html: { class: "form" } do |f|
            = f.label :email, t('.pro_email')
            = f.text_field :email, type: :email, autocomplete: 'username', autofocus: true

            = f.label :password, t('views.users.sessions.new.password', min_length: PASSWORD_MIN_LENGTH)
            = f.password_field :password, autocomplete: 'current-password'

            .auth-options
              .flex-no-shrink
                = f.check_box :remember_me
                = f.label :remember_me, t('views.users.sessions.new.remember_me'), class: 'remember-me'

              .text-right
                = link_to t('views.users.sessions.new.reset_password'), new_user_password_path, class: "link"

            = f.submit t('views.users.sessions.new.connection'), class: "fr-btn fr-btn--lg"

- content_for :footer do
  = render partial: 'users/dossiers/index_footer'
