- content_for(:title, 'Mot de passe oublié')

- content_for :footer do
  = render partial: 'root/footer'

.container.devise-container
  .one-column-centered
    = devise_error_messages!

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form' }) do |f|

      %h1 Mot de passe oublié

      = f.label :email, 'Email'
      = f.email_field :email, autofocus: true

      = f.submit 'Réinitialiser', class: 'button primary'
