.avis-sign-up
  .left
    %p.description= @dossier.procedure.libelle
    %p.dossier Dossier nº #{@dossier.id}
  .right
    %h1 Créez-vous un compte

    = form_for(Gestionnaire.new, url: { controller: "backoffice/avis", action: :create_gestionnaire }, method: :post) do |f|
      = f.label :email, "Email"
      = f.email_field :email, value: @email, disabled: true

      = f.label :password, "Mot de passe"
      = f.password_field :password, autofocus: true, required: true, placeholder: "8 caractères minimum"

      %button Créer un compte
