= form_for(commentaire, url: form_url, html: { class: 'form' }) do |f|
  - placeholder = 'Écrivez votre message à l’administration ici'
  - if instructeur_signed_in? || administrateur_signed_in?
    - placeholder = 'Écrivez votre message ici'
  = f.text_area :body, rows: 5, placeholder: placeholder, required: true, class: 'message-textarea'
  .flex.justify-between.wrap
    %div
      = f.label :piece_jointe, for: :piece_jointe do
        Joindre un document
        %span.notice (taille max : 10 Mo)
      = f.file_field :piece_jointe, id: 'piece_jointe', direct_upload: true

    %div
      = f.submit 'Envoyer le message', class: 'button primary send', data: { disable: true }
