= render NestedForms::FormOwnerComponent.new
= form_for(commentaire, url: form_url, html: { multipart: local_assigns.has_key?(:dossier), data: { controller: 'persisted-form', persisted_form_key_value: dom_id(local_assigns.fetch(:dossier, local_assigns.fetch(:last_commentaire, current_user))) } }) do |f|
  - placeholder = t('views.shared.dossiers.messages.form.write_message_to_administration_placeholder')
  - if local_assigns.has_key?(:last_commentaire)
    = f.hidden_field :last_commentaire, value: last_commentaire.id, name: :id
  - elsif local_assigns.has_key?(:dossier) &&  instructeur_signed_in? || administrateur_signed_in? || expert_signed_in?
    - placeholder = t('views.shared.dossiers.messages.form.write_message_placeholder')

  = f.label :body, class: "fr-label" do
    = t('views.shared.dossiers.messages.form.message_label_mandatory')
    = render EditableChamp::AsteriskMandatoryComponent.new
  = f.text_area :body, rows: '5', placeholder: placeholder, title: placeholder, required: true, class: 'fr-input message-textarea', data: { 'hide-target-target': 'focus'}

  - if local_assigns.has_key?(:dossier)
    .fr-mt-3w.fr-input-group
      = f.label :piece_jointe, class: "fr-label", for: dom_id(commentaire, :piece_jointe)
      %div{ data: { controller: "file-input-reset", delete_label: t('views.shared.messages.remove_file') } }
        = render Attachment::MultipleComponent.new(attached_file: commentaire.piece_jointe)
        %ul{ data: { 'file-input-reset-target': 'fileList' } }

  .fr-mt-3w
    %ul.fr-btns-group.fr-btns-group--inline-md
      %li
        %button.fr-btn.fr-btn--tertiary.fr-mb-2w{ type: 'button', data: { 'hide-target-target': 'reveal'} } Annuler
      %li
        - if local_assigns[:connected_user]&.is_a?(Instructeur)
          - has_pending_response = local_assigns[:dossier]&.pending_response?
          - if has_pending_response
            = button_tag t('views.shared.dossiers.messages.form.send_message'), type: 'submit', class: 'fr-btn', data: { disable: true }, name: 'mark_as_pending_response', value: 'false'
          - else
            - menu_id = dom_id(commentaire, :send_message_menu)
            - menu_button_id = dom_id(commentaire, :send_message_toggle)
            .split-button-wrapper{ data: { controller: 'toggle' } }
              .fr-hidden.split-button-menu{ id: menu_id, data: { toggle_target: 'content' } }
                %ul.fr-menu.relative.fr-p-2v.fr-m-0{ role: 'menu', aria: { labelledby: menu_button_id } }
                  %li{ role: 'none' }
                    %button.fr-btn.fr-btn--tertiary.fr-btn--icon-left.fr-m-0{ type: 'submit', name: 'mark_as_pending_response', value: 'true', role: 'menuitem', tabindex: '-1', data: { disable: true } }
                      %span.fr-icon-draft-line{ "aria-hidden" => "true" }
                      = t('views.shared.dossiers.messages.form.send_message_and_mark')
                      %span.fr-badge.fr-badge--sm.fr-ml-1w= t('views.shared.dossiers.messages.form.pending_response_badge')

              .fr-btns-group.fr-btns-group--sm.fr-btns-group--inline.fr-btns-group--split
                = button_tag t('views.shared.dossiers.messages.form.send_message'), type: 'submit', class: 'fr-btn fr-mr-0', data: { disable: true }, name: 'mark_as_pending_response', value: 'false'
                %button.fr-btn.fr-icon-arrow-down-s-line.fr-m-0.split-button-toggle{ id: menu_button_id, type: 'button', aria: { label: t('views.shared.dossiers.messages.form.more_options'), haspopup: 'menu', expanded: 'false', controls: menu_id }, data: { action: 'click->toggle#toggle', toggle_target: 'button' } }
                  %span.fr-icon-arrow-down-s-line{ "aria-hidden" => "true" }
        - else
          = f.submit t('views.shared.dossiers.messages.form.send_message'), class: 'fr-btn', data: { disable: true }
