= render partial: 'shared/dossiers/messages/message_icon', locals: { commentaire: commentaire, connected_user: connected_user }

.width-100
  %h2
    %span.mail
      = render partial: 'shared/dossiers/messages/message_issuer', locals: { commentaire: commentaire, connected_user: connected_user }
    - if commentaire_is_from_guest(commentaire)
      %span.guest Invité
    %span.date{ class: highlight_if_unseen_class(messagerie_seen_at, commentaire.created_at) }
      = commentaire_date(commentaire)
  .rich-text= sanitize(simple_format(commentaire.body))

  - if commentaire.piece_justificative
    .attachment-link
      = link_to commentaire.piece_justificative.content_url, class: "button", target: "_blank", rel: "noopener", title: "Télécharger" do
        %span.icon.attachment
        = commentaire.piece_justificative.original_filename
  - elsif commentaire.file.present?
    .attachment-link
      = link_to commentaire.file_url, class: "button", target: "_blank", rel: "noopener", title: "Télécharger" do
        %span.icon.attachment
        = commentaire.file_identifier
