.card.feedback
  .card-title
    La messagerie est désormais désactivée.
  - if service.present?
    %p
      Pour poser une question sur ce dossier, contactez :
    %p
      = service.nom
      %br
      = service.organisme
      %br
      - horaires = "Horaires : #{formatted_horaires(service.horaires)}"
      = simple_format(horaires)
    %p
      = link_to service.email, "mailto:#{service.email}"
