.card.feedback
  .card-title
    La messagerie est désormais désactivée.
  - if service.present?
    %p
      Pour poser une question sur ce dossier, contactez :
    %p
      = service.nom
    %p
      = service.organisme

    - if service.horaires.present?
      = render SimpleFormatComponent.new("Horaires : #{formatted_horaires(service.horaires)}")
    %p
      = mail_to service.email,
        service.email,
        subject: "[#{Current.application_name}] Question sur le dossier Nº #{dossier.id} de la démarche Nº #{dossier.procedure.id}",
        rel: "noopener noreferrer",
        target: '_blank'

    %p
      Pensez bien à préciser que votre demande concerne le <b>dossier Nº #{dossier.id}</b>.
