.card.feedback
  .card-title
    La messagerie est désormais désactivée.
  - if service.present?
    %p
      Pour poser une question sur ce dossier, contactez :
    %p
      = service.nom
    %p
      = service.organisme

    - if service.horaires.present?
      = render SimpleFormatComponent.new("Horaires : #{formatted_horaires(service.horaires)}")
    
    - if service.email.present?
      %p
        = mail_to service.email,
          service.email,
          subject: "[#{Current.application_name}] Question sur le dossier Nº #{dossier.id} de la démarche Nº #{dossier.procedure.id}",
          rel: "noopener noreferrer",
          target: '_blank'

    - if service.link.present?
      %p
        = link_to t('.contact_page'),
          service.link,
          rel: "noopener noreferrer",
          target: '_blank'

    %p
      = t('.remember_dossier', dossier_id: dossier.id).html_safe
