- content_for(:title, 'Demande de compte administrateur')

- content_for :footer do
  = render partial: "root/footer"

.container.demande
  %h1 Demande de compte administrateur

  %p.intro Attention, la création de compte administrateur est réservée <b>uniquement aux organismes publics</b>. Elle ne concerne ni les particuliers, ni les entreprises, ni les associations (sauf celles reconnues d'utilité publique), ni les personnes souhaitant remplir un dossier ou faire une démarche en ligne. Ce compte vous permettra de créer des démarches sur demarches-simplifiees.fr, vous pourrez ensuite les diffuser en ligne auprès de vos usagers.
  %p.intro Pour obtenir un compte administrateur sur demarches-simplifiees.fr, veuillez remplir le formulaire ci-dessous et un membre de notre équipe vous contactera dès que possible.
  %p.intro Tous les champs sont obligatoires.
  %p.intro <b>Si vous souhaitez seulement compléter une démarche sur notre site, vous n'avez pas besoin de compte administrateur!</b>


  %hr

  = form_tag({ controller: 'demandes', action: 'create' }, class: 'form') do

    = label_tag :organization_name do
      Quel est le nom de votre organisme ?
      %span.mandatory *
    = text_field_tag :organization_name, nil, placeholder: 'service jeunesse et prévention, direction des affaires maritimes', required: true

    = label_tag :poste do
      Quel est votre poste ?
      %span.mandatory *
    = text_field_tag :poste, nil, required: true

    = label_tag :name do
      Quel est votre prénom et votre nom ?
      %span.mandatory *
    = text_field_tag :name, nil, required: true

    = label_tag :email do
      Quelle est l'adresse email professionnelle pour laquelle vous souhaitez un compte ?
      %span.mandatory *
      %p.intro{ :style => "font-weight: normal" }
        Vous utilisez un email orange, wanadoo, free, gmail etc. ? Merci de nous
        %a{ href: contact_admin_path, target:'_blank' }
          contacter préalablement.
    = email_field_tag :email, nil, placeholder: 'jean.martin@developpement-durable.gouv.fr', required: true

    = label_tag :phone do
      Quel est votre numéro de téléphone (ligne directe) ?
      %span.mandatory *
    = text_field_tag :phone, nil, required: true

    = label_tag :source do
      Comment avez-vous entendu parler de demarches-simplifiees.fr ?
      %span.mandatory *
    = text_field_tag :source, nil, required: true

    = label_tag :address do
      Quel est le code postal de votre institution ?
      %span.mandatory *
    = text_field_tag :address, nil, required: true

    = label_tag :nb_of_procedures do
      Combien de démarches souhaitez-vous dématerialiser ?
      %span.mandatory *
      = select_tag :nb_of_procedures,
        options_for_select(nb_of_procedures_options),
        prompt: 'choisir un intervalle',
        required: true

    = label_tag :deadline do
      À quelle échance voudriez-vous dématerialiser ?
      %span.mandatory *
      = select_tag :deadline,
        options_for_select(deadline_options),
        prompt: 'choisir une échéance',
        required: true

    = label_tag :nb_of_dossiers do
      Nombre de dossiers usagers qui seront dématérialisés, par an ? (Mettez 0 si vous ne savez pas)
      %span.mandatory *
    = number_field_tag :nb_of_dossiers, nil, required: true

    = submit_tag 'Envoyer', class: 'button',  data: { disable: true  }
