.dossier-edit-sticky-footer
  .send-dossier-actions-bar
    = render Dossiers::AutosaveFooterComponent.new(dossier: @dossier, annotation: annotation?)

    - if annotation?
      = button_to t('.reset'), annotations_instructeur_dossier_path(@dossier.procedure, @dossier), reset_button_options
      = button_to t('.submit_annotations'), annotations_instructeur_dossier_path(@dossier.procedure, @dossier), button_options
    - elsif @dossier.can_transition_to_en_construction?
      = button_to t('.submit'), brouillon_dossier_url(@dossier), button_options

  - if @dossier.brouillon? && !owner?
    .send-notice.invite-cannot-submit
      = t('.invite_notice')

  - if !annotation?
    = render partial: "shared/dossiers/submit_is_over", locals: { dossier: @dossier }
