.dossier-edit-sticky-footer
  .send-dossier-actions-bar
    = render Dossiers::AutosaveFooterComponent.new(dossier: @dossier, annotation: annotation?)

    - if !annotation? && @dossier.can_transition_to_en_construction?
      = button_to t('.submit'), brouillon_dossier_url(@dossier), submit_draft_button_options
    - elsif @dossier.forked_with_changes?
      = button_to t('.submit_changes'), modifier_dossier_url(@dossier.editing_fork_origin), submit_en_construction_button_options


  - if @dossier.brouillon? && !owner?
    .send-notice.invite-cannot-submit
      = t('.invite_notice')

  - if !annotation?
    = render partial: "shared/dossiers/submit_is_over", locals: { dossier: @dossier }
