- if dossier.procedure.module_api_carto.quartiers_prioritaires?
  .col-md-9.col-lg-9#qp.col-md-3.col-lg-3.list
    %h3.text-info Quartiers prioritaires
    %ul
      - dossier.quartier_prioritaires.each do |qp|
        %li #{qp.commune} : #{qp.nom}

      - if error.present?
        %b Merci de dessiner une surface plus petite afin de récupérer les quartiers prioritaires.

- if dossier.procedure.module_api_carto.cadastre?
  .col-md-9.col-lg-9#cadastre.col-md-3.col-lg-3.list
    %h3.text-warning Parcelles cadastrales
    %ul
      - dossier.cadastres.each do |cadastre|
        %li Parcelle nº #{cadastre.numero} - Feuille #{cadastre.code_arr} #{cadastre.section} #{cadastre.feuille}

      - if error.present?
        %b Merci de dessiner une surface plus petite afin de récupérer les parcelles cadastrales.
