.row#carto-page
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h2
      Localisation
    %h4.text-primary
      Positionnez-vous et dessinez sur la carte la zone d'action de votre demande.
    %br

    .content{ style: 'margin-bottom: 60px;' }
      %button#new.btn.btn-md.btn-success{ type: 'button' }
        %i.fa.fa-pencil
        Ajouter une zone

      %span#search-by-address{ style: 'margin-left: 20px;' }
        %input.form-control{ type: :address, placeholder: 'Rechercher une adresse' }
      %br
      %br

      = render partial: 'users/carte/map', locals: { dossier: @dossier }

      = form_tag(url_for({ controller: :carte, action: :save, dossier_id: @dossier.id }), class: 'form-inline', method: 'POST') do
        %br
        %input#json_latlngs{ type: 'hidden', value: "#{@dossier.json_latlngs}", name: 'json_latlngs' }
        %input#quartier_prioritaires{ type: 'hidden', value: "#{@dossier.quartier_prioritaires.to_json}" }
        %input#cadastres{ type: 'hidden', value: "#{@dossier.cadastres.to_json}" }

        - if @dossier.brouillon?
          = render partial: '/layouts/etape_suivante'
        - else
          = render partial: '/layouts/modifications_terminees'

    = render partial: 'users/carte/init_carto', locals: { dossier: @dossier }
