%div{ id: dom_id(@groupe_instructeur, :routing) }
  %h1 Paramètres du groupe

  = render partial: 'administrateurs/groupe_instructeurs/import_export',
      locals: { procedure: @procedure }

  = form_for @groupe_instructeur,
    url: admin_procedure_groupe_instructeur_path(@procedure, @groupe_instructeur),
    method: :patch do |f|
    = f.label :label, 'Nom du groupe', class: 'fr-label fr-mb-1w'
    .flex
      = f.text_field :label, required: true, class: 'fr-input flex auto fr-mr-2w'
      = f.button 'Renommer', class: 'fr-btn fr-btn--secondary'

  = form_for @groupe_instructeur,
    url: admin_procedure_groupe_instructeur_update_state_path(@procedure, @groupe_instructeur),
    method: :patch,
    data: { turbo: true, controller: 'autosubmit' } do |f|
    .fr-checkbox-group.fr-my-3w
      = f.check_box :closed, { id: 'closed', "aria-describedby" => "closed-messages", :name => "closed" }
      %label.fr-label{ :for => "closed" }
        Groupe inactif
        %span.fr-hint-text Si cette option est activée, les usagers ne pourront plus sélectionner ce groupe d’instructeurs

  = form_tag admin_procedure_routing_rules_path(@procedure),
    method: :post,
    data: { controller: 'autosave' },
    class: 'fr-mb-3w' do

    = hidden_field_tag('groupe_instructeur_id', @groupe_instructeur.id)

    .flex
      %p.fr-mb-1w.fr-mr-2w Routage
      - if @groupe_instructeur.invalid_rule?
        %p.fr-mb-1w.fr-badge.fr-badge--warning.fr-badge--sm règle invalide
      - elsif @groupe_instructeur.non_unique_rule?
        %p.fr-mb-1w.fr-badge.fr-badge--warning.fr-badge--sm règle déjà attribuée à #{@groupe_instructeur.groups_with_same_rule}

    .flex.align-baseline.fr-mb-1w
      .fr-mr-2w.no-wrap si le champ
      .target.fr-mr-2w
        = targeted_champ_tag
      .operator.fr-mr-2w.no-wrap
        = operator_tag
      .value
        = value_tag
    .fr-hint-text
      %span Si vous ne trouvez pas l'option correspondant à votre groupe, veuillez l'ajouter dans le champ dédié au
      %span
        = link_to 'routage', champs_admin_procedure_path(@procedure)

  .flex.fr-btns-group--sm.fr-btns-group--inline.fr-btns-group--icon-right
    - if @groupe_instructeur.can_delete?
      %p= t('.delete')
      = button_to admin_procedure_groupe_instructeur_path(@procedure, @groupe_instructeur),
      class: 'fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-delete-line',
      method: :delete,
      data: { confirm: t('.delete_confirmation', group_name: @groupe_instructeur.label) } do
        Supprimer
    - else
      = button_to reaffecter_dossiers_admin_procedure_groupe_instructeur_path(@procedure, @groupe_instructeur),
      class: 'fr-btn fr-btn--tertiary fr-icon-folder-2-line',
      title: t('.move_files_confirmation'),
      method: :get do
        = t('.move_files', count: @groupe_instructeur.dossiers.visible_by_administration.size)
