- content_for(:title, 'Contact')

#contact-form
  .container
    %h1.new-h1 Contactez notre équipe

    .description
      En tant qu'administration, vous pouvez nous contactez via ce formulaire. Nous vous répondrons dans les plus brefs délais, par email ou par téléphone.
      %br
      %br
      %strong
        Attention, ce formulaire est réservée uniquement aux organismes publics.
      Il ne concerne ni les particuliers, ni les entreprises, ni les associations (sauf celles reconnues d'utilité publique). Si c'est votre cas, rendez-vous sur notre
      = link_to contact_path do
        formulaire de contact public
      \.

    = form_tag contact_path, method: :post, class: 'form' do |f|
      - if !logged_in?
        .contact-champ
          = label_tag :email do
            Adresse email professionnelle
            %span.mandatory *
          = text_field_tag :email, params[:email], required: true

      .contact-champ
        = label_tag :type do
          Catégorie
          %span.mandatory *
        = select_tag :type, options_for_select(@options, params[:type])

      .contact-champ
        = label_tag :phone, 'Numéro de téléphone professionnel (ligne directe)'
        = text_field_tag :phone

      .contact-champ
        = label_tag :subject do
          Sujet
        = text_field_tag :subject, params[:subject], required: false

      .contact-champ
        = label_tag :text do
          Message
          %span.mandatory *
        = text_area_tag :text, params[:text], rows: 6, required: true

      = hidden_field_tag :tags, @tags&.join(',')
      = hidden_field_tag :admin, true

      .send-wrapper
        = button_tag 'Envoyer le message', type: :submit, class: 'button send primary'
