- content_for(:title, 'Contact')

#contact-form
  .container
    %h1.new-h1 Contact

    .description
      Contactez-nous via ce formulaire et nous vous répondrons dans les plus brefs délais.
      Pensez bien à nous donner le plus d'informations possible pour que nous puissions vous aider au mieux

    = form_tag contact_path, method: :post, multipart: true, class: 'form' do |f|
      - if !logged_in?
        .contact-champ
          = label_tag :email do
            Email
            %span.mandatory *
          = text_field_tag :email, params[:email], required: true

      .contact-champ
        = label_tag :type do
          Votre problème
          %span.mandatory *
        = select_tag :type, options_for_select(@options, params[:type]),include_blank:"Choisir un problème",onchange:"show()", required: true


      #aidesupport

      .contact-champ
        = label_tag :dossier_id, 'Numéro du dossier concerné'
        = text_field_tag :dossier_id, @dossier_id

      .contact-champ
        = label_tag :subject do
          Sujet
          %span.mandatory *
        = text_field_tag :subject, params[:subject], required: true

      .contact-champ
        = label_tag :text do
          Message
          %span.mandatory *
        = text_area_tag :text, params[:text], rows: 6, required: true

      .contact-champ
        = label_tag :text, 'Pièce jointe'
        = file_field_tag :file

      = hidden_field_tag :tags, @tags&.join(',')

      .send-wrapper
        = button_tag 'Envoyer le message', type: :submit, class: 'button send primary'

        :javascript

          function show(){
          var e = document.getElementById ("type");
          var choix = e.options [e.selectedIndex] .value;
          var divid = choix.replace(' ','_');
          var div_info_demarche = document.getElementById("info_demarche");
          var div_usager_perdu_ = document.getElementById("usager_perdu");
          var div_info_instruction = document.getElementById("info_instruction");

          switch (divid) {
            case 'info_demarche':
              console.log('info_demarche');
              document.getElementById("aidesupport").innerHTML = "<div id='support' class='card featured'><div id='' class='card-title'>👉 Notre réponse </div> Avez-vous bien vérifié que tous les champs obligatoires (*) sont bien remplis ?<br/>Si vous avez des questions sur les informations à saisir, contactez les services en charge de la démarche.<br/> <br/><a href='https://faq.demarches-simplifiees.fr/article/12-contacter-le-service-en-charge-de-ma-demarche'>En savoir plus</a><br/><br/></div>";
              break;

            case 'usager_perdu':
              console.log('usager_perdu');
              document.getElementById("aidesupport").innerHTML = "<div id='support' class='card featured'><div id='' class='card-title'>👉 Notre réponse </div><br>Nous vous invitons à contacter l’administration en charge de votre démarche pour qu’elle vous indique le lien à suivre. Celui-ci devrait ressembler à cela : https://www.demarches-simplifiees.fr/commencer/NOM_DE_LA_DEMARCHE .<br/><br/>Vous pouvez aussi consulter ici la liste de nos démarches les plus frequentes (permis, detr etc) : <a href='https://doc.demarches-simplifiees.fr/listes-des-demarches' >https://doc.demarches-simplifiees.fr/listes-des-demarches</a> <br/><br></div>";
              break;

            case 'info_instruction':
              console.log('info_instruction');
            document.getElementById("aidesupport").innerHTML = "<div id='support' class='card featured'><div id='' class='card-title'>👉 Notre réponse </div><br>Si vous avez des questions sur l’instruction de votre dossier (par exemple sur les délais), nous vous invitons à contacter directement les services qui instruisent votre dossier par votre messagerie <br/><br/><a href='https://faq.demarches-simplifiees.fr/article/11-je-veux-savoir-ou-en-est-linstruction-de-ma-demarche'>En savoir plus </a><br/><br/>Si vous souhaitez poser une question pour un problème technique sur le site, utilisez le formulaire ci-dessous. Nous ne pourrons pas vous renseigner sur l'instruction de votre dossier.</div>";

              break;

              default:
                 console.log('defaut');
                 document.getElementById("aidesupport").innerHTML = "";

              }





            }

