- content_for(:title, 'Contact')

#contact-form
  .container
    %h1.new-h1 Contact

    .description
      Contactez-nous via ce formulaire et nous vous répondrons dans les plus brefs délais.
      Pensez bien à nous donner le plus d'informations possible pour que nous puissions vous aider au mieux

    = form_tag contact_path, method: :post, multipart: true, class: 'form' do |f|
      - if !logged_in?
        .contact-champ
          = label_tag :email do
            Email
            %span.mandatory *
          = text_field_tag :email, params[:email], required: true

      .contact-champ
        = label_tag :type do
          Votre problème
          %span.mandatory *
        = select_tag :type, options_for_select(@options, params[:type]),include_blank:"Choisir un problème",onchange:"show()", required: true


      #aidesupport.new-h2


      .contact-champ
        = label_tag :dossier_id, 'Numéro du dossier concerné'
        = text_field_tag :dossier_id, @dossier_id

      .contact-champ
        = label_tag :subject do
          Sujet
          %span.mandatory *
        = text_field_tag :subject, params[:subject], required: true

      .contact-champ
        = label_tag :text do
          Message
          %span.mandatory *
        = text_area_tag :text, params[:text], rows: 6, required: true

      .contact-champ
        = label_tag :text, 'Pièce jointe'
        = file_field_tag :file

      = hidden_field_tag :tags, @tags&.join(',')

      .send-wrapper
        = button_tag 'Envoyer le message', type: :submit, class: 'button send primary'

        :javascript

          function show(){
          var e = document.getElementById ("type");
          var choix = e.options [e.selectedIndex] .value;
          var divid = choix.replace(' ','_');
          var div_info_demarche = document.getElementById("info_demarche");
          var div_usager_perdu_ = document.getElementById("usager_perdu");
          var div_info_instruction = document.getElementById("info_instruction");

          switch (divid) {
            case 'info_demarche':
              console.log('info_demarche');
              document.getElementById("aidesupport").innerHTML = "👉 Notre réponse : <br>Avez-vous bien vérifié que votre navigateur était à jour et que tous les champs obligatoire (*) étaient remplis ?<br/>Si vous avez des questions sur les informations à saisir, contactez les services en charge de la démarche<br/><br/>";
              break;

            case 'usager_perdu':
              console.log('usager_perdu');
              document.getElementById("aidesupport").innerHTML = "👉 Notre réponse : <br>Nous vous invitons à contacter l’administration en charge de votre démarche pour qu’elle vous indique le lien à suivre. Celui-ci devrait ressembler à cela : https://www.demarches-simplifiees.fr/commencer/NOM_DE_LA_DEMARCHE .<br/><br/>Vous pouvez aussi consulter ici la liste de nos démarches les plus frequentes (permis, detr etc) : <a href='https://doc.demarches-simplifiees.fr/listes-des-demarches' >https://doc.demarches-simplifiees.fr/listes-des-demarches</a> <br/><br>";
              break;

            case 'info_instruction':
              console.log('info_instruction');
            document.getElementById("aidesupport").innerHTML = "👉 Notre réponse : <br>Nous n’avons pas réponse à tout ! Nous nous occupons de la partie technique du site demarches-simplifiees.fr . Si vous avez des questions sur l’instruction de votre dossier, nous vous invitons à contacter directement les services qui instruisent votre dossier par votre messagerie<br/><br/>Pour cela, cliquez sur votre dossier dans votre tableau de bord puis sur l'onglet 'Messagerie'. Pour vous connecter <a href='https://www.demarches-simplifiees.fr/users/sign_in'>cliquez-ici </a>";

              break;

              default:
                 console.log('defaut');
                 document.getElementById("aidesupport").innerHTML = "";

              }





            }

