- content_for(:title, t('.contact'))
- content_for :footer do
  = render partial: "root/footer"

#contact-form
  .container
    %h1.new-h1
      = t('.contact')

    = form_tag contact_path, method: :post, multipart: true, class: 'form' do

      .description
        %p= t('.intro_html')
        %br
        %p.mandatory-explanation= t('asterisk_html', scope: [:utils])

      - if !user_signed_in?
        .contact-champ
          = label_tag :email do
            Email
            %span.mandatory *
          = text_field_tag :email, params[:email], required: true, autocomplete: 'email'

      %fieldset.radios.vertical{ name: "type" }
        %legend.form-label
          = t('.your_question')
          %span.mandatory *

        - @options.each do |(question, question_type, link)|
          = label_tag "type_#{question_type}", { 'aria-controls': link ? "card-#{question_type}" : nil } do
            = radio_button_tag :type, question_type, false, required: true
            = question

          - if link.present?
            .support.card.featured.mb-4.ml-5.hidden{ id: "card-#{question_type}", "aria-hidden": true }
              .card-title
                = t('.our_answer')
              .card-content
                -# i18n-tasks-use t("support.index.#{question_type}.answer_html")
                = t('answer_html', scope: [:support, :index, question_type], base_url: APPLICATION_BASE_URL, "link_#{question_type}": link)


      .contact-champ
        = label_tag :dossier_id, t('file_number', scope: [:utils])
        = text_field_tag :dossier_id, @dossier_id

      .contact-champ
        = label_tag :subject do
          = t('subject', scope: [:utils])
          %span.mandatory *
        = text_field_tag :subject, params[:subject], required: true

      .contact-champ
        = label_tag :text do
          = t('message', scope: [:utils])
          %span.mandatory *
        = text_area_tag :text, params[:text], rows: 6, required: true

      .contact-champ
        = label_tag :piece_jointe do
          = t('pj', scope: [:utils])
        %p.notice.hidden{ data: { 'contact-type-only': Helpscout::FormAdapter::TYPE_AMELIORATION } }
          = t('.notice_pj_product')
        %p.notice.hidden{ data: { 'contact-type-only': Helpscout::FormAdapter::TYPE_AUTRE } }
          = t('.notice_pj_other')
        = file_field_tag :piece_jointe

      = hidden_field_tag :tags, @tags&.join(',')

      = invisible_captcha

      .send-wrapper
        = button_tag t('send_mail', scope: [:utils]), type: :submit, class: 'button send primary'
