- content_for(:title, 'Contact')

#contact-form
  .container
    %h1.new-h1 Contact

    .description
      Contactez-nous via ce formulaire et nous vous répondrons dans les plus brefs délais.
      Pensez bien à nous donner le plus d'informations possible pour que nous puissions vous aider au mieux

    = form_tag contact_path, method: :post, multipart: true, class: 'form' do |f|
      - if !logged_in?
        .contact-champ
          = label_tag :email do
            Email
            %span.mandatory *
          = text_field_tag :email, params[:email], required: true

      .contact-champ
        = label_tag :type do
          Votre problème
          %span.mandatory *
        = select_tag :type, options_for_select(@options, params[:type]),include_blank:"Choisir un problème",onchange:"show()", required: true


      #aidesupport


      .contact-champ
        = label_tag :dossier_id, 'Numéro du dossier concerné'
        = text_field_tag :dossier_id, @dossier_id

      .contact-champ
        = label_tag :subject do
          Sujet
          %span.mandatory *
        = text_field_tag :subject, params[:subject], required: true

      .contact-champ
        = label_tag :text do
          Message
          %span.mandatory *
        = text_area_tag :text, params[:text], rows: 6, required: true

      .contact-champ
        = label_tag :text, 'Pièce jointe'
        = file_field_tag :file

      = hidden_field_tag :tags, @tags&.join(',')

      .send-wrapper
        = button_tag 'Envoyer le message', type: :submit, class: 'button send primary'

        :javascript

          function show(){
          var e = document.getElementById ("type");
          var choix = e.options [e.selectedIndex] .value;
          var divid = choix.replace(' ','_');
          var div_info_demarche = document.getElementById("info_demarche");
          var div_usager_perdu_ = document.getElementById("usager_perdu");
          var div_info_instruction = document.getElementById("info_instruction");

          switch (divid) {
            case 'info_demarche':
              console.log('info_demarche');
              document.getElementById("aidesupport").innerHTML = "aaaaa";
              break;

            case 'usager_perdu':
              console.log('usager_perdu');
              document.getElementById("aidesupport").innerHTML = "bbbbb";
              break;

            case 'info_instruction':
              console.log('info_instruction');
            document.getElementById("aidesupport").innerHTML = "cccc";

              break;

              default:
                 console.log('defaut');
                 document.getElementById("aidesupport").innerHTML = "";

              }





            }

