= @form.text_field(:value, input_opts(id: @champ.focusable_input_id, aria: { describedby: "#{@champ.describedby_id} #{@champ.error_id}" }, inputmode: :numeric, min: 1, pattern: "[0-9]{1,12}", autocomplete: 'off', required: @champ.required?, class: "#{@champ.blank? ? '' : 'small-margin'}"))

- if !@champ.blank? && !dossier.blank?
  .fr-info-text.fr-mb-4w= sanitize(dossier.text_summary)
