.statistiques

  %h1.new-h1 Statistiques

  .stat-cards
    .stat-card.stat-card-half.big-number-card.pull-left
      %span.big-number-card-title TOTAL PROCÉDURES DÉMATÉRIALISÉES
      %span.big-number-card-number
        = number_with_delimiter(@procedures_count)

    .stat-card.stat-card-half.big-number-card.pull-left
      %span.big-number-card-title TOTAL DOSSIERS DÉPOSÉS
      %span.big-number-card-number
        = number_with_delimiter(@dossiers_count)

    .stat-card.stat-card-half.pull-left
      %span.stat-card-title Procédures dématérialisées / mois

      .chart-container
        .chart
          = column_chart @procedures_in_the_last_4_months,
            :colors => ["rgba(61, 149, 236, 1)"]

    .stat-card.stat-card-half.pull-left
      %span.stat-card-title Dossiers déposés / mois

      .chart-container
        .chart
          = column_chart @dossiers_in_the_last_4_months,
            :colors => ["rgba(61, 149, 236, 1)"]

    .stat-card.stat-card-half.pull-left
      %span.stat-card-title Procédures dématérialisées

      .chart-container
        .chart.cumulative-procedures-chart
          = area_chart @procedures_cumulative,
            :colors => ["rgba(61, 149, 236, 1)"]

    .stat-card.stat-card-half.pull-left
      %span.stat-card-title Dossiers déposés

      .chart-container
        .chart.cumulative-dossiers-chart
          = area_chart @dossiers_cumulative,
            :colors => ["rgba(61, 149, 236, 1)"]

    - if administration_signed_in?
      - cache "computation-heavy-stats", :expires_in => 1.day do
        .stat-card.stat-card-half.pull-left
          %span.stat-card-title Temps de traitement moyen d'un dossier

          .chart-container
            .chart
              = line_chart @dossier_instruction_mean_time,
                :ytitle => "Jours",
                :colors => ["rgba(61, 149, 236, 1)"]

        .stat-card.stat-card-half.pull-left
          %span.stat-card-title Temps de remplissage moyen d'un dossier

          .chart-container
            .chart
              = line_chart @dossier_filling_mean_time,
                :ytitle => "Minutes",
                :colors => ["rgba(61, 149, 236, 1)"]

    .clearfix
