- content_for(:title, @procedure.libelle)

- content_for :footer do
  = render partial: "root/footer"

.container.fr-py-5w
  .card
    .card-title.flex.justify-between.align-center
      = @type_de_champ.libelle
    = @type_de_champ.description

    %table.table.vertical
      %tbody
        %tr
          %th
            = t("views.prefill_descriptions.edit.champ_id")
          %td
            = @type_de_champ.to_typed_id_for_query
        %tr
          %th
            = t("views.prefill_descriptions.edit.champ_type")
          %td
            = t("activerecord.attributes.type_de_champ.type_champs.#{@type_de_champ.type_champ}")
        %tr
          %th
            = t("views.prefill_descriptions.edit.possible_values.title")
          %td
            .fr-grid-row.fr-grid-row--gutters.fr-py-5w
              - @type_de_champ.all_possible_values.each do |possible_value|
                .fr-col-md-4.fr-col-sm-6.fr-col-12
                  = possible_value
        %tr
          %th
            = t("views.prefill_descriptions.edit.examples.title")
          %td
            = @type_de_champ.example_value
