= form_tag france_connect_merge_using_password_path, data: { turbo: true }, class: 'mt-2 form fconnect-form', id: 'merge_using_password' do
  = hidden_field_tag :merge_token, fci.merge_token, id: dom_id(fci, :fusion_merge_token)
  .fr-input-group{ class: class_names('fr-input-group--error': wrong_password) }
    = label_tag :password, t('views.registrations.new.password_label', min_length: 8), class: 'fr-label'
    = password_field_tag :password, nil, autocomplete: 'current-password', class: 'mb-1 fr-input'

  = submit_tag t('france_connect.merge.button_merge'), class: 'fr-btn'
