- if @procedure.locked?
  .alert.alert-info
    Cette démarche est publiée, certains éléments de la description ne sont plus modifiables

.form-group
  %h4 Libellé*
  = f.text_field :libelle, class: 'form-control', placeholder: 'Libellé de la démarche'

.form-group
  %h4 Description*
  = f.text_area :description, rows: '6', placeholder: 'Description du projet', class: 'form-control'

- if !@procedure.locked?
  .form-group
    %h4 Conservation des données
    = f.label :duree_conservation_dossiers_dans_ds, "Sur demarches-simplifiees.fr* (durée en mois après le début de l’instruction)"
    = f.number_field :duree_conservation_dossiers_dans_ds, class: 'form-control', placeholder: '6', required: true

    = f.label :duree_conservation_dossiers_hors_ds, "Hors demarches-simplifiees.fr* (durée en mois après la fin de l'instruction)"
    = f.number_field :duree_conservation_dossiers_hors_ds, class: 'form-control', placeholder: '6', required: true

.form-group
  %h4 Où les usagers trouveront-ils le lien vers la démarche ?
  = f.text_field :lien_site_web, class: 'form-control', placeholder: 'https://exemple.gouv.fr/ma_demarche'

.form-group
  %h4 Cadre juridique *
  %p Texte qui justifie le droit de collecter les données demandées dans votre démarche auprès des usagers, par exemple :
  %ul
    %li Texte de loi (loi, décret, circulaire, arrêté,…)
    %li Texte juridique (statuts, délibération, décision du conseil d'administration…)
    %li
      = link_to("En savoir plus avec cette vidéo de 5 minutes", CADRE_JURIDIQUE_URL, target: "_blank", rel: "noopener")

  %p.help-block
    %i.fa.fa-info-circle
    Vous pouvez saisir un lien vers ce texte ou importer celui-ci directement.

  .row
    .col-md-6
      = f.label :cadre_juridique, 'Lien vers le texte'
      = f.text_field :cadre_juridique, class: 'form-control', placeholder: 'https://www.legifrance.gouv.fr/'
    .col-md-6
      = f.label :deliberation, 'Importer le texte'
      - deliberation = @procedure.deliberation
      - if !deliberation.attached?
        = f.file_field :deliberation,
          direct_upload: true
      - else
        %a{ href: url_for(deliberation), target: '_blank', rel: 'noopener' }
          = deliberation.filename.to_s
        - if @procedure.persisted?
          = link_to 'supprimer', delete_deliberation_admin_procedure_path(@procedure), method: :delete
        %br
        Modifier :
        = f.file_field :deliberation,
          direct_upload: true

.form-group
  %h4 Notice explicative de la démarche
  - notice = @procedure.notice
  - if !notice.attached?
    = f.file_field :notice,
      direct_upload: true
  - else
    %a{ href: url_for(notice), target: '_blank', rel: 'noopener' }
      = notice.filename.to_s
    - if @procedure.persisted?
      \-
      = link_to 'supprimer', delete_notice_admin_procedure_path(@procedure), method: :delete
    %br
    Modifier :
    = f.file_field :notice,
      direct_upload: true

.row
  .col-md-6
    %h4 Logo de la démarche
    - if @procedure.logo.present?
      = image_tag logo_img(@procedure), { style: 'height: 40px; display: inline; margin-right: 6px;', id: 'preview_procedure_logo' }
      \-

      - if @procedure.persisted?
        = link_to 'supprimer', delete_logo_admin_procedure_path(@procedure), method: :delete
    = f.file_field :logo, accept: 'image/png, image/jpg, image/jpeg', style: 'display: inline'

    %div{ style: 'margin-top: 5px;' }
      %i
        Fichier accepté : JPG / JPEG / PNG
  .col-md-6
    %h4 Drapeau européen
    .checkbox
      %label
        = f.check_box :euro_flag
        Afficher le drapeau européen

- if !@procedure.locked?
  .row
    .col-md-6
      %h4 Particuliers
      .checkbox
        %label
          = f.check_box :for_individual
          Cette démarche s'adresse à un public qui
          %b
            ne possède pas (ou pas encore) de numéro SIRET,
          qui doivent donc s'identifier en tant que personne physique.

      %ul#individual-with-siret
        %li
          .checkbox
            %label
              = f.check_box :ask_birthday
              Demander la date de naissance.
.row
  .col-md-6
    %h4 Options avancées

    = f.label :expects_multiple_submissions do
      = f.check_box :expects_multiple_submissions
      Ajuster pour le dépôt récurrent de dossiers
    %p.help-block
      %i.fa.fa-info-circle
      Si cette démarche est conçue pour qu’une même personne y dépose régulièrement plusieurs
      dossiers, l’interface est ajustée pour rendre plus facile la création de plusieurs dossiers
      à la suite.

    - if Flipflop.web_hook?
      %label{ for: :web_hook_url } Lien de rappel HTTP (webhook)
      = f.text_field :web_hook_url, class: 'form-control', placeholder: 'https://callback.exemple.fr/'
      %p.help-block
        %i.fa.fa-info-circle
        Vous pouvez définir un lien de rappel HTTP (aussi appelé webhook) pour notifier un service tiers du changement de l'état d’un dossier de cette démarche sur demarches-simplifiees.fr.
        = link_to("Consulter la documentation du webhook", WEBHOOK_DOC_URL, target: "_blank", rel: "noopener")
        \.

    %label{ for: :auto_archive_on } Clôture automatique le
    = f.date_field :auto_archive_on, id: 'auto_archive_on', value: @procedure.auto_archive_on
    (à 00h01)
    %p.help-block
      %i.fa.fa-info-circle
      La clôture automatique suspend la publication de la démarche et entraîne le passage de tous les dossiers "en construction"
      (c'est à dire ceux qui ont été déposés), au statut "en instruction", ce qui ne permet plus aux usagers de les modifier.
