- if @procedure.locked?
  .alert.alert-info
    Cette procédure est publiée, certains éléments de la description ne sont plus modifiables

- { libelle: 'Libellé*', description: 'Description*', organisation: 'Organisme*', direction: 'Direction', lien_site_web: 'Lien site internet', lien_notice: 'Lien notice' }.each do |key, value|
  .form-group
    %h4
      = value
    - if key == :description
      = f.text_area key, rows: '6', placeholder: 'Description du projet', class: 'form-control wysihtml5'

    - else
      = f.text_field key, class: 'form-control', placeholder: value

.row
  .col-md-6
    %h4 Logo de la procédure
    - if @procedure.logo.present?
      = image_tag @procedure.decorate.logo_img, { style: 'height: 40px; display: inline; margin-right: 6px;', id: 'preview_procedure_logo' }
    = f.file_field :logo, accept: 'image/png, image/jpg, image/jpeg', style: 'display: inline'

    %div{ style: 'margin-top: 5px;' }
      %i
        Fichier accepté : JPG / JPEG / PNG
  .col-md-6
    %h4 Drapeau européen
    .checkbox
      %label
        = f.check_box :euro_flag
        Afficher le drapeau européen

- if !@procedure.locked?
  .row
    .col-md-6
      %h4 Cartographie

      = f.fields_for :module_api_carto, @procedure.module_api_carto do |ff|
        .checkbox
          %label
            = ff.check_box :use_api_carto, id: "procedure-module-api-carto-use-api-carto"
            Utilisation de la cartographie

        %ul#modules-api-carto
          %li
            .checkbox
              %label
                = ff.check_box :quartiers_prioritaires
                Quartiers prioritaires
          %li
            .checkbox
              %label
                = ff.check_box :cadastre
                Cadastre

    .col-md-6
      - if @procedure.cerfa_flag
        %h4 Formulaire de demande ou CERFA
        .checkbox
          %label
            = f.check_box :cerfa_flag
            Activer l'envoi de formulaire de demande ou CERFA
        %br
        = f.text_field :lien_demarche, class: 'form-control', placeholder: 'URL vers le formulaire vierge (facultatif)'

  .row
    .col-md-6
      %h4 Particuliers
      .checkbox
        %label
          = f.check_box :for_individual
          Cette procédure s'adresse à un public qui
          %b
            ne possède pas (ou pas encore) de numéro SIRET,
          qui doivent donc s'identifier en tant que personne physique.

      %ul#individual-with-siret
        %li
          .checkbox
            %label
              = f.check_box :individual_with_siret
              Donner la possibilité de renseigner un SIRET au cours de la construction du dossier.
.row
  .col-md-6
    %h4 Options avancées

    %label{ for: :auto_archive_on } Archivage automatique le
    = f.text_field :auto_archive_on, id: 'auto_archive_on', value: @procedure.auto_archive_on.try{ |d| d.strftime("%d-%m-%Y") }, data: { provide: 'datepicker', 'date-language' => 'fr', 'date-format' => 'dd/mm/yyyy' }
    (à 00h00)
    %p.help-block
      %i.fa.fa-info-circle
      L'archivage automatique de la procédure entrainera le passage en instruction de tous les dossiers en construction.
