- unless smart_listing.empty?
  %table.table
    %thead
      %th#ID= smart_listing.sortable 'ID', 'id'
      %th#libelle= smart_listing.sortable 'Libellé', 'libelle'
      %th#lien Lien

    - @procedures.each do |procedure|
      - procedure = procedure.decorate
      %tr
        %td.col-md-1.col-lg-1= procedure.id
        %td.col-md-6.col-lg-6
          = link_to(procedure.libelle, "/admin/procedures/#{procedure.id}")
        %td= link_to procedure.lien, procedure.lien

  = smart_listing.paginate
  = smart_listing.pagination_per_page_links

- else
  %h4.center
    Aucune procédure
