#publish-modal.modal{ "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-lg{ :role => "document" }
    = form_tag admin_procedure_publish_path(procedure_id: procedure.id), method: :put, remote: true do
      .modal-content
        .modal-header
          %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
            %span{ "aria-hidden" => "true" } ×
          %h4#myModalLabel.modal-title
            = procedure_modal_text(procedure, :title)
            %span#publish-modal-title
        .modal-body
          .text-info
            %p
              = procedure_modal_text(procedure, :body)
              %b Elle ne pourra plus être modifiée à l’issue de cette publication.
          .form-group
            %h4 Première fois ?
            %p
              Si vous publiez pour la première fois, pensez à nous demander un avis sur votre formulaire via l'icone de chat rouge en bas à droite ou via
              = link_to CONTACT_EMAIL, "mailto:#{CONTACT_EMAIL}?body=Bonjour, pouvez vous me donner votre avis sur la démarche #{procedure.id} #{@procedure_lien}&subject=Avis demandé sur une démarche"
          .form-group
            %h4 Adresse de la démarche
            %p Vous pouvez personnaliser le lien public de la démarche pour en faciliter l’accès.
            %p
              = commencer_url(path: '')
              = text_field_tag(:path, procedure.path,
                              id: 'procedure_path',
                              placeholder: 'chemin-de-la-démarche',
                              required: true,
                              class: 'form-control',
                              pattern: '^[a-z0-9_-]{3,50}$',
                              title: "De 3 à 50 caractères; minuscules, chiffres et tiret seulement",
                              data: { remote: true, debounce: true, url: admin_procedure_publish_validate_path(procedure) },
                              autocomplete: 'off',
                              style: 'width: 300px; display: inline;')
              = render 'publish_path_message', procedure: procedure, administrateur: administrateur
            .text-info
              Attention, diffusez toujours le <strong>lien complet</strong> affiché ci-dessus, et non pas un lien générique vers #{SITE_NAME}. Ne dites pas non plus aux usagers de se rendre sur le site générique #{SITE_NAME}, donnez-leur toujours le lien complet.
          .form-group
            %h4 Diffusion de la démarche
            %p Où les utilisateurs trouveront-ils le lien de la démarche ? Typiquement, il s’agit d’une page de votre site web.
            %p.center
              = text_field_tag(:lien_site_web, procedure.lien_site_web,
                                required: true,
                                class: 'form-control',
                                autocomplete: 'off',
                                placeholder: 'https://exemple.gouv.fr/ma_demarche')
            .text-info
              Prenez quelques minutes pour savoir comment établir une bonne relation avec les usagers de votre démarche :
              = link_to "Regarder la vidéo de 5 minutes.",
              "https://vimeo.com/334463514",
              target: "_blank"
        .modal-footer
          = render 'publish_buttons', procedure: procedure, administrateur: administrateur
