#publish-modal.modal.fade{ "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-lg{ :role => "document" }
    = form_tag admin_procedure_publish_path(procedure_id: @procedure.id), method: :put, remote: true do
      .modal-content
        .modal-header
          %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
            %span{ "aria-hidden" => "true" } ×
          %h4#myModalLabel.modal-title
            = @procedure.archivee? ? 'Réactiver' : 'Publier'
            la procédure
        .modal-body
          Vous vous apprêtez à
          = @procedure.archivee? ? 'republier' : 'publier'
          votre procédure au public.
          - if !@procedure.archivee?
            %b
              Elle ne pourra plus être modifiée à l'issue de cette publication.
        .modal-footer
          = submit_tag "#{@procedure.archivee? ? 'Réactiver' : 'Publier'}", class: %w(btn btn btn-success),
                                  id: 'publish'
          = button_tag 'Annuler', class: %w(btn btn btn-default), id: 'cancel', data: { dismiss: 'modal' }
