#publish-modal.modal{ "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-lg{ :role => "document" }
    = form_tag admin_procedure_publish_path(procedure_id: @procedure.id), method: :put, remote: true do
      .modal-content
        .modal-header
          %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
            %span{ "aria-hidden" => "true" } ×
          %h4#myModalLabel.modal-title
            = procedure_modal_text(@procedure, :title)
            %span#publish-modal-title
        .modal-body
          = procedure_modal_text(@procedure, :body)
          - if !@procedure.archivee?
            %b
              Elle ne pourra plus être modifiée à l’issue de cette publication.
          %br
          Afin de faciliter l’accès à la démarche, vous êtes invité à personnaliser l’adresse d'accès si vous le souhaitez.
          %br
          .form-group
            %br
            %h4 Lien de la démarche
            %p.center
              = commencer_url(procedure_path: '')
              = text_field_tag('procedure_path', @procedure.path || @procedure.default_path,
                                id: 'procedure_path',
                                placeholder: 'Chemin vers la démarche',
                                data: { autocomplete: 'path' },
                                class: 'form-control',
                                maxlength: 50,
                                style: 'width: 300px; display: inline;')
            %br
              .alert.alert-info
                Attention, diffusez toujours le <strong>lien complet</strong> affiché ci-dessus, et non pas un lien générique vers demarches-simplifiees.fr. Ne dites pas non plus aux usagers de se rendre sur le site générique demarches-simplifiees.fr, donnez-leur toujours le lien complet.
            #path-messages
              #path_is_mine.text-warning.center.message
                Ce lien est déjà utilisé par une de vos démarche.
                %br
                Si vous voulez l’utiliser, l’ancienne démarche sera archivée (plus accessible du public).
              #path_is_not_mine.text-danger.center.message
                Ce lien est déjà utilisé par une démarche.
                %br
                Vous ne pouvez pas l’utiliser car il appartient à un autre administrateur.
              #path_is_invalid.text-danger.center.message
                = t('activerecord.errors.models.procedure_path.attributes.path.format')
        .modal-footer
          = submit_tag procedure_modal_text(@procedure, :submit), class: %w(btn btn btn-success), disabled: :disabled, id: 'publish'
          = button_tag "Annuler", class: %w(btn btn btn-default), data: { dismiss: :modal }, id: 'cancel'
