%li{ class: ('active' if active == 'Informations') }
  = link_to('Informations', admin_procedure_path(@procedure))

%li{ class: ('active' if active == 'Accompagnateurs') }
  = link_to(t('dynamics.admin.procedure.onglets.accompagnateurs'), admin_procedure_accompagnateurs_path(@procedure))

%li{ class: ('disabled' if @procedure.locked?) || ('active' if active == 'Description') }
  = link_to_unless(@procedure.locked?, 'Description', edit_admin_procedure_path(@procedure)) do
    = link_to('Description', '#')

%li{ class: ('disabled' if @procedure.locked?) || ('active' if active == 'Champs') }
  = link_to_unless(@procedure.locked?, 'Champs', admin_procedure_types_de_champ_path(@procedure)) do
    = link_to('Champs', '#')

%li{ class: ('disabled' if @procedure.locked?) || ('active' if active == 'Pieces') }
  = link_to_unless(@procedure.locked?, 'Pièces justificatives', admin_procedure_pieces_justificatives_path(@procedure)) do
    = link_to('Pièces justificatives', '#')

%li{ class: ('disabled' if @procedure.locked?) || ('active' if active == 'Champs privés') }
  = link_to_unless(@procedure.locked?, 'Champs privés', admin_procedure_types_de_champ_private_path(@procedure)) do
    = link_to('Champs privés', '#')

%li{ class: ('active' if active == 'E-mails') }
  = link_to('E-mails', admin_procedure_mails_path(@procedure))

%li{ class: ('active' if active == 'Prévisualisation'), style: 'float:right' }
  = link_to('Prévisualisation', admin_procedure_previsualisation_path(@procedure), {style: 'font-style: italic;'})