= link_to("Nouvelle procédure", "/admin/procedures/new", class: 'btn btn-success', style: 'float:right; margin-top:2%;')
%h1 Gestion des procédures
%br
%br
%table.table
  %thead
    %th#id ID
    %th#libelle Libellé
    %th#organisation Organisation
    %th#direction Direction
  - @procedures.each do |procedure|
    %tr
      %td= procedure.id
      %td
        = link_to(procedure.libelle, "/admin/procedures/#{procedure.id}")
      %td= procedure.organisation
      %td= procedure.direction