.row.white-back
  %h2
    = t('dynamics.admin.dossiers.tableau_de_bord.nouvelle_procedure')

  #procedure_new.section.section-label
    = form_for @procedure, url: { controller: 'admin/procedures', action: :create }, multipart: true do |f|
      = render partial: 'informations', locals: { f: f }
      .text-right
        - if !Flipflop.publish_draft? || (@available || @mine)
          = f.button 'Valider', class: 'btn btn-info', id: 'save-procedure'
        - else
          = f.button 'Valider', class: 'btn btn-info', id: 'save-procedure', disabled: true
