.row{ style: 'padding: 20px; margin: 20px !important;' }
  %a#from-scratch{ href: new_admin_procedure_path, class: 'btn-lg btn-primary' }
    Créer une nouvelle démarche de zéro

.row.white-back
  %h3
    Créer une nouvelle démarche à partir d'une démarche existante

  .section.section-label
    Pour rechercher dans cette liste, utilisez la fonction "Recherche" de votre navigateur (CTRL+F ou command+F)
    %br
    %br
    - @grouped_procedures.each do |_, procedures|
      %b
        = procedures.first.organisation_name
      %table{ style: 'margin-bottom: 40px;' }
        - procedures.sort_by(&:id).each do |procedure|
          %tr{ style: 'height: 36px;' }
            %td{ style: 'width: 750px;' }
              = procedure.libelle
            %td{ style: 'padding-right: 10px; padding-left: 10px; width: 60px;' }
              = link_to('Consulter', apercu_procedure_path(id: procedure.id), target: "_blank")
            %td
              = link_to('Cloner', admin_procedure_clone_path(procedure.id, from_new_from_existing: true), 'data-method' => :put, class: 'btn-sm btn-primary clone-btn')
            %td{ style: 'padding-left: 10px;' }
              = link_to('Contacter', "mailto:#{procedure.administrateur.email}")
