.container
  - if current_administrateur.procedures.brouillons.count == 0
    .card.feedback
      .card-title
      Bienvenue,
      %br
      vous allez pouvoir créer une première démarche de test.
      Celle-ci sera visible uniquement par vous et ne sera publiée nulle part, alors pas de crainte à avoir.
      %br
      %br
      Besoin d'aide ?
      %br
      > Nous proposons  des ateliers en ligne pour vous aider à créer votre 1er formulaire et répondre à vos questions :
      = link_to "inscrivez-vous ici",
        "https://vimeo.com/334463514",
        target: "_blank"
      %br
      > Vous pouvez
      = link_to "visionner cette vidéo",
        "https://vimeo.com/261478872",
        target: "_blank"
      %br
      > Vous pouvez lire notre
      = link_to "documentation en ligne",
        "https://doc.demarches-simplifiees.fr/tutoriels/tutoriel-administrateur",
        target: "_blank"

      %br
      > Vous pouvez enfin
      = link_to "prendre un rendez-vous téléphonique avec nous",
        "https://calendly.com/demarches-simplifiees/accompagnement-administrateur-demarches-simplifiees-fr",
        target: "_blank"


  .form
    .send-wrapper
      %a#from-scratch.button.primary{ href: new_admin_procedure_path }
        Créer une nouvelle démarche de zéro

    .card
      %h2.header-section
        Créer une nouvelle démarche à partir d'une démarche existante

      %label
        .notice
          Pour rechercher dans cette liste, utilisez la fonction "Recherche" de votre navigateur (CTRL+F ou command+F)

      %table.table.vertical.procedure-library-list
        - @grouped_procedures.each do |_, procedures|
          %tr
            %th
              = procedures.first.organisation_name
          - procedures.sort_by(&:id).each do |procedure|
            %tr
              %td
                = procedure.libelle
              %td.flex
                = link_to('Consulter', apercu_procedure_path(id: procedure.id), target: "_blank", rel: "noopener", class: 'button small')
                = link_to('Cloner', admin_procedure_clone_path(procedure.id, from_new_from_existing: true), 'data-method' => :put, class: 'button small primary')
                = link_to('Contacter', "mailto:#{procedure.administrateurs.pluck(:email) * ","}", class: 'button small')
