= render partial: 'admin/closed_mail_template_attestation_inconsistency_alert'
.row.white-back
  #procedure_show
    = render partial: '/admin/procedures/modal_publish'
    = render partial: '/admin/procedures/modal_transfer'

    - if @procedure.brouillon?
      - if @procedure.gestionnaires.empty? || @procedure.service.nil?
        - missing_elements = []
        - if @procedure.gestionnaires.empty?
          - missing_elements << 'des instructeurs'
        - if @procedure.service.nil?
          - missing_elements << 'un service'
        - message = "Affectez #{missing_elements.join(' et ')} à votre démarche."
        %a.action_button.btn.btn-success#disabled-publish-procedure{ data: { toggle: :tooltip, placement: :bottom }, style: 'float: right; margin-top: 10px;', disabled: true, title: message }
          %i.fa.fa-eraser
          Publier
      - else
        %a.btn.btn-success#publish-procedure{ data: { target: '#publish-modal', toggle: :modal }, type: 'button', style: 'float: right; margin-top: 10px;' }
          %i.fa.fa-eraser
          Publier

    %a.btn.btn-default#transfer-procedure{ data: { target: '#transfer-modal', toggle: :modal }, type: 'button', style: 'float: right; margin-top: 10px; margin-right: 10px;' }
      %i.fa.fa-exchange
      Envoyer une copie

    - if @procedure.archivee?
      %a.btn.btn-default#reopen-procedure{ data: { target: '#publish-modal', toggle: :modal }, type: 'button', style: 'float: right; margin-top: 10px; margin-right: 10px;' }
        %i.fa.fa-rocket
        Réactiver

    - elsif @procedure.publiee?
      = form_tag admin_procedure_archive_path(procedure_id: @procedure.id), method: :put, style: 'float: right; margin-top: 10px;' do
        %button#archive-procedure.btn.btn-small.btn-default.text-info{ type: :button }
          %i.fa.fa-eraser
          Archiver
        #confirm
          %button#valid.btn.btn-small.btn-success{ type: :submit }
            %i.fa.fa-check
            Valider
          %button#cancel.btn.btn-small.btn-danger{ type: :button }
            %i.fa.fa-remove
            Annuler

    - if @procedure.locked?
      #procedure_locked
        .alert.alert-info
          Cette démarche a été publiée, certains éléments ne peuvent plus être modifiés.

    .lien-demarche
      %h3 Lien démarche
      %div{ style: 'margin-top: 30px;' }
        - if @procedure.archivee?
          .alert.alert-info
            Cette démarche est archivée et n’est donc pas accessible par le public.
        - elsif @procedure.publiee?
          = link_to procedure_lien(@procedure), sanitize_url(procedure_lien(@procedure)), target: :blank
          %br
          %br
          Attention, diffusez toujours le <strong>lien complet</strong> affiché ci-dessus, et non pas un lien générique vers demarches-simplifiees.fr. Ne dites pas non plus aux usagers de se rendre sur le site générique demarches-simplifiees.fr, donnez-leur toujours le lien complet.
        - elsif @procedure.brouillon_avec_lien?
          - if @procedure.gestionnaires.present? && @procedure.service.present?
            %p
              Cette démarche est actuellement
              %strong en test.
            %p
              Vous pouvez tester cette démarche avec ce lien temporaire :
              = link_to procedure_lien(@procedure), sanitize_url(procedure_lien(@procedure)), target: :blank
            %p
              Une fois que vous êtes prêt à publier définitivement votre démarche, cliquez sur le bouton "Publier" pour choisir le lien définitif de votre démarche.
          - else
            .alert.alert-info
              Pour pouvoir tester cette démarche, vous devez d’abord lui affecter
              - if @procedure.gestionnaires.empty?
                = link_to("des instructeurs", admin_procedure_instructeurs_path(@procedure))
              - if @procedure.gestionnaires.empty? && @procedure.service.nil?
                et
              - if @procedure.service.nil?
                = link_to("un service", services_path(procedure_id: @procedure))
              \.
        - else
          - if @procedure.missing_steps.include?(:service)
            %p.alert.alert-danger
              Vous devez renseigner les coordonnées de votre Service administratif avant de pouvoir publier votre démarche.
              = link_to 'Cliquez ici.', (current_administrateur.services.present? ? url_for(services_path(procedure_id: @procedure.id)) : url_for(new_service_path(procedure_id: @procedure.id)))

          - if @procedure.missing_steps.include?(:instructeurs)
            %p.alert.alert-danger
              Vous devez affecter des instructeurs avant de pouvoir publier votre démarche.
              = link_to 'Cliquez ici.', admin_procedure_instructeurs_path(@procedure)

          %p.alert.alert-info
            Cette démarche n’a pas encore de lien, et n’est pas accessible par le public.
