- procedure = @facade.procedure

= render partial: 'admin/closed_mail_template_attestation_inconsistency_alert'
.row.white-back
  #procedure_show
    - if procedure.brouillon?
      - if procedure.gestionnaires.empty? || procedure.service.nil?
        - message = ''
        - if procedure.gestionnaires.empty?
          - message += 'Affectez des accompagnateurs à votre procédure.'
        - if procedure.service.nil?
          - message += 'Affectez un service à votre procédure.'
        %a.action_button.btn.btn-success#publish-procedure{ style: 'float: right; margin-top: 10px;', disabled: 'disabled', 'data-toggle' => :tooltip, title: message }
          %i.fa.fa-eraser
          Publier
      - else
        %a.btn.btn-success#publish-procedure{ "data-target" => "#publish-modal", "data-toggle" => "modal", :type => "button", style: 'float: right; margin-top: 10px;' }
          %i.fa.fa-eraser
          Publier

      = render partial: '/admin/procedures/modal_publish'

    %a#transfer.btn.btn-small.btn-default{ "data-target" => "#transferModal", "data-toggle" => "modal", :type => "button", style: 'float: right; margin-top: 10px; margin-right: 10px;' }
      %i.fa.fa-exchange
      Envoyer une copie

    = render partial: '/admin/procedures/modal_transfer'

    - if procedure.archivee?
      %a#reenable.btn.btn-small.btn-default.text-info{ "data-target" => "#publish-modal", "data-toggle" => "modal", :type => "button", style: 'float: right; margin-top: 10px;' }
        %i.fa.fa-eraser
        Réactiver

      = render partial: '/admin/procedures/modal_publish'

    - elsif procedure.publiee?
      = form_tag admin_procedure_archive_path(procedure_id: procedure.id, archive: !procedure.archivee?), method: :put, style: 'float: right; margin-top: 10px;' do
        %button#archive.btn.btn-small.btn-default.text-info{ type: :button }
          %i.fa.fa-eraser
          Archiver
        #confirm
          %button#valid.btn.btn-small.btn-success{ type: :submit }
            %i.fa.fa-check
            Valider
          %button#cancel.btn.btn-small.btn-danger{ type: :button }
            %i.fa.fa-remove
            Annuler

    - if procedure.locked?
      #procedure_locked
        .alert.alert-info
          Cette procédure a été publiée, certains éléments ne peuvent plus être modifiés.

    %div
      %h3 Lien procédure
      %div{ style: 'margin-left: 3%;' }
        - if procedure.publiee_ou_archivee?
          = link_to procedure.lien, sanitize_url(procedure.lien), target: :blank
        - else
          %b
            Cette procédure n'a pas encore été publiée et n'est donc pas accessible par le public.

    %br
    %h3 Détails

    .row{ style: 'margin-right: 3%; margin-left: 3%;' }
      .description.col-xs-6.col-md-3.procedure-description
        %h4.text-info
          = procedure.libelle

        = h string_to_html(procedure.description)

      .champs.col-xs-6.col-md-3
        %h4.text-info
          Champs
          .badge.progress-bar-info
            = procedure.types_de_champ.size
        %ul
          - procedure.types_de_champ.order(:order_place).each do |champ|
            %li= champ.libelle

      .champs_private.col-xs-6.col-md-3
        %h4.text-info
          Annotations privées
          .badge.progress-bar-info
            = procedure.types_de_champ_private.size
        %ul
          - procedure.types_de_champ_private.order(:order_place).each do |champ|
            %li= champ.libelle

      .pieces-justificatives.col-xs-6.col-md-3
        %h4.text-info
          Pièces jointes
          .badge.progress-bar-info
            = procedure.types_de_piece_justificative.size
        - procedure.types_de_piece_justificative.each do |piece_justificative|
          = piece_justificative.libelle
          %br

    - durees_de_conservation = politiques_conservation_de_donnees(procedure)
    - if durees_de_conservation.present?
      .row{ style: 'margin-right: 3%; margin-left: 3%;' }
        .col-xs-6.col-md-3
          %h4.text-info Conservation des données
          - durees_de_conservation.each do |text|
            %p = text

    %br
    %h3
      = t('dynamics.admin.procedure.stats.title')

    .row
      .col-xs-6{ style: 'margin-left: 3%;' }
        %h4 Total
        %div
          = @facade.dossiers_total

        %h4.text-success Terminé
        %div
          = @facade.dossiers_termine_total

        %h4 Archivé

        - if @facade.dossiers_archived_total != 0
          %ul
            - @facade.dossiers_archived_by_state_total.each do |dossier|
              %li
                = dossier.display_state
                \:
                = dossier.total
        - else
          %p
            0

      .col-xs-5
        %h4 Non archivés
        - if @facade.dossiers_for_pie_highchart.blank?
          Aucune statistique pour le moment
        - else
          = pie_chart @facade.dossiers_for_pie_highchart

    - if procedure.publiee_ou_archivee?
      %h3 Supprimer la procédure
      .alert.alert-danger
        %p
          Attention : la suppression d'une procédure est définitive.
        - dossiers_count = procedure.dossiers.count
        - if dossiers_count > 0
          %p
            = pluralize(dossiers_count, "dossier est rattaché", "dossiers sont rattachés")
            à cette procédure, la suppression de cette procédure entrainera également leur suppression.
        %p.text-right
          = link_to "J'ai compris, je supprime la procédure",
            hide_admin_procedure_path(procedure),
            method: :post,
            class: "btn btn-danger",
            data: { confirm: "Voulez-vous supprimer la procédure ?", disable_with: "Suppression..." }
