= form_with url: instructeur_procedure_presentation_path(@procedure_presentation),
  class: 'dropdown-form large',
  id: 'filter-component',
  method: :patch,
  data: { turbo: true, controller: 'autosubmit' } do |form|
  = current_filter_tags

  .fr-select-group
    = label_tag :column,  t('.column'), class: 'fr-label fr-mb-1w', id: 'instructeur-filter-combo-label', for: 'search-filter'
    %react-fragment
      = render ReactComponent.new "ComboBox/SingleComboBox", **filter_react_props

    %input.hidden{
      type: 'submit',
      formaction: url_for([:refresh_column_filter, :instructeur, @procedure_presentation]),
      formnovalidate: 'true',
      data: { autosubmit_target: 'submitter' }
    }

  = render Instructeurs::ColumnFilterValueComponent.new(column:, form:)

  = form.hidden_field :statut, value: statut
  = form.submit t('.add_filter'), class: 'fr-btn fr-btn--secondary fr-mt-2w'
