#footer
  %p{ class: "copyright col-md-push-#{12-main_container_size} col-md-#{main_container_size} col-lg-push-#{12-main_container_size} col-lg-#{main_container_size} text-muted small" }
    = link_to 'DINSIC', "http://etatplateforme.modernisation.gouv.fr"
    = Time.zone.now.year
    \-
    = link_to 'Nouveautés', 'https://github.com/maatinito/mes-demarches/releases', target: '_blank'
    \-
    = link_to 'Statistiques', stats_path
    \-
    = link_to 'CGU / Mentions légales', CGU_URL
    \-
    = contact_link 'Contact'
    \-
    = link_to 'Documentation', DOC_URL
    \-
    = link_to 'FAQ', FAQ_ADMIN_URL
    -# \-
    -# = link_to 'Inscription ateliers en ligne', WEBINAIRE_URL
