#footer
  %p{ class: "copyright col-md-push-#{12-main_container_size} col-md-#{main_container_size} col-lg-push-#{12-main_container_size} col-lg-#{main_container_size} text-muted small" }
    = link_to t("links.provider.name"), t("links.provider.url")
    = Time.zone.now.year
    \-
    = link_to t("links.footer.doc_nouveautes.label"), t("links.footer.doc_nouveautes.url"), target: '_blank'
    \-
    = link_to t("links.footer.stats.label"), stats_path
    \-
    = link_to "#{t("links.footer.cgu.label")} / #{t("links.footer.mentions_legales.label")}", t("links.footer.cgu.url"), target: '_blank'
    \-
    = link_to t("links.footer.doc.label"), t("links.footer.doc.url"), target: '_blank'
    \-
    = link_to t("links.footer.faq_admin.label"), t("links.footer.faq_admin.url"), target: '_blank'
    \-
    = link_to t("links.footer.webinaire.label"), t("links.footer.webinaire.url"), target: '_blank'
