%div#footer
  %p{class: "copyright col-md-push-#{12-main_container_size} col-md-#{main_container_size} col-lg-push-#{12-main_container_size} col-lg-#{main_container_size} text-muted small"}
    = link_to 'SGMAP', "http://etatplateforme.modernisation.gouv.fr"
    2016
    \-
    = link_to 'CGU / Mentions légales', cgu_path
    \-
    = link_to 'Contact', "mailto:"+t('dynamics.contact_email')
