<div class="fr-translate fr-nav">
  <div class="fr-nav__item">
    <button
      class="fr-translate__btn fr-btn"
      aria-controls="translate"
      aria-expanded="false"
      title="<%= t('.select_locale') %>"
    >
      <%= I18n.locale.upcase %>
      <span class="fr-hidden-lg">&nbsp;- <%= t('.locale_name') %></span>
    </button>
    <div id="translate" class="fr-collapse fr-menu">
      <ul class="fr-menu__list">
        <li>
          <%= active_locale_link(:fr) do %>
            FR - Français
          <% end %>
        </li>
        <li>
          <%= active_locale_link(:en) do %>
            EN - English
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
