.fr-translate.fr-nav
  .fr-nav__item
    %button.fr-translate__btn.fr-btn{ "aria-controls" => "translate", "aria-expanded" => "false", :title => t('.select_locale') }
      = I18n.locale.upcase
      %span.fr-hidden-lg= " - #{t('.locale_name')}"
    #translate.fr-collapse.fr-menu
      %ul.fr-menu__list
        %li
          = active_locale_link(:fr) do
            FR - Français
        %li
          = active_locale_link(:en) do
            EN - English
