#main-container{ class: "col-xs-#{main_container_size}" }
  .row
    = render partial: 'layouts/outdated_browser_banner'
    = render partial: 'layouts/new_look_banner'
    = render partial: 'layouts/pre_maintenance'
  .row
    = render partial: 'layouts/flash_messages'
  .row
    = yield
  .row
