%div.col-lg-2.col-md-2
  %a#title_navbar{href: '/'}
    %div.row#home
      %div.col-lg-6.no-padding
        = image_tag('marianne_small.png', class: 'logo')
      %div.col-lg-6.no-padding#tps-title
        TPS
        .badge.progress-bar-danger
          = Notification.where(already_read: false).count

%div.col-lg-10.col-md-10.no-padding
  %div#navbar-body
    %div.row
      -begin
        = render partial: @navbar_url
      -rescue
        = render partial: 'layouts/navbars/navbar_default'

      = render partial: 'layouts/navbars/navbar_log_options'
