.col-xs-2
  %a#title-navbar{ href: root_path }
    .row#home
      .col-lg-6.no-padding
        = image_tag('marianne.svg', class: 'logo')
      .col-lg-6.no-padding#tps-title
        demarches-simplifiees.fr

.col-xs-10.no-padding
  #navbar-body
    .row
      %div{ style: "vertical-align: middle;float:left;position:absolute;line-height: 60px;z-index:2;" }
        👉 Besoin d'aide? Contactez-nous par <a style="cursor:hand" onclick="$crisp.push(['do', 'chat:open'])">chat</a>, <a href="#{contact_admin_path}" target="_blank" rel="noopener">email</a> ou <a target="_blank" rel="noopener" href="https://calendly.com/demarches-simplifiees/accompagnement-administrateur-demarches-simplifiees-fr">prenez rendez-vous avec nous</a>.
      -# BEST WTF EVER
      -# this begin rescue hides potentials bugs by displaying another navbar
      - begin
        = render partial: @navbar_url
      - rescue
        = render partial: 'layouts/navbars/navbar_default'

      = render partial: 'layouts/navbars/navbar_log_options'
