.col-xs-9
  .row#home
    %a#title-navbar{ href: root_path }
      = image_tag('header/logo-md.svg', class: 'logo')
    %div{ style: "display:inline; vertical-align: middle;line-height: 60px;" }
      %span.header-text
        Besoin d'aide ? <a class="header-link" href="tel:#{CONTACT_PHONE}">#{CONTACT_PHONE}</a> ou <a class="header-link" href="mailto:#{CONTACT_EMAIL}">#{CONTACT_EMAIL}</a>

.col-xs-3.no-padding
  #navbar-body
    .row#home
      -# BEST WTF EVER
      -# this begin rescue hides potentials bugs by displaying another navbar
      - begin
        = render partial: @navbar_url
      - rescue
        = render partial: 'layouts/navbars/navbar_default'

      = render partial: 'layouts/navbars/navbar_log_options'
