%footer
  .container
    %ul.footer-columns
      %li.footer-column
        %ul.footer-logos
          %li
            = link_to "http://www.gouvernement.fr/" do
              %span.footer-logo.footer-logo-rf{ role: 'img', 'aria-label': 'Logo du gouvernement' }

          %li
            = link_to "https://beta.gouv.fr/" do
              %span.footer-logo.footer-logo-beta-gouv-fr{ role: 'img', 'aria-label': 'Logo de beta.gouv.fr' }


      %li.footer-column
        %ul.footer-links
          %li.footer-link
            %a{ href: '#', 'data-token' => '11c89e7ddb46fbcdcb7f8fe5fdfca818', onclick: 'mjOpenPopin(event, this)' } Newsletter
          %li.footer-link
            = link_to "Nouveautés", "https://github.com/betagouv/tps/releases", :class => "footer-link"
          %li.footer-link
            = link_to "Statistiques", stats_path, :class => "footer-link"
          %li.footer-link
            = link_to "CGU", CGU_URL, :class => "footer-link", :target => "_blank"
          %li.footer-link
            = link_to "Mentions légales", "https://tps.gitbooks.io/tps-documentation/content/conditions-generales-dutilisation.html#4-mentions-l%C3%A9gales",  :class => "footer-link", :target => "_blank"

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = link_to "Contact",
              "mailto:#{t('dynamics.contact_email')}",
              :class => "footer-link"
          %li.footer-link
            = link_to "Documentation", "https://tps.gitbooks.io/tps-documentation/content/", :class => "footer-link", :target => "_blank"
          %li.footer-link
            = link_to "Documentation de l'API", "/docs", :class => "footer-link", :target => "_blank"
          %li.footer-link
            = link_to "FAQ", "http://tps.helpscoutdocs.com/", :class => "footer-link", :target => "_blank"
