#search-modal.fr-header__search.fr-modal{ "aria-label": t('views.users.dossiers.search.search_file') }
  .fr-container.fr-container-lg--fluid
    %button.fr-btn--close.fr-btn{ "aria-controls" => "search-modal", title: t('utils.modal_close_alt') }= t('utils.modal_close')
    #search-473.fr-search-bar.fr-mt-2w
      = form_tag recherche_index_path, method: :get, :role => "search", class: "flex width-100" do
        = hidden_field_tag :context, local_assigns[:context]
        = label_tag "q", t('views.users.dossiers.search.search_file'), class: 'sr-only'
        = text_field_tag "q", "#{@search_terms if @search_terms.present?}", placeholder: t('views.users.dossiers.search.search_file'), class: "fr-input"
        %button.fr-btn
          = t('views.users.dossiers.search.simple')
