%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title
      = t('dynamics.page_title')
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }

    = favicon_link_tag(image_url("#{FAVICON_16PX_SRC}"), type: "image/png", sizes: "16x16")
    = favicon_link_tag(image_url("#{FAVICON_32PX_SRC}"), type: "image/png", sizes: "32x32")
    = favicon_link_tag(image_url("#{FAVICON_96PX_SRC}"), type: "image/png", sizes: "96x96")

    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'print', media: 'print'
    - packs = ['application-old', 'track', administrateur_signed_in? ? 'track-admin' : nil].compact
    = javascript_packs_with_chunks_tag *packs, defer: true
    = javascript_include_tag 'application', defer: true
    = csrf_meta_tags
    = Gon::Base.render_data(camel_case: true, init: true)

  %body{ class: browser.platform.ios? ? 'ios' : nil }
    - if staging?
      #beta
        Env Test

    #wrap
      .row
        #header.navbar
          = render partial: "layouts/navbar"
      .row.no-margin
        - if RenderPartialService.left_panel_exist? @left_pannel_url
          .col-xs-2#left-panel
            = render partial: @left_pannel_url
            - main_container_size = 10
        - else
          - main_container_size = 12

        = render partial: 'layouts/main_container', locals: { main_container_size: main_container_size }
    #mask-search
      %h1
        %i.fa.fa-times{ style: 'position: fixed; top: 10; right: 30; color: white;' }

    = render partial: 'layouts/footer', locals: { main_container_size: main_container_size }
