!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TPS - Téléprocédures simplifiées
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application_split2', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div#wrap
      %div#header.navbar
        =render partial: "layouts/navbar"

      #flash_message.center
      - if flash.notice
        .alert.alert-success
          = flash.notice
      - if flash.alert
        .alert.alert-danger
          = flash.alert
      #main_div.main_div
        = yield

      %br

    #footer.navbar
      .container.center
        %p{style:'margin-top: 1em;'}
          %p{class: "copyright text-muted small"}
            Copyright &copy;

            =link_to 'SGMAP', "http://etatplateforme.modernisation.gouv.fr"

            2016 - Tous droits réservés

            =link_to 'contact@tps.apientreprise.fr', "mailto:contact@tps.apientreprise.fr"




