!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TPS - Téléprocédures simplifiées
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %script{src: 'http://fcp.integ01.dev-franceconnect.fr/js/franceconnect.js'}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #beta
      Beta
    %div
      %div.navbar
        = image_tag('marianne_small.png', class: 'logo')
        %a{href: '/'}
          = image_tag('logo-tps.png', class: 'logo')

        #sign_out
          -if gestionnaire_signed_in?
            %div
              = current_gestionnaire.email
              = link_to "Déconnexion", '/gestionnaires/sign_out', method: :delete, :class => 'btn btn-md'
          -elsif administrateur_signed_in?
            = render partial: 'administrateurs/login_banner'
          - elsif user_signed_in?
            %div.user
              -if current_user.loged_in_with_france_connect?
                %div{ id: "fconnect-profile", "data-fc-logout-url" => '/users/sign_out" data-method="delete' }
                  %a.text-info{ href: "#" }
                    = "#{current_user.given_name} #{current_user.family_name}"

                = link_to "", '/users/sign_out', method: :delete, :class => 'btn fa fa-power-off off-fc-link'

              -else
                %i.fa.fa-user
                = current_user.email

                = link_to "Déconnexion", '/users/sign_out', method: :delete, :class => 'btn btn-md'

      #flash_message.center
      - if flash.notice
        .alert.alert-success
          = flash.notice
      - if flash.alert
        .alert.alert-danger
          = flash.alert

      %div{:style => 'margin-left:10%; margin-right:10%;'}
        = yield
