%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      =t('dynamics.page_title')
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    - if Rails.env == 'test'
      %script{type: 'text/javascript'}
        (typeof jQuery !== 'undefined') && (jQuery.fx.off = true);

    ="<!--[if lt IE 10]>".html_safe

    = render partial: 'layouts/ie_lt_10'

    ="<![endif]-->".html_safe

    %div#wrap
      %div.row
        %div#header.navbar
          = render partial: "layouts/navbar"
      %div.row.no-margin
        %div.col-lg-2.col-md-2#left-pannel
          #search-block
            = render partial: 'layouts/left_panels/search_area'
          - begin
            = render partial: @left_pannel_url
          -rescue
            = render partial: 'layouts/left_panels/left_panel_default'
        %div.col-lg-10.col-md-10#main-container
          %div.row
            = render partial: 'layouts/flash_messages'
          %div.row
            = yield
          %div.row
    #mask_search
      %h1
        %i.fa.fa-times{style:'position: fixed; top: 10; right: 30; color: white;'}
    = render partial: 'layouts/footer'
    = render partial: 'layouts/google_analytics'
