!!! 5
%html{ lang: "fr", class: yield(:root_class) }
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags

    %title
      = content_for?(:title) ? "#{yield(:title)} · #{APPLICATION_NAME}" : APPLICATION_NAME

    = favicon_link_tag(image_url("#{FAVICON_16PX_SRC}"), type: "image/png", sizes: "16x16")
    = favicon_link_tag(image_url("#{FAVICON_32PX_SRC}"), type: "image/png", sizes: "32x32")
    = favicon_link_tag(image_url("#{FAVICON_96PX_SRC}"), type: "image/png", sizes: "96x96")

    - packs = ['application', 'track', administrateur_signed_in? ? 'track-admin' : nil].compact
    = javascript_packs_with_chunks_tag *packs, defer: true

    = preload_link_tag(asset_url("Muli-Regular.woff2"))
    = preload_link_tag(asset_url("Muli-Bold.woff2"))

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'print', media: 'print'

    = Gon::Base.render_data(camel_case: true, init: true, nonce:  request.content_security_policy_nonce)

    - if Rails.env.development? && feature_enabled?(:xray)
      = stylesheet_link_tag :xray

  %body{ id: content_for(:page_id), class: browser.platform.ios? ? 'ios' : nil }
    .page-wrapper
      = render partial: "layouts/outdated_browser_banner"
      = render partial: "layouts/new_look_banner"
      = render partial: 'layouts/pre_maintenance'

      - if staging?
        #beta
          Env Test

      = render partial: "layouts/header"
      %main
        = render partial: "layouts/flash_messages"
        = content_for?(:content) ? yield(:content) : yield

      - if content_for?(:footer)
        = content_for(:footer)

      - if Rails.env.development? && feature_enabled?(:xray)
        = javascript_include_tag :xray

      = yield :charts_js
