!!! 5
%html{ lang: html_lang, data: { fr_scheme: 'system' }, class: yield(:root_class) }
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "application-name", content: Current.application_name }
    %meta{ name: "apple-mobile-web-app-title", content: Current.application_name }
    %meta{ name: "format-detection", content: "telephone=no,date=no,address=no,email=no,url=no" }
    = csrf_meta_tags

    %title
      = content_for?(:title) ? "#{sanitize(yield(:title))} · #{Current.application_name}" : Current.application_name

    = render partial: "layouts/favicons"

    = Gon::Base.render_data(camel_case: true, init: true, nonce:  request.content_security_policy_nonce)

    = vite_client_tag
    = vite_react_refresh_tag
    = vite_javascript_tag 'application'
    - if administrateur_signed_in?
      = vite_javascript_tag 'track-admin'

    = preload_link_tag(asset_url("Marianne-Regular.woff2"))
    = preload_link_tag(asset_url("Spectral-Regular.ttf"))

    = vite_stylesheet_tag 'main', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'

    = yield(:invisible_captcha_styles)
    = render partial: 'layouts/setup_theme'

  %body{ { id: content_for(:page_id), class: browser.platform.ios? ? 'ios' : nil, data: { controller: 'turbo number-input' } }.compact }
    = render partial: 'layouts/skiplinks'
    = render partial: 'layouts/display_theme_modal'

    .page-wrapper
      - if ENV['TEAM_ON_STRIKE'].present?
        = render partial: 'layouts/strike_banner'
      = render partial: "layouts/outdated_browser_banner"
      = render partial: 'layouts/pre_maintenance'

      - if staging?
        #beta
          Env Test

      #sticky-header.sticky-header-container
        = content_for(:sticky_header)

      = render partial: "layouts/header"
      %main#contenu{ role: :main }
        = render partial: "layouts/flash_messages"

        = content_for?(:content) ? yield(:content) : yield

      - if content_for?(:footer)
        = content_for(:footer)
      - else
        = render 'footer'

      = yield :charts_js
    = render Attachment::ProgressBarComponent.new
