%html{ lang: 'fr' }
  %head
    = stylesheet_link_tag 'attestation', media: 'all'
    %title= content_for?(:title) ? yield(:title) : 'Attestation'
    = yield(:authors)
    = yield(:keywords)
    = yield(:description)
    %meta{ name: 'generator', content: ENV.fetch('APP_HOST') }
    %meta{ name: 'dcterms.created', content: Time.zone.now.iso8601 }

  %body#attestation
    = yield
