- procedure = @procedure || @dossier&.procedure || nil

- content_for :content do
  .two-columns.procedure-context
    .columns-container
      .column.procedure-preview
        = yield
      .column.procedure-context-content
        = render partial: 'layouts/commencer/no_procedure'

- content_for :footer do
  - if procedure
    = render partial: 'users/procedure_footer', locals: { procedure: procedure, dossier: @dossier }
  - else
    = render partial: 'application/footer'

= render template: 'layouts/application'
