!!! 5
%html{ lang: "fr" }
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags

    %title
      = content_for?(:title) ? "#{yield(:title)} · demarches-simplifiees.fr" : "demarches-simplifiees.fr"

    = favicon_link_tag(image_url("favicons/16x16.png"), type: "image/png", sizes: "16x16")
    = favicon_link_tag(image_url("favicons/32x32.png"), type: "image/png", sizes: "32x32")
    = favicon_link_tag(image_url("favicons/96x96.png"), type: "image/png", sizes: "96x96")

    = javascript_pack_tag 'application', defer: true, 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'new_design/new_application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'new_design/print', media: 'print', 'data-turbolinks-track': 'reload'

    - if Rails.env.development?
      = stylesheet_link_tag :xray

    - if !current_user
      = render partial: "layouts/matomo"

    :javascript
      DATA = [{
        sentry: #{raw(sentry_config)}
      }];

  %body{ class: browser.platform.ios? ? 'ios' : nil }
    .page-wrapper
      = render partial: "layouts/outdated_browser_banner"
      = render partial: 'layouts/pre_maintenance'
      - if staging?
        #beta
          Env Test

      = render partial: "layouts/new_header"
      = render partial: "layouts/flash_messages"
      = yield

      - if content_for?(:footer)
        = content_for(:footer)
      = render partial: "layouts/mailjet_newsletter"

      - if Rails.env.development?
        = javascript_include_tag :xray

      = yield :charts_js
