%html
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags

    %title
      = content_for?(:title) ? yield(:title) : "TPS - Téléprocédures simplifiées"

    = favicon_link_tag(image_url("favicons/16x16.png"), type: "image/png", sizes: "16x16")
    = favicon_link_tag(image_url("favicons/32x32.png"), type: "image/png", sizes: "32x32")
    = favicon_link_tag(image_url("favicons/96x96.png"), type: "image/png", sizes: "96x96")

    = stylesheet_link_tag "new_design/new_application", media: "all", "data-turbolinks-track": "reload"
    = stylesheet_link_tag "new_design/print", media: "print", "data-turbolinks-track": true

  %body
    .page-wrapper{ class: content_for?(:display_footer) ? 'with-footer' : 'nil' }
      = render partial: "layouts/support_navigator_banner"
      = render partial: "layouts/ie_lt_10"
      #beta{ class:(Rails.env == "production" ? "" : "beta_staging") }
        - if Rails.env == "production"
          Beta
        - else
          Env Test

      = render partial: "layouts/new_header"
      = render partial: "layouts/flash_messages"
      = yield

      - if content_for?(:display_footer)
        = render partial: "layouts/new_footer"
      = render partial: "layouts/google_analytics"
      = render partial: "layouts/mailjet_newsletter"

      = javascript_include_tag "new_design/application", "data-turbolinks-eval": false
      = yield :charts_js
      - if Rails.env == "test"
        %script{ type: "text/javascript" }
          (typeof jQuery !== "undefined") && (jQuery.fx.off = true);
