%html
  %head
    %meta{ "http-equiv": "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags

    %title
      = t("dynamics.page_title")

    = favicon_link_tag(image_path("favicons/16x16.png"), type: "image/png", sizes: "16x16")
    = favicon_link_tag(image_path("favicons/32x32.png"), type: "image/png", sizes: "32x32")
    = favicon_link_tag(image_path("favicons/96x96.png"), type: "image/png", sizes: "96x96")

    = stylesheet_link_tag "new_design/print", media: "all"

  %body
    = yield
