- content_for :content do
  .two-columns.procedure-context
    .columns-container

      .column.procedure-preview
        - procedure = @dossier.procedure
        .procedure-logos
          = image_tag logo_img(procedure)
          - if procedure.euro_flag
            = image_tag "flag_of_europe.svg"
        %h2.procedure-title
          = procedure.libelle
        .procedure-description
          = h string_to_html(procedure.description)

      .column.procedure-context-content
        = yield

- content_for :footer do
  = render partial: "new_user/dossiers/dossier_footer", locals: { dossier: @dossier }

= render template: 'layouts/application'
