- content_for :content do
  .two-columns.procedure-context
    .columns-container

      .column.procedure-preview
        - if @dossier
          = render partial: 'layouts/commencer/procedure_description', locals: { procedure: @dossier.procedure }
        - else
          = render partial: 'layouts/commencer/no_procedure'

      .column.procedure-context-content
        = yield

- content_for :footer do
  / TODO: display the procedure footer even if there is no dossier yet
  - if @dossier
    = render partial: 'new_user/procedure_footer', locals: { dossier: @dossier }

= render template: 'layouts/application'
