= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Jetons API']] }

.fr-container
  %h1.fr-h2
    Jetons API

.fr-container
  %h2.fr-h3 API Entreprise
  = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
    - c.with_body do
      %p
        Démarches Simplifiées utilise
        = link_to 'API Entreprise', "https://entreprise.api.gouv.fr/", title: new_tab_suffix("En savoir plus sur API Entreprise"), **external_link_attributes
        qui permet de récupérer les informations administratives des entreprises et des associations.
        Si votre démarche nécessite des autorisations spécifiques que Démarches Simplifiées n’a pas par défaut, merci de renseigner ci-dessous
        %strong le jeton API Entreprise
        propre à votre démarche.
      %p
        Si besoin, vous pouvez demander une habilitation API Entreprise en cliquant sur le lien suivant :
        = link_to "https://api.gouv.fr/les-api/api-entreprise/demande-acces.", "https://api.gouv.fr/les-api/api-entreprise/demande-acces", title: new_tab_suffix("Demander une habilitation API Entreprise"),  **external_link_attributes

  - if @procedure.specific_api_entreprise_token?
    .fr-table.fr-table--lg#api_entreprise
      .fr-table__wrapper
        .fr-table__container
          .fr-table__content
            %table
              %thead
                %tr
                  %th{ scope: "col" }
                    Nom
                  %th.change{ scope: "col" }
                    Actions

              %tbody
                %tr
                  %td
                    API entreprise
                  %td.change

                    = link_to 'Modifier',
                      api_entreprise_admin_procedure_jetons_path(@procedure),
                      class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-pencil-line'


  - else
    = link_to 'Ajouter un jeton API Entreprise',
                      api_entreprise_admin_procedure_jetons_path(@procedure),
                      class: 'fr-btn'

  %h2.fr-h3.fr-mt-3w API Particulier

  - if @procedure.feature_enabled?(:api_particulier)
    = render Dsfr::AlertComponent.new(state: :info, size: :sm, extra_class_names: 'fr-mb-2w') do |c|
      - c.with_body do
        %p
          = t('.api_particulier_description_html', app_name: Current.application_name)

    - if @procedure.api_particulier_token.present?
      .fr-table.fr-table--lg
        .fr-table__wrapper
          .fr-table__container
            .fr-table__content
              %table
                %thead
                  %tr
                    %th{ scope: "col" }
                      Nom
                    %th.change{ scope: "col" }
                      Actions

                %tbody
                  %tr
                    %td
                      API particulier
                    %td.change

                      = link_to 'Modifier',
                        api_particulier_admin_procedure_jetons_path(@procedure),
                        class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-pencil-line'

    - else
      = link_to 'Ajouter un jeton API Particulier',
                        api_particulier_admin_procedure_jetons_path(@procedure),
                        class: 'fr-btn'

    - if @procedure.api_particulier_scopes.present?
      .fr-table.fr-table--lg
        .fr-table__wrapper
          .fr-table__container
            .fr-table__content
              %table
                %thead
                  %tr
                    %th{ scope: "col" }
                      Nom
                    %th.change{ scope: "col" }
                      Actions

                %tbody
                  %tr
                    %td
                      = t('administrateurs.sources_particulier.show.data_sources')
                    %td.change

                      = link_to 'Modifier',
                        admin_procedure_api_particulier_sources_path,
                        class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-pencil-line'

  - else
    %p
      Pour activer le paramétrage de cette fonctionnalité, contactez-nous sur
      = link_to CONTACT_EMAIL, "mailto:#{CONTACT_EMAIL}", external_link_attributes
      en indiquant votre numéro de démarche (#{@procedure.id}) et le cadre d’application de l'API particulier.
= render Procedure::FixedFooterComponent.new(procedure: @procedure)
