= render partial: 'administrateurs/breadcrumbs',
  locals: { steps: [['Démarches', admin_procedures_path],
                    [@procedure.libelle.truncate_words(10), admin_procedure_path(@procedure)],
                    ['Jetons API']] }

.fr-container
  %h1.fr-h2
    Jetons API

.fr-container
  %h2.fr-h4 API Entreprise

  %p
    = t('.api_entreprise_description_html', app_name: Current.application_name)

  - if @procedure.specific_api_entreprise_token?
    .fr-table.fr-table--lg#api_entreprise
      .fr-table__wrapper
        .fr-table__container
          .fr-table__content
            %table
              %thead
                %tr
                  %th{ scope: "col" }
                    Jeton
                  %th{ scope: "col" }
                    Expiration
                  %th.change.fr-col-2{ scope: "col" }
                    Actions

              %tbody
                %tr
                  %td
                    .fr-badge
                      API entreprise
                  %td
                    - if @procedure.api_entreprise_token&.expired_or_expires_soon?
                      .fr-badge.fr-badge--error
                        = l(@procedure.api_entreprise_token.expires_at.to_date, format: :long)
                    - else
                      .fr-badge.fr-badge--success
                        = l(@procedure.api_entreprise_token.expires_at.to_date, format: :long)
                  %td.change

                    = link_to 'Modifier',
                      api_entreprise_admin_procedure_jetons_path(@procedure),
                      class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-pencil-line'

                    = link_to 'Supprimer',
                      api_entreprise_admin_procedure_jetons_path(@procedure),
                      method: :delete,
                      data: { confirm: "Êtes-vous sûr de vouloir supprimer le jeton API Entreprise ?"} ,
                      class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-delete-line fr-ml-1w'


  - else
    = link_to 'Ajouter un jeton API Entreprise',
                      api_entreprise_admin_procedure_jetons_path(@procedure),
                      class: 'fr-btn'
  %hr.fr-hr.fr-mt-5w.fr-mb-1w
  %h2.fr-h4 API Particulier
  %p
    = t('.api_particulier_description_html', app_name: Current.application_name)

  - if @procedure.feature_enabled?(:api_particulier)
    - if @procedure.api_particulier_token.present?
      .fr-table.fr-table--lg
        .fr-table__wrapper
          .fr-table__container
            .fr-table__content
              %table
                %thead
                  %tr
                    %th{ scope: "col" }
                      Jeton
                    %th.change.fr-col-2{ scope: "col" }
                      Actions

                %tbody
                  %tr
                    %td
                      .fr-badge
                        API particulier
                    %td.change

                      = link_to 'Modifier',
                        api_particulier_admin_procedure_jetons_path(@procedure),
                        class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-pencil-line'

                      = link_to 'Supprimer',
                        api_particulier_admin_procedure_jetons_path(@procedure),
                        method: :delete,
                        data: { confirm: "Êtes-vous sûr de vouloir supprimer le jeton API Particulier?"} ,
                        class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-delete-line fr-ml-1w'

    - else
      = link_to 'Ajouter un jeton API Particulier',
                        api_particulier_admin_procedure_jetons_path(@procedure),
                        class: 'fr-btn'

    - if @procedure.api_particulier_scopes.present?
      .fr-pt-4w.fr-px-4w.fr-pb-2w.fr-background-alt--blue-france
        .flex.align-start
          %h3.fr-h6= t('administrateurs.sources_particulier.show.data_sources')
          = link_to 'Modifier',
          admin_procedure_api_particulier_sources_path,
          class: 'fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-pencil-line fr-ml-auto'
        - if @procedure.api_particulier_sources.present?
          - @procedure.api_particulier_sources.each do |source_name, categories|
            %p.fr-text--sm
              %strong= source_name.upcase
              %br
              - categories.each do |category, fields|
                = "#{category}:"
                - fields.each do |field|
                  %span.fr-tag.fr-tag--sm.fr-mb-1v
                    = field
        - else
          Pas de source de données définies


  - else
    = render Dsfr::AlertComponent.new(state: :info, size: :sm) do |c|
      - c.with_body do
        %p
          Pour activer le paramétrage de cette fonctionnalité, contactez-nous sur
          = link_to CONTACT_EMAIL, "mailto:#{CONTACT_EMAIL}", external_link_attributes
          en indiquant votre numéro de démarche (#{@procedure.id}) et le cadre d’application de l'API particulier.
= render Procedure::FixedFooterComponent.new(procedure: @procedure)
