%section.ask-avis.fr-mb-4w
  - if !batch_action
    %h1.tab-title.fr-mb-0 Demander un avis externe
  = render Dsfr::NoticeComponent.new(data_attributes: { class: 'fr-mb-2w' }) do |c|
    - c.with_title do
      Les invités pourront consulter le dossier, donner un avis et contribuer au fil de messagerie. Ils ne pourront pas modifier le dossier.
  .fr-highlight
    %p.fr-text--sm
      %strong
        = t('asterisk_html', scope: [:utils])

  = render NestedForms::FormOwnerComponent.new

  - form_data = { controller: 'persisted-form', persisted_form_key_value: 'create_avis_form'}
  - form_data.merge!({remote: true, 'batch-operation-target': 'modalForm'}) if batch_action

  = form_for avis, url: url, html: { multipart: true, data: form_data } do |f|
    - if avis.errors.any?
      .fr-alert.fr-alert--error.fr-mb-3w
        %ul
          - avis.errors.full_messages.each do |msg|
            %li= msg

    = f.label :emails, class: 'fr-label' do
      = t('helpers.label.avis_emails')
      = render EditableChamp::AsteriskMandatoryComponent.new
      - if procedure.experts_require_administrateur_invitation
        %span.fr-hint-text.fr-mb-1w
          = t('helpers.label.avis_emails_list_admin_hint')
      - else
        %span.fr-hint-text.fr-mb-1w
          = t('helpers.label.avis_emails_hint')
    .fr-input-group
      %react-fragment
        = render ReactComponent.new "ComboBox/MultiComboBox", items: current_expert_not_instructeur? ? [] : Expert.autocomplete_mails(procedure), name: f.field_name(:emails, multiple: true), id: 'avis_emails', 'aria-label': 'Emails', 'aria-describedby': 'avis-emails-description', allows_custom_value: !procedure.experts_require_administrateur_invitation

    .fr-input-group
      = render Dsfr::InputComponent.new(form: f, attribute: :introduction, input_type: :text_area, opts: {value: avis.introduction || 'Bonjour, merci de me donner votre avis sur ce dossier.'})

    .fr-input-group
      = render Dsfr::InputComponent.new(form: f, attribute: :question_label, input_type: :text_area, required: false)

    .fr-input-group
      = f.label :introduction_file, class: 'fr-label'
      = render Attachment::EditComponent.new(attached_file: avis.introduction_file)

    - if linked_dossiers.present?
      = f.check_box :invite_linked_dossiers, {}, true, false
      = f.label :invite_linked_dossiers, t('helpers.label.invite_linked_dossiers', count: linked_dossiers.length, ids: linked_dossiers.map(&:id).to_sentence)

    .fr-input-group
      - if must_be_confidentiel
        %p.confidentiel.flex
          %span.icon.lock
          %span
            Cet avis sera confidentiel : il ne sera pas affiché aux autres experts consultés, mais sera visible par les instructeurs.

      - else
        %fieldset.fr-fieldset{ name: "question_type" }
          %legend.fr-fieldset__legend.fr-fieldset__legend--regular
            Cet avis sera
            = asterisk
          .fr-fieldset__element
            .fr-radio-group
              = f.radio_button :confidentiel, false, id: 'confidentiel_false'
              = f.label :confidentiel, false, class: 'fr-label', for: 'confidentiel_false' do
                partagé avec les autres experts
          .fr-fieldset__element
            .fr-radio-group
              = f.radio_button :confidentiel, true, id: 'confidentiel_true'
              = f.label :confidentiel, true, class: 'fr-label', for: 'confidentiel_true' do
                confidentiel
                %span.fr-hint-text Il ne sera pas affiché aux autres experts consultés, mais sera visible par les instructeurs.

    - if batch_action && dossier_ids.present?
      - dossier_ids.each do |id|
        = hidden_field_tag 'batch_operation[dossier_ids][]', id

    - if batch_action
      %ul.fr-btns-group.fr-btns-group--inline-md
        %li
          %button.fr-btn.fr-btn--secondary{ aria: { controls: 'modal-avis-batch' }, "data-fr-js-modal-button" => "true" }
            Annuler
        %li
          = f.submit "Envoyer la demande d'avis", class: 'fr-btn'
    - else
      = f.submit "Envoyer la demande d'avis", class: 'fr-btn fr-mt-2w'
