%section.ask-avis.fr-mb-4w
  %h1.tab-title.fr-mb-0 Demander un avis externe
  = render Dsfr::NoticeComponent.new(data_attributes: { class: 'fr-mb-2w' }) do |c|
    - c.with_title do
      Les invités pourront consulter le dossier, donner un avis et contribuer au fil de messagerie. Ils ne pourront pas modifier le dossier.
  .fr-highlight
    %p.fr-text--sm
      %strong
        = t('asterisk_html', scope: [:utils])

  = render NestedForms::FormOwnerComponent.new
  - if batch_action
    = form_for(BatchOperation.new, url: url, method: :post, html: { class: 'form', id: 'new_batch_operation_modal' }, data: { turbo: true, turbo_confirm: I18n.t('operations.confirm') }) do |f|
      = render 'shared/avis/form_fields', f: f, dossier: @dossier, procedure:, avis:, linked_dossiers:, must_be_confidentiel:
  - else
    = form_for avis, url: url, html: { multipart: true, data: { controller: 'persisted-form', persisted_form_key_value: dom_id(@dossier, :avis_by_instructeur) } } do |f|
      = render 'shared/avis/form_fields', f: f, procedure:, avis:, linked_dossiers:, must_be_confidentiel:
