= content_for(:page_id, 'auth')

.auth-form
  = devise_error_messages!
  = form_for resource, url: user_registration_path, html: { class: "form" } do |f|
    %h1 Créez-vous un compte #{SITE_NAME}

    = f.label :email, "Email"
    = f.text_field :email, autofocus: true, placeholder: "Votre adresse email"

    = f.label :password, "Mot de passe"
    = f.password_field :password, value: @user.password, placeholder: "8 caractères minimum"

    = f.submit "Créer un compte", class: "button large primary expand"

  -# = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }
