= content_for(:page_id, 'auth')
= content_for(:title, t('metas.signup.title'))

.auth-form
  = devise_error_messages!
  = form_for resource, url: user_registration_path, html: { class: "fr-py-5w" } do |f|

    %h1.fr-h2= t('views.registrations.new.title', name: Current.application_name)

    = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }
    = render partial: 'shared/pro_connect_login', locals: { url: agent_connect_login_path }
    %p.fr-hr-or= t('views.shared.france_connect_login.separator')

    %fieldset.fr-mb-0.fr-fieldset{ aria: { labelledby: 'create-account-legend' } }
      %legend.fr-fieldset__legend#create-account-legend
        %h2.fr-h6= I18n.t('views.registrations.new.subtitle')

      .fr-fieldset__element
        %p.fr-text--sm= t('utils.asterisk_html')

      .fr-fieldset__element= render Dsfr::InputComponent.new(form: f, attribute: :email, input_type: :email_field, opts: { autocomplete: 'email', autofocus: true })

      .fr-fieldset__element
        = render Dsfr::InputComponent.new(form: f, attribute: :password, input_type: :password_field,
          opts: { autofocus: 'true', autocomplete: 'new-password', data: { controller: 'turbo-input', turbo_input_url_value: show_password_complexity_path, email_input_target: 'next'}, aria: {describedby: 'password_hint'}})

        #password_complexity
          = render PasswordComplexityComponent.new

    .fr-btns-group
      = f.submit t('views.shared.account.create'), id: 'submit-password', disabled: :disabled, class: "fr-btn fr-mt-2w", data: { disable_with: t('views.users.passwords.edit.submit_loading') }
