= content_for(:page_id, 'auth')

<<<<<<< HEAD
= render partial: 'shared/social_login', locals: { title: t('views.registrations.new.social_title'), prefix: "" }
=======
.auth-form
  = devise_error_messages!
  = form_for resource, url: user_registration_path, html: { class: "fr-py-5w" } do |f|

    %h1.fr-h2= t('views.registrations.new.title', name: APPLICATION_NAME)
>>>>>>> 580437234381fa07f17c32d1833ee7b0d1be947d

.column.procedure-context-content
  .auth-form
    = devise_error_messages!
    = form_for resource, url: user_registration_path, html: { class: "form" } do |f|
      %h1.fr-h3= t('views.registrations.new.title', name: APPLICATION_NAME)

<<<<<<< HEAD
      -# = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }

      = f.label :email, t('views.registrations.new.email_label'), id: :user_email_label
      = f.text_field :email, type: :email, autocomplete: 'email', autofocus: false, placeholder: t('views.registrations.new.email_placeholder'), 'aria-describedby': :user_email_label

      .suspect-email.hidden
        .email-suggestion-title
          = t('views.registrations.new.wanna_say')
          %span.email-suggestion-address blabla@gmail.com
          &nbsp;?
        .email-suggestion-answer
          = button_tag type: 'button', class: 'button small', onclick: "DS.acceptEmailSuggestion()" do
            = t('utils.yes')
          = button_tag type: 'button', class: 'button small', onclick: "DS.discardEmailSuggestionBox()" do
            = t('utils.no')

      = f.label :password, t('views.registrations.new.password_label', min_length: PASSWORD_MIN_LENGTH), id: :user_password_label

      = render 'password_complexity/field', { form: f, test_complexity: true, min_complexity: PASSWORD_COMPLEXITY_FOR_USER }

      = f.submit t('views.shared.account.create'), class: "fr-btn fr-btn--lg", id: 'submit-password'
=======
    %fieldset.fr-mb-0.fr-fieldset{ aria: { labelledby: 'create-account-legend' } }
      %legend.fr-fieldset__legend#create-account-legend
        %h2.fr-h6= I18n.t('views.registrations.new.subtitle')

      .fr-fieldset__element
        %p.fr-text--sm= t('utils.asterisk_html')

      .fr-fieldset__element= render Dsfr::InputComponent.new(form: f, attribute: :email, input_type: :email_field, opts: { autocomplete: 'email', autofocus: true })

      .fr-fieldset__element
        = render Dsfr::InputComponent.new(form: f, attribute: :password, input_type: :password_field, opts: { autocomplete: 'new-password', min_length: PASSWORD_MIN_LENGTH }) do |c|
          - c.describedby do
            #password-input-messages.fr-messages-group{ "aria-live" => "off" }
              %p#password-input-message.fr-message= t('views.registrations.new.password_message')
              %p#password-input-message-info.fr-message.fr-message--info= t('views.registrations.new.password_placeholder', min_length: PASSWORD_MIN_LENGTH)

    = f.submit t('views.shared.account.create'), class: "fr-btn fr-btn--lg"
>>>>>>> 580437234381fa07f17c32d1833ee7b0d1be947d
