= content_for(:page_id, 'auth')

.auth-form
  = devise_error_messages!
  = form_for resource, url: user_registration_path, html: { class: "form" } do |f|
    %h1 Créez-vous un compte demarches-simplifiees.fr

    = f.label :email, "Email"
    = f.text_field :email, type: :email, autocomplete: 'username', autofocus: true, placeholder: "Votre adresse email"

    .suspect-email.hidden
      .email-suggestion-title
        Voulez-vous dire
        %span.email-suggestion-address blabla@gmail.com
        &nbsp;?
      .email-suggestion-answer
        = button_tag type: 'button', class: 'button small', onclick: "DS.acceptEmailSuggestion()" do
          Oui
        = button_tag type: 'button', class: 'button small', onclick: "DS.discardEmailSuggestionBox()" do
          Non

    = f.label :password, "Mot de passe"
    = f.password_field :password, autocomplete: 'new-password', value: @user.password, placeholder: "8 caractères minimum", 'aria-describedby':'8 caractères minimum'

    = f.submit "Créer un compte", class: "button large primary expand"

  = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }
