-#<h2>Sign up</h2>
-#
-#<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
-#  <%= devise_error_messages! %>
-#
-#  <div class="field">
-#    <%= f.label :email %><br />
-#    <%= f.email_field :email, autofocus: true %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :password %>
-#    <% if @validatable %>
-#    <em>(<%= @minimum_password_length %> characters minimum)</em>
-#    <% end %><br />
-#    <%= f.password_field :password, autocomplete: "off" %>
-#  </div>
-#
-#  <div class="field">
-#    <%= f.label :password_confirmation %><br />
-#    <%= f.password_field :password_confirmation, autocomplete: "off" %>
-#  </div>
-#
-#  <div class="actions">
-#    <%= f.submit "Sign up" %>
-#  </div>
-#<% end %>

#form_login
  = image_tag('logo-tps.png')
  %br
  %h2#gestionnaire_login Inscription

  %br
  %br
  #new_user
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %h4
        = f.label :email
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-user
        = f.email_field :email, class: 'form-control', placeholder: 'Email'
      %br
      %h4
        = f.label :password
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-asterisk
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Mot de passe'
      %br
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-asterisk
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Répeter le mot de passe'
      %br
      %br
      .actions
        = f.submit "S'enregistrer", class:'btn btn-primary'
      %br